body,
html {
  overflow: hidden;
}
img {
  display: block;
}
.item p span {
  border-radius: 5px;
  display: inline-block;
  padding: 2px 5px;
  background: black;
  color: white;
  margin: 0 4px;
}
/* Parallax base styles
--------------------------------------------- */
.parallax {
  height: 500px;
  /* fallback for older browsers */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
}
.parallax .group {
  position: relative;
  height: 500px;
  /* fallback for older browsers */
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.parallax .layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.parallax .layer.fore {
  -webkit-transform: translateZ(90px) scale(0.7);
  transform: translateZ(90px) scale(0.7);
  z-index: 1;
}
.parallax .layer.base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}
.parallax .layer.back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
}
.parallax .layer.deep {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  z-index: 2;
}
/* Debugger styles - used to show the effect
--------------------------------------------- */
.debug {
  position: fixed;
  top: 0;
  left: .5em;
  z-index: 999;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: .5em;
  border-radius: 0 0 5px 5px;
}
.debug-on .group {
  -webkit-transform: translate3d(800px, 0, -800px) rotateY(30deg);
  transform: translate3d(700px, 0, -800px) rotateY(30deg);
}
.debug-on .layer {
  box-shadow: 0 0 0 2px #000;
  opacity: 0.9;
}
.group {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
/* demo styles
--------------------------------------------- */
body,
html {
  overflow: hidden;
}
body {
  font: 100% / 1.5 Arial;
}
* {
  margin: 0;
  padding: 0;
}
.parallax {
  font-size: 200%;
}
/* centre the content in the parallax layers */
.title {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* style the groups
--------------------------------------------- */
#group1 {
  z-index: 999;
}
#group1 .deep {
  background: rgba(102, 204, 102, 0.5);
}
#group1 .base {
  background: url("images/bricklaer.png");
  -webkit-filter: grayscale(100%);
}
#group2 {
  z-index: 998;
}
#group2 .deep {
  background: rgba(87, 178, 204, 0.5);
}
#group2 .base {
  background: url("images/ecopit.png");
  -webkit-filter: grayscale(100%);
}
#group3 {
  z-index: 997;
}
#group3 .deep {
  background: rgba(216, 109, 70, 0.5);
}
#group3 .base {
  background: url("images/estate.png");
  -webkit-filter: grayscale(100%);
}
#group4 {
  z-index: 996;
}
#group4 .deep {
  background: rgba(203, 204, 50, 0.5);
}
#group4 .base {
  background: url("images/excentrics.png");
  -webkit-filter: grayscale(100%);
}
#group5 {
  z-index: 995;
}
#group5 .deep {
  background: rgba(31, 35, 204, 0.5);
}
#group5 .base {
  background: url("images/robokassa%231.png");
  -webkit-filter: grayscale(100%);
}
#group6 {
  z-index: 994;
}
#group6 .deep {
  background: rgba(204, 60, 197, 0.5);
}
#group6 .base {
  background: url("images/leform.png");
  -webkit-filter: grayscale(100%);
}
#group7 {
  z-index: 993;
}
#group7 .deep {
  background: rgba(36, 204, 188, 0.5);
}
#group7 .base {
  background: url("images/naholste.png");
  -webkit-filter: grayscale(100%);
}
#group8 {
  z-index: 992;
}
#group8 .deep {
  background: rgba(123, 204, 48, 0.5);
}
#group8 .base {
  background: url("images/robokassa%231.png.png");
  -webkit-filter: grayscale(100%);
}
#group9 {
  z-index: 991;
}
#group9 .deep {
  background: rgba(103, 47, 204, 0.5);
}
#group9 .base {
  background: url("images/unionsb.png");
  -webkit-filter: grayscale(100%);
}
#group10 {
  z-index: 990;
}
#group10 .deep {
  background: rgba(102, 204, 102, 0.5);
}
#group10 .base {
  background: url("images/utc.png");
  -webkit-filter: grayscale(100%);
}
#group11 {
  z-index: 899;
}
#group11 .deep {
  background: rgba(204, 75, 39, 0.5);
}
#group11 .base {
  background: url("images/robokassa%231.png");
  -webkit-filter: grayscale(100%);
}
#group12 {
  z-index: 888;
}
#group12 .deep {
  background: rgba(59, 204, 171, 0.5);
}
#group12 .base {
  background: url("images/robokassa%232.png");
  -webkit-filter: grayscale(100%);
}
#group13 {
  z-index: 887;
}
#group13 .deep {
  background: rgba(198, 204, 44, 0.5);
}
#group13 .base {
  background: url("images/robokassa%233.png");
  -webkit-filter: grayscale(100%);
}
/* misc
--------------------------------------------- */
.demo__info {
  position: absolute;
  z-index: 100;
  bottom: 1vh;
  top: auto;
  font-size: 80%;
  text-align: center;
  width: 100%;
}
