.container.without-white {
  background-color: transparent;
}
h2,
h3 {
  font-size: 32px;
  font-weight: 300;
}
.white-text {
  color: white;
}
@media all and (max-width: 1075px) {
  .navbar-right a span {
    display: none;
  }
}
.row.head .col-md-1 {
  background: lightcyan;
}
.row.head .col-md-2 {
  background: lightcoral;
}
.row.head .col-md-3 {
  background: lightgray;
}
.row.head .col-md-6 {
  background: lightblue;
}
.row.head .container .col-md-1 {
  width: calc(8.33333333% - 113.7344px);
  width: -webkit-calc(8.33333333% - 113.7344px);
  min-width: 40px;
  padding: 0;
  margin-left: 17px;
  margin-top: 35px;
}
.row.head .container .col-md-2 {
  width: calc(16.66666667% - 107.490px);
  width: -webkit-calc(16.66666667% - 107.490px);
  min-width: 200px;
  padding: 0;
}
.row.head .container .col-md-3 {
  float: right;
  width: calc(25% + 180px);
  width: -webkit-calc(25% + 180px);
  padding-top: 28px;
}
.row.head .container .col-md-6 {
  width: calc(50% - 203px);
  width: -webkit-calc(50% - 203px);
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 0;
}
.row.head .container .logotype .navbar-brand {
  height: 87px;
}
.row.head .container .logotype a:last-of-type {
  clear: both;
  display: block;
  text-align: right;
  padding-right: 22px;
  padding-top: 25px;
}
.row.head .container .logotype a:last-of-type i {
  color: #0070cd;
  font-size: 16px;
  font-weight: 300;
  border-bottom: 1px solid;
}
.row.head .container .logotype a:last-of-type:hover {
  text-decoration: none;
}
.row.head .container .logotype a:last-of-type:hover i {
  border-bottom: 1px solid transparent;
}
.row.auth a {
  font-size: 16px;
  font-weight: 300;
}
.row.auth .auth-wrap {
  display: block;
  width: 600px;
  margin: 0 auto;
}
.row.auth .container {
  position: relative;
  background-color: rgba(0, 112, 205, 0.03);
}
.row.auth .container:after {
  content: "";
  width: 100%;
  height: 11px;
  background: url("../images/auth-triangle1.svg") no-repeat;
  background-size: 115% 11px;
  position: absolute;
  bottom: -12px;
  left: 0;
}
.row.auth .reg-type a:first-of-type {
  margin-right: 25px;
}
.row.auth .reg-type a:last-of-type {
  margin-left: 80px;
}
.row.auth .controls {
  min-height: 40px;
  text-align: right;
}
.row.auth .controls .btn-info,
.row.auth .controls .btn-default {
  float: left;
  margin-right: 10px;
}
.row.auth .controls a:last-of-type {
  line-height: 40px;
}
.row.auth form {
  max-width: 280px;
}
.row.auth form h3 {
  margin-top: 0;
  font-size: 32px;
  font-weight: 100;
}
.row.auth form input[type="text"],
.row.auth form input[type="password"] {
  max-width: 280px;
}
.row.auth .left {
  width: 280px;
  float: left;
  margin-right: 40px;
}
.row.auth .right {
  float: left;
  width: 280px;
  padding-left: 40px;
  background: url("../images/vert-shadow-blue.png") no-repeat 0 93%;
}
.row.auth .right p {
  margin-top: 40px;
}
.row.auth .right > a {
  font-size: 16px;
  font-weight: 300;
  color: #48ae4c;
}
.row.auth .col-md-6 {
  width: 280px;
}
.row .shares {
  font-size: 11px;
  font-weight: 300;
  color: #BCCBD4;
}
.row .shares a {
  color: #BCCBD4;
  border-bottom: 1px solid;
  margin-left: 5px;
}
.row .shares a:hover {
  text-decoration: none;
}
.row .slick-slide {
  margin-right: 40px;
}
.row .slick-dots {
  padding: 0;
  list-style: none;
}
.row .slick-dots li {
  float: left;
}
.row .slick-dots li.slick-active button:before {
  content: "";
  background: #BCCBD4;
}
.row .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 5px 5px 0 0;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.row .slick-dots li button:first-of-type {
  margin-left: 0;
}
.row .slick-dots li button:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #BCCBD4;
  background: white;
}
.row.most-popular .col-md-2 {
  width: calc(16.66666667% - 107.490px);
  width: -webkit-calc(16.66666667% - 107.490px);
  min-width: 200px;
  padding: 0;
}
.row.most-popular .col-md-10 {
  width: calc(100% - 200px);
  width: -webkit-calc(100% - 200px);
}
.row.most-actual .col-md-2 {
  width: calc(16.66666667% - 107.490px);
  width: -webkit-calc(16.66666667% - 107.490px);
  min-width: 200px;
  padding: 0;
}
.row.most-actual .col-md-10 {
  width: calc(100% - 200px);
  width: -webkit-calc(100% - 200px);
}
.row.most-actual .container {
  position: relative;
}
.row.categories .col-md-10 {
  width: calc(100% - 200px);
  width: -webkit-calc(100% - 200px);
}
.row.categories .col-md-2 {
  width: calc(16.66666667% - 107.490px);
  width: -webkit-calc(16.66666667% - 107.490px);
  min-width: 200px;
  padding: 0;
}
.row.categories .col-md-2 ul {
  margin: 0;
  padding: 0 23px 0 0;
  list-style: none;
  text-align: right;
}
.row.categories .col-md-2 ul li {
  margin-bottom: 18px;
}
.row.categories .col-md-2 ul li:last-of-type {
  margin-bottom: 0;
}
.row.categories .col-md-2 ul li a {
  font-size: 16px;
  font-weight: 300;
  color: #383c47;
  display: block;
}
.row.categories .col-md-2 ul li a:hover {
  text-decoration: none;
  color: #0070cd;
}
.row.categories .col-md-2 ul li.all a {
  color: #0070cd;
  border-bottom: 1px solid;
}
.row.categories .col-md-2 ul li.all a:hover {
  border-bottom: none;
}
.row.background .container {
  background-color: transparent;
}
.row.subscribe {
  background: #21202C;
}
.row.subscribe .col-md-10 {
  width: calc(100% - 200px);
  width: -webkit-calc(100% - 200px);
}
.row.subscribe .col-md-2 {
  width: calc(16.66666667% - 107.490px);
  width: -webkit-calc(16.66666667% - 107.490px);
  min-width: 200px;
  padding: 0;
}
.row.footer .col-md-10 {
  width: calc(100% - 200px);
  width: -webkit-calc(100% - 200px);
}
.row.footer .col-md-10 dl {
  display: block;
  float: left;
  width: 25%;
}
.row.footer .col-md-2 {
  width: calc(16.66666667% - 107.490px);
  width: -webkit-calc(16.66666667% - 107.490px);
  min-width: 200px;
  padding: 0;
}
.row.without-white .container {
  background: none;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(181, 211, 233, 0.25);
}
.container {
  background-color: white;
  max-width: 1875px;
  min-width: calc(1000px - 30px);
  min-width: -webkit-calc(1000px - 30px);
  width: 100%;
}
p {
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  color: #383c47;
}
a.with-cross {
  position: relative;
}
a.stair {
  font-size: 16px;
  font-weight: 300;
}
a.stair i {
  color: inherit;
  font-size: inherit;
}
a.stair:hover {
  text-decoration: none;
}
a.stair span {
  color: white;
  display: block;
}
a.stair span i {
  padding: 4px 4px 7px 7px;
}
a.stair span:first-of-type {
  margin-bottom: 15px;
}
a.stair span:last-of-type i {
  position: relative;
}
a.stair span:last-of-type i:after {
  content: "";
  width: 100%;
  height: 5px;
  background: url("../images/shadow-links.svg") no-repeat;
  background-size: 100% 5px;
  position: absolute;
  bottom: -5px;
  left: 0;
}
a.stair span.blue i {
  background: #0070cd;
}
a.stair span.red i {
  background: #EB0028;
}
.carouse2 .slick-slide {
  position: relative;
  width: 280px;
  min-height: 350px;
}
.carouse2 .slick-slide h4 {
  font-size: 16px;
  color: #005FC4;
  font-weight: 300;
}
.price-panel {
  border-top: 1px solid #BCCBD4;
  background: url("../images/item-vert-shadow.png") no-repeat 0 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 12px;
}
.price-panel span {
  font-size: 16px;
  font-weight: 300;
}
.price-panel span.old-price {
  color: #383c47;
  position: relative;
  display: inline-block;
}
.price-panel span.old-price:before {
  content: "";
  width: 50px;
  height: 1px;
  position: absolute;
  top: calc(50% - 1px);
  top: -webkit-calc(50% - 1px);
  background: #E52620;
  transform: rotate(-10deg);
}
.price-panel span.sale i:first-of-type {
  background: #BCCBD4;
  display: inline-block;
  width: 45px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  color: #383c47;
  position: relative;
}
.price-panel span.sale i:first-of-type:after {
  background: url("../images/sale-vert-shadow.png") no-repeat;
  width: 45px;
  height: 5px;
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
}
.price-panel span.sale i:last-of-type {
  color: #BCCBD4;
  font-size: 11px;
}
.price-panel span.actual-price {
  color: #35AE72;
  float: right;
  margin-top: 10px;
}
.items.blue h4 {
  background-color: #0070cd;
}
.items.orange h4 {
  background-color: #FF931E;
}
.items .item {
  position: relative;
  width: 280px;
  float: left;
  margin-right: 40px;
  margin-bottom: 40px;
  min-height: 350px;
}
.items .item svg {
  position: absolute;
  top: 15px;
  left: 10px;
}
.items .item svg path {
  fill: white;
}
.items .item h4 {
  font-size: 16px;
  line-height: 18px;
  min-height: 40px;
  margin: 0;
  color: white;
  font-weight: 300;
  padding-left: 35px;
}
.items .item h4 span {
  display: block;
  padding: 14px 0 14px 0;
}
.items .item.empty {
  background: transparent;
}
.col-md-2 .widget {
  margin-top: 45px;
}
.col-md-2 .widget h3 {
  font-size: 16px;
  font-weight: 900;
  font-style: italic;
  color: #21202C;
  text-align: right;
  margin-top: 0;
}
.col-md-2 .widget a {
  color: #0070cd;
  display: block;
  text-align: right;
  font-size: 11px;
  line-height: 14px;
  font-weight: 300;
}
.col-md-2 .widget a:hover {
  text-decoration: none;
}
.col-md-2 .widget a span {
  display: block;
}
.col-md-2 .widget a span i {
  color: inherit;
  border-bottom: 1px solid;
}
.col-md-2 .widget.white-text h3 {
  color: white;
}
.col-md-2 .widget.colored-shadowed .dmd {
  width: 100%;
  height: 1px;
  clear: both;
}
.col-md-2 .widget.colored-shadowed h3 {
  display: inline;
  float: right;
  background: white;
  padding: 4px 4px 7px 7px;
  margin-bottom: 6px;
  position: relative;
}
.col-md-2 .widget.colored-shadowed h3:after {
  content: "";
  background: url("../images/shadow-black.png") no-repeat;
  width: 100%;
  height: 6px;
  position: absolute;
  bottom: -6px;
  left: 0;
}
.col-md-2 .widget.colored-shadowed a {
  display: inline-block;
  padding: 4px 4px 7px 7px;
  float: right;
  background: white;
}
.widget-right {
  margin-top: 54px;
}
.widget-right h2.colored {
  font-size: 32px;
  line-height: 70px;
  font-weight: 300;
  padding: 12px 14px 15px 9px;
  display: inline;
  position: relative;
}
.widget-right h2.colored:after {
  content: "";
  width: 100%;
  height: 5px;
  background: url("../images/shadow-title.png") no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: -5px;
  left: 0;
}
.widget-right h2.colored.blue {
  color: white;
  background: #0070cd;
}
.widget-right p.colored {
  margin: 5px 0;
  margin-bottom: 17px;
  line-height: 21px;
}
.widget-right p.colored:first-of-type:before {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  margin-bottom: 33px;
}
.widget-right p.colored span {
  font-size: 16px;
  color: #383c47;
  background: white;
  padding: 4px 4px 7px 7px;
  display: inline;
}
.slick-slide h4:hover #fav {
  fill: #FEA226;
}
.cross {
  background: url("../images/cross-sprite.png") no-repeat;
  display: inline-block;
  vertical-align: sub;
}
.cross.black {
  width: 17px;
  height: 18px;
  background-position: -43px 0;
}
.cross.green {
  width: 21px;
  height: 21px;
  background-position: -20px 0;
  position: absolute;
  left: -50px;
}
.cross.blue {
  width: 18px;
  height: 18px;
  background-position: left top;
}
.btn {
  padding: 9px 20px;
}
.btn.btn-default {
  background: #a3abb6;
  border: none;
  color: #383c47;
  font-size: 16px;
  font-weight: 300;
}
.btn.btn-default:hover {
  border: none;
}
.btn.btn-info {
  background: #0071ce;
  border-color: #0071ce;
  color: #ffffff;
  fons-size: 16px;
  font-weight: 300;
}
.navbar-right li a {
  font-size: 16px;
  line-height: 35px;
  font-weight: 300;
  color: #0070cd;
}
.navbar-right li a:before {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #0070cd;
  float: left;
  margin-right: 10px;
}
.fav-ico a:before {
  content: "";
  background-image: url("data:image/svg+xml;base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMTUuOSAxNS4zIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxNS45IDE1LjMiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iIzAwNzFDRSIgc3Ryb2tlPSIjMDA3MUNFIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGQ9Ik05LDEuMWwxLjUsMi45YzAuMiwwLjMsMC41LDAuNiwwLjgsMC42bDMuMywwLjUNCgljMC45LDAuMSwxLjMsMS4zLDAuNiwxLjlsLTIuNCwyLjNjLTAuMywwLjMtMC40LDAuNi0wLjMsMWwwLjYsMy4yYzAuMiwwLjktMC44LDEuNi0xLjYsMS4ybC0yLjktMS41Yy0wLjMtMC4yLTAuNy0wLjItMSwwbC0yLjksMS41DQoJYy0wLjgsMC40LTEuOC0wLjMtMS42LTEuMmwwLjYtMy4yYzAuMS0wLjQtMC4xLTAuNy0wLjMtMUwwLjgsN0MwLjIsNi40LDAuNSw1LjMsMS40LDUuMmwzLjMtMC41YzAuNC0wLjEsMC43LTAuMywwLjgtMC42TDcsMS4xDQoJQzcuNCwwLjMsOC42LDAuMyw5LDEuMXoiLz4NCjwvc3ZnPg0K");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
}
.cart-ico a:before {
  content: "";
  background-image: url("data:image/svg+xml;base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMTYgMTYiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE2IDE2IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxwYXRoIGZpbGw9IiMwMDcxQ0UiIGQ9Ik0xNSwxM2gtMnYwLjFjMC4zLDAuMSwwLjUsMC4zLDAuNywwLjVjMC4yLDAuMywwLjMsMC41LDAuMywwLjljMCwwLjQtMC4xLDAuOC0wLjQsMS4xDQoJCWMtMC4zLDAuMy0wLjYsMC40LTEuMSwwLjRjLTAuNCwwLTAuOC0wLjEtMS4xLTAuNGMtMC4zLTAuMy0wLjQtMC42LTAuNC0xLjFjMC0wLjMsMC4xLTAuNiwwLjMtMC45YzAuMi0wLjMsMC40LTAuNCwwLjctMC41VjEzSDcNCgkJdjAuMWMwLjMsMC4xLDAuNSwwLjMsMC43LDAuNUM3LjksMTMuOSw4LDE0LjIsOCwxNC41YzAsMC40LTAuMSwwLjgtMC40LDEuMUM3LjMsMTUuOSw2LjksMTYsNi41LDE2Yy0wLjQsMC0wLjgtMC4xLTEuMS0wLjQNCgkJQzUuMSwxNS4zLDUsMTQuOSw1LDE0LjVjMC0wLjMsMC4xLTAuNiwwLjMtMC45YzAuMi0wLjMsMC40LTAuNCwwLjctMC41VjEzSDRjLTAuMywwLTAuNS0wLjEtMC43LTAuM0MzLjEsMTIuNSwzLDEyLjMsMywxMlYyDQoJCWMwLTAuMy0wLjEtMC41LTAuMy0wLjdDMi41LDEuMSwyLjMsMSwyLDFIMC41QzAuNCwxLDAuMiwxLDAuMSwwLjlDMCwwLjgsMCwwLjYsMCwwLjVjMC0wLjEsMC0wLjMsMC4xLTAuNEMwLjIsMCwwLjQsMCwwLjUsMEgyDQoJCWMwLjYsMCwxLDAuMiwxLjQsMC42QzMuOCwxLDQsMS40LDQsMnYxaDExYzAuMywwLDAuNSwwLjEsMC43LDAuM0MxNS45LDMuNSwxNiwzLjcsMTYsNHY4YzAsMC4zLTAuMSwwLjUtMC4zLDAuNw0KCQlDMTUuNSwxMi45LDE1LjMsMTMsMTUsMTN6IE01LDRINHYxaDFWNHogTTUsNkg0djFoMVY2eiBNNSw4SDR2MWgxVjh6IE01LDEwSDR2MWgxVjEweiBNNyw0SDZ2MWgxVjR6IE03LDZINnYxaDFWNnogTTcsOEg2djFoMVY4eg0KCQkgTTcsMTBINnYxaDFWMTB6IE05LDRIOHYxaDFWNHogTTksNkg4djFoMVY2eiBNOSw4SDh2MWgxVjh6IE05LDEwSDh2MWgxVjEweiBNMTEsNGgtMXYxaDFWNHogTTExLDZoLTF2MWgxVjZ6IE0xMSw4aC0xdjFoMVY4eg0KCQkgTTExLDEwaC0xdjFoMVYxMHogTTEzLDRoLTF2MWgxVjR6IE0xMyw2aC0xdjFoMVY2eiBNMTMsOGgtMXYxaDFWOHogTTEzLDEwaC0xdjFoMVYxMHogTTE1LDRoLTF2MWgxVjR6IE0xNSw2aC0xdjFoMVY2eiBNMTUsOGgtMQ0KCQl2MWgxVjh6IE0xNSwxMGgtMXYxaDFWMTB6Ii8+DQo8L2c+DQo8L3N2Zz4NCg==");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
}
.login-ico a:before {
  content: "";
  background-image: url("data:image/svg+xml;base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMTAuOSAxNiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAuOSAxNiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSIjMDA3MUNFIiBkPSJNOS4yLDEuM2M0LjEsNS40LTIsMTEuNC03LjMsNy4zQy0yLjIsMy4zLDMuOS0yLjcsOS4yLDEuM3oiLz4NCjxnPg0KCTxkZWZzPg0KCQk8cGF0aCBpZD0iU1ZHSURfMV8iIGQ9Ik0xNCwwLjNDMTkuNSwxMCw5LjYsMjAtMC4yLDE0LjRjLTEuMS0wLjYtMi0xLjYtMi43LTIuN0MtOC40LDIsMS42LTgsMTEuMy0yLjRDMTIuNC0xLjgsMTMuMy0wLjgsMTQsMC4zeiINCgkJCS8+DQoJPC9kZWZzPg0KCTxjbGlwUGF0aCBpZD0iU1ZHSURfMl8iPg0KCQk8dXNlIHhsaW5rOmhyZWY9IiNTVkdJRF8xXyIgIG92ZXJmbG93PSJ2aXNpYmxlIi8+DQoJPC9jbGlwUGF0aD4NCgk8cGF0aCBjbGlwLXBhdGg9InVybCgjU1ZHSURfMl8pIiBmaWxsPSIjMDA3MUNFIiBkPSJNMTEuNywxNmMtMS41LTQtMy43LTUtNi4yLTVzLTQuNiwxLTYuMiw1SDExLjd6Ii8+DQo8L2c+DQo8L3N2Zz4NCg==");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
}
i {
  color: #b5d3e9;
  font-size: 11px;
  font-weight: 300;
  font-style: normal;
}
a {
  color: #0070cd;
}
.navbar-toggle {
  float: none;
  display: block;
  border-radius: 2px;
  border-color: #0070CD;
  padding: 12px 9px;
}
.navbar-toggle .icon-bar {
  background-color: #0070CD;
  width: 20px;
}
.navbar-default .navbar-toggle {
  display: block;
  border-radius: 2px;
  border-color: #0070CD;
  padding: 12px 10px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #0070CD;
  width: 20px;
}
form[role="search"] {
  min-width: 260px;
  max-width: 715px;
  width: 100%;
  padding-right: 0;
}
form[role="search"] .form-group {
  display: block;
}
form[role="search"] .form-group label {
  position: relative;
}
form[role="search"] .form-group label:before {
  content: '';
  width: 15px;
  height: 15px;
  border: 1px solid #808080;
  border-radius: 100%;
  display: inline-block;
  vertical-align: bottom;
}
form[role="search"] .form-group:last-of-type {
  white-space: nowrap;
}
form[role="search"] .form-group:first-of-type label {
  font-size: 11px;
  font-weight: 300;
}
form[role="search"] .form-group:first-of-type label input {
  visibility: hidden;
  position: absolute;
  left: 0;
}
form[role="search"] .form-group:first-of-type label.sel {
  font-weight: 400;
}
form[role="search"] .form-group:first-of-type label.sel:before {
  content: '';
  background: url("../images/radio-background.png") no-repeat center;
}
form[role="search"] input[type="text"] {
  min-width: 260px;
  max-width: 600px;
  width: 100%;
}
form[role="search"] i {
  display: block;
}
form .form-control {
  border-color: #0070CD;
  height: 40px;
}
form button {
  height: 40px;
}
form button[type="submit"] {
  background-color: #0070cd;
  border: none;
  padding: 6px 20px;
}
.slick-dots li {
  display: inline;
}
.items .item {
  background: white;
}
.navbar {
  background: transparent;
  border: none;
  border-radius: 0;
}
.navbar .navbar-brand-wrapper {
  float: left;
}
.navbar .navbar-brand-wrapper .geolocation {
  display: block;
}
.soc-login {
  width: 95%;
}
.sprite {
  background-image: url("../images/spritesheet.png");
  background-repeat: no-repeat;
  float: left;
  margin: 0 0 20px 10px;
}
.sprite:first-of-type,
.sprite:nth-child(5) {
  margin-left: 0;
}
.sprite.sprite-R {
  background-position: -9px -9px;
  width: 41px;
  height: 40px;
}
.sprite.sprite-fb {
  background-position: -68px -9px;
  width: 41px;
  height: 40px;
}
.sprite.sprite-g {
  background-position: -9px -67px;
  width: 41px;
  height: 40px;
}
.sprite.sprite-od {
  background-position: -68px -67px;
  width: 41px;
  height: 40px;
}
.sprite.sprite-rk {
  background-position: -127px -9px;
  width: 41px;
  height: 40px;
}
.sprite.sprite-tw {
  background-position: -127px -67px;
  width: 41px;
  height: 40px;
}
.sprite.sprite-vk {
  background-position: -9px -125px;
  width: 41px;
  height: 40px;
}
p {
  line-height: 18px;
  font-size: 16px;
}
