.col-md-2 {
  min-width: 240px;
  padding-right: 17px;
  width: calc(16.66666667% - 107.490px);
  width: -webkit-calc(16.66666667% - 107.490px);
}
.col-md-offset-2 {
  margin-left: calc(16.66666667% - 107.490px);
  margin-left: -webkit-calc(16.66666667% - 107.490px);
}
.col-md-10 {
  width: calc(100% - 255px);
  width: -webkit-calc(100% - 255px);
  padding-right: 0;
  padding-left: 24px;
}
.container {
  padding-left: 0;
  padding-right: 0;
}
h2,
h3 {
  font-size: 32px;
  font-weight: 300;
}
ol.breadcrumb {
  background: transparent;
  padding-top: 37px;
  margin-bottom: 15px;
  padding-bottom: 0;
  padding-left: 0;
}
ol.breadcrumb a {
  font-size: 16px;
  font-weight: 300;
  color: #383c47;
}
ol.breadcrumb ~ h3 {
  margin-top: 0;
  margin-bottom: 23px;
}
.pagi {
  text-align: center;
}
.pagi .btn {
  display: inline-block;
  vertical-align: text-top;
  background: white;
  border: 1px solid #dddddd;
  margin-left: 15px;
  margin-right: 15px;
}
.pagi .btn:hover {
  border: 1px solid #0971CE;
  background: rgba(0, 112, 205, 0.15);
  color: #0971CE;
}
.pagi nav {
  display: inline-block;
  vertical-align: text-top;
  font-weight: 300;
  font-size: 16px;
  color: #383c47;
}
.pagi nav .first {
  background: url("../images/pagi-arrow.png") no-repeat center;
  width: 10px;
  height: 22px;
  display: block;
  margin: 0 auto;
}
.pagi nav .last {
  background: url("../images/pagi-arrow.png") no-repeat center;
  width: 10px;
  height: 22px;
  display: block;
  transform: rotate(180deg);
  margin: 0 auto;
}
.pagi .pagination {
  margin-top: 0;
}
.pagi .pagination li > a {
  padding-top: 9px;
  padding-bottom: 9px;
}
.pagi .pagination li a {
  width: 40px;
}
.pagi .pagination li:first-of-type a,
.pagi .pagination li:last-of-type a {
  width: 80px;
}
.pagi .pagination a:hover {
  box-shadow: inset 0 0 0 2px #ffffff;
  background-color: rgba(0, 112, 205, 0.15);
}
