@media all and (max-width: 1280px) {
  form[role="search"] input[type="text"] {
    width: calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
  }
}
@media all and (max-width: 1140px) {
  .row.head .container .col-md-3 {
    width: calc(25% + 130px);
    width: -webkit-calc(25% + 130px);
  }
  .navbar-right a span {
    display: none;
  }
  dl:nth-child(3) {
    clear: both;
  }
  dl:first-of-type,
  dl:nth-child(2),
  dl:nth-child(3),
  dl:last-of-type {
    transition: 1s all ease;
    width: 50% !important;
  }
}
form[role="search"] input[type="text"] {
  width: 84%;
}
@media all and (min-width: 1000px) and (max-width: 1235px) {
  .item:first-of-type h4,
  .item:nth-child(2) h4 {
    color: white !important;
    background: #0070cd;
  }
}
@media all and (min-width: 1236px) and (max-width: 1555px) {
  .item:first-of-type h4,
  .item:nth-child(2) h4,
  .item:nth-child(3) h4 {
    color: white !important;
    background: #0070cd;
  }
}
@media all and (min-width: 1556px) and (max-width: 1876px) {
  .item:first-of-type h4,
  .item:nth-child(2) h4,
  .item:nth-child(3) h4,
  .item:nth-child(4) h4 {
    color: white !important;
    background: #0070cd;
  }
}
@media all and (min-width: 1876px) {
  .item:first-of-type h4,
  .item:nth-child(2) h4,
  .item:nth-child(3) h4,
  .item:nth-child(4) h4 {
    color: white !important;
    background: #0070cd;
  }
}
