.item-card.full .sprite {
  border-radius: 10px;
}
.item-card.full hr {
  max-width: 760px;
}
.item-card.full .desc td {
  color: #383c47;
  font-size: 16px;
  font-weight: 300;
}
.item-card.full .desc td:first-of-type {
  color: #A2AAB6;
}
.item-card.full .tags {
  margin-top: 90px;
}
.item-card.full .item-specs {
  width: 760px;
  float: left;
}
.item-card.full #tPrev,
.item-card.full #tNext {
  width: 16px;
  height: 16px;
  background: url("../images/link-arrow.svg") no-repeat;
  position: absolute;
  cursor: pointer;
}
.item-card.full #tPrev {
  top: -25px;
  left: calc(50% - 9px);
  left: -webkit-calc(50% - 9px);
  transform: rotate(270deg);
}
.item-card.full #tNext {
  transform: rotate(90deg);
  bottom: -25px;
  left: calc(50% - 9px);
  left: -webkit-calc(50% - 9px);
  z-index: 3;
}
.item-card.full .top-shadow,
.item-card.full .bottom-shadow {
  position: absolute;
  width: 100%;
  height: 5px;
  background: rgba(0, 0, 0, 0.25);
  z-index: 5;
}
.item-card.full .bottom-shadow {
  bottom: 0;
}
.item-card.full .IC-slider-area {
  position: relative;
}
.item-card.full .slider-nav-wrap {
  background: #F2F5F7;
  position: relative;
  width: 130px;
  margin: 72px 0 0 auto;
}
.item-card.full .slider-nav-wrap .slider-nav .slick-slide {
  width: 100% !important;
  margin-bottom: 7px;
  border: 5px solid transparent;
}
.item-card.full .slider-nav-wrap .slider-nav .slick-slide:hover {
  transition: border 0.2s ease;
  border: 5px solid #EB0028;
}
.item-card.full .slider-nav-wrap .slider-nav img {
  margin: 0 auto;
}
.item-card.full .slider-nav-wrap .slick-dots {
  display: block;
  position: absolute;
  top: -20px;
  left: -31px;
}
.item-card.full .slider-nav-wrap .slick-dots li {
  float: none;
}
.item-card.full .slider-nav-wrap:before {
  content: "";
  width: 120px;
  height: 22px;
  display: block;
  background: url("../images/bezier.png") no-repeat;
  margin: 0 auto 0 auto;
  position: absolute;
  top: -31px;
  left: calc(50% - 60px);
  left: -webkit-calc(50% - 60px);
}
.item-card.full .slider-nav-wrap:after {
  content: "";
  width: 120px;
  height: 22px;
  display: block;
  background: url("../images/bezier.png") no-repeat;
  margin: 0 auto 0 auto;
  transform: rotate(180deg);
  position: absolute;
  bottom: -31px;
  left: calc(50% - 60px);
  left: -webkit-calc(50% - 60px);
}
