html {
	body {
		color: inherit;
		h2 {
			font-family: "RobotoBlack";
			background: #EB0028;
			padding: 9px 10px;
			color: white;
			white-space: nowrap;
			font-size: 28px;
			position: relative;
			left: -4px;
		}
		.first h2 {float: left;}

		.h3-wrap {
			position: relative;
			clear: both;
			.h3-wrap-wrap {
				position: absolute;
				left: 0;
				top: 0;
				min-width: 540px;
			}
		}
		h3 {
			display: inline;
			font-family: "RobotoLight";
			outline: #0070CD solid 4px;
			background: #0070CD;
			font-size: 16px;
			color: white;
		}
		a {
			cursor: pointer;
			font-family: "RobotoLight";
            &:hover {
                text-decoration: none;
            }
		}
	}
}

.btn-slide {
//	display: block;
//	width: 86px;
//	height: 86px;
	cursor: pointer;
	&.next-slide {
		img {
			width: 45px;
		}
	}
	&.prev-slide {
		img {
			width: 30px;
		}
	}
	&.to-top {
		img {
			display: inline-block;
			width: 45px;
		}
		span {
			font-size: 16px;
			color: #0070CD;
			display: inline-block;
			vertical-align: middle;
		}
	}
}
.magazines {
	a {
		color: white;
		display: block;
		&:first-of-type {
			margin-bottom: 7px;
		}
		&:hover {
			text-decoration: none;
		}
	}
	img {
		display: inline-block;
		width: 70px;
	}
	span {
		padding-left: 10px;
		display: inline-block;
		vertical-align: middle;
	}
}
.container-fluid.menu {
	padding: 0;
} // menu
.navbar-default {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	z-index: 1;

	box-shadow: none;
	border-radius: 0;
	border: none;
	background-image: none;
	background-color: rgba(58, 60, 63, 0.8);
	.navbar-collapse {
		padding: 0;
	}
	.navbar-nav {
		float: right;
		border-right: 1px solid rgba(255, 255, 255, 0.25);
		li {
			border-left: 1px solid rgba(255, 255, 255, 0.25);
			padding: 0 20px;
			img {
				display: inline-block;
				max-height: 28px;

			}
			a {
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				background-repeat: none;
				background-color: inherit;
				color: white;
				text-shadow: none;
				font-size: 16px;
				span {
					font-family: "RobotoBlack";
					display: block;
				}
				&:hover {
					background: none;
					color: white;
				}
			}
			&.active {
				& > a {
					background-color: inherit;
					background-image: none;
					color: white;
					text-shadow: none;
					box-shadow: none;
					&:hover {
						background: none;
						color: white;
					}
				}
			}
		}
	}

}

.row {
	position: relative;
	.first-absolute {
		position: absolute;
		bottom: ~"calc(15% - 93px)";
		bottom: ~"-webkit-calc(15% - 93px)";
		width: 50%;
		h2 {
			margin-top: 30px;
			margin-bottom: 20px;
		}
		.next-slide {
			margin-top: 93px;
		}
	}
	.second-absolute {
		position: absolute;
		bottom: 15%;
		right: -15%;
		width: 50%;
	}
	&.first {

		background: url("../img/top-bg-orig.png") no-repeat;
//		background-position: -120px -40px;
//		background-size: 165%;
		background-size: cover;
//		min-height: 768px;
		.container {
			margin-top: 80px;
		}
		.left {
			img.after-logo {
//				margin-top: 280px;
				width: 37.5vw;
			}
		}
	}
	&.second {
		background: #3196DB url("../img/middle-rep.png") repeat;
		.after-logo {
			width: 690px;
			position: absolute;
			top: -55px;
			z-index: 1;
			left: -24%;
		}
		.logo {
			max-height: 107px;
			position: relative;
			left: -4px;
		}
		h2 {
			display: inline-block;
			margin-top: 63px;
			margin-bottom: 20px;
		}
		.h3-wrap {
			margin-bottom: 23px;
		}
		.next-slide {
			display: inline-block;
			vertical-align: bottom;
		}
		.prev-slide {
			display: inline-block;
			vertical-align: bottom;
		}
		.btn-wrap {
			margin-top: 71px;
		}
		.third-absolute {
			position: absolute;
			right: -43px;
			top: 73px;
		}
	}
	&.last {
		background: url("../img/bottombg_orig_mini.jpg") no-repeat;
		.logo {
			width: 361px;
		}
		h2 {
			margin-top: 30px;
			margin-bottom: 22px;
		}
        .col-md-6 {
            margin-top: 160px;
        }
		.to-top {
            margin-top: 120px;
		}
		.bottom-menu {
            padding: 0;
            margin-top: 35px;
			li {
				list-style: none;
				background: #0070CD;
				color: white;
				border-radius: 5px;
				display: inline-block;
				padding: 10px 12px;
				img {
					display: inline-block;
					vertical-align: middle;
                    max-height: 28px;
				}
				a {
					display: inline-block;
					vertical-align: middle;
					color: white;
				}
				span {
                    font-family: "RobotoBlack";
					display: block;
				}
				&:first-of-type {
					background: #6387C9;
				}
				&:last-of-type {
					background: #6EB661;
				}
			}
		}
        .left {
            position: relative;
            z-index: 1;
        }
	}
} // backgrounds

.footer {
    text-align: center;
    padding: 40px 0;
    font-size: 20px;
    color: black;
    a {
        color: #0070CD;
    }
}

// some objects
@media only screen and (min-width: 1280px) {}
@media only screen and (min-width: 1440px) {}
@media only screen and (min-width: 1600px) {}
@media only screen and (min-width: 1900px) {}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
	.navbar-default {
		max-height: 60px;
		height: 100%;
		.navbar-brand {
			img {
				max-height: 28px;
			}
		}
		li a {
			padding: 10.5px inherit;
		}
	}
	.second {
		max-height: 527px;
	}
    .bottom-menu a {
        font-size: 13px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
	.navbar-brand {
		width: 70%;
		display: block;
		padding: 12px 0 12px 12px;
		img {
			display: block;
			width: 100%;
		}
	}

	.first .left {
		img {
			width: 100%;
		}
		h2 {
			float: none;
			padding: 5px 5px;
			position: static;
			white-space: normal;
			font-size: 13px;
			text-align: center;
		}
		.h3-wrap {
			position: static;
			.h3-wrap-wrap {
				position: static;
				min-width: ~"calc(100% - 4px)";
				min-width: ~"-webkit-calc(100% - 4px)";
				margin-left: 4px;
				h3 {

				}
			}
		}
	}

	.right {
		a {
			font-size: 16px;
			&:first-of-type {

			}
		}
	}
	.row {
		&.first {
			min-height: 568px;
			background-size: 450%;
			background-position-x: 35%;
			.magazines {
				span {
					font-size: 14px;
				}
				img {
					width: 55px;
				}
			}
			.next-slide {
				img {
//					width: auto;
				}
			}
		}
		&.second {
			background-size: 15%;
			h2 {
				float: none;
				padding: 5px 5px;
				position: static;
				white-space: normal;
				font-size: 13px;
				text-align: center;
			}
			.prev-slide {
				background-size: 30%;
			}
			.h3-wrap {
				position: static;
				.h3-wrap-wrap {
					position: static;
					min-width: ~"calc(100% - 4px)";
					min-width: ~"-webkit-calc(100% - 4px)";
					margin-left: 4px;
					h3 {

					}
				}
			}
			.col-md-6 {
				img:not(.b) {
					width: 100%;
				}
			}
			.next-slide {

			}
		}
		&.last {
			background-size: 15%;
			h2 {
				float: none;
				padding: 5px 5px;
				position: static;
				white-space: normal;
				font-size: 13px;
				text-align: center;
			}
			.prev-slide {
				background-size: 30%;
			}
			.h3-wrap {
				position: static;
				.h3-wrap-wrap {
					position: static;
					min-width: ~"calc(100% - 4px)";
					min-width: ~"-webkit-calc(100% - 4px)";
					margin-left: 4px;
					h3 {

					}
				}
			}
			.col-md-6 {
				img.logo {
					width: 100%;
				}

			}
			.to-top {
				background-size: 40%;
			}
		}
	}
    .next-slide {
        img {
            width: 45px;
        }
    }
    .prev-slide {
        img {
            width: 35px;
        }
    }
} // iphone