.fireworks.one {
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: fire1;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
}
@-webkit-keyframes fire1 {
  0% {
    background-size: 30%;
    opacity: 0.9;
  }
  100% {
    background-size: 190%;
    opacity: 0.3;
  }
}
.fireworks.two {
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 1.5s;
}
@-webkit-keyframes fire2 {
  0% {
    background-size: 110%;
  }
  30% {
    background-size: 150%;
    opacity: 0.9;
  }
  60% {
    background-size: 150%;
    opacity: 0.7;
  }
  100% {
    background-size: 120%;
    opacity: 0.5;
  }
}
