// out: ../../estate/css/app.css, strictMath: true
@import "../css/fonts.css";
body {
    color: inherit;
    background: inherit;
	font-family: 'Open Sans', sans-serif;
}
.container {
//    width: ~"calc(1024px + 60px)";
//    width: ~"-webkit-calc(1024px + 60px)";
    width: 1054px;
    background: rgba(0, 0, 0, 0.15);
}
//164 next prev
//147 controls
//217 date
.custom-hr {
    background: url("../images/icons/cross.jpg") no-repeat center;
    height: 15px;
    border: none;
    position: relative;
    width: 411px;
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: ~"calc(49% - 16px)";
        width: ~"-webkit-calc(49% - 16px)";
        height: 1px;
        box-shadow: 0 -1px 0 #ececec;
        background: #bcbcbc;
        top: 50%;
        right: 0;
    }
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: ~"calc(49% - 16px)";
        width: ~"-webkit-calc(49% - 16px)";
        height: 1px;
        box-shadow: 0 -1px 0 #ececec;
        background: #bcbcbc;
        top: 50%;
        left: 0;
    }
} // hr
.social {
    display: block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
    cursor: pointer;
    li {
        //float: left;
        display: inline-block;
        margin: 0 3.5px;
        background: transparent;
        border: 1px solid white;
        border-radius: 100%;
        width: 23px;
        height: 23px;
        &.f {background: url("../images/icons/f.png") no-repeat center;}
        &.t {background: url("../images/icons/tw.png") no-repeat center;}
        &.g {background: url("../images/icons/g.png") no-repeat center;}
        &.p {background: url("../images/icons/pi.png") no-repeat center;}
        &.in {background: url("../images/icons/in.png") no-repeat center;}
        &:hover {
            background-color: #bed153;
        }
    }
} // social
.buttons {
    a {
        width: 164px;
    }
} // buttons
.col-md-12 {
    a {
        width: 217px;
    }
}
.send-one,
.send-two {
    padding: 12px;
    width: 255px;
}
.btn-success {
    width: 147px;
    color: #c3c3c2;
    background-color: #ffffff;
    border-color: #b1b1b1;
    font-size: 12px;
    text-transform: uppercase;
    &:hover {
        color: #ffffff;
        background-color: #bed153;
        border-color: #ffffff;
    }
} // btn success
.btn-default {
    color: #c3c3c2;
    background-color: #ffffff;
    border-color: #b1b1b1;
    &:hover {
        border: 1px solid transparent;
    }
} // btn default
.btn-info {
    background: #266da4;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid transparent;
    &:hover {
        border: 1px solid transparent;
    }
} // btn default
.menu {
    text-align: right;
    padding-top: 42px;
    span {
        background: url("../images/icons/menu-ico.png") no-repeat;
        width: 13px;
        height: 13px;
        //display: block;
        float: left;
    }
    a {
        font-size: 10px;
        text-transform: uppercase;

        //&:first-of-type,
        &:last-of-type {
            &:after {
                display: none;
            }
        }
        &:after {
            position: relative;
            top: -1px;
            padding: 0 3px 0 6px;
            content: "|";
        }
    }
} // menu

.row {
    &.head {
        // Defaults
        a:not(.btn), p, h1, h2, span {
            color: white;
        } // end defaults

        min-height: 695px;
        background: url("../images/head-background.jpg") no-repeat center;
        background-size: cover;
        h1, h1 ~ p, h2 {
            text-align: center
        }

        h1 {
            font-size: 24px;
            line-height: 14px;
            font-weight: 100;
            text-transform: uppercase;
            margin-top: 73px;
            margin-bottom: 26px;
        }
        h1 ~ p {
            font-size: 14px;
        }

        .super-form {
            background: rgba(255, 255, 255, 0.25);
            border-radius: 5px;
            padding-bottom: 6px;
            h2 {
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                padding: 23px 0 63px 0;
            }
        }

        .controls {
            &.one-step-date {
                .col-md-4 {
                    text-align: center;
                    margin-bottom: 36px;
                    span {
                        vertical-align: bottom;
                    }
                    &.last {
                        text-align: left;
                    }
                    &:first-of-type {
                        text-align: right;
                    }
                }

                //
                .calendars {
                    .ui-datepicker-inline {
                        width: 786px !important;
                        margin: 0 auto;
                        .ui-datepicker-prev,
                        .ui-datepicker-next {
                            background: url("../images/icons/green-arrow.png") no-repeat bottom;
                            cursor: pointer;
                        }
                        .ui-datepicker-next {
                            transform: rotate(180deg);
                            -webkit-transform: rotate(180deg);
                            background-position: top;
                        }
                    }
                    .ui-datepicker-buttonpane {
                        display: none;
                    }
                    table.ui-datepicker-calendar {
                        width: 214px;
                    }

                    .ui-datepicker-group {
                        width: 249px;
                        height: 217px;
                        margin: 0 2.5px;
                        background: #f7f7f7;
                        //border: 1px solid rgba(255, 255, 255, 0.5);
                        box-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
                        -webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
                        .ui-datepicker-title {
                            margin-top: 10px;
                            span {
                                font-weight: bold;
                                font-size: 15px;
                                text-transform: uppercase;
                                color: #4f5348;
                            }
                        }

                        thead {
                            border-top: 1px solid #ededed;
                            border-bottom: 1px solid #ededed;
                            th {
                                padding-top: 3px;
                                padding-bottom: 3px;
                                span {

                                    font-weight: bold;
                                    font-size: 9.5px;
                                    color: #a1bc7e;
                                }
                            }
                        }
                        tbody {
                            td {
                                a {
                                    &.ui-state-default {
                                        font-weight: bold;
                                        font-size: 11px;
                                        color: #4f5348;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.one-step-home {
                .col-md-4 {
                    text-align: center;
                    margin-bottom: 36px;
                    span {
                        vertical-align: bottom;
                    }
                    &.last {
                        text-align: left;
                    }
                    &:first-of-type {
                        text-align: right;
                    }
                }
                .col-md-12 {
                    text-align: center;
                }
            }
            &.two-step-place {
                .inner {
                    width: 784px;
                    margin: 0 auto;
                }
                // 784
                label {
                    background: #ffffff;
                    border: 1px solid #b1b1b1;
                    border-radius: 5px;
                    color: #b1b1b1;
                    font-size: 12px;
                    font-style: italic;
                    font-weight: normal;
                    height: 21px;
                    line-height: 21px;
                    margin-bottom: 3px;

                    display: block;
                    position: relative;
                    text-align: center;
                    -moz-user-select: none;
                    -khtml-user-select: none;
                    -webkit-user-select: none;
                    &.main {
                        text-transform: uppercase;
                        height: 35px;
                        line-height: 35px;
                        margin-bottom: 12px;
                        font-style: normal;
                    }
                    &.checked {
                        color: white;
                        background: #bed153;
                        border: 1px solid #ffffff;

                    }
                    input[type="checkbox"] {
                        position: absolute;
                        left: 50%;
                        z-index: -1;
                    }
                }
            }
            &.three-step-type {
                .inner {
                    width: 784px;
                    margin: 0 auto;
                }
                .col-md-12 {
                    p {
                        font-size: 14px;
                        max-width: 476px;
                        text-align: center;
                        margin: 0 auto;
                    }
                }
                // 784
                label {
                    background: #ffffff;
                    border: 1px solid #b1b1b1;
                    border-radius: 5px;
                    color: #b1b1b1;
                    font-size: 12px;
                    font-style: italic;
                    font-weight: normal;
                    height: 21px;
                    line-height: 21px;
                    margin-bottom: 3px;

                    display: block;
                    position: relative;
                    text-align: center;
                    -moz-user-select: none;
                    -khtml-user-select: none;
                    -webkit-user-select: none;
                    &.main {
                        text-transform: uppercase;
                        height: 35px;
                        line-height: 35px;
                        margin-bottom: 12px;
                        font-style: normal;
                    }
                    &.checked {
                        color: white;
                        background: #bed153;
                        border: 1px solid #ffffff;

                    }
                    input[type="checkbox"] {
                        position: absolute;
                        left: 50%;
                        z-index: -1;
                    }
                }
            }
            &.four-step-filter {
                h3 {
                    font-size: 10px;
                    text-transform: uppercase;
                    color: #ffffff;
                    text-align: center;
                }
                .col-md-6 {
                    h4 {
                        font-size: 14px;
                        font-style: italic;
                        font-weight: 100;
                        color: white;
                    }
                    label {
                        width: 22px;
                        height: 22px;
                        border-radius: 4px;
                        position: relative;
                        background: white;
                        border: 1px solid #b1b1b1;
                        font-size: 11px;
                        font-style: italic;
                        color: #b1b1b1;
                        text-align: center;
                        line-height: 22px;
                        font-weight: 100;
                        cursor: pointer;
                         -moz-user-select: none;
                        -khtml-user-select: none;
                        -webkit-user-select: none;
                        &.check {
                            text-indent: -5000px;
                            background: #ffffff url("../images/icons/check.png") no-repeat center;
                        }
                        input[type="checkbox"] {
                            position: absolute;
                            left: ~"calc(50% - 5.5px)";
                            left: ~"-webkit-calc(50% - 5.5px)";
                            z-index: -1;
                        }
                    }
                    &:first-of-type {
                        text-align: right;
                    }
                }
                .col-md-4 {
                    label {
                        -moz-user-select: none;
                        -khtml-user-select: none;
                        -webkit-user-select: none;
                        display: block;
                        font-weight: 100;
                        font-size: 12px;
                        font-style: italic;
                        color: white;
                        input[type="checkbox"] {
                            width: 13px;
                            height: 13px;
                        }
                    }

                    .input-helper {
                        position: relative;
                        margin-bottom: 5px;
                        &:before {
                            content: '';
                            display: block;
                            position: absolute;
                        }
                    }

                    .input-helper--checkbox {
                        padding-left: 20px;
                        &.checked {
                            &:before {
                                background: #ffffff url("../images/icons/check.png") no-repeat center;
                                background-size: 90%;
                            }
                        }
                        &:before {
                            top: 2px;
                            left: 0;
                            width: 13px;
                            height: 13px;
                            background: white;
                            border: 1px solid #b1b1b1;
                            border-radius: 3px;
                        }
                    }

                    input[type="checkbox"] {
                        display: none;
                    }
                }
            }
            &.fifts-step-social {
                input[type="text"] {
                    border: 1px solid #b1b1b1;
                    background: white;
                    border-radius: 5px;
                    height: 37px;
                    line-height: 37px;
                    font-size: 12px; color: #b1b1b1; font-style: italic; text-align: center;
                    &.checked {
                        background: #bed153;
                        font-size: 12px; color: #ffffff; text-align: center;
                        font-style: normal;
                        border: 1px solid white;
                    }
                    &::-webkit-input-placeholder {font-size: 12px; font-style: italic; color: #b1b1b1; text-align: center;}
                    &::-moz-placeholder {font-size: 12px; font-style: italic; color: #b1b1b1;text-align: center;}
                    &:-moz-placeholder {font-size: 12px; font-style: italic; color: #b1b1b1;text-align: center;}
                    &:-ms-input-placeholder {font-size: 12px; font-style: italic; color: #b1b1b1;text-align: center;}
                }
                .inner {
                    width: 784px;
                    margin: 0 auto;
                    text-align: center;
                }
                p {
                    text-align: center;
                    font-size: 12px;
                }
                label.legal {
                    font-size: 13px;
                    color: white;
                    font-weight: 300;
                }

                 .input-helper {
                    position: relative;
                    margin-bottom: 5px;
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                    }
                }

                .input-helper--checkbox {
                    padding-left: 20px;
                    &.checked {
                        &:before {
                            background: #ffffff url("../images/icons/check.png") no-repeat center;
                            background-size: 90%;
                        }
                    }
                    &:before {
                        top: 2px;
                        left: 0;
                        width: 13px;
                        height: 13px;
                        background: white;
                        border: 1px solid #b1b1b1;
                        border-radius: 3px;
                    }
                }

                input[type="checkbox"] {
                    display: none;
                }
            }
            &.final-step-thanks {
                .inner {
                    width: 784px;
                    margin: 0 auto;
                    text-align: center;
                    background: white;
                    border-radius: 5px;
                    box-shadow: 0 1px 1px white;
                }
                h4 {
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: uppercase;
                    padding-top: 15px;
                }
                p {
                    font-size: 12px;
                    color: black;
                    max-width: 435px;
                    text-align: center;
                    margin: 15px auto 40px auto;
                }
                .btn {
                    margin-bottom: 15px;
                }
            }

            .col-md-12 {
                h3 {
                    position: relative;
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 39%;
                        height: 1px;
                        background: white;
                        top: 50%;
                        left: 0;
                    }

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 39%;
                        height: 1px;
                        background: white;
                        top: 50%;
                        right: 0;
                    }
                    span {

                    }
                }
                .inner {
                    width: 784px;
                    margin: 0 auto;
                }
            }
        }

        //steps
        .step-by-step {
            position: relative;
            width: 383px;
            margin: 39px auto 0 auto;
            p {
                position: absolute;
                bottom: 41%;
                text-align: center;
                width: 100%;
                font-size: 12px;
                text-transform: uppercase;
            }
            .buttons {
                text-align: center;
                a {
                    &:nth-child(2) {
                        margin-left: 13px;
                    }
                }
            }
            .btn {
                margin-top: 32px;
                margin-bottom: 32px;
            }
            &:after {
                content: '';
                width: 100%;
                height: 1px;
                display: block;
                clear: both;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    font-size: 18px;
                    color: #c7c7c6;
                    float: left;
                    margin: 0 13px;
                    background: white;
                    border: 1px solid transparent;
                    border-radius: 100%;
                    width: 54px;
                    height: 54px;
                    text-align: center;
                    line-height: 54px;
                    &:first-of-type {
                        margin-left: 0;
                    }
                    &:last-of-type {
                        margin-right: 0;
                    }
                    &.active {
                        background: #bed153;
                        border: 1px solid #ffffff;
                        color: #ffffff;
                    }
                }
            }
        }
    } // head
    &.about {
        // Defaults
        .hClass (@index) when (@index > 0) {
            h@{index} {
                color: red;
            }
            .hClass(@index - 1);
        }
        .hClass(6);
        h2, h3 {
            color: black;
            text-align: center;
        }
        // end defaults

        .btn-info {
            display: inherit;
            margin: 0 auto;
        }
        h2 {
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            margin-top: 27px;
            margin-bottom: 17px;
        }
        h3 {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            margin-top: 28px;
        }
        h4 {
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
            margin-top: 49px;
            margin-bottom: 32px;
            color: black;
        }
        h3 ~ p {
            font-size: 12px;
            font-weight: 100;
            color: #6f6f6f;
            min-height: 51px;
            line-height: 15px;
            margin-bottom: 3px;
        }
        h3 ~ p ~ span {
            //font-size: 10px;
            font-size: 9.5px;
            font-weight: 100;
            color: #6f6f6f;
            text-transform: uppercase;
            border: 1px solid #ececec;
            border-radius: 4px;
            margin: 0 auto;
            display: block;
            max-width: 270px;

//            position: absolute;
//            bottom: 0;
//            left: 0;
//            width: ~"calc(100% - 10%)";
//            width: ~"-webkit-calc(100% - 10%)";
            padding: 0 8px;
        }
        hr.after-table {
            margin-top: 0;
            margin-bottom: 17px;
        }
        hr.after-hint {
            margin-top: 0;
            margin-bottom: 43px;
        }
        p.before-button {
            margin-bottom: 24px;
        }

        h2 ~ p {
            font-size: 10px;
            font-weight: 300;
            text-transform: uppercase;
            text-align: center;
        }
        .col-md-4 {
            text-align: center;
            height: 251px;
            //background: gray;
            position: relative;
            margin-top: 10px;
            margin-bottom: 30px;
            &:first-of-type {
                padding-left: 0;
//                padding-right: 9%;
                padding-right: 8%;
            }
            &.last {

                padding-left: 8%;
                padding-right: 0;
//                span {
//                    left: 9%;
//                }
//                padding-right: 0;
//                padding-left: 9%;
            }
        }
        div.table {
            border-radius: 5px;
            width: auto;
            display: inline-block;
            margin: 0 auto;
            border-radius: 5px;
            border: 1px solid #ececec;
            text-align: left;
        }
        table {
            width: 411px;
            margin: 0 auto;
            td {
                a {
                    display: block;
                    font-size: 10px;
                    font-weight: 100;
                    font-style: italic;
                    color: #bcbcbc;
                    text-indent: 32px;
                    &:first-of-type {
                        padding-top: 10px;
                    }
                    &:last-of-type {
                        padding-bottom: 10px;
                    }
                    &:hover {
                        color: #075585;
                        text-decoration: none;
                    }
                }
            }
        }
        .garant-price ~ p {
            font-size: 10px;
            font-weight: 400;
            color: black;
        }

        .hint {
            width: 451px;
            height: 98px;
            margin: 3.5% auto 0 auto;
            position: relative;
            .ball-left {
                width: 149px;
                height: 149px;
                border-radius: 100%;
                border: 3px solid black;
                position: absolute;
                left: -169px;
                top: -20px;

                &:after {
                        content: '';
                        width: 137px;
                        height: 137px;
                        border-radius: 100%;
                        background: #ffffff url("../images/icons/black-humans.png") no-repeat center;
                        position: absolute;
                        top: 3px;
                        left: 3px;
                    }

                &.active {
                    &:after {
                        content: '';
                        width: 137px;
                        height: 137px;
                        border-radius: 100%;
                        background: #266da4 url("../images/icons/white-humans.png") no-repeat center;
                        position: absolute;
                        top: 3px;
                        left: 3px;
                    }
                }
            }
            .ball-right {
                width: 149px;
                height: 149px;
                border-radius: 100%;
                border: 3px solid black;
                position: absolute;
                //right: ~"calc(-50% - 141px)";
                right: -169px;
                top: -20px;

                &:after {
                    content: '';
                    width: 137px;
                    height: 137px;
                    border-radius: 100%;
                    background: #ffffff url("../images/icons/black-peoples.png") no-repeat center;
                    position: absolute;
                    top: 3px;
                    left: 3px;
                }

                &.active {
                    &:after {
                        content: '';
                        width: 137px;
                        height: 137px;
                        border-radius: 100%;
                        background: #266da4 url("../images/icons/white-peoples.png") no-repeat center;
                        position: absolute;
                        top: 3px;
                        left: 3px;
                    }
                }
            }
            p {
                font-size: 12px;
                font-weight: 100;
                color: #6f6f6f;
                margin-bottom: 0;
                padding: 12.5px 6px;
                text-align: center;
                &.last {
                    font-size: 12px;
                    color: #6f6f6f;
                    text-align: center;
                }
            }
            .arrow_box {
                position: relative;
                background: #ffffff;
                border: 1px solid #afb0af;
            }
            .arrow_box:after, .arrow_box:before {
                right: 100%;
                top: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            .arrow_box:after {
                border-color: rgba(255, 255, 255, 0);
                border-right-color: #ffffff;
                border-width: 10px;
                margin-top: -10px;
            }
            .arrow_box:before {
                border-color: rgba(175, 176, 175, 0);
                border-right-color: #afb0af;
                border-width: 11px;
                margin-top: -11px;
            }
        }

    } // about
    &.how-it-works {
        background: #f1f0f0;
         .btn-info {
            display: inherit;
            margin: 20px auto 0 auto;
        }
        .container {
            background: url("../images/icons/diagramm.png") no-repeat center 31%;
            position: relative;
            min-height: 560px;
        }
        h2 {
            font-weight: 600;
            font-size: 18px;
            text-transform: uppercase;
            text-align: center;
            margin-top: 33px;
        }
        h3 {
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
            text-align: center;
        }
        h3 ~ p {
            font-size: 12px;
            color: #6f6f6f;
        }
        strong {
            font-weight: 600;
            font-size: 18px;
            text-transform: uppercase;
            text-align: center;
            position: relative;
            display: block;
            span {
                position: absolute;
                top: -78px;
                right: -45px;
            }
        }
        .left-top {
            position: absolute;
            top: 86px;
            left: 56px;
        }
        .left-bottom {
            bottom: 24%;
            position: absolute;
            left: 55px;
        }
        .left-top,
        .left-bottom,
        .right-bottom {
            max-width: 306px;
//            position: relative;
            text-align: right;
            h3 {
                text-align: right;
            }
        }
        .right-bottom {
            position: absolute;
            right: 7%;
            top: 28%;

            text-align: left;
            h3 {
                text-align: left;
            }
        }
        .wrap {
            position: absolute;
            bottom: 34px;
            width: 100%;
        }
        .wrap p {
            font-size: 12px;
            color: #6f6f6f;
            text-align: center;
        }
    } // hot-it-works
    &.not-prepared {
        h2 {
            font-size: 18px;
            font-weight: bold;
            color: black;
            text-align: center;
            text-transform: uppercase;
            margin-top: 26px;
            margin-bottom: 26px;
        }
        .second-h2 {
            clear: both;
            padding-top: 40px;
            margin-bottom: 0;
        }
        .col-md-6 {

            height: 163px;
            &.img {
                padding: 0;
            }
            img {
                width: 100%;
            }
            p {
                font-size: 10px;
                font-weight: 100;
                color: black;
                text-align: center;
                text-transform: uppercase;



                display: -moz-inline-box;
                display: inline-block;
                vertical-align: middle;
                width: 463px;
                zoom: 1;

            }
            .helper {
                display: -moz-inline-box;
                display: inline-block;
                height: 100%;
                width: 0px;
                vertical-align: middle;
                zoom: 1;
            }
        }
        .price {
            text-align: center;
            margin-top: 52px;
            p {
                font-size: 12px;
                color: #6f6f6f;
                text-align: center;
            }
        }
        .quote {
            font-weight: normal;
            font-size: 14px;
            color: #6f6f6f;
            text-align: center;
            margin-bottom: 0;
            span {
                font-size: 30px;
            }
        }
        .quote ~ p {
            font-weight: normal;
            font-size: 12px;
            color: #6f6f6f;
            text-align: center;
            line-height: 14px;
        }
        .after-slider {
            margin-top: 56px;
            margin-bottom: 11px;
        }
        .slider-wrap {
            h3 {
                font-size: 12px;
                font-family: 'Open Sans';
                text-transform: uppercase;
                font-weight: bold;
                margin-top: 14px;
                text-align: center;
            }
            p {
                text-align: center;
                font-family: 'Open Sans';
                font-size: 12px;
                margin-top: 13px;
            }
            .left {
                left: -107px;
                background: none;
                &:hover {
                    .glyphicon-chevron-left {
                        background: #266da4 !important;
                    }
                }
            }
            .right {
                right: -107px;
                background: none;
                &:hover {
                    .glyphicon-chevron-right {
                        background: #266da4 !important;
                    }
                }
            }
            .carousel-control.left {
                .glyphicon-chevron-left {
                    border-radius: 100%;
                    width: 40px;
                    height: 40px;
                    background: rgba(196, 195, 195, 0.75);
                    top: 43%;
                    &:before {
                        content: '';
                        background: url("../images/icons/sl-arrow.png") no-repeat center;
                        width: 10px;
                        height: 17px;
                        display: block;
                        position: absolute;
                        top: 11px;
                        left: 13px;
                    }
                }
            }
            .carousel-control.right {
                .glyphicon-chevron-right {
                    border-radius: 100%;
                    top: 43%;
                    width: 40px;
                    height: 40px;
                    background: rgba(196, 195, 195, 0.75);
                    &:before {
                        content: '';
                        background: url("../images/icons/sl-arrow.png") no-repeat center;
                        width: 10px;
                        height: 17px;
                        display: block;
                        position: absolute;
                        top: 11px;
                        left: 16px;
                        transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                    }
                }
            }

            .carousel-indicators {
                bottom: -35px;
                li {
                    background: white;
                    border: 1px solid #266da4;
                    width: 8px;
                    height: 8px;
                    &.active {
                        background: #266da4;
                        border: 1px solid #266da4;
                    }
                }
            }
        }
        .author {
            img {
                width: 130px;
                height: 130px;
                border-radius: 100%;
                float: left;
            }
            div {
                margin-left: 141px;
                text-align: left;

            }
            h3 {
                font-size: 12px;
                font-weight: 100;
                color: black;
                text-align: left;
                max-width: 327px;
            }
            p {
                font-size: 11px;
                font-weight: 100;
                font-style: italic;
                color: #6f6f6f;
                text-align: left;
                text-transform: none;
                max-width: 327px;
            }
        }
    } // you are not prepared
    &.footer {
        background: #262525;
        hr {
            border-color: #525252;
        }
        .social {
            margin-top: 15px;
            text-align: right;
        }
        .col-md-6 {
            &:first-of-type {
                padding-left: 0;
            }
        }
        input[type="text"] {
            margin-top: 15px;
            width: 229px;
            height: 30px;

            line-height: 30px;
            font-size: 12px; color: #b1b1b1; font-style: italic; text-align: left;
            text-indent: 15px;
            &.checked {
                background: #bed153;
                font-size: 12px; color: #ffffff; text-align: left;
                font-style: normal;
                border: 1px solid white;
            }
            &::-webkit-input-placeholder {font-size: 12px; font-style: italic; color: #b1b1b1; text-align: left;}
            &::-moz-placeholder {font-size: 12px; font-style: italic; color: #b1b1b1;text-align: left;}
            &:-moz-placeholder {font-size: 12px; font-style: italic; color: #b1b1b1;text-align: left;}
            &:-ms-input-placeholder {font-size: 12px; font-style: italic; color: #b1b1b1;text-align: left;}
        }
        p {
            font-size: 10px;
            color: #525252;
        }
    } // footer
}