@arial:  Arial, sans-serif;
// For mobile:
@mobile: ~"screen and (min-width : 480px)";
// For iphone:
@iphoneLandscape: ~"only screen and (min-device-width : 320px) and (max-device-width: 480px) and (orientation: landscape)";
@iphonePortrait: ~"only screen and (min-device-width : 320px) and (max-device-width: 480px) and (orientation: portrait)";
@iph ~"only screen and (min-device-width : 320px) and (max-device-width : 480px)";
//* For ipad:
@ipad: ~"screen and (min-width : 760px) and (max-width: 1024px) and (orientation:landscape)";
@ipadPortrait: ~"screen and (min-width : 760px) and (max-width: 1024px) and (orientation:portrait)";
@ipadLandscape: ~"screen and (min-width : 760px) and (max-width: 1024px) and (orientation:landscape)";
//
@white: rgb(255, 255, 255);
@pink: rgb(237, 5, 119);



// some defaults
html {
	min-height: 100%;
	position: relative;
}
body {
	height: 100%;
	background: rgb(246, 246, 246);
}
.container-fluid {
	margin-bottom: 85px;
}
.container {
	width: 1120px;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
/* Set the fixed height of the footer here */
	height: 85px;
	background-color: #f5f5f5;
}


.row {
	&.menu { // global
		height: 110px;
		.container {
			height: 100%;
		}
		.col-md-4,
		.col-md-8 {
			margin: 0; padding: 0;
			position: relative;
			.lang {
				position: absolute;
				top: 25px;
				right: 0;
				a {
					font-size: 12px;
					text-transform: uppercase;
					&:first-of-type {
						&:after {
							padding-left: 4px;
							content: '|';
						}
					}
					&.active {
						color: @pink;
					}
				}
			}
		}
		.col-md-4 img {
			margin: 20px 0 0 0;
		}
		.col-md-8 .navbar {
			margin: 56px 0 0 0;
		}
		ul {
			li {
				a {
					padding: 5px 14px;
					border-radius: 0;
					color: rgb(77, 77, 79);
					font-size: 15px;
					text-transform: uppercase;

					transition: all .10s ease-in; // just for fun
				}
				&.active a,
				&:hover a {
					background: @pink;
					color: @white;
				}
			}
		}
	}
	&.carousel { // main only
		img {
//			max-height: 391px;
		}
	}
	&.categories {
		ul {
			li {
				a {
					font-size: 19px;
					color: @pink;
					text-decoration: none;
					text-transform: uppercase;
					&.active {
						font-size: 24px;
						color: @white;
						background: @pink;
					}
				}

			}
		}
	}
}