.content-inner-wishlist .pagination {
  left: 0;
}
.content-inner-wishlist h2 {
  font-family: #31353d;
  color: #31353d;
  font-size: 24px;
  border-bottom: 2px solid #EB1C24;
  padding: 0px 0px 14px;
}
.content-inner-wishlist h2 span.favorites {
  width: 22px;
  height: 20px;
  display: inline-block;
  margin: 0 0 0 22px;
  background: url('../img/star.png') no-repeat;
}
.content-inner-wishlist h2 span.favorites:hover {
  cursor: pointer;
  background-position: -22px 0;
}
.content-inner-wishlist .item {
  position: relative;
  top: 0;
  left: 0;
  margin-left: 1.2%;
  width: 183px;
  padding: 12px;
  border: 2px solid #f8f8f8;
}
.content-inner-wishlist .item .to-cart {
  color: red;
  display: inline-block;
  margin: 0;
  position: absolute;
  bottom: 15px;
  right: 15px;
  line-height: 19px;
}
.content-inner-wishlist .item .to-cart:hover {
  cursor: pointer;
}
.content-inner-wishlist .item .to-cart:after {
  margin: 0 0 0 5px;
  content: '';
  width: 16px;
  height: 14px;
  background: url('../img/cart.png') no-repeat;
  background-size: 93%;
  display: inline-block;
  vertical-align: middle;
}
.content-inner-wishlist .item .item-widget-close {
  width: 11px;
  height: 11px;
  position: absolute;
  right: 7px;
  top: 7px;
  background: url('../img/star.png') no-repeat;
  background-position: 0 -20px;
}
.content-inner-wishlist .item .item-widget-close:hover {
  cursor: pointer;
  background-position: -11px -20px;
}
.content-inner-wishlist .item:first-child {
  margin-left: 0;
}
.content-inner-wishlist .item img {
  display: block;
  margin: 0 auto;
}
.content-inner-wishlist .item a {
  display: block;
  font-size: 12px;
  margin: 5px auto 27px auto;
}
.content-inner-wishlist .item span {
  display: block;
  margin: 0 0 8px 0;
}
.content-inner-wishlist .item span.amount {
  display: inline-block;
  margin: 0 auto;
}
.content-inner-wishlist .item.sale .item-widget,
.content-inner-wishlist .item.new .item-widget {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 6px 3px 6px;
  background: #ffe7a8;
  border: 1px solid #ffdb7c;
  border-radius: 1px;
  color: #31353d;
  font-family: Myriad Pro, sans-serif;
  font-size: 12px;
  text-shadow: 1px 0 1px #ffffff;
  text-transform: uppercase;
}
.content-inner-wishlist .item.sale .item-widget span,
.content-inner-wishlist .item.new .item-widget span {
  margin: 0;
}
.content-inner-wishlist .item.new .item-widget {
  background: #ddffa8;
  border-color: #c1ea81;
}
