p.info-account {
    color: #c11b00;
}
.addresses-lists:after {
    content: '';
    clear: both;
}

.edit-ico {
    width: 18px;
    height: 18px;
    background: url("img/edit-ico.png") no-repeat;
    display: block;
}

.delete-ico {
    width: 14px;
    height: 14px;
    background: url("img/delete-ico.png") no-repeat;
    display: block;
}

.dob-ico,
.mail-ico,
.phone-ico,
.place-ico {
    display: block;
    margin-bottom: 12px;
}
.dob-ico:before,
.mail-ico:before,
.phone-ico:before,
.place-ico:before {
    vertical-align: middle;
    display: inline-block;
    content: '';
    margin-right: 15px;

}

.dob-ico:before {
    width: 16px;
    height: 18px;
    background: url("img/dob-ico.png");
}
.mail-ico:before {
    width: 16px;
    height: 14px;
    background: url("img/mail-ico.png");
}
.phone-ico:before {
    width: 16px;
    height: 20px;
    background: url("img/phone-ico.png");
}
.place-ico:before {
    width: 11px;
    height: 17px;
    background: url("img/place-ico.png");
    float: left;
    margin-right: 6%;
}

.edit-ico,
.delete-ico {
    cursor: pointer;
}

.bordered {
    border: 1px dashed #cccccc;
    border-radius: 10px;
    position: relative;
    padding: 21px;
    padding-bottom: 8px;
	vertical-align: top;

}
.bordered.bigger {

}
.items {
	display: inline-block;
	vertical-align: top;
}
.bordered h3 {
    background: white;
  position: absolute;
  top: -29px;
  left: 24px;
  padding: 0 128px 0 16px;
  font-size: 18px;
  font-family: "Open Sans";
  font-weight: bold;
  color: #474747;
  white-space: nowrap;
}
p {
    font-size: 12px;
    line-height: 12px;
    color: #474747;
    font-family: "Open Sans";
}
p.bigger {
    font-size: 14px;
    line-height: 14px;
}
span {
    font-size: 14px;
    color: #474747;
    font-weight: 400;
}
h2.username {
	margin-top: 38px;
	margin-left: 22%;
    font-size: 18px;
    color: #474747;
    border-bottom: 1px solid #474747;
    padding-bottom: 20px;
}

.details,
.rebuy {
    display: block;
    padding-left: 25%;
    text-decoration: underline;
}
.details {
    background: url("img/dropbox-ico.png") no-repeat left center;
}
.rebuy {
    background: url("img/reload-ico.png") no-repeat left center;
}

.hot-sale {
	width: calc(25% - 50px);
	width: -webkit-calc(25% - 50px);
	position: absolute;
	top: -102px;
	left: -13px;
}
.hot-sale p {

}
.hot-sale p i {
	color: #bd0000;
}
.hot-sale p.bigger {
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
}
.page-heading {
	margin-bottom: 20px;
}
.col-md-5.block-custom {

}
.block-custom {
	width: calc(33.33333% + 31px);
	width: -webkit-calc(33.33333% + 31px);
	margin-top: 37px;
}
.block-custom.offices {
    margin-top: 28px;
}
.block-custom.right {
	width: calc(33.33333% + 116px);
	width: -webkit-calc(33.33333% + 116px);
	padding-right: 0;
	padding-left: 0;
}
.block-custom.right.col-md-offset-7 {
	margin-left: calc(58.33333% - 19px);
	margin-left: -webkit-calc(58.33333% - 19px);
}
.container.upper {
	position: relative;
}
.block-custom.left {
	margin-left: calc(19% + 19px);
	margin-left: -webkit-calc(19% + 19px);
}

.inline-elems:first-of-type {
    margin-top: 26px;
}
.inline-elems span {
    display: inline-block;
    vertical-align: top;
}
.inline-elems span:last-of-type {
    float: right;
}
.inline-elems span:last-of-type i {
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
}
.inline-elems span:last-of-type i:last-of-type {
    position: relative;
    left: 12px;
    margin-top: 9px;
}
.inline-elems span:nth-child(2) {
    margin-left: 54px;
}
.add-new {
    color: #bd0000;
    display: block;
    text-align: right;
    text-decoration: underline;
}

.history-data {
    margin-top: 20px;
}
.history-data .col-md-12 {
    padding: 0;
}

.history-data table {
    width: 100%;
}
.history-data table th {
    background: #cccccd;
    text-align: center;
}
.history-data table td {
    text-align: center;
}
.history-data table td:last-of-type {
    text-align: left;
}
.history-data .bordered {
    padding-left: 0;
    padding-right: 0;
}

.history-data table tr:nth-child(odd) {
    background: white;
}
.history-data table tr:nth-child(even) {
    background: #f6f6f6;
}
.history-data .status {
    color: #f60030;
}

.history-data .history-box > span {
      margin-left: 13px;
      margin-bottom: 11px;
      display: block;
}
.history-box {
    margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
    .block-custom.left {
        margin-left: 18%;
    }
    .bordered {
        background: white;
    }
    .container {
      padding-left: 0;
      padding-right: 0;
    }
    .block-custom.right.col-md-offset-7 {
        margin-left: calc(58.33333% - 36px);
        margin-left: -webkit-calc(58.33333% - 36px);
    }
}

.top-panel {
    background: #f2f2f2;
    background: -moz-linear-gradient(top,  #f2f2f2 0%, #e7e7e7 2%, #e1e1e1 3%, #e1e1e1 3%, #f4f4f6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(2%,#e7e7e7), color-stop(3%,#e1e1e1), color-stop(3%,#e1e1e1), color-stop(100%,#f4f4f6));
    background: -webkit-linear-gradient(top,  #f2f2f2 0%,#e7e7e7 2%,#e1e1e1 3%,#e1e1e1 3%,#f4f4f6 100%);
    background: -o-linear-gradient(top,  #f2f2f2 0%,#e7e7e7 2%,#e1e1e1 3%,#e1e1e1 3%,#f4f4f6 100%);
    background: -ms-linear-gradient(top,  #f2f2f2 0%,#e7e7e7 2%,#e1e1e1 3%,#e1e1e1 3%,#f4f4f6 100%);
    background: linear-gradient(to bottom,  #f2f2f2 0%,#e7e7e7 2%,#e1e1e1 3%,#e1e1e1 3%,#f4f4f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f4f4f6',GradientType=0 );

    border: 1px solid #b3b3b3;
    border-radius: 0 0 5px 5px;

    padding: 8px 15px;
}
.top-panel a {
    color: #474747;
    font-size: 14px;
    margin-right: 60px;
    padding-left: 29px;
}

button.old,
a.old {
    font-size: 16px;
    font-weight: 600;
    background: #fefefe;
    background: -moz-linear-gradient(top,  #fefefe 0%, #f1f1f1 50%, #e1e1e1 51%, #f5f5f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f5f5f5));
    background: -webkit-linear-gradient(top,  #fefefe 0%,#f1f1f1 50%,#e1e1e1 51%,#f5f5f5 100%);
    background: -o-linear-gradient(top,  #fefefe 0%,#f1f1f1 50%,#e1e1e1 51%,#f5f5f5 100%);
    background: -ms-linear-gradient(top,  #fefefe 0%,#f1f1f1 50%,#e1e1e1 51%,#f5f5f5 100%);
    background: linear-gradient(to bottom,  #fefefe 0%,#f1f1f1 50%,#e1e1e1 51%,#f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f5f5f5',GradientType=0 );

	position: relative;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    padding: 9px 34px 9px 54px;
}

.exit {
    background: url("img/exit.png") no-repeat left center;
}
.reg {
    background: url("img/user.png") no-repeat left center;
}
.sale {
    background: url("img/sale.png") no-repeat left center;
}
.cart {
    background: url("img/cart.png") no-repeat left center;
    float: right;
}
.ios:before {
	content: "";
   	background-image: url("img/ios.png");
    background-repeat: no-repeat;
    background-position: left;
	width: 24px;
	height: 29px;
	position: absolute;
	left: 18px;
	top: 5px;
}
.android:before {
	content: "";
    background-image: url("img/android.png");
    background-repeat: no-repeat;
    background-position: left;
	width: 24px;
	height: 29px;
	position: absolute;
	left: 18px;
	top: 5px;
}
.c-b {
	width: 380px;
	margin: 0 auto;
}

#header_logo {
	padding-top: 66px !important;
}


.phones {
    width: 380px;
    margin: 23px auto 0 auto;
    white-space: nowrap;
}
.phones hr {
    border-color: black;
	margin-top: 16px;
	margin-bottom: 17px;
}
.phones a {
    font-size: 18px;
    font-weight: 600;
}
.phones .cc {
    display: block;
    text-align: center;
    font-size: 23px;
}
.phones a span {
    font-size: 24px;
    color: #e81c1f;
    font-weight: 600;
}
.callback {
    float: right;
}

.row.buttons {
	position: relative;
	text-align: center;
}




.menu {
	position: relative;
}
.menu a {
	font-size: 18px;
	font-weight: 600;
}
.menu ul {
	/*background: #f2f2f2;*/
	padding-bottom: 10px;
	white-space: nowrap;
}

.menu .palka {
	width: 100%;
	height: 1px;
	background: rgb(179, 179, 179);
	position: absolute;
	bottom: 9px;
	z-index: 55;
}
.menu ul:before {
	content: "";
	background: #e6e6e6;
	width: 100%;
	height: 3px;
	display: block;
	position: absolute;
	bottom: 7px;
	z-index: 50;
}
.menu ul:after {
	content: "";
	background: #f1f1f1;
	width: 100%;
	height: 7px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 50;
}
.menu li.active {
	background: #f5f5f5;
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #e1e1e1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e1e1e1));
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#e1e1e1 100%);
	background: -o-linear-gradient(top,  #f5f5f5 0%,#e1e1e1 100%);
	background: -ms-linear-gradient(top,  #f5f5f5 0%,#e1e1e1 100%);
	background: linear-gradient(to bottom,  #f5f5f5 0%,#e1e1e1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e1e1e1',GradientType=0 );

	border-bottom: 1px solid #e1e1e1;
	z-index: 60;
	padding-top: 26px;
	padding-bottom: 26px;
}
.menu li.active a {
	color: #e81c1f;
}
.menu li {
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );

	position: relative;
	bottom: -1px;
	width: 182px;
	text-align: center;
	padding: 11px 32px 8px 32px;
	border-radius: 5px 5px 0 0;
	border: 1px solid #b3b3b3;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 18px;
}
.menu li:last-of-type {
	margin-right: 0;
}


.row.buttons .girl {
	position: absolute;
	right: 0;
	top: 0;
}
.row.buttons .girl button,
.row.buttons .girl a {
	padding-left: 34px;
	position: relative;
	z-index: 40;
}

.row.buttons .girl a {
    padding-top: 9px;
    padding-bottom: 9px;
}

.row.buttons .girl a:before {
	content: "";
	background: url("img/girl.jpg");
	width: 93px;
	height: 140px;
	position: absolute;
	top: -141px;
	left: 25%;
	z-index: 30;
}
.old.c:before {

}
.burg {
    display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .menu {
        display: none;
    }
    .girl {
        display: none;
    }
    .cc {
        display: none !important;
    }
    .phones hr {
        display: none;
    }
    .history-box {
        display: none;
    }
    .block-custom {
        display: none;
    }

    .top-panel a {
        margin-right: 0;
        font-size: 7px;
    }
    .top-panel {
        margin-bottom: 15px;
    }
    #header_logo {
        margin-left: 15px;

    }
    .buttons {
        margin-left: 0;
        margin-right: 0;
        margin-top: 35px;
    }

    a.cart {
        display: inline-block;
        width: 22px;
        height: 22px;
        float: none;
        vertical-align: bottom;
        position: absolute;
        right: 80px;
    }
    a.cart span {
        display: none;
    }

    #header_logo {
        width: 50%;
        float: left;
    }
    .phones {
        float: right;
        width: auto;
    }
    #header_logo,
    .phones {


        margin-top: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
    }
    .phones {
        text-align: right;
        padding-right: 25px;
        margin-top: 8px !important;
    }
    .phones a {
        font-size: 12px;
        display: block;
    }
    .phones span {
        font-size: 12px !important;
    }
    .c-b {
        width: auto;
        text-align: center;
        white-space: nowrap;
    }

    .footer-container .container {
        background-color: white;
    }
    .footer-container #footer h4 {

    }
    .footer-block .toggle-footer {
        display: block !important;
    }



    a.burg {
        display: inline-block;
        width:18px;
        height:18px;
        cursor: pointer;
        text-decoration: none;
        position: absolute;
        right: 35px;
        top: 13px;
    }
    a.burg i {
        position: relative;
        display: inline-block;
        width: 13px;
        height: 1px;
        color:#787878;
        font:bold 14px/.4 Helvetica;
        text-transform: uppercase;
        text-indent:-36px;
        background: #787878;
        transition:all .2s ease-out;
    }
    a.burg i::before, a.burg i::after {
        content:'';
        width: 13px;
        height: 1px;
        background: #787878;
        position: absolute;
        left:0;
        transition:all .2s ease-out;
    }
    a.burg i::before {
        top: -4px;
    }
    a.burg i::after {
        bottom: -4px;
    }

    a.burg.active i {
        background: #fff;
    }







    a.burg i {
        font-size: 9px;
        position: absolute;
        left:100%;
        margin-left:-9px;
        top:85%;
        margin-top:-9px;
    }

    /*footer*/
    #footer #newsletter_block_left {
        background: #303030;
    }
    #footer #newsletter_block_left h4 {
        font-size: 9px;
        color: white;
    }
    #footer #newsletter_block_left .form-group .form-control {
        width: 212px;
        height: 17px;
        float: none;
        background: white;
    }
    #footer #newsletter_block_left .form-group .button-small {
        margin-left: -25px;
    }
    #footer #newsletter_block_left .form-group .button-small:before {
        font-size: 11px;
    }
    .footer-container #footer h4,
    .footer-container #footer h4 a {
        font-size: 9px;
        color: #303030;
        text-transform: uppercase;
    }
    #block_contact_infos {
        clear: both;
    }
    #block_contact_infos h4 {
        text-align: center;
    }
    .footer-container #footer ul li a {
        font-size: 9px;
        color: #303030;
        text-shadow: none;
    }
    .footer-container #footer a:hover {
        color: #303030;
    }
    .footer-container #footer h4:after {
        display: none;
    }

    .footer-container #footer #block_contact_infos > div ul li i {
        font-size: 12px;
    }
    .footer-container #footer #block_contact_infos > div ul li,
    .footer-container #footer #block_contact_infos > div ul li span {
        font-size: 9px;
        line-height: 12px;
    }
    .icon-map-marker:before,
    .icon-phone:before {
        font-size: 15px;
        line-height: 12px;
    }

    .sprite {
        background-image: url(img/soc-sp.png);
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: top;
    }

    .sprite-fb {
        width: 26px;
        height: 26px;
        background-position: -5px -5px;
    }

    .sprite-fe {
        width: 26px;
        height: 26px;
        background-position: -41px -5px;
    }

    .sprite-sk {
        width: 25px;
        height: 26px;
        background-position: -77px -5px;
    }

    .sprite-tw {
        width: 25px;
        height: 26px;
        background-position: -112px -5px;
    }

    .sprite-ye {
        width: 25px;
        height: 26px;
        background-position: -147px -5px;
    }
    .block .block_content {
        margin-bottom: 0;
    }
    #newsletter_block_left h4 {
        font-weight: 300 !important;
        font-size: 9px !important;
        text-transform: uppercase !important;
    }
    #social_block {
        white-space: nowrap;
        padding-left: 0 !important;
    }
    #social_block h3 {
        text-transform: uppercase;
        font-size: 9px;
        float: left;
        margin-top: 8px;
        margin-right: 11px;
    }

    /**/
    .drop-menu {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #FFF;
        width: 100%;
        z-index: 5;
    }
    .drop-menu ul {
        width: calc(100% - 31px);
        width: -webkit-calc(100% - 31px);
        padding-left: 33px;
    }
    .drop-menu ul li ul:before {
        position: absolute;
        left: -23px;
        content: "";
        display: block;
        width: calc(100% + 33px);
        height: 1px;
        border-top: 1px solid #959595;
    }

    .drop-menu ul li ul {
        position: relative;
        padding-left: 0;
        margin-left: 22.5px;
    }
    .drop-menu ul li ul li:last-of-type {
        border-bottom: none;
    }
    .drop-menu li {
        line-height: 55px;
    }
    .drop-menu li {
        border-bottom: 1px solid #959595
    }
    .drop-menu li,
    .drop-menu li a {
        text-transform: uppercase;
        font-size: 24px;
        padding-left: 0;
    }

    .drop-menu .first {
        background-image: url("img/menu-close.jpg");
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 5%;
    }
    .drop-menu > ul > li.with-drop {
        background-position: right 11%;
    }
    .drop-menu > ul > li {
        background-image: url("img/menu-arrow.jpg");
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 5%;
    }
}


@media all and (min-width: 768px) {
    #footer #newsletter_block_left .form-group .form-control {
        width: 60%;
    }
    #footer #newsletter_block_left {
        width: 100%;
    }
    #footer #newsletter_block_left .block_content {
        width: 49%;
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
    .footer-container #footer #social_block {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        float: none;
        text-align: right;
        padding-top: 0;
    }
    .footer-container #footer #social_block h3 {
        margin-top: 0;
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
        margin-right: 7px;
    }
    #social_block > div {
        display: inline-block;
        vertical-align: middle;
    }
    .sprite {
        background-image: url(img/soc-sp.png);
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: top;
    }

    .sprite-fb {
        width: 26px;
        height: 26px;
        background-position: -5px -5px;
    }

    .sprite-fe {
        width: 26px;
        height: 26px;
        background-position: -41px -5px;
    }

    .sprite-sk {
        width: 25px;
        height: 26px;
        background-position: -77px -5px;
    }

    .sprite-tw {
        width: 25px;
        height: 26px;
        background-position: -112px -5px;
    }

    .sprite-ye {
        width: 25px;
        height: 26px;
        background-position: -147px -5px;
    }
}
@media all and (min-width: 990px) and (max-width: 1900px) {
    #footer #newsletter_block_left {
        width: 100%;
    }
    #footer #newsletter_block_left .block_content {
        width: 49%;
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
    .footer-container #footer #social_block {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        float: none;
        text-align: right;
        padding-top: 0;
    }
    .footer-container #footer #social_block h3 {
        margin-top: 0;
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
        margin-right: 7px;
    }
    #social_block > div {
        display: inline-block;
        vertical-align: middle;
    }
    .sprite {
        background-image: url(img/soc-sp.png);
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: top;
    }

    .sprite-fb {
        width: 26px;
        height: 26px;
        background-position: -5px -5px;
    }

    .sprite-fe {
        width: 26px;
        height: 26px;
        background-position: -41px -5px;
    }

    .sprite-sk {
        width: 25px;
        height: 26px;
        background-position: -77px -5px;
    }

    .sprite-tw {
        width: 25px;
        height: 26px;
        background-position: -112px -5px;
    }

    .sprite-ye {
        width: 25px;
        height: 26px;
        background-position: -147px -5px;
    }
}
#block_various_links_footer {
    border-right: 1px solid #8C7C7C;
}
.footer-container #footer ul li a:hover {
    color: #333333;
}
.footer-container #footer .footer-block {
    margin-top: 25px;
}
.footer-container #footer h4,
.footer-container #footer h4 a,
.footer-container #footer h4 a:hover,
.footer-container #footer #block_contact_infos > div ul li,
.footer-container #footer #block_contact_infos > div ul li > span {
    color: #333333;
}
#newsletter_block_left h4 {
    color: white !important;
}

@media all and (max-width: 1199px) {
	.menu li {
		width: 149px;
	}
}

@media all and (max-width: 990px) {
	.menu li {
		width: 112px;
		padding-left: 0;
		padding-right: 0;
	}
}