p.info-account {
    color: #c11b00;
}
.addresses-lists:after {
    content: '';
    clear: both;
}

.edit-ico {
    width: 18px;
    height: 18px;
    background: url("img/edit-ico.png") no-repeat;
    display: block;
}

.delete-ico {
    width: 14px;
    height: 14px;
    background: url("img/delete-ico.png") no-repeat;
    display: block;
}

.dob-ico,
.mail-ico,
.phone-ico,
.place-ico {
    display: block;
    margin-bottom: 12px;
}
.dob-ico:before,
.mail-ico:before,
.phone-ico:before,
.place-ico:before {
    vertical-align: middle;
    display: inline-block;
    content: '';
    margin-right: 15px;

}

.dob-ico:before {
    width: 16px;
    height: 18px;
    background: url("img/dob-ico.png");
}
.mail-ico:before {
    width: 16px;
    height: 14px;
    background: url("img/mail-ico.png");
}
.phone-ico:before {
    width: 16px;
    height: 20px;
    background: url("img/phone-ico.png");
}
.place-ico:before {
    width: 11px;
    height: 17px;
    background: url("img/place-ico.png");
    float: left;
    margin-right: 6%;
}

.edit-ico,
.delete-ico {
    cursor: pointer;
}

.bordered {
    border: 1px dashed #cccccc;
    border-radius: 10px;
    position: relative;
    padding: 21px;
    padding-bottom: 8px;
	vertical-align: top;

}
.bordered.bigger {

}
.items {
	display: inline-block;
	vertical-align: top;
}
.bordered h3 {
    background: white;
    position: absolute;
    top: -29px;
    left: 22px;
    padding: 0 5%;
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: bold;
    color: #474747;
}
p {
    font-size: 12px;
    line-height: 12px;
    color: #474747;
    font-family: "Open Sans";
}
p.bigger {
    font-size: 14px;
    line-height: 14px;
}
span {
    font-size: 14px;
    color: #474747;
    font-weight: 400;
}
h2.username {
	margin-top: 38px;
	margin-left: 22%;
    font-size: 18px;
    color: #474747;
    border-bottom: 1px solid #474747;
    padding-bottom: 20px;
}

.details,
.rebuy {
    display: block;
    padding-left: 25%;
    text-decoration: underline;
}
.details {
    background: url("img/dropbox-ico.png") no-repeat left center;
}
.rebuy {
    background: url("img/reload-ico.png") no-repeat left center;
}

.hot-sale {
	width: calc(25% - 50px);
	width: -webkit-calc(25% - 50px);
	position: absolute;
	top: -102px;
	left: -13px;
}
.hot-sale p {

}
.hot-sale p i {
	color: #bd0000;
}
.hot-sale p.bigger {
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
}
.page-heading {
	margin-bottom: 20px;
}
.col-md-5.block-custom {

}
.block-custom {
	width: calc(33.33333% + 31px);
	width: -webkit-calc(33.33333% + 31px);
	margin-top: 37px;
}
.block-custom.offices {
    margin-top: 28px;
}
.block-custom.right {
	width: calc(33.33333% + 116px);
	width: -webkit-calc(33.33333% + 116px);
	padding-right: 0;
	padding-left: 0;
}
.block-custom.right.col-md-offset-7 {
	margin-left: calc(58.33333% - 19px);
	margin-left: -webkit-calc(58.33333% - 19px);
}
.container.upper {
	position: relative;
}
.block-custom.left {
	margin-left: calc(19% + 19px);
	margin-left: -webkit-calc(19% + 19px);
}

.inline-elems:first-of-type {
    margin-top: 26px;
}
.inline-elems span {
    display: inline-block;
    vertical-align: top;
}
.inline-elems span:last-of-type {
    float: right;
}
.inline-elems span:last-of-type i {
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
}
.inline-elems span:last-of-type i:last-of-type {
    position: relative;
    left: 12px;
    margin-top: 9px;
}
.inline-elems span:nth-child(2) {
    margin-left: 54px;
}
.add-new {
    color: #bd0000;
    display: block;
    text-align: right;
    text-decoration: underline;
}

.history-data {
    margin-top: 20px;
}
.history-data .col-md-12 {
    padding: 0;
}

.history-data table {
    width: 100%;
}
.history-data table th {
    background: #cccccd;
    text-align: center;
}
.history-data table td {
    text-align: center;
}
.history-data table td:last-of-type {
    text-align: left;
}
.history-data .bordered {
    padding-left: 0;
    padding-right: 0;
}

.history-data table tr:nth-child(odd) {
    background: white;
}
.history-data table tr:nth-child(even) {
    background: #f6f6f6;
}
.history-data .status {
    color: #f60030;
}

.history-data .history-box > span {
      margin-left: 13px;
      margin-bottom: 11px;
      display: block;
}
.history-box {
    margin-bottom: 20px;
}