body {
	background: url("../images/patt.jpg") no-repeat center;
	background-size: auto;
}
.row.head {
	text-align: center;
	margin-top: 10%;
	font-family: "Comic Sans MS";
}
.row.head p, .row.head img {
	display: inline-block;
}
.row.head p {padding: 0 5.5% 0 5.5%;}

.row.body {
	border: 1px solid black;
	border-radius: 5px;
	margin-top: 10%;
}
.row.body .col-md-6:first-of-type {
	border-right: 1px solid;
	text-align: right;
}
.row.body .col-md-6 {
	text-align: left;
}
.row.body .col-md-6 div {
	display: inline-block;
	text-align: center;
	max-width: 256px;
	margin: 30px;
}
/*.row.body .col-md-6 img {
	margin: 30px;
}
.row.body .col-md-6 p {
	padding: 30px;
}*/