@_1920: ~"screen and (min-width: 1920px)";
@_1024to_1920: ~"screen and (min-width : 1024px) and (max-width: 1920px)";
@_340to_640: ~"screen and (min-width : 320px) and (max-width: 640px)";
// leform vars
// colors
@red: 					  ~"rgba(244, 96, 95, 1)";
@blue: 					  ~"rgba(97, 84, 255, 1)";
@black: 				  ~"rgba(18, 18, 18, 1)";
@gray: 					  ~"rgba(109, 109, 109)";
@lightgray: 			  ~"rgba(142, 144, 146, 1)";
@white: 				  ~"rgba(255, 255, 255, 1)";

@FedraSerifBook: 		  "Fedra Serif B Book"; // BBook
@FedraSansAlt: 			  "Fedra Sans Alt Demi 11";
@FedraSansCondensedLight: "Fedra Sans Condensed Light 11"; // CondensedLight
@FedraSansCondensedBook:  "Fedra Sans Condensed Book";

// grid
html {
	position: relative;
	min-height: 100%;
//	background: url('../img/trash/grid.png') left top repeat #ffffff;
	body {
		background: rgba(255, 255, 255, 0);
		height: 100%;
		margin-bottom: 32px;
		.container {
			background: rgba(0,0,0,0.1);
		}
		&.mobile-index-details {
			margin-bottom: 35px;
		}
		h1 {
			background: transparent;
		}
		#grid {
			background: url('../img/trash/grid.png') left top repeat;
			position: absolute;
			top: 0; left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
		#toggle {
			position: fixed;
			top: 1%; right: 1%;
			z-index: 999;
		}
	}
}
body.debug .container {
	width: 1008px;
	background: rgba(0,0,0,0.1);
}
//*************
// set defaults
//*************
.page-title{ // big h1, h2 etc
	h2 {
		font-family: "Fedra Sans Condensed Light 11";
		font-size: 64px;
		color: rgb(0, 0, 0);
		text-transform: uppercase;

		margin-top: 40px;
		margin-left: 28%;
		margin-bottom: 18px;

	}
	&.normal h2 {margin-left: 0;}
	&.date {
		span {
			display: inline-block;
			vertical-align: bottom;

			font-family: @FedraSansAlt;
			font-size: 14px;
			text-transform: none;
		}
		h2 {
			display: inline-block;
			vertical-align: bottom;
			margin: 0 auto;
		}
	}
}
.float-menu { // simple float menu
	position: absolute;
	top: 23%;
	left: 95px;
	padding: 0; margin: 0;
	li {
		list-style: none;
		line-height: 30px;
		&.heading {
			font-family: @FedraSerifBook;
			font-size: 12px;
			font-style: italic;
			color: black;
		}
		a {
			font-family: @FedraSansAlt;
			font-size: 12px;
			color: black;
		}
	}
}
&.simple-black { // just black button & nothing else
	background: black;
	font-family: @FedraSansAlt;
	font-size: 14px;
	color: white;
	border-radius: 0;

	width: 144px;
	height: 32px;
}
.simple-transparent {
	background: transparent;
	font-family: @FedraSansAlt;
	font-size: 14px;
	color: black;
	border-radius: 0;

	width: 144px;
	height: 32px;
}
form {
	.form-group {
		margin-bottom: 39px;
		.has-feedback .form-control-feedback {
			top: 3.5px;
			right: 30px;

			line-height: 14px;
		}
		input,
		textarea {
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 1px solid black;
			border-radius: 0;

			box-shadow: none;

			font-size: 12px;

			padding: 0;
			&::-webkit-input-placeholder {
				font-family: @FedraSerifBook;
				font-size: 12px;
				font-style: italic;
				color: black;
			}
			&:-moz-placeholder {}
		}
		textarea {
			height: 64px;
			resize: none;
		}
	}
}
.subtitle {
	font-family: @FedraSerifBook;
	font-size: 24px;
	font-style: italic;

	margin-top: 0;
}
.teaser {
	font-family: @FedraSansAlt;
	font-size: 14px;
	&.largest {
		position: relative;
		left: -40%;
		width: 800px;
		font-family: @FedraSansCondensedLight;
		font-size: 64px;
	}
	&.static {
		position: static;
	}
	&.left {
		text-align: left;
		max-width: 300px;
		margin: 0 auto 0 0;
	}
	&.right {
		text-align: right;
		max-width: 420px;
		margin: 0 0 0 auto;
	}
	&.serif {
		font-family: @FedraSerifBook;
		font-size: 21px;
		font-style: italic;
	}
}


//
.row {
	&.content-area {
//		display: block;
//		text-indent: -9999px;
//		width: 1920px;
//		height: 1200px;
//		background: url('../img/big/main_first_opt.svg') no-repeat;
//		background-size: contain;
		&.index {
			img {

			}
		}
	}
	&.top {
		font-family: @FedraSerifBook;
		font-style: italic;
		font-size: 12px;
		text-align: center;

		padding-top: 32px;

        .quart {
			float: left;
			line-height: 95px;
			a {
			  color: black;
			}
			&.phone {
			//              background: rgba(255, 215, 108, 0.5);
			}
			&.lang-switch {
			//            background: rgba(0,0,0,0.5);
			span {
			  &:first-of-type {
				color: rgba(160, 162, 164, 1);
				&:after {
				  content: '/';
				  padding-left: 5px;
				  color: black;
				}
			  }
			}
			}
			&.logotype {
				img {margin: -10px 0 0 14px}
			}
			&.cabinet { // text-overflow ellipsis
			  margin-left: 25px;
			  overflow-x: hidden;
			  white-space: nowrap;
			  text-overflow: ellipsis;
			  a {

			  }
			}
			&.cart {

          }
        }

	}
	&.logotype-mobile {
		text-align: center;
	}
	&.menu {
		.navbar-header {
			text-align: center;
			.navbar-toggle {
				background: none;
				border: none;
				float: none;
				&.down {
					.arrows-sprite {
						width: 16px;
						height: 20px;
						background: url('../img/icons/arrows.png') no-repeat;
						display: block;
					}
				}
				.arrows-sprite {
					width: 16px;
					height: 20px;
					background: url('../img/icons/arrows.png') no-repeat;
					display: block;
					background-position: -17px 0;
				}
			}
		}
		.container {
			padding: 0;

			.navbar-default {
				background: none;
				border: none;
				min-height: inherit;
				margin-bottom: 0;
                .navbar-collapse {padding: 0;}
				ul {
					margin: 9px 0 0 0; //padding: 0 15px;
					padding: 0 32px;
					li {
                        width: auto;
						text-align: center;
						a {
							font-family: @FedraSansCondensedBook;
							font-size: 18px;
							color: black;
							text-transform: uppercase;

							padding-left: 0;
//							padding-right: 64.5px;
							padding-right: 62.5px;
//                            &:last-of-type {
//                                padding-right: 0;
//                            }
							&:hover {
								background: none;
                                color: rgb(159, 161, 163);
							}
                            &.active {
                                color: rgb(159, 161, 163);
                            }
						}
                        &:last-of-type a {
                          padding-right: 0;
                        }
					}
				}
			}
		}
	}
	&.content-area {
		.container {
			position: relative;
			top: 0; left: 0;
			h1.motd {
				position: absolute;
				font-family: @FedraSansCondensedLight;
				font-size: 72px;
				color: white;
			}
			img {}
		}
	}
	&.order-history { // история заказов
		.float-menu {
//			position: absolute;
//			top: 20%; left: 64px;
//			padding: 0; margin: 0;
			li {
				list-style: none;
				&.heading {
					font-family: @FedraSerifBook;
					font-size: 12px;
					font-style: italic;
					color: black;
				}
				a {
					font-family: @FedraSansAlt;
					font-size: 12px;
					color: black;
				}
			}
		}
		.history-items {
			margin-left: 286px;
//			h2 {
//				font-family: @FedraSansCondensedLight;
//				font-size: 64px;
//				text-transform: uppercase;
//				color: black;
//			}
			.item {
				width: 160px;
				float: left;
//				margin-left: 32px;
				margin-right: 32px;
				&:first-of-type {margin-left: 0;} // remove margin for fist item
				.cap {
					font-family: @FedraSansAlt;
					font-weight: 100;
					font-size: 12px;
					color: rgb(128, 128, 128);
					.articul {
						float: left;
						width: 50%;
					}
					.date {
						float: left;
						width: 50%;

						text-align: right;
					}

				}
				img {
//					width: 100%;
					width: auto;
					margin-top: 11px;

				}
				.color-sizes {
					margin-top: 23px;
					margin-bottom: 20px;
					span {
						width: 32px;
						height: 32px;
						display: inline-block;
						vertical-align: top;

						line-height: 32px;
						text-align: center;

						margin: 0 0 0 12px;
						&:first-of-type {
							margin: 0;
						}
					}
					.brown {
						background: rgb(179, 161, 139);
					}
					.size {
						width: 31px;
						height: 31px;

						border: 1px solid black;
						background: rgb(255, 255, 255);

					}
					.amount {

					}
				}
				.brand {
					font-family: @FedraSansAlt;
					font-weight: 100;
					font-size: 12px;
					color: black;

					p {margin: 0;}
				}
				.price {
					font-family: @FedraSansAlt;
					font-size: 24px;
					color: black;

					margin-bottom: 6px;
					.valute {

					}
				}
				.status {
					font-family: @FedraSansAlt;
					font-size: 14px;
					color: rgb(25, 24, 24);

					p {
						padding-top: 2px;
						line-height: 25px;
					}
				}
			}
		}
	}
	&.item-wall { // jquery shapeshift
		.shapeshift-container {
			position: relative;
			width: 100%;
		}
		div {

			& > div {
				box-shadow: inset 0 0 15px black;
			}
			position: absolute;
			&[data-ss-colspan="1"] {
				width: 480px;
				height: 720px;
			}
			&[data-ss-colspan="1"] {

			}
			&[data-ss-colspan="3"] {
				width: 960px;
				height: 720px;
			}
		}

		.mosaicflow__column { // jquery.mosaicflow
			float:left;
		}
		.mosaicflow__item img {
			display:block;
			width:100%;
			height:auto;
		}
	}
	&.contact-info {
		.container {
			padding: 0 32px;
		}
		.info {
			padding: 0;
			margin-top: 25px;

			font-family: @FedraSansAlt;
			font-size: 10px;
			line-height: 15px;

			p {
				margin-bottom: 28px;
			}
			a {
				font-family: @FedraSerifBook;
				font-size: 12px;
				font-style: italic;
				color: black;
				line-height: 25px;

				display: block;
			}
		}
		.bottom-menu {
			padding: 0;
			margin-top: 21px;
			ul {
				padding: 0;
				margin-left: 15px;
				li {
					list-style: none;
					line-height: 22px;
					a {
						font-family: @FedraSerifBook;
						font-size: 12px;
						font-style: italic;
						color: black;
					}
				}
			}
		}
		.bottom-form {
			padding: 0;
			margin-top: 19px;
			margin-left: 15px;

			width: 30.33333333333333%;
			.form-group {
				margin-bottom: 39px;
			}
			form {
				.has-feedback .form-control-feedback {
					top: 3.5px;
					right: 13px;

					line-height: 14px;
				}
				input {
					border-top: none;
					border-left: none;
					border-right: none;
					border-bottom: 1px solid black;
					border-radius: 0;

					box-shadow: none;

					font-size: 12px;

					padding: 0;

					&::-webkit-input-placeholder {
						font-family: @FedraSerifBook;
						font-size: 12px;
						font-style: italic;
						color: black;
					}
					&:-moz-placeholder {}
				}
			}
		}
		.payment {
			padding: 0;
			margin-top: 18px;
			margin-left: 30px;

			width: auto;
			span {
				background: url('../img/icons/payment-sprite_.svg') no-repeat;

				float: left;
				width: 64px;
				height: 32px;

			}
			.visa {}
			.master {background-position: -64px 0; margin-left: 16px;}
			.paypal {background-position: -128px 0; margin-left: 14px;}
		}
	}
	&.personal-info {
		form {
			margin-left: 15px;
		}
	}
	&.journal {
		.col-md-3 {
			img {
				margin-bottom: 15px;
			}
		}
		.col-md-5 {
			.share {
				span {
					position: relative;
					width: 128px;
					height: 96px;
					display: block;
					background: rgba(0, 0, 0, 0.5);
					&.pinterest {
						background: rgb(99,11,40);
						background: -moz-linear-gradient(left,  rgba(99,11,40,1) 0%, rgba(128,2,42,1) 100%);
						background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(99,11,40,1)), color-stop(100%,rgba(128,2,42,1)));
						background: -webkit-linear-gradient(left,  rgba(99,11,40,1) 0%,rgba(128,2,42,1) 100%);
						background: -o-linear-gradient(left,  rgba(99,11,40,1) 0%,rgba(128,2,42,1) 100%);
						background: -ms-linear-gradient(left,  rgba(99,11,40,1) 0%,rgba(128,2,42,1) 100%);
						background: linear-gradient(to right,  rgba(99,11,40,1) 0%,rgba(128,2,42,1) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#630b28', endColorstr='#80022a',GradientType=1 );

						i {
							background: url('../img/icons/pinterestw-share-icon.svg') no-repeat;

							width: 14px;
							height: 18px;
							display: block;

							position: absolute;
							left: ~"calc(50% - 7.5px)";
							top: ~"calc(50% - 9px)";

							&:hover {
								background: url('../img/icons/pinterestw-share-icon.svg') no-repeat;
							}
						}
					}
					&.facebook {
						background: -moz-linear-gradient(left,  rgba(0,0,0,0.3) 0%, rgba(57,91,128,1) 100%);
						background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(57,91,128,1)));
						background: -webkit-linear-gradient(left,  rgba(0,0,0,0.3) 0%,rgba(57,91,128,1) 100%);
						background: -o-linear-gradient(left,  rgba(0,0,0,0.3) 0%,rgba(57,91,128,1) 100%);
						background: -ms-linear-gradient(left,  rgba(0,0,0,0.3) 0%,rgba(57,91,128,1) 100%);
						background: linear-gradient(to right,  rgba(0,0,0,0.3) 0%,rgba(57,91,128,1) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#395b80',GradientType=1 );

						i {
							background: url('../img/icons/facebookw-share-icon.svg') no-repeat;

							width: 7px;
							height: 15px;
							display: block;

							position: absolute;
							left: ~"calc(50% - 3.5px)";
							top: ~"calc(50% - 7.5px)";

							&:hover {
								background: url('../img/icons/facebookw-share-icon.svg') no-repeat;
							}
						}
					}
					&.twitter {
						background: rgb(58,99,134);
						background: -moz-linear-gradient(left,  rgba(58,99,134,1) 0%, rgba(73,127,176,1) 100%);
						background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(58,99,134,1)), color-stop(100%,rgba(73,127,176,1)));
						background: -webkit-linear-gradient(left,  rgba(58,99,134,1) 0%,rgba(73,127,176,1) 100%);
						background: -o-linear-gradient(left,  rgba(58,99,134,1) 0%,rgba(73,127,176,1) 100%);
						background: -ms-linear-gradient(left,  rgba(58,99,134,1) 0%,rgba(73,127,176,1) 100%);
						background: linear-gradient(to right,  rgba(58,99,134,1) 0%,rgba(73,127,176,1) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a6386', endColorstr='#497fb0',GradientType=1 );

						i {
							background: url('../img/icons/twitter-share-icon.svg') no-repeat;

							width: 20px;
							height: 14px;
							display: block;

							position: absolute;
							left: ~"calc(50% - 10px)";
							top: ~"calc(50% - 7px)";

							&:hover {
								background: url('../img/icons/twitterw-share-icon.svg') no-repeat;
							}
						}
					}

					&.instagramm {
						background: rgb(60,83,105);
						background: -moz-linear-gradient(left,  rgba(60,83,105,1) 0%, rgba(71,103,136,1) 100%);
						background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(60,83,105,1)), color-stop(100%,rgba(71,103,136,1)));
						background: -webkit-linear-gradient(left,  rgba(60,83,105,1) 0%,rgba(71,103,136,1) 100%);
						background: -o-linear-gradient(left,  rgba(60,83,105,1) 0%,rgba(71,103,136,1) 100%);
						background: -ms-linear-gradient(left,  rgba(60,83,105,1) 0%,rgba(71,103,136,1) 100%);
						background: linear-gradient(to right,  rgba(60,83,105,1) 0%,rgba(71,103,136,1) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c5369', endColorstr='#476788',GradientType=1 );

						i {
							background: url('../img/icons/instagramm-share-icon.svg') no-repeat;

							width: 15px;
							height: 15px;
							display: block;

							position: absolute;
							left: ~"calc(50% - 7.5px)";
							top: ~"calc(50% - 7.5px)";

							&:hover {
								background: url('../img/icons/instagrammw-share-icon.svg') no-repeat;
							}
						}
					}

					&.gplus {
						background: rgb(60,83,105);
						background: -moz-linear-gradient(left,  rgba(60,83,105,1) 0%, rgba(130,65,57,1) 0%, rgba(170,78,66,1) 100%);
						background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(60,83,105,1)), color-stop(0%,rgba(130,65,57,1)), color-stop(100%,rgba(170,78,66,1)));
						background: -webkit-linear-gradient(left,  rgba(60,83,105,1) 0%,rgba(130,65,57,1) 0%,rgba(170,78,66,1) 100%);
						background: -o-linear-gradient(left,  rgba(60,83,105,1) 0%,rgba(130,65,57,1) 0%,rgba(170,78,66,1) 100%);
						background: -ms-linear-gradient(left,  rgba(60,83,105,1) 0%,rgba(130,65,57,1) 0%,rgba(170,78,66,1) 100%);
						background: linear-gradient(to right,  rgba(60,83,105,1) 0%,rgba(130,65,57,1) 0%,rgba(170,78,66,1) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c5369', endColorstr='#aa4e42',GradientType=1 );

						i {
							background: url('../img/icons/gplus-share-icon.svg') no-repeat;

							width: 22px;
							height: 19px;
							display: block;

							position: absolute;
							left: ~"calc(50% - 11px)";
							top: ~"calc(50% - 9.5px)";

							&:hover {
								background: url('../img/icons/gplusw-share-icon.svg') no-repeat;
							}
						}
					}

					&.tumblr {
						background: rgb(60,83,105);
						background: -moz-linear-gradient(left,  rgba(60,83,105,1) 0%, rgba(55,61,75,1) 0%, rgba(62,71,92,1) 100%);
						background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(60,83,105,1)), color-stop(0%,rgba(55,61,75,1)), color-stop(100%,rgba(62,71,92,1)));
						background: -webkit-linear-gradient(left,  rgba(60,83,105,1) 0%,rgba(55,61,75,1) 0%,rgba(62,71,92,1) 100%);
						background: -o-linear-gradient(left,  rgba(60,83,105,1) 0%,rgba(55,61,75,1) 0%,rgba(62,71,92,1) 100%);
						background: -ms-linear-gradient(left,  rgba(60,83,105,1) 0%,rgba(55,61,75,1) 0%,rgba(62,71,92,1) 100%);
						background: linear-gradient(to right,  rgba(60,83,105,1) 0%,rgba(55,61,75,1) 0%,rgba(62,71,92,1) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c5369', endColorstr='#3e475c',GradientType=1 );

						i {
							background: url('../img/icons/tumblr-share-icon.svg') no-repeat;

							width: 9px;
							height: 15px;
							display: block;

							position: absolute;
							left: ~"calc(50% - 4.5px)";
							top: ~"calc(50% - 7.5px)";

							&:hover {
								background: url('../img/icons/tumblrw-share-icon.svg') no-repeat;
							}
						}
					}

					&.vk {
						background: rgb(60,83,105);
						background: -moz-linear-gradient(left,  rgba(60,83,105,1) 0%, rgba(72,84,98,1) 0%, rgba(86,106,126,1) 100%);
						background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(60,83,105,1)), color-stop(0%,rgba(72,84,98,1)), color-stop(100%,rgba(86,106,126,1)));
						background: -webkit-linear-gradient(left,  rgba(60,83,105,1) 0%,rgba(72,84,98,1) 0%,rgba(86,106,126,1) 100%);
						background: -o-linear-gradient(left,  rgba(60,83,105,1) 0%,rgba(72,84,98,1) 0%,rgba(86,106,126,1) 100%);
						background: -ms-linear-gradient(left,  rgba(60,83,105,1) 0%,rgba(72,84,98,1) 0%,rgba(86,106,126,1) 100%);
						background: linear-gradient(to right,  rgba(60,83,105,1) 0%,rgba(72,84,98,1) 0%,rgba(86,106,126,1) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c5369', endColorstr='#566a7e',GradientType=1 );

						i {
							background: url('../img/icons/vk-share-icon.svg') no-repeat;

							width: 19px;
							height: 10px;
							display: block;

							color: white;

							position: absolute;
							left: ~"calc(50% - 8.5px)";
							top: ~"calc(50% - 5px)";

							&:hover {
								background: url('../img/icons/vkw-share-icon.svg') no-repeat;
							}
						}
					}
				}
			}
		}
	}
	&.journal-second {
		position: relative;
		.container {
			padding: 0 80px;
		}
		.teaser:not(.largest) {
			max-width: 440px;
		}
		.largest.static {
			max-width: 640px;
			margin: 0 auto;
		}
		.card {
			text-align: center;
		}
	}
	&.journal-third {
		.container {
			padding: 0 80px;
			.largest.static {
				max-width: 640px;
				margin: 0 auto;
			}
		}
	}
	&.cart {
		.item {
			&:nth-child(3n+4) {
				margin-left: 0;
			}
			width: 160px;
			float: left;
			margin-left: 32px;
			&:first-of-type {margin-left: 0;} // remove margin for fist item
			.cap {
				font-family: @FedraSansAlt;
				font-weight: 100;
				font-size: 12px;
				color: rgb(128, 128, 128);
				.articul {
					float: left;
					width: 50%;
				}
				.date {
					float: left;
					width: 50%;

					text-align: right;
				}

			}
			img {
				width: 100%;
			}
			.color-sizes {
				margin-top: 20px;
				margin-bottom: 20px;
				span {
					width: 32px;
					height: 32px;
					display: inline-block;
					vertical-align: top;

					line-height: 32px;
					text-align: center;
				}
				.brown {
					background: rgb(179, 161, 139);
				}
				.size {
					width: 31px;
					height: 31px;

					border: 1px solid black;
					background: rgb(255, 255, 255);

				}
				.amount {

				}
			}
			.brand {
				font-family: @FedraSansAlt;
				font-weight: 100;
				font-size: 12px;
				color: black;
			}
			.price {
				font-family: @FedraSansAlt;
				font-size: 24px;
				color: black;

				margin-bottom: 6px;
				.valute {

				}
			}
			.change {
				font-family: @FedraSerifBook;
				font-size: 12px;
				font-style: italic;
				color: black;
				span {
					&:first-of-type {
						&:after {
							content: '/';
							padding-left: 5px;
							color: black;
						}
					}
				}
			}
		}
	}
	.cart-total {
		margin-left: 28%;
		.heading {
			font-family: @FedraSansAlt;
			font-size: 12px;
			color: rgb(128, 128, 128);

			display: block;
		}
		.total {
			font-family: @FedraSansCondensedLight;
			font-size: 64px;
			text-transform: uppercase;

			display: block;
		}
	}
}
#footer {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: @black;
	height: 35px;

	font-family: @FedraSansAlt;
	font-size: 10px;
	color: white;
	.container {
		padding: 0 32px;
	}
	.brand,
	.social,
	.copyright {
		padding: 0;
		line-height: 35px;
		p {
			margin: 0;
		}
	}
	.social {
		.icons {
			width: 160px;
			height: 32px;
			margin: 0 auto 0 95px;
		}
		.icons a {
			width: 32px;
			height: 32px;

			float: left;
			display: inline-block;
			//			padding: 4px 0 4px 25px;
			//			margin-right: 5px;
			text-decoration: none;
			//			color: #444;
			text-indent: -9999px;

			/* вызов спрайта и задание размеров */
			background-image: url('../img/icons/social-normal.svg');
			background-repeat: no-repeat;
			//			background-size: contain;
		}
		.icons .instagramm {background-position: 0 -32px;}
		.icons .facebook {background-position: -32px -32px;}
		.icons .twitter {background-position: -64px -32px;}
		.icons .pinterest {background-position: -96px -32px;}
		.icons .vkontakte {background-position: -128px -32px;}

		.icons .instagramm.checked {background-position: 0 0;}
		.icons .facebook {}
		.icons .twitter {}
		.icons .pinterest.checked {background-position: -96px 0;}
		.icons .vkontakte {}
	}
	.copyright {
		text-align: right;
	}
}
// desktop 1920
@media @_1920 {
	.row {
		&.item {
			.big {
				position: relative;
//				width: 50%;
//				position: relative;
//				left: 0; top: 0;
				.item-scroller {
					position: absolute;
					top: 0;
					right: 0;
				}
				img {

				}
				ul {
					float: right;
					margin: 0; padding: 0;
					min-height: 160px;
					li {
						list-style: none;

						float: left;
						a {
							img {

							}
						}
					}
				}
			}

			.description {

			}
			.constructor {
				.top { // articul & breadcrubms
					ol {
						background: none;

						padding: 0;
						width: 50%;
						float: left;
						li {
							&:before {
								color: black;

								padding: 0;
							}
							a {
								font-family: @FedraSansAlt;
								font-size: 12px;
								color: black;
							}
						}
					}
					.articul {
//						font-family: @CondensedBook;
						font-size: 12px;
						color: rgb(128, 128, 128);
						text-align: right;

						width: 50%;
						float: left;
					}
				}
				.price-size-color {
					clear: left;
					.price {
						font-family: @FedraSansCondensedLight;
						font-size: 64px;
						color: black;
					}
					.sizes {
						height: 32px;

						margin: 0;
						padding: 0;
						li {
							list-style: none;

							width: 32px;
							height: 32px;
							float: left;
							vertical-align: top;
							line-height: 32px;
							text-align: center;

							&.sel {
								border: 1px solid rgb(79, 79, 79);
							}
						}
					}
					.colors {
						height: 32px;

						margin: 15px 0 0 0;
						padding: 0;

						clear: both;
						li {
							list-style: none;

							width: 32px;
							height: 32px;
							float: left;
							vertical-align: top;
							line-height: 32px;
							text-align: center;

							&.creme {
								background: rgb(179, 161, 139);
							}
							&.brown {
								background: rgb(128, 100, 78);
							}
						}
					}
					.controls {
						clear: both;

						margin: 30px 0 0 0;
						button {
							&.simple-black {
								background: black;
								font-family: @FedraSansAlt;
								font-size: 14px;
								color: white;
								border-radius: 0;

								width: 144px;
								height: 32px;
							}
						}
					}
				}
			}
			.share {

			}
		}
		&.contacts {
			.map-area {
				position: relative;
				img {
					display: block;
					margin: 85px auto 15px auto;
				}
				a.google-map {
					font-family: @FedraSansAlt;
					font-size: 14px;
					color: black;

					margin-top: 20px;
					margin-left: 270px;
				}
				ul {
					&.left {
						position: absolute;
						top: -50px;
						left: 0;
						margin: 0; padding: 0;
						li {
							list-style: none;
							a {
								font-family: @FedraSansCondensedLight;
								font-size: 64px;
								color: black;
								text-transform: uppercase;
							}
						}
					}
					&.right {
						position: absolute;
						top: 15%;
						right: 5%;
						margin: 0; padding: 0;
						li {
							list-style: none;
							&.heading {
								font-family: @FedraSerifBook;
								font-size: 21px;
								font-style: italic;
								color: black;
							}
							&.pad {
								margin-bottom: 15px;
							}
							font-family: @FedraSansAlt;
							font-size: 14px;
							color: black;
						}
					}
				}
			}
			.callback {
				h3 {
					font-family: @FedraSerifBook;
					font-size: 21px;
					font-style: italic;
					color: black;
				}
				a {
					font-family: @FedraSansAlt;
					font-size: 14px;
					color: black;
					text-decoration: none;
				}
				p {
					font-family: @FedraSansAlt;
					font-size: 14px;
					color: black;
					text-decoration: none;
				}
			}
		}
	}
}

// desktop 1024 to 1920
@media @_1024to_1920 {
	// some defaults (width height and rest box styles)
	.bottom-form {
		padding: 0;
		margin-top: 19px;
		margin-left: 15px;

		width: 30.33333333333333%;
		.form-group {
			margin-bottom: 39px;
		}
		form {
			.has-feedback .form-control-feedback {
				top: 3.5px;
				right: 30px;

				width: 14px;
				height: 14px;
			}
			input {
				width: 288px;
				height: 25px;
			}
		}
	}
	form {
		.form-group {
			margin-bottom: 39px;
			.has-feedback .form-control-feedback {
				top: 3.5px;
				right: 30px;

				width: 14px;
				height: 14px;
			}
			input,
			textarea {
				width: 288px;
				height: 25px;
			}
			textarea {
				height: 64px;
				resize: none;
			}
		}
	}
	//
	.container {
		width: 1024px;
		padding: 0;
	}
    .top {
      .quart {
        width: 20%;
        &.phone {

        }
        &.lang-switch {
          width: 19%;
        }
        &.logotype {}
        &.cabinet { // text-overflow ellipsis
          width: 15%;
        }
        &.cart {
          width: 21%;
          //              background: rgba(0,0,0,0.8);
        }
      }

    }
	.top {
		.col-md-2 {
			// width: ~"calc(192px - 30px)";
			width: 204px;
//			line-height: 92px;
            line-height: 95px;
			margin: 0; padding: 0;
		}
	}
	.contact-info {
		min-height: 160px;
	}

	.item {
		.big {
			position: relative;
			//				width: 50%;
			//				position: relative;
			//				left: 0; top: 0;
			.item-scroller {
				position: absolute;
				top: 0;
				right: 0;
			}
			img {
				width: 511px;
			}
			ul {
				float: right;
				margin: 0; padding: 0;
				min-height: 160px;
				li {
					list-style: none;

					float: left;
					img {width: inherit}
					a {
						img {

						}
					}
				}
			}
		}

		.description {

		}
		.constructor {
			.top { // articul & breadcrubms
				ol {
					background: none;

					padding: 0;
					width: 50%;
					float: left;
					li {
						&:before {
							color: black;

							padding: 0;
						}
						a {
							font-family: @FedraSansAlt;
							font-size: 12px;
							color: black;
						}
					}
				}
				.articul {
					//						font-family: @CondensedBook;
					font-size: 12px;
					color: rgb(128, 128, 128);
					text-align: right;

					width: 50%;
					float: left;
				}
			}
			.price-size-color {
				clear: left;
				.price {
					font-family: @FedraSansCondensedLight;
					font-size: 64px;
					color: black;
				}
				.sizes {
					height: 32px;

					margin: 0;
					padding: 0;
					li {
						list-style: none;

						width: 32px;
						height: 32px;
						float: left;
						vertical-align: top;
						line-height: 32px;
						text-align: center;

						&.sel {
							border: 1px solid rgb(79, 79, 79);
						}
					}
				}
				.colors {
					height: 32px;

					margin: 15px 0 0 0;
					padding: 0;

					clear: both;
					li {
						list-style: none;

						width: 32px;
						height: 32px;
						float: left;
						vertical-align: top;
						line-height: 32px;
						text-align: center;

						&.creme {
							background: rgb(179, 161, 139);
						}
						&.brown {
							background: rgb(128, 100, 78);
						}
					}
				}
				.controls {
					clear: both;

					margin: 30px 0 0 0;
					button {
						&.simple-black {
							background: black;
							font-family: @FedraSansAlt;
							font-size: 14px;
							color: white;
							border-radius: 0;

							width: 144px;
							height: 32px;
						}
					}
				}
			}
		}
		.share {

		}
	}
	.contacts {
		.map-area {
			position: relative;
			img {
				display: block;
				margin: 85px auto 15px auto;
			}
			a.google-map {
				font-family: @FedraSansAlt;
				font-size: 14px;
				color: black;

				margin-top: 20px;
				margin-left: 270px;
			}
			ul {
				&.left {
					position: absolute;
					top: -50px;
					left: 0;
					margin: 0; padding: 0;
					li {
						list-style: none;
						a {
							font-family: @FedraSansCondensedLight;
							font-size: 64px;
							color: black;
							text-transform: uppercase;
						}
					}
				}
				&.right {
					position: absolute;
					top: 15%;
					right: 5%;
					margin: 0; padding: 0;
					li {
						list-style: none;
						&.heading {
							font-family: @FedraSerifBook;
							font-size: 21px;
							font-style: italic;
							color: black;
						}
						&.pad {
							margin-bottom: 15px;
						}
						font-family: @FedraSansAlt;
						font-size: 14px;
						color: black;
					}
				}
			}
		}
		.callback {
			h3 {
				font-family: @FedraSerifBook;
				font-size: 21px;
				font-style: italic;
				color: black;
			}
			a {
				font-family: @FedraSansAlt;
				font-size: 14px;
				color: black;
				text-decoration: none;
			}
			p {
				font-family: @FedraSansAlt;
				font-size: 14px;
				color: black;
				text-decoration: none;
			}
		}
	}
}

// mobile
@media @_340to_640 {
	body.index-mobile-details {
		margin-bottom: 125px;
	}
    #sub {display: none;}

	.container-fluid {padding: 0;}
	.container-fluid.background {
		h1.motd {
			position: static !important;
		}
		overflow-x: hidden;
		background-image: url('../img/big/first.svg');
		background-repeat: no-repeat;
		background-size: auto 416px;
		height: 416px;
		min-width: 100%;
		background-position: -100px !important;
		margin: 0;
	}
    .row {
		margin: 0;
        &.top {
	  		padding-top: 22px;
			.container {
				padding-left: 0; padding-right: 0;
				a {
					color: black;
				}
				.phone {
					text-align: left;
					padding-left: 0;
					margin-bottom: 15px;
				}
				.cabinet {
					text-align: left;
					padding-left: 0;
				}
				.lang-switch {
					text-align: right;
					padding-right: 0;
					margin-bottom: 15px;
				}
				.cart {
					text-align: right;
					padding-right: 0;
				}
			}
          	.quart {
              line-height: inherit;
              margin: 16px 0;
            &.phone {
                text-align: left;
            }
            &.cabinet {
                text-align: left;
                margin-left: 0;
            }

            &.lang-switch {
                text-align: right;
            }
            &.cart {
                text-align: right;
            }
          }

        }
		&.contact-info {
			.bottom-form {
				width: 100%;
				margin-left: 0;
			}
			.payment {
				margin-left: 0;
				width: 100%;
				span {
					margin: 0 8%;
				}
			}
		}

		&.content-area.index {
			overflow-x: hidden;
			img { // shit or not a shit, what is the question
				display: none;
			}
		}
		&.menu {
			.navbar-toggle {
				margin-right: 0;
			}
			.navbar-collapse {
				max-height: inherit;
				background: black;
				ul {
					li {
						background: none;
						a {
							background: none;
							color: white !important;
							padding-right: 0 !important;
						}
					}
				}

			}
		}
		&.order-history {
			.float-menu {
				position: static;
			}
			.history-items {
				margin-left: 0;
				h2 {
					font-size: 46px;
				}
				.item {
					img {
						width: auto;
					}
					float: none;
//					width: 100%;
					margin-left: 0;
				}
			}
		}
    } // top of top

	.logotype-mobile {
		margin-top: 12px;
	}

	#footer {
		height: auto;
//		position: static;
		.brand, .copyright {
			text-align: center;
		}
		.brand,
		.copyright,
		.social {
			line-height: 32px;
		}
	}
}