@_1920: ~"screen and (min-width: 1920px)";
@_1024to_1920: ~"screen and (min-width : 1024px) and (max-width: 1920px)";
@_340to_640: ~"screen and (min-width : 320px) and (max-width: 640px)";
// leform vars
// colors
@red: 					  ~"rgba(244, 96, 95, 1)";
@blue: 					  ~"rgba(97, 84, 255, 1)";
@black: 				  ~"rgba(18, 18, 18, 1)";
@gray: 					  ~"rgba(109, 109, 109)";
@lightgray: 			  ~"rgba(142, 144, 146, 1)";
@white: 				  ~"rgba(255, 255, 255, 1)";

// font: font-style font-variant font-weight font-size/line-height font-family;
@FedraSerifBook: 		  "Fedra Serif B Book"; // BBook
@FedraSansAlt: 			  "Fedra Sans Alt Demi 11";
@FedraSansCondensedLight: "Fedra Sans Condensed Light 11"; // CondensedLight
@FedraSansCondensedBook:  "Fedra Sans Condensed Book";