@arial:  Arial, sans-serif;
// For mobile:
@mobile: ~"screen and (min-width : 480px)";
// For iphone:
@iphoneLandscape: ~"only screen and (min-device-width : 320px) and (max-device-width: 480px) and (orientation: landscape)";
@iphonePortrait: ~"only screen and (min-device-width : 320px) and (max-device-width: 480px) and (orientation: portrait)";
//@iph ~"only screen and (min-device-width : 320px) and (max-device-width : 480px)";
//* For ipad:
@ipad: ~"screen and (min-width : 760px) and (max-width: 1024px) and (orientation:landscape)";
@ipadPortrait: ~"screen and (min-width : 760px) and (max-width: 1024px) and (orientation:portrait)";
@ipadLandscape: ~"screen and (min-width : 760px) and (max-width: 1024px) and (orientation:landscape)";
//
