/* Footer styles
 *
 */

.footer-content {
  position: relative;
  max-width: 1280px;
  min-width: 1000px;
  margin: 0 auto;
  padding-left: 65px;
  line-height: 93px;
  text-align: center;
}

.footer-copy {
  float: left;
}

.footer-link {
  margin: 0 22px;
  color: #979491;
}