html,
body {
    height: 100%;
    margin: 0;
}
@media all and (min-width: 320px) {
   body {
        overflow-x: hidden;
   }
}
html {
    position: relative;
    display: block;
    min-width: 1280px;
    margin: 0 auto;
    zoom: 1;
}
body {
    width: 100%;
    font: 16px/18px 'NeoSansPro-Regular', sans-serif;
    color: #b3c4c6;
}
/*Common Start*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body,
button,
input,
select {
    text-rendering: optimizeLegibility;
}
a {
    color: #71a0a1;
    text-decoration: none;
    outline: none;
}
a:hover {
    color: #D1D9DA;
}
a:focus {
    outline: none;
}
h1 {
    font-size: 35px;
    line-height: 37px;
    font-weight: 400;
}
h2 {
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    color: #a6bec0;
}
ul {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
button {
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}
button:focus {
    outline: none;
}
input {
    font-family: 'NeoSansPro-Light', sans-serif;
}
input,
input:focus {
    outline: none;
}
.border-right {
    border-right: 1px solid #364A51;
}
.no-right-padding {
    padding-right: 0 !important;
}
.dark-link {
    color: #071f23;
    border-bottom-color: #071f23;
}
.dark-link:hover {
    border-bottom-color: #D1D9DA;
}
.light-link {
    color: #b3c4c6;
    border-bottom-color: #b3c4c6;
}
.light-link:hover {
    border-bottom-color: #D1D9DA;
}
.decorated-link {
    border-width: 1px;
    border-style: dashed;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}
.btn-pink {
    color: #fff;
    background-color: #f15158;
    border-color: #f15158;
}
.no-float {
    float: none !important;
}
.light-family {
    font-family: 'NeoSansPro-Light', sans-serif;
}
.container {
    position: relative;
    z-index: 1000;
}

/* Input group
---------------------------------------------- */
.row-column {
    margin: 0 -15px;
}

.row-column:after {
    display: table;
    content: '';
    clear: both;
}

.input-group {
    position: relative;
}

.input-group.two-column {
    width: 50%;
    float: left;
    padding: 0 15px
}

.input-group label {
    display: block;
    color: #729fa2;
    font-size: 24px;
    text-align: left;
    line-height: normal;
    margin: 15px 0 10px;
}

.input-group:after {
    display: table;
    content: '';
    clear: both;
}

.input-group input {
    float: left;
    width: 100%;
}

/*Common End*/
/*Parts Start*/
.page-wrapper {
    position: relative;
    top: 0;
    min-height: 100%;
    margin-bottom: -110px;
    overflow-x: hidden !important;
}
.page-wrapper:after {
    content: "";
    display: block;
}
.site-footer,
.page-wrapper:after {
    height: 110px;
}
.page-content,
.footer-content {
    position: relative;
    margin: 0 auto;
}
.site-footer {
    color: #979491;
    background: #3a3939;
}

/*Main Screen Start*/
.main-screen-wrapper {
    position: relative;
    // max-width: 1280px;
    // min-width: 1000px;
    // height: 558px;

    width: 100%;
    // padding-left: 63px;
}
.main-screen-wrapper:after {
    content: '';
    position: absolute;
    top: -50px;
    right: -117px;
    width: 795px;
    // height: 814px;
    background: image-url('main-screen-bg-full-combined.png') 0 0 no-repeat;
    z-index: -1;
}
.main-screen-wrapper:before {
    content: '';
    position: absolute;
    left: -100%;
    width: 300%;
    // height: 814px;
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,.6), rgba(0,0,0,0));
    background: -webkit-gradient(linear, left bottom, right top, rgba(0,0,0,.6), rgba(0,0,0,0));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,.6), rgba(0,0,0,0));
    background: -ms-linear-gradient(bottom, rgba(0,0,0,.6), rgba(0,0,0,0));
    background: -o-linear-gradient(bottom, rgba(0,0,0,.6), rgba(0,0,0,0));
    background: linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,0));
    z-index: -1;
}
    .main-screen-container {
        position: relative;
        width: 1160px;
        margin: 0 auto;
    }
        .main-screen-left {
            // display: table-cell;
            min-height: 558px;
            vertical-align: middle;
        }
            .main-screen-logo {
                margin-bottom: 27px;
            }
            .main-screen-title {
                padding-bottom: 30px;
            }
            .main-screen-subtitle {
                line-height: 30px;
                font-family: 'NeoSansPro-Light', sans-serif;
            }
            .main-screen-subtitle:hover {
                color: #ACBCBF;
            }
                .main-screen-subtitle:hover .dark-link {
                    color: #D1D9DA;
                    border-bottom-color: #D1D9DA;
                }

/*Main Screen End*/
/*Find Employee Screen Start*/
.find-screen-wrapper {
    position: relative;
    width: 100%;
    background-color: #fff;
}
    .anchor {
        position: absolute;
        bottom: 54px;
    }
.find-screen-wrapper-pink {
    background-color: #f15158
;
}
.find-screen-wrapper-pistache {
    background-color: #d9f1a0;
}
.find-screen-wrapper-standart {
    background-color: #264950;
}
.find-screen-wrapper-white {
    background-color: #fff;
    padding: 70px 0;
}
.find-screen-wrapper-gray {
    background-color: #686765;
}
    .find-screen-container {
        max-width: 1280px;
        min-width: 1000px;
        margin: 0 auto;
        padding: 55px 0;
        text-align: center;
    }

    .find-screen-container.offset-bottom {
        padding-bottom: 0
    }

    .find-screen-wrapper-pistache .find-screen-container {
        padding: 55px 140px 55px 0;
        background: image-url('person-man.png') no-repeat 92% center;
    }

    .find-screen-wrapper .find-screen-container .responses {
        width: 100%;
        margin: 0 15px
    }

    .find-screen-wrapper .find-screen-container .responses thead tr th h3 {
        color: #284a51;
        font-size: 24px;
        line-height: normal;
        padding: 0 0 15px;
        border-bottom: 1px dashed #bcc6c8
    }

    .find-screen-wrapper .find-screen-container .responses tbody tr {
        border-bottom: 1px dashed #bcc6c8
    }

    .find-screen-wrapper .find-screen-container .responses tbody tr td {
        padding: 18px 0;
        vertical-align: top
    }

    .find-screen-wrapper .find-screen-container .responses tbody tr td + td {
        padding-left: 20px;
    }

    .find-screen-wrapper .find-screen-container .responses tbody tr td + td + td {
        vertical-align: bottom;
    }

    .find-screen-wrapper .find-screen-container .responses tbody tr td.status {
        text-align: right;
    }

    .find-screen-wrapper .find-screen-container .responses tbody tr td.avatar a {
        display: inline-block;
        padding: 3px;
        border: 1px solid #bcc6c9;
        border-radius: 3px;
    }

    .find-screen-wrapper .find-screen-container .responses tbody tr td.avatar a img {
        display: block;
    }

    .find-screen-wrapper .find-screen-container .responses tbody tr td.title a {
        display: block;
        color: #284a51;
        font-size: 24px;
        line-height: normal;
    }

    .find-screen-wrapper .find-screen-container .responses tbody tr td.title a:hover {
        text-decoration: underline;
    }

    .find-screen-wrapper .find-screen-container .responses tbody tr td.title span {
        position: relative;
        display: inline-block;
        color: #284a51;
        font-size: 16px;
        margin: 15px 5px 0 0;
        padding-right: 15px;
    }

    .find-screen-wrapper .find-screen-container .responses tbody tr td.title span:first-of-type:after  {
        position: absolute;
        content: '|';
        top: 0;
        right: 0
    }

    .find-screen-wrapper .find-screen-container .responses tbody tr td.title span + span {
        color: #729fa2
    }

    .find-screen-wrapper .find-screen-container .responses tbody tr td.exp strong {
        color: #284a51;
        border: 2px solid #284a51;
        border-radius: 5px;
        padding: 0 6px;
        margin-right: 15px
    }

    .find-screen-wrapper .find-screen-container .responses tbody tr td.exp span {
        color: #729fa2;
    }

    .find-screen-wrapper .find-screen-container .responses tbody tr td.job span {
        position: relative;
        display: block;
        color: #729fa2;
        padding-left: 40px;
    }

    .find-screen-wrapper .find-screen-container .responses tbody tr td.job span:after {
        position: absolute;
        content: '';
        height: 24px;
        width: 24px;
        top: -2px;
        left: 0;
        background: image-url('sprite.png') no-repeat left -331px
    }

    .find-screen-wrapper .find-screen-container .responses tbody tr td.status span {
        display: inline-block;
        padding: 16px 0;
        color: #fff;
        width: 100%;
        max-width: 160px;
        text-align: center;
        font-size: 14px;
        background: #729fa2;
        border-radius: 5px
    }

    .find-screen-wrapper .find-screen-container .responses tbody tr td.status span.displayed {
        background: #284a51
    }

    .find-screen-wrapper .find-screen-container .responses tbody tr td.status span.rejected {
        background: #f05455
    }

    .find-screen-wrapper .find-screen-container .responses tbody tr td.status span.closed {
        background: #a7a9ac
    }

    .find-screen-wrapper .find-screen-container .responses tbody tr td.status span.contact {
        background: #39b54a
    }

    .find-screen-container .profile {
        float: left;
        text-align: left;
        width: 100%;
        overflow: hidden;
        padding-right: 550px;
        padding-left: 15px;
    }

    .find-screen-container .profile-panel {
        float: left;
        text-align: left;
        width: 350px;
        padding-right: 15px;
        margin-left: -350px;
    }

    .find-screen-container .profile-panel .upload-file:after {
        display: table;
        content: '';
        clear: both;
    }

    .find-screen-container .profile-panel .upload-file a {
        float: left;
        color:  #729fa2;
        font-size: 18px;
        margin: 30px 0;
        line-height: normal;
    }

    .find-screen-container .profile-panel .upload-file a:hover {
        color: #d1d9da
    }

    .find-screen-container .profile-panel .upload-file.video a {
        color: #f05455
    }

    .find-screen-container .profile-panel .upload-file.video a:hover {
        color: #f8a5a6
    }

    .find-screen-container .profile-panel .upload-file img {
        float: left;
    }

    .find-screen-container .profile-panel .upload-file.video img {
        margin-left: 26px
    }

    .find-screen-container .profile-panel .file-info {
        margin: 30px 0
    }

    .find-screen-container .profile-panel .file-info h3 {
        color:  #284a51;
        font-size: 24px;
        margin: 0 0 15px
    }

    .find-screen-container .profile-panel .file-info.video h3 {
        color: #f05455
    }

    .find-screen-container .profile-panel .file-info .action {
        display: inline-block;
        height: 21px;
        width: 21px;
        margin-right: 10px;
        background: image-url('icons-file-action.png') no-repeat;
    }

    .find-screen-container .profile-panel .file-info .action.search {
        background-position: left center
    }

    .find-screen-container .profile-panel .file-info .action.edit {
        background-position: -38px center
    }

    .find-screen-container .profile-panel .file-info .action.delete {
        background-position: -75px center
    }

    .find-screen-container .profile-panel .file-info .action.reload {
        background-position: -111px center
    }

    .find-screen-container .profile .upload-avatar {
        float: left;
        text-align: center;
    }

    .find-screen-container .profile .upload-avatar .image {
        padding: 6px;
        margin: 0 0 10px;
        border: 1px solid #d2e1e1;
        border-radius: 3px;
    }

    .find-screen-container .profile .upload-avatar .image img {
        display: block;
    }

    .find-screen-container .profile .upload-avatar a:hover {
        text-decoration: underline;
    }

    .find-screen-container .profile .data-user {
        overflow: hidden;
        padding-left: 25px;
    }

    .find-screen-container .profile .data-user .input-group {
        margin: 0 0 5px;
    }

    .find-screen-container .profile .data-user .input-group input {
        margin-right: 32px;
    }

    .find-screen-container .profile .data-user .edit {
        position: absolute;
        top: 0;
        right: -32px;
        width: 18px;
        height: 100%;
        background: image-url('icons-file-action.png') no-repeat -38px center;
    }

    .find-screen-container .profile .data-user .user-name {
        max-width: 345px;
    }

    .find-screen-container .profile .data-user .user-birthdate {
        max-width: 195px;
    }

    .find-screen-container .profile .data-user .user-phone {
        max-width: 245px;
    }

    .find-screen-container .profile .data-user .user-email {
        max-width: 295px;
    }

    .find-screen-container .profile .about-user .user-tags {
        margin-top: 25px
    }

    .find-screen-container .profile .about-user .user-tags input {
        max-width: 400px;
    }

    .find-screen-container .profile .about-user .user-tags .add-tag {
        height: 41px;
        float: left;
        margin-left: 15px;
        border: 0;
        color: #fff;
        padding: 0 60px;
        border-radius: 5px;
        background: #aac5c7
    }

    .find-screen-container .profile .about-user .tag-container {
        margin: 10px 0 0
    }

    .find-screen-container .profile .about-user .tag-container .tag {
        position: relative;
        padding: 10px 45px 10px 18px;
        background: #7e9297;
        font-size: 18px;
        color: #fff;
        margin: 0 8px 10px 0;
        border-radius: 5px;
        display: inline-block;
    }

    .find-screen-container .profile .about-user .tag-container .tag span {
        display: block;
        height: 22px;
        width: 22px;
        position: absolute;
        cursor: pointer;
        top: 8px;
        right: 11px;
        background: image-url('sprite.png') no-repeat -4px bottom
    }

        .screen-header {
            margin: 0;
            font-size: 40px;
            line-height: 42px;
            color: #f15158;
            font-weight: normal;
        }
        .screen-header-inverse {
            color: #fff;
        }
        .screen-header-dark {
            color: #71a0a1;
        }

        .screen-header-big {
            font-family: 'NeoSansPro-Light', sans-serif;
            color: #729fa2;
            font-size: 63px;
            margin: 0 0 55px;
        }

        .screen-header-gray {
            color: #284a51;
            font-size: 35px;
            margin: 110px 0 50px;
            font-weight: 400;
            text-align: center;
        }

        .screen-header-lightgreen {
            color: #d9f09c;
            font-size: 36px;
        }

        .screen-header-pink {
            color: #f58b8b;
            font-size: 36px;
        }

        .screen-header-light {
            font-family: 'NeoSansPro-Light', sans-serif;
            color: #2f4b4d;
            font-size: 30px;
            margin: 0 0 110px;
            font-weight: 300;
            text-align: center;
        }

        .screen-header-title {
            font-size: 33px;
            margin: 15px 0;
        }

        .screen-header-title.red {
            color: #e67e81;
        }

        .screen-header-title.green {
            color: #6dc497;
        }

        .screen-header-title.purple {
            color: #8068ae;
        }

        .screen-header-title.blue {
            color: #a2d7f4;
        }

        .screen-header-title.lightgreen {
            color: #b3e597;
        }

        .screen-header-title.yellow {
            color: #e6d649;
        }

        .screen-correct {
            font-family: 'NeoSansPro-Light', sans-serif;
            color: #729fa2;
            line-height: 27px;
            font-size: 24px;
            margin: 30px 0;
        }

        .screen-description {
            line-height: 22px;
            color: #9b9794;
            font-size: 18px;
            margin: 0 0 50px;
        }

        .three-column-container {
            position: relative;
            display: inline-block;
            width: auto;
            margin: 50px -50px 0;
            .column {
                width: 303px;
            }
        }

        .three-column-container.bottom {
            margin-bottom: 50px;
        }

        .three-column-container .column {
            width: 303px;
        }

        .three-column-container.fluid .column {
            width: 25%;
            max-width: 100%;
            margin: 0 2%;
        }

        .two-column-container {
            position: relative;
            display: inline-block;
            width: auto;
            margin: 50px 0 8px;
        }

        .two-column-container.fluid {
            width: 100%;
        }

        .two-column-container.fluid .column {
            width: 36%;
            max-width: 100%;
            margin: 0 5%;
        }

        .column .smile {
            margin: 70px 0;
        }

            .column {
                position: relative;
                display: inline-block;
                max-width: 303px;
                margin: 0 50px;
                vertical-align: top;
            }
            .column-bordered {
                max-width: 375px;
                min-height: 268px;
                margin: 0 49px 34px;
                padding: 30px 28px;
            }
                .pink-content-wrapper {
                    position: relative;
                    top: -9px;
                }
            .svg-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 378px;
                height: 268px;
            }

                .column-header {
                    margin: 30px 0 15px;
                    font-size: 24px;
                    line-height: 26px;
                    color: #f15158;
                }
                .column-header-inverse {
                    color: #fff;
                }
                .bordered-column-header {
                    margin: 35px 0 15px;
                    font-size: 33px;
                    line-height: 35px;
                    color: #cd7d7f;
                }
                .bordered-column-header.violet {
                    margin-top: 20px;
                }
                .column-content {
                    font-size: 18px;
                    line-height: 20px;
                    color: #5e8687;
                }
                .three-column-container .column-content {
                    font-family: 'NeoSansPro-Light', sans-serif;
                }
                .find-screen-wrapper-pink .column-content {
                    color: #6f393f;
                    font-family: 'NeoSansPro-Light', sans-serif;
                }
                .column-content-pink {
                    margin: 0;
                    font-size: 18px;
                    line-height: 20px;
                    color: #cd7d7f;
                    font-family: 'NeoSansPro-Light', sans-serif;
                }
                .column-content-pink.violet,
                .column-content-pink.yellow {
                    padding: 0 36px;
                }
                .column-content-pink.blue {
                    padding: 0 16px;
                }
                .column-content-narrow {
                    padding: 0 50px;
                }
                .green {
                    color: #8bc196;
                }
                .violet {
                    color: #7968a9;
                }
                .blue {
                    color: #b1d5f2;
                }
                .yellow {
                    color: #dae49a;
                }
                .orange {
                    color: #d5af83;
                }

/*Find Employee Screen Start*/
/*Find Categores Screen Start*/
.find-job {
    position: relative;
    max-width: 1280px;
    min-width: 1000px;
    margin: 0 auto;
    padding: 44px 150px 90px 65px;
    overflow: hidden;
}
    .find-categories {
        float: left;
    }
    .find-categories-place {
        float: right;
    }
        .find-categories-header {
            margin: 0 0 16px;
            color: #d9d8d8;
        }
        .find-categories-item-wrapper {
            display: inline-block;
            margin: -9px 160px -9px 0;
            vertical-align: top;
        }
            .find-categories-item {
                margin: 9px 0;
            }
                .find-categories-link {
                    color: #d9d8d8;
                }
                .find-categories-link:hover {
                    color: #fff;
                }
/*Find Categores Screen End*/

/*Search Results Screen Start*/
.search-result-screen-wrapper, .todo12-screen-wrapper {
    position: relative;
    width: 100%;
    background-color:#fff;
}
    .search-results-screen-container, .todo12-screen-container{
        position: relative;
        max-width: 1280px;
        min-width: 1000px;
        margin: 0 auto;
        padding: 10px 68px 0 61px;
    }
        .search-result-area {
            position: relative;
            padding-top: 36px;
            padding-bottom: 36px;
            .buttons-area {
                display: block;
                clear: both;
            }
        }
        .search-result-area-bordered {
            border-bottom: 1px dashed #c0c6c9;
        }
            .company-logo-container,
            .information-area,
            .search-result-area {
                display: inline-block;
                vertical-align: top;
            }
            .company-logo-container {
                width: 123px;
                height: 123px;
                padding: 5px;
                line-height: 105px;
                text-align: center;
                border: 1px solid #c0c6c9;
                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
            }
                .company-logo {
                    width: 100%;
                    height: 100%;
                    vertical-align: middle;
                }
            .information-area {
                width: 740px;
                margin: 0 32px;
            }
            .search-result-area-small {
                .information-area {
                    width: 500px;
                    margin: 0 0 0 32px;
                }
            }
                .information-header {
                    margin: 0 0 13px;
                }
                    .information-header-link {
                        color: #274a51;
                    }
                    .information-header-link:hover {
                        color: #f15354;
                    }
            .company-country-info {
                float: left;
            }
                .company-name {
                    color: #274a51;
                }
                .separator {
                    display: inline-block;
                    width: 1px;
                    height: 13px;
                    margin: 0 10px;
                    background-color: #274a51;
                }
                .country-name {
                    color: #71a0a1;
                }
            .job-expierence-category {
                float: right;
                width: 50%;
                margin: -10px -16px 0 0;
            }
                .expierense,
                .job-area {
                    margin: 0 20px 0 16px;
                    color: #71a0a1;
                }
                .expierense {
                    position: relative;
                }
                    .expierence-icon {
                        position: relative;
                        display: inline-block;
                        top: -2px;
                        height: 20px;
                        padding: 2px 8px 0 8px;
                        margin-right: -3px;
                        color: #274a51;
                        line-height: 16px;
                        border: 2px solid #274a51;
                        border-radius: 5px;
                        -moz-border-radius: 5px;
                        -webkit-border-radius: 5px;
                        vertical-align: middle;
                    }
                    .expierense:hover.expierence-icon:hover {
                        color: #274a51;
                    }
                .job-area {
                    position: relative;
                }
                .job-area:before {
                    content: '';
                    position: relative;
                    display: inline-block;
                    top: 5px;
                    left: -10px;
                    width: 26px;
                    height: 24px;
                    background: image-url('sprite.png') 0 -331px no-repeat;
                }
            .company-information {
                position: relative;
                clear: both;
                overflow: hidden;
            }
                .company-information-content {
                    margin-top: 23px;
                    margin-bottom: 0;
                    color: #6d6e71;
                }
                .company-information-content:before {
                    content: '-';
                    position: relative;
                }
            .send-resume {
                margin-top: 48px;
            }
                .search-result-area .buttons-area {
                    float: right;
                    margin: 30px 0 0 0;
                }
                    .btn-send-resume {
                        min-width: 155px;
                        margin: 0;
                        border-color: #f15158;
                        color: #f15158;
                    }
                    .btn-send-resume:hover {
                        background-color: #f15158;
                        color: #fff;
                    }
                    .btn-send-resume:active {
                        background-color: #f5887b;
                        border-color: #f5887b;
                        color: #fff;
                    }
/*Search Results Screen End*/
/*Pagination Start*/
.pagination-wrapper {
    background-color: #fff;
}
    .pagination-container {
        position: relative;
        max-width: 1280px;
        min-width: 1000px;
        margin: 0 auto;
        padding: 30px 0;
        text-align: center;
    }
        .pagination-list {
            position: relative;
            margin: 0 auto;
            padding: 0;
            list-style: none;
        }
            .pagination-item {
                display: inline-block;
            }
            .dots {
                margin: 0 -10px;
            }
                .pagination-link {
                    display: block;
                    margin: 0 5px;
                    padding: 0 12px;
                    color: #979491;
                    line-height: 30px;
                    border-radius: 5px;
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                }
                .pagination-link:hover {
                    color: #686765;
                }
                .pagination-link-current {
                    background-color: #979491;
                    color: #fff;
                }
                .pagination-link-current:hover {
                    background-color: #686765;
                    color: #fff;
                }
                .previous,
                .next {
                    position: relative;
                    display: block;
                    top: 2px;
                    left: -17px;
                    border: 8px solid transparent;
                    border-right: 8px solid #979491;
                }
                .next {
                    left: auto;
                    right: -17px;
                    border-left: 8px solid #979491;
                    border-right: 8px solid transparent;
                }
                .previous:hover {
                    border-right-color: #686765;
                }
                .next:hover {
                    border-left-color: #686765;
                }
/*Pagination End*/
/*Find No Result Screen Start*/
.find-screen-wrapper-noresult {
    background-color: #979491;
}
    .find-screen-wrapper-noresult .find-screen-container {
        position: relative;
        padding-bottom: 80px;
        background: image-url('woman.png') 100px 98px no-repeat;
    }
        .screen-header-subtitle {
            margin: 18px 0 0;
            font-size: 25px;
            line-height: 27px;
            color: #cbcac8;
        }
        .write-to-us {
            position: relative;
            width: 900px;
            margin: 53px 0 0 -150px;
            input {
                height: 52px;
                line-height: 52px;
                padding-top: 5px;
            }
            button {
                border: none;
                min-width: 110px;
                color: #fff;
                float: left;
            }
        }
            .input-wrapper-inline {
                position: relative;
                float: left;
            }
                .bordered {
                    width: 315px;
                    height: 50px;
                    padding: 8px 25px;
                    font-size: 22px;
                    line-height: 22px;
                    color: #cbcac8;
                    background-color: transparent;
                    border: 1px solid #cbcac8;
                    border-radius: 5px;
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                }
                .bordered-light {
                    color: #cbcac8;
                    margin: 0 4px;
                }
                .bordered-light::placeholder {
                    color: #cbcac8;
                }
                .bordered-light:focus {
                    color: #fff;
                    border-color: #fff;
                }
                .write-to-us .btn {
                    margin-top: 8px;
                    margin-bottom: 8px;
                    line-height: 46px;
                }
                .btn-light {
                    min-width: 125px;
                    color: #979491;
                    background-color: #cbcac8;
                    border-color: #cbcac8;
                    vertical-align: top;
                }
                .btn-light:hover {
                    color: #979491;
                    background-color: #fff;
                    border-color: #fff;
                }
                .btn-light:active {
                    color: #979491;
                    background-color: #d3cfcd;
                    border-color: #d3cfcd;
                }

.bordered-bluer {
    color: #284a51;
    font-size: 24px;
    height: auto;
    line-height: normal;
    padding: 5px 15px;
    border-color: #729fa2;
}

.bordered-bluer::-webkit-input-placeholder {
    color: #729fa2;
}

.bordered-bluer::-moz-placeholder {
    color: #729fa2;
}

.bordered-bluer:-ms-input-placeholder {
    color: #729fa2;
}

.bordered-bluer::placeholder {
    color: #729fa2;
}

/*Search Results Screen Start*/
.back-to-search-list {
    position: relative;
    display: block;
    margin-top: 23px;
    padding-left: 43px;
    color: #274a51;
}
.back-to-search-list:before {
    content: '';
    position: absolute;
    display: block;
    top: -3px;
    left: 0;
    width: 32px;
    height: 19px;
    background: image-url('sprite.png') -25px -330px no-repeat;
}
.back-to-search-list:hover:before {
    background: image-url('sprite.png') -59px -330px no-repeat;
}
.back-to-search-list:hover {
    color: #f15354;
}
.search-result-area-small {
    position: relative;
    display: inline-block;
    width: 65%;
    padding-bottom: 60px;
}
    .search-result-area-small .company-logo-container {
        margin-bottom: 12px;
    }
    .information-area-blocks .information-header-link {
        color: #f15354;
    }
    .information-area-blocks .job-expierence-category {
        margin: 30px 0 0;
    }
        .website-area {
            display: block;
            margin: 10px 0 0 0;
            padding-left: 0;
            color: #274a51;
        }
        .website-area:hover {
            color: #f15354;
        }
        .website-area:before {
            background: none;
        }

    .vacancy-information {
        h2 {
            padding: 20px 0;
        }
    }

    .vacancy-information-header {
        color: #71a0a1;
    }
        .vacancy-information-list {
            color: #6d6e71;
        }
            .vacancy-information-item {
                list-style: none;
                color: #6d6e71;
                line-height: 20px;
            }
            .vacancy-information-item:before {
                content: '- ';
            }
            .vacancy-information-item:after {
                content: ',';
            }
            .vacancy-information-item:last-child:after {
                content: '.';
            }
    .payment-block {
        margin-top: 70px;
        margin-bottom: 0;
        color: #3a3939;
        font-size: 30px;
    }
/*Search Results Screen End*/
/*Form Area Start*/
.form-area {
    display: inline-block;
    margin: -8px auto;
    vertical-align: top;
    width: 30%;
}
.get-tarifs .btn-rectangle {
    margin: 0 4px;
    border: none;
}
    .input-wrapper {
        position: relative;
        margin: 8px 0;
    }
    .input-wrapper-small {
        max-width: 220px;
    }
        .bordered-dark {
            color: #828d93;
            border-color: #828d93;
        }
        .bordered-dark:focus {
            color: #5c6d75;
            border-color: #5c6d75;
        }
        .btn-dark {
            color: #fff;
            background-color: #828d93;
            border-color: #828d93;
        }
        .btn-dark:hover {
            color: #fff;
            background-color: #5c6d75;
            border-color: #5c6d75;
        }
        .btn-dark:active {
            color: #fff;
            background-color: #71a0a1;
            border-color: #71a0a1;
        }
        .btn-full {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            color: #fff;
            font-size: 22px;
            font-family: 'NeoSansPro-Light', sans-serif;
        }
        .send-resume .btn {
            min-width: 155px;
            margin-left: 0;
            margin-right: 0;
        }
        .send-resume .btn-pink-inverse {
            margin-top: 10px;
        }
        input[type="checkbox"] {
            position: absolute;
            display: none;
            top: 5px;
            z-index: 10;
        }
        input[type="checkbox"] + label {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 34px;
            height: 34px;
            background-color: #fff;
            border: 1px solid #5c6d75;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            cursor: pointer;
        }
        .chekbox-condition[type="checkbox"]:checked + label:before {
            content: '';
            position: absolute;
            display: block;
            left: -1px;
            top: -1px;
            width: 34px;
            height: 34px;
            background-color: #5c6d75;
            border-color: #5c6d75;
            border-radius: 4px;
            background-image: image-url('sprite.png');
            background-repeat: no-repeat;
            background-position: -101px -323px;
        }
        .label-condition {
            position: relative;
            left: 55px;
            color: #6d6e71;
        }
        #respond_button {
            margin-top: 30px;
            font-size: 16px;
            background-color: #f15354;
            border-color: #f15354;
            cursor: pointer;
        }
        #respond_button:hover {
            background-color: #f5887b;
            border-color: #f5887b;
        }
        #respond_button:active {
            background-color: #fbc9be;
            border-color: #fbc9be;
        }
        #respond_button:disabled {
            background-color: #fbc9be;
            border-color: #fbc9be;
            cursor: default;
        }
        #respond_button:disabled:hover {
            background-color: #fbc9be;
            border-color: #fbc9be;
        }
/*Form Area End*/

/*Main Screen Start*/
    .main-screen-wrapper-violet:after {
        top: auto;
        right: -125px;
        bottom: 0;
        width: 827px;
        height: 460px;
    }
    .main-screen-wrapper-violet .main-screen-left {
        position: relative;
        top: 25px;
        max-width: 570px;
    }
    .wrapper-violet {
        position: absolute;
        top: 0;
        left: -150%;
        width: 300%;
        height: 100%;
        z-index: -2;
    }
        .additional-menu-container {
            position: absolute;
            width: 100%;
            text-align: center;
            line-height: 59px;
            z-index: 5;
        }
        #block-fixed.fixed {
            position: fixed;
            top: -6px;
            left: 0;
            width: 100%;
            background-color: #745ca2;
            -webkit-transition: all ease-in-out 0.5s;
            -moz-transition: all ease-in-out 0.5s;
            -ms-transition: all ease-in-out 0.5s;
            -o-transition: all ease-in-out 0.5s;
            transition: all ease-in-out 0.5s;
        }
        #block-fixed.fixed.additional-menu-container:after {
            border-bottom-color: transparent;
        }
        #block-fixed.fixed.additional-menu-link {
            line-height: 3;
        }
        .additional-menu-container:after {
            content: '';
            position: relative;
            display: block;
            left: -100%;
            bottom: 1px;
            width: 300%;
            border-bottom: 1px solid #e2deec;
        }
            .additional-menu-item {
                display: inline-block;
                list-style: none;
            }
                .additional-menu-link {
                    display: block;
                    margin: 0 28px;
                    color: #e2deec;
                    font-size: 22px;
                    font-family: 'NeoSansPro-Light', sans-serif;
                    line-height: 2;
                }
                .additional-menu-link:hover {
                    color: #eef6fb;
                }
                .additional-menu-link:active {
                    color: #d7e6f2;
                }
        .header-chapter-current-violet {
            color: #e2deec;
            background-color: #745ca2 ;
        }
        .header-chapter-current-violet:hover {
            color: #e2deec;
        }
        .find-lozung {
            font-size: 37px;
            line-height: 45px;
            color: #e2deec;
            font-family: 'NeoSansPro-Light', sans-serif;
        }
        .bordered-violet {
            color: #cbcac8;
            border-color: #8779a6;
        }
        .bordered-violet::placeholder {
            color: #8779a6;
        }
        .bordered-violet:focus {
            color: #fff;
            border-color: #fff;
        }
        .find-employee {
            margin-top: 25px;
        }
            .find-employee .btn {
                margin-left: 0;
                margin-right: 0;
            }

.header-chapter.current {
    color: #284a51;
    background: #fff;
}

.header-chapter .label {
    background: #8dc63f;
    color: #fff;
    padding: 2px 8px;
    margin-left: 8px;
    border-radius: 3px;
}

//$tabasov heading and paragraphs color
.hiw {
  h3 {
    font-family: 'NeoSansPro-Light';
    font-size: 63px;
    margin-bottom: 50px;
  }

  .three-column-container {
    background-image: url('../images/arrows.png');
    background-repeat: no-repeat;
    background-position: 50% 40%;
    .column {
      //text-align: left;

      img {
        display: block;
        margin: 0 auto;
      }

      &:first-of-type,
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        p:first-of-type {
          font-family: 'NeoSansPro-Light';
          font-size: 24px;
        }

        p:last-of-type {
          font-size: 15px;
          text-align: left;

        }
      }

      &:first-of-type {p {color: #b9add3}}
      &:nth-child(2) {p {color: #f58788}}
      &:nth-child(3) {p {color: #29abe2}}
      &:nth-child(4) {
        p {color: #729fa2}
        p:first-of-type {
          white-space: nowrap;
        }
      }
      &:nth-child(5) {p {color: #8cc541}}
    }
  }
}
.recruit {
  h3 {
    font-family: 'NeoSansPro-Light';
    width: 50%;
    margin: 0 auto;
    line-height: 100%;
    font-size: 63px;
    color: white;
    margin-bottom: 27px;
    & + p {
      font-family: 'NeoSansPro-Regular';
      font-size: 33px;
      color: white;
      margin-bottom: 120px;
    }
  }
}
.benefits {
  h3 {
    font-family: 'NeoSansPro-Light';
    font-size: 63px;
    color: #729fa2;
  }

  .two-column-container {
    .column {
      max-width: 370px;
      margin: 50px 65px 50px;
      &:nth-child(4) {
        max-width: 360px;
        .column-icon-double-large {
          margin-left: auto;
          margin-right: auto;
        }
      }
      
      &:first-of-type,
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        p:first-of-type {
          font-size: 33px;
          color: #729fa2;
          line-height: 100%;
          margin-bottom: 20px;
        }

        p:last-of-type {
          font-size: 22px;
          color: #696765;
        }
      }

      &:first-of-type {p {color: #b9add3}}
      &:nth-child(2) {p {color: #f58788}}
      &:nth-child(3) {p {color: #29abe2}}
    }
  }

  .tarifs-pane {
    a {
      font-size: 45px;
      font-family: 'NeoSansPro-Regular';
      color: #FFF;
      position: relative;
      width: 551px;
      height: 152px;
      display: block;
      z-index: 1;
      &:after {
        content: '';
        border-radius: 10px;
        position: absolute;
        top: 0;
        width: 551px;
        height: 152px;
        display: block;
        background: #735ba7;
      }
      i {
        font-family: 'NeoSansPro-Light';
        font-size: 25px
      }
      span:first-of-type {
        position: relative;
        z-index: 1;
        display: block;
        height: 100%;
      }
      span:last-of-type {
        padding: 25px;
        text-align: left;
        display: block;
        position: relative;
        &:before {
          display: block;
          border-radius: 10px;
          background: #e3deed;
          content: '';
          width: 551px;
          height: calc(100% + 152px);
          height: -webkit-calc(100% + 152px);
          position: absolute;
          top: -152px;
          left: 0;
        }
      }
      ul {
        position: relative;
        //padding-top: 24%;
        li {
          font-family: 'NeoSansPro-Light';
          font-size: 18px;
          color: #231f20;
        }
      }
    }
  }
}

/*Main Screen End*/
/*How It Work Screen Start*/
//$tabasov
.screen-header-violet,
h3.screen-header-violet {
    color: #745ca2;
}
    .column-container {
        margin-top: 55px;
        padding: 0 140px;
    }
        .stages {
            position: relative;
            display: table;
            width: 100%;
            margin-bottom: 40px;
            color: #262424;
        }
            .stages-text {
                display: table-cell;
                width: auto;
                //$tabasov
                padding-right: 100px;
                text-align: left;
                vertical-align: middle;
            }
            .stages-text-right {
                padding-right: 0;
                padding-left: 120px;
            }
            .stages-text-large {
                padding-right: 84px;
            }
                .stages-text-header {
                    margin-bottom: 15px;
                    font-size: 33px;
                    line-height: 35px;
                    color: white;
                }
                .stages-text-content {
                    //$tabasov
                    font: 22px/24px 'NeoSansPro-Light', sans-serif;
                    color: white;
                }
                .stages-image {
                    position: relative;
                    display: table-cell;
                    width: 515px;
                    height: 365px;
                    vertical-align: middle;
                }
                    .svg-mask {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 515px;
                        height: 365px;
                        //$tabasov
                        & + img {
                          position: absolute;
                          top: 2.5%;
                          right: 2.5%;
                          width: 95%;
                          height: 95%;
                        }
                    }
                    .step-counter {
                        //$tabasov
                        border: 1px solid white;

                        position: absolute;
                        display: block;
                        top: 172px;
                        left: -33px;
                        min-width: 77px;
                        height: 77px;
                        margin-top: -33px;
                        color: #fff;
                        font-size: 40px;
                        line-height: 77px;
                        background-color: #745ca2;
                        border-radius: 50%;
                        vertical-align: middle;
                    }
                    .step-counter-right {
                        left: auto;
                        right: -33px;
                    }
            .column-container .buttons-area {
                margin-top: 75px;
            }
                .btn-polygon-violet {
                    color: #745ca2;
                    background: image-url('border-violet.svg') 0 0 no-repeat;
                }
                .btn-polygon-violet:hover {
                    background: image-url('button-violet.svg') 0 0 no-repeat;
                }
                .btn-polygon-violet:active {
                    background: image-url('button-violet-pressed.svg') 0 0 no-repeat;
                }
/*How It Work Screen End*/
/*Pros Screen Start*/

//$tabasov
.main-screen-wrapper-violet-invert {
  background: #584681;
  background: -moz-linear-gradient(top,  #584681 0%, #5d4a88 3%, #735ba7 13%, #735ba7 13%, #735ba7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#584681), color-stop(3%,#5d4a88), color-stop(13%,#735ba7), color-stop(13%,#735ba7), color-stop(100%,#735ba7));
  background: -webkit-linear-gradient(top,  #584681 0%,#5d4a88 3%,#735ba7 13%,#735ba7 13%,#735ba7 100%);
  background: -o-linear-gradient(top,  #584681 0%,#5d4a88 3%,#735ba7 13%,#735ba7 13%,#735ba7 100%);
  background: -ms-linear-gradient(top,  #584681 0%,#5d4a88 3%,#735ba7 13%,#735ba7 13%,#735ba7 100%);
  background: linear-gradient(to bottom,  #584681 0%,#5d4a88 3%,#735ba7 13%,#735ba7 13%,#735ba7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#584681', endColorstr='#735ba7',GradientType=0 );


}

.find-screen-wrapper-green {
    background-color: #8bc196;
}
.column-shorted {
    margin: 50px 106px 50px;
}
    .column-icon-clock-large,
    .column-icon-purse-large,
    .column-icon-globe-large,
    .column-icon-double-large {
        width: 120px;
        height: 144px;
        margin-bottom: 33px;
    }
    .column-icon-clock-large {
        background-position: -152px -114px;
    }
    .column-icon-purse-large {
        background-position: -281px -96px;
    }
    .column-icon-globe-large {
        background-position: -404px -114px;
    }
    .column-icon-double-large {
        width: 128px;
        background-position: -525px -132px;
        margin: 20px 0 10px 70px;
    }
    .column-content-white {
        font-size: 23px;
        line-height: 25px;
        color: #fff;
    }

    .column-icon-video {
        width: 130px;
        height: 110px;
        background: image-url('video.png') no-repeat center top;
    }

    .column-icon-camera {
        width: 110px;
        height: 110px;
        background: image-url('camera.png') no-repeat center top;
    }

    .column-icon-question {
        width: 132px;
        height: 110px;
        background: image-url('question.png') no-repeat center top;
    }
/*Pros Screen End*/
/*Tarifs Screen Start*/
.screen-header-black {
    color: #262424;
}
    .table-wrapper {
        margin-bottom: 35px;
    }
        .tafirs-table {
            width: 100%;
            color: #686765;
            border-spacing: 0;
        }
            .tafirs-table thead td {
                font-size: 33px;
                line-height: 67px;
                text-align: center;
            }
            .tafirs-table thead td:nth-of-type(2) {
                text-transform: uppercase;
            }
            .tafirs-table thead td:nth-of-type(3) {
                color: #f15354;
                text-transform: uppercase;
            }
            .tafirs-table tbody td {
                position: relative;
                padding: 25px 55px;
                font-size: 20px;
                line-height: 22px;
                text-align: center;
                border-top: 1px solid #686765;
                border-left: 1px solid #686765;
            }
            .tafirs-table tbody td:last-child {
                border-right: 1px solid #686765;
            }
            .tafirs-table tbody td:first-child {
                width: 70%;
                text-align: left;
            }
            .tafirs-table tbody tr:first-child td:first-child {
                border-top-left-radius: 15px;
            }
            .tafirs-table tbody tr:first-child td:last-child {
                border-top-right-radius: 15px;
            }
            .tafirs-table tbody tr:last-child td {
                border-bottom: 1px solid #686765;
            }
            .tafirs-table tbody tr:last-child td:first-child {
                border-bottom-left-radius: 15px;
            }
            .tafirs-table tbody tr:last-child td:last-child {
                border-bottom-right-radius: 15px;
            }
                .checked-gray,
                .checked-pink {
                    display: block;
                    position: absolute;
                    left: 50%;
                    width: 30px;
                    height: 30px;
                    margin-top: -15px;
                    margin-left: -15px;
                    background: image-url('sprite.png') -2px -358px no-repeat;
                }
                .checked-pink {
                    background-position: -2px -392px;
                }
strong {
    color: red;
}
.tab-quote {
    padding: 25px 0 0 55px;
    text-align: left;
    a {
        text-decoration: underline;
    }
}

        .stages-tarifs-form {
            margin-bottom: 0;
        }
            .stages-tarifs-form .stages-text {
                padding: 0;
            }
                .stages-tarifs-form .stages-text-header {
                    font-size: 37px;
                    line-height: 39px;
                    color: #f15158;
                    text-align: center;
                    font-family: 'NeoSansPro-Light', sans-serif;
                }
            .get-tarifs {
                text-align: center;
            }
            .get-tarifs .bordered-light::placeholder {
                // color: #828d93;
            }
            .get-tarifs .bordered-light:focus {
                color: #626261;
                border-color: #626261;
            }
            .btn-gray {
                float: left;
                margin: 0 4px;
                color: #fff;
                background-color: #ABAAA8;
                border-color: #ABAAA8;
            }
            .btn-gray:hover {
                color: #fff;
                background-color: #626261;
                border-color: #626261;
            }
            .btn-gray:active {
                color: #fff;
                background-color: #7F8083;
                border-color: #7F8083;
            }
/*Tarifs Screen End*/
/*
-------------------------
Vacancy Page End
-------------------------
*/
#lean_overlay {
    position: fixed;
    z-index: 10005;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
}
    .modal-entrance {
        display: none;
        width: 490px;
        color: #d9e2e3;
        background-color: #71a0a1;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
        -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
        -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
    }
        .close-modal {
            position: absolute;
            display: block;
            top: 10px;
            right: 10px;
            width: 23px;
            height: 23px;
            text-indent: -9999px;
            background: image-url('sprite.png') -3px -427px no-repeat;
            outline: none;
        }
        .modal-header-wrapper {
            padding: 35px 45px 20px;
            border-bottom: 1px solid #d9e2e3;
        }
        .modal-header {
            font: 26px/28px 'NeoSansPro-Light', sans-serif;
        }
            .modal-content-wrapper {
                padding: 40px 45px 0;
            }
                .modal-form {
                    position: relative;
                    margin: -13px 0;
                }
                    .modal-form .input-wrapper {
                        margin: 0;
                    }
                    .bordered-modal {
                        width: 100%;
                        margin: 13px 0;
                        font-size: 16px;
                        text-align: center;
                        color: #bfced0;
                        border-color: #bfced0;
                    }
                    .bordered-modal::placeholder {
                        color: #bfced0;
                    }
                    .bordered-modal:focus {
                        color: #fff;
                        border-color: #fff;
                    }
                    .btn-modal {
                        display: block;
                        margin: 13px auto;
                        color: #71a0a1;
                        background-color: #fff;
                        border-color: #fff;
                    }
                    .btn-modal:hover {
                        color: #71a0a1;
                        background-color: #bfced0;
                        border-color: #bfced0;
                    }
                    .btn-modal:active {
                        color: #71a0a1;
                        background-color: #d1dcdd;
                        border-color: #d1dcdd;
                    }
                    .forgot-password {
                        display: block;
                        margin-top: 30px;
                        margin-bottom: 30px;
                        text-align: center;
                        font-family: 'NeoSansPro-Light', sans-serif;
                    }
                    .user-conditions-modal {
                        margin: 27px 0 15px;
                    }
                        .modal-enter-link{
                            color: #fff;
                        }
                        .modal-enter-link:hover{
                            color: #d9e2e3;
                        }
                        .user-license,
                        .forgot-password {
                            color: #d9e2e3;
                        }
                        .user-license:hover,
                        .forgot-password:hover {
                            color: #fff;
                        }
                        .success-registered {
                            color: #d9e2e3;
                        }
            .modal-footer {
                padding: 30px 45px 20px;
                text-align: center;
                font-family: 'NeoSansPro-Light', sans-serif;
            }
                .modal-enter-link,
                .yet-registered {
                    margin: 0 8px;
                }
                .modal-enter-link {
                    position: relative;
                    padding-left: 10px;
                }
                .modal-enter-link:before {
                    content: '';
                    position: relative;
                    display: inline-block;
                    top: 2px;
                    left: -5px;
                    width: 13px;
                    height: 18px;
                    background: image-url('sprite.png') -47px -382px no-repeat;
                }
                .modal-enter-link-nobg {
                    padding: 0;
                }
                .modal-enter-link-nobg:before {
                    width: 0;
                    background: none;
                }
                .modal-enter-link:hover:before {
                    background-position: -47px -359px;
                }