body {
  background: #e9e9e9;
  font-family: Gals;
}
.banner .hidden-xs {
  background: white;
  padding: 16px 16px 0 16px;
  /***SLIDER***/
  /*.slideritem:last-child{
	display:none
	 }*/
}
.banner .hidden-xs img {
  height: auto;
}
.banner .hidden-xs .bx-wrapper .bx-viewport {
  left: 0;
}
.banner .hidden-xs #mainslider .bx-wrapper .bx-prev {
  width: 79px !important;
  height: 79px !important;
  background: url(http://supermarine.ru/i/newarrs.png) 0 0 no-repeat !important;
  font-size: 0 !important;
}
.banner .hidden-xs #mainslider .bx-wrapper .bx-next {
  width: 79px !important;
  height: 79px !important;
  background: url(http://supermarine.ru/i/newarrs.png) -79px 0 no-repeat !important;
  font-size: 0 !important;
}
.banner .hidden-xs #mainslider .bx-wrapper .bx-viewport {
  border: none;
}
.banner .hidden-xs .slideritem .mainslidertext {
  position: absolute;
  z-index: 30;
  text-shadow: 0 2px 0 #626770;
  color: #fff;
  top: 40px;
  left: 150px;
}
.banner .hidden-xs #mainslider .bx-wrapper {
  height: 376px;
  overflow: hidden;
}
.banner .hidden-xs .mainslidertext h1,
.banner .hidden-xs .mainslidertext a,
.banner .hidden-xs .mainslidertext p.phonenumber {
  font-size: 49px;
  color: #fff;
  line-height: 50px;
  text-decoration: none;
}
.banner .hidden-xs .mainslidertext p {
  font-size: 20px;
  line-height: 28px;
}
.banner .hidden-xs #mainslider {
  position: relative;
  max-width: 1264px;
  height: 376px;
  margin: 0 auto;
  z-index: 2;
  clear: both;
}
.banner .hidden-xs #mainslider:before {
  display: none;
  width: 126px;
  height: 586px;
  position: absolute;
  left: -109px;
  top: -62px;
  content: '';
  background: url("http://supermarine.ru/i/leftshad.png") 0 0 no-repeat;
}
.banner .hidden-xs #mainslider:after {
  display: none;
  width: 126px;
  height: 586px;
  position: absolute;
  right: -109px;
  top: -62px;
  content: '';
  background: url("http://supermarine.ru/i/rightshad.png") 0 0 no-repeat;
}
.banner .hidden-xs .slideritem {
  position: relative;
}
.banner .hidden-xs .slideritem img {
  /*width : 1264px*/
}
.banner .hidden-xs #mainslider img.shadow {
  position: absolute;
  z-index: 2;
}
.banner .hidden-xs #mainslider .slidepics img {
  position: relative;
  z-index: 1;
}
.banner .hidden-xs div.mainsliderarrows {
  clear: both;
  position: relative;
  z-index: 20;
  width: 100%;
  margin: -275px auto 0;
  overflow: hidden;
}
.banner .hidden-xs div.mainsliderarrows .mainsliderrightbtn {
  float: right;
}
.banner .hidden-xs div.mainsliderarrows a > a {
  display: inline-block;
  width: 79px;
  height: 79px;
  background: url("http://supermarine.ru/i/newarrs.png") 0 0 no-repeat;
  font-size: 0;
}
.banner .hidden-xs div.mainsliderarrows a + a > a {
  background-position: -79px 0;
}
.banner .hidden-xs div.mainsliderdots {
  position: relative;
  z-index: 20;
  clear: both;
  margin-top: 130px !important;
}
.banner .hidden-xs a.pager-link {
  background: url('http://supermarine.ru/i/pagerbullit.png') no-repeat 0 0;
  display: block;
  float: left;
  width: 13px;
  height: 13px;
  margin-left: 15px;
  font-size: 0;
}
.banner .hidden-xs a.active {
  background: url('http://supermarine/ru/i/pagerbullit.png') no-repeat 0 -13px;
}
.banner .hidden-xs a.pager-link:hover {
  background: url('http://supermarine.ru/i/pagerbullit.png') no-repeat 0 -13px;
}
.banner .hidden-xs .floater {
  float: left;
}
.banner .hidden-xs #slmenu {
  text-align: center;
  padding: 12px 0;
  max-width: 1264px;
  margin: 0 auto;
  background: #e7e7e7;
  background: -moz-linear-gradient(90deg, #e7e7e7 0%, #d1d1d1 100%);
  background: -webkit-linear-gradient(90deg, #e7e7e7 0%, #d1d1d1 100%);
  background: -o-linear-gradient(90deg, #e7e7e7 0%, #d1d1d1 100%);
  background: -ms-linear-gradient(90deg, #e7e7e7 0%, #d1d1d1 100%);
  background: linear-gradient(180deg, #e7e7e7 0%, #d1d1d1 100%);
}
.banner .hidden-xs #slmenu a {
  display: inline-block;
  margin: 0 10px;
  font-size: 16px;
  text-transform: uppercase;
  color: #464d65;
  text-decoration: none;
}
.banner .hidden-xs #slmenu a:hover {
  color: #e83934;
}
.buttons-area {
  margin-bottom: 26px;
}
.buttons-area:after {
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  clear: both;
}
.buttons-area .buttons {
  margin-bottom: 2px !important;
}
.soc-cont {
  margin-bottom: 25px;
  padding: 0 20px;
  text-align: center;
  position: relative;
  min-height: 269px;
}
.soc-cont .sel span {
  background: #4380ac;
  color: white;
}
.soc-cont > div {
  position: absolute;
  top: 0;
  left: 20px;
}
.soc-cont > div span {
  display: block;
  width: 139px;
  height: 39px;
  line-height: 43px;
  background: transparent;
  font-size: 16px;
  float: left;
}
.soc-cont > div:last-of-type span {
  float: right;
}
.buttons {
  display: block;
  max-width: 231px;
  height: 50px;
  line-height: 54px;
  background: transparent;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
}
.buttons:hover {
  color: white;
  text-decoration: none;
}
.buttons.show {
  background: #ca343a;
}
.buttons.show i {
  background: url('../images/show-ico.png') no-repeat;
  width: 16px;
  height: 13px;
  display: inline-block;
  position: relative;
  left: 13px;
  top: -1px;
  vertical-align: middle;
}
.buttons.query {
  margin-bottom: 12px;
  background: #ed3f33;
  font-size: 18px;
  text-transform: none;
  max-width: 300px;
}
.buttons.query i {
  background: url('../images/check.png') no-repeat;
  width: 19px;
  height: 20px;
  display: inline-block;
  position: relative;
  left: -10px;
  top: -1px;
  vertical-align: middle;
}
.buttons.credit {
  margin-top: 12px;
  background: #e94137;
  font-size: 18px;
  text-transform: none;
  max-width: 300px;
}
.buttons.credit i {
  background: url('../images/time.png') no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  left: -10px;
  top: -1px;
  vertical-align: middle;
}
.buttons.price {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 30px;
  line-height: 57px;
  text-transform: uppercase;
  color: black;
  background: white;
  max-width: 300px;
}
.buttons.price span {
  text-transform: none;
}
.buttons.catalog {
  margin-bottom: 12px;
  background: #ca343a;
  font-size: 18px;
  text-transform: none;
  max-width: 300px;
}
.buttons.catalog i {
  background: url('../images/tocat.png') no-repeat;
  width: 18px;
  height: 15px;
  display: inline-block;
  position: relative;
  left: -10px;
  top: -1px;
  vertical-align: middle;
}
.buttons.available {
  margin-bottom: 12px;
  background: #ca343a;
  font-size: 18px;
  text-transform: none;
  max-width: 300px;
}
.buttons.pair {
  float: left;
  width: 50%;
  background: #1b213e;
  font-size: 15px;
  text-transform: none;
  height: auto;
  max-width: 149px;
  margin: 0 0 0 10px;
}
.buttons.pair:last-of-type {
  margin-left: 0;
  margin-right: 10px;
  float: right;
}
#nav-toggle {
  position: absolute;
  right: 18px;
  top: calc(50% - 10px);
  top: -webkit-calc(50% - 10px);
}
.megatit {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  color: #464d65;
  margin-top: 13px;
  margin-bottom: 0;
}
.megahr {
  border: none;
  background-color: #cdcdcd;
  height: 1px;
  width: 100%;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.megann {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: white;
  margin-top: 6px;
  margin-bottom: 15px;
}
.tabs {
  padding: 0 10px;
}
.tabs .nav-tabs > li.active > a,
.tabs .nav-tabs > li.active > a:hover,
.tabs .nav-tabs > li.active > a:focus {
  background: #33333f;
  color: white;
}
.tabs .nav-tabs > li > a {
  background: #e05147;
  color: white;
  border: none !important;
  border-radius: 0;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 8px;
}
.tabs .nav-tabs > li:last-of-type a {
  margin-right: 0;
}
.tabs .tab-content {
  background: white;
  padding: 20px;
}
.tabs .tab-content ul {
  width: 90%;
  margin: 0;
  padding: 10px 0 6px 20px;
  text-align: left;
  text-transform: none;
  list-style-type: square;
}
.tabs .tab-content ul li:first-of-type {
  margin-left: 0;
  list-style-type: none;
}
.tabs .tab-content ul li {
  margin: 0 0 0 20px;
  margin-bottom: 30px;
  color: #ed3f33;
}
.tabs .tab-content ul li span {
  color: black;
}
#nav-toggle {
  cursor: pointer;
  padding: 9px 18px 12px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 18px;
  background: #ed3f33;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -8px;
}
#nav-toggle span:after {
  bottom: -8px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
body {
  transform: translate(0, 0);
  transition: transform 0.5s ease;
  -webkit-transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.5s ease;
}
body .cap ul {
  display: none;
}
.m-opened {
  transform: translate(-300px, 0);
  transition: transform 0.5s ease;
  -webkit-transform: translate(-300px, 0);
  -webkit-transition: -webkit-transform 0.5s ease;
  position: fixed;
}
.m-opened .cap ul {
  display: block;
  right: -16%;
}
.row.cap [class*="col-"] {
  background: #1b213e;
  padding: 0 18px;
  position: relative;
}
.row.cap [class*="col-"] img {
  margin-top: 6px;
  margin-bottom: 7px;
}
.row.cap ul {
  position: absolute;
  top: 0;
  width: 100%;
  right: -100%;
  padding: 10px;
  margin: 0;
  list-style-type: none;
  background: #212121;
}
.row.cap ul a {
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  line-height: 30px;
}
.row.banner .hidden-sm div {
  padding: 10px;
}
.row.banner .hidden-sm img {
  width: 100%;
  max-height: 109px;
  display: block;
}
.row.items > div:first-of-type {
  padding: 0 10px;
}
.row.items img {
  width: 100%;
  display: block;
  border: 4px solid #e0e0e0;
  margin-bottom: 1px;
}
.row.items .col-xs-12 {
  padding: 0 44px;
}
.row.items .item {
  margin-bottom: 17px;
}
.row.items .item.opened i {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.row.items .category {
  background: #ea5245;
}
.row.items .category > a {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  height: 50px;
  width: 100%;
  padding: 18px 14px 12px 14px;
  background: #ec6a5a;
  vertical-align: middle;
  display: inline-block;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  /* vertical centering for legacy, horizontal centering for modern */
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: left;
  /* modern Flexbox only */
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /* legacy Flexbox only */
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
}
.row.items .category > a span {
  width: 77%;
}
.row.items .category > a i {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 50px;
  height: 50px;
  background: url('../images/pink_arrow.png') #ea5245 no-repeat center;
}
.row.items .category a {
  text-decoration: none;
}
.row.items .category ul {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 10px 0 6px 0;
  text-align: center;
  text-transform: uppercase;
}
.row.items .category li a {
  line-height: 30px;
  display: block;
  font-size: 14px;
  color: white;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .row.banner .hidden-sm.hidden-md {
    padding: 10px 10px 0 10px;
  }
  .row .megann {
    color: inherit;
  }
}
.row.conf h2 {
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .row.conf .jslider {
    width: calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    top: calc(100% - 134px);
    top: -webkit-calc(100% - 44px);
    left: 20px;
  }
  .row.conf .jslider .jslider-value span,
  .row.conf .jslider .jslider-label span {
    color: black;
  }
  .row.conf .filter {
    position: relative;
    height: 273px;
    background: url('../images/katerbar.jpg') no-repeat left 50px;
  }
  .row.conf .filter .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: url('../images/title-back.png') repeat top left;
  }
  .row.conf .filter span {
    text-transform: uppercase;
    font-size: 14px;
    color: white;
  }
  .row.conf .filter span.text {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 53px;
    display: none;
  }
  .row.conf .filter span.text.sel {
    display: block;
  }
  .row.conf .filter span.arrows {
    position: absolute;
    background: url('../images/farrow.png') no-repeat center;
    width: 50px;
    height: 50px;
    top: 0;
    cursor: pointer;
    z-index: 1;
  }
  .row.conf .filter span.arrows.next {
    right: 0;
  }
  .row.conf .filter span.arrows.back {
    left: 0;
    transform: rotate(180deg);
  }
}
.row.conf .showme {
  width: 100%;
  margin: 0 auto;
  font-size: 24px;
  line-height: 25px;
  display: inline-block;
}
.row.conf .showme span {
  text-align: center;
  display: block;
  padding: 0 15px;
  font-size: 24px;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 45px;
  background-color: #fff;
}
.row.conf .showme div {
  background: #f6f6f6;
  text-align: center;
  padding: 12px 0;
}
.row.conf .showme input {
  vertical-align: middle;
  padding-left: 10px;
}
.row.content {
  padding: 0 20px;
}
.row.content .address {
  background: #f6f6f6;
  position: relative;
  padding: 12.5px 0;
}
.row.content .address:after,
.row.content .address:before {
  background: #f6f6f6;
  content: '';
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
}
.row.content .address:after {
  left: -20px;
}
.row.content .address:before {
  right: -20px;
}
.row.content .address p {
  text-align: center;
  padding: 0 45px;
}
.row.content .address p img {
  float: left;
}
.row.content h2,
.row.content h1 {
  font-size: 18px;
  text-transform: uppercase;
}
.row.content ul {
  position: relative;
  list-style-type: none;
  background: #f6f6f6;
  padding: 22px 0;
  margin: 0;
}
.row.content ul a {
  font-size: 16px;
  text-decoration: underline;
}
.row.content ul li:before {
  content: '– ';
}
.row.content ul:after,
.row.content ul:before {
  background: #f6f6f6;
  content: '';
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
}
.row.content ul:after {
  left: -20px;
}
.row.content ul:before {
  right: -20px;
}
.row.item-card .inner {
  padding: 0 10px;
}
.row.item-card .item {
  display: block;
  width: 100%;
}
.row.item-card .item ~ span {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 53px;
  color: white;
  font-size: 18px;
  background: #003b8b;
  text-align: center;
}
.row.item-card .category {
  margin-bottom: 2px;
}
.row.item-card .category.white {
  background: white;
  font-size: 14px;
}
.row.item-card .category.white li {
  text-transform: none;
  color: black;
}
.row.item-card .category.purple {
  background: #ffffff;
}
.row.item-card .category.purple > a {
  background: #33333f;
}
.row.item-card .category.purple i {
  background-color: #25252e;
  background-image: url('../images/purple_arrow.png');
}
.row.item-card .category.purple ul {
  width: 90%;
  display: none;
  margin: 0;
  padding: 10px 0 6px 20px;
  text-align: left;
  text-transform: none;
  list-style-type: square;
}
.row.item-card .category.purple li {
  margin: 0 0 0 20px;
  margin-bottom: 30px;
  color: #ed3f33;
}
.row.item-card .category.purple li span {
  color: black;
}
.row.item-card .category.purple li:first-of-type {
  margin-left: 0;
  list-style-type: none;
}
.row.item-card .category.purple li a {
  display: block;
  font-size: 16px;
  color: white;
}
.row.item-card .category.opened i {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.row.item-card .category {
  background: #dd3934;
}
.row.item-card .category > a {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  height: 50px;
  width: 100%;
  padding: 18px 14px 12px 14px;
  background: #ec6a5a;
  vertical-align: middle;
  display: inline-block;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  /* vertical centering for legacy, horizontal centering for modern */
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: left;
  /* modern Flexbox only */
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /* legacy Flexbox only */
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
}
.row.item-card .category > a span {
  width: 85%;
}
.row.item-card .category > a i {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 50px;
  height: 50px;
  background: url('../images/pink_arrow.png') #ea5245 no-repeat center;
}
.row.item-card .category a {
  text-decoration: none;
}
.row.item-card .category ul {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 10px 0 6px 0;
  text-align: center;
  text-transform: uppercase;
}
.row.item-card .category li {
  color: white;
}
.row.item-card .category li a {
  line-height: 30px;
  display: block;
  font-size: 14px;
  color: white;
}
.row.similiar .megatit {
  margin-top: 20px;
}
.row.similiar .megahr {
  width: calc(100% - 20px);
  width: -webkit-calc(100% - 20px);
  margin: 0 auto 17px auto;
}
.row.similiar .col-xs-12 {
  padding: 0 44px;
  margin-bottom: 17px;
}
.row.similiar .col-xs-12 img {
  border: 4px solid white;
  margin-bottom: 3px;
  display: block;
  width: 100%;
}
.row.similiar .sim-item {
  border: 1px solid #bfbdbd;
  color: white;
  background: white;
  padding: 25px;
  text-align: left;
}
.row.similiar .sim-item a {
  color: #1b213e;
  font-size: 18px;
  text-transform: uppercase;
}
.row.similiar .sim-item span {
  color: #5b5b5b;
  text-transform: uppercase;
  font-size: 18px;
  display: block;
}
.row.similiar .sim-item p {
  font-size: 16px;
  color: black;
  margin-bottom: 0;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .row.items .item:nth-of-type(3n+3) {
    margin-right: 0;
  }
  .row.items .item:nth-of-type(4n + 4) {
    margin-right: 23px !important;
  }
  .row.similiar .col-sm-3:nth-of-type(3n + 3) {
    margin-right: 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .row #footmenu {
    display: none;
    background: #2f2f2f;
  }
  .row.items {
    padding: 0 15px;
  }
  .row.items img {
    border-color: white;
  }
  .row.items > div:first-of-type {
    padding: 0;
  }
  .row.items .item {
    width: 230px;
    margin-right: 24px;
    padding: 0;
  }
  .row.items .item:nth-of-type(4n + 4) {
    margin-right: 0;
  }
  .row div.threecolcont {
    padding: 0 !important;
  }
  .row .address img {
    position: absolute;
    top: 20px;
    left: 0;
  }
  .row .address p {
    text-indent: 34px;
    padding: 0 !important;
    text-align: left !important;
  }
  .row .address p:first-of-type {
    margin-top: 6px;
    margin-bottom: 16px;
  }
  .row .address p:last-of-type {
    margin-bottom: 4px;
  }
  .row .jslider {
    width: calc(100% - 34px);
    width: -webkit-calc(100% - 34px);
    left: 17px;
  }
  .row .showme span {
    line-height: 52px !important;
  }
  .row #pricesearch {
    width: 100%;
    margin: 0 auto;
  }
  .row .pricesearchtab {
    float: left;
    margin-right: 25px;
  }
  .row .pricesearchtab a {
    line-height: 60px;
    display: block;
    height: 54px;
    padding: 0 25px;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ecedee;
    border: 1px solid #cecece;
  }
  .row .activetab {
    background: url('http://supermarine.ru/i/bookmarkback.jpg');
    border: none;
  }
  .row .activetab a {
    background: url('http://supermarine.ru/i/arrdown.png') no-repeat 50% 57px;
    border: none;
    padding-bottom: 21px;
    color: #ffffff;
  }
  .row #pricesearchcont {
    width: 100%;
    height: 223px;
    background: url("http://supermarine.ru/i/katerbar.jpg") no-repeat;
    background-size: 100%;
    clear: both;
    margin-top: -2px;
    text-align: center;
  }
  .row .showme {
    margin: 0 auto;
    padding-top: 15px;
    font-size: 24px;
    line-height: 25px;
    display: inline-block;
  }
  .row .showme input {
    vertical-align: middle;
    padding-left: 10px;
  }
  .row .showme span {
    display: inline-block;
    height: 45px;
    padding: 0 15px;
    font-size: 24px;
    line-height: 45px;
    background-color: #ffffff;
  }
  .row #welcometext {
    width: 870px;
    clear: both;
  }
  .row #welcometext h1 {
    font-size: 39px;
    line-height: 39px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .row #welcometext h2 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .row #threecols {
    width: 100%;
    float: left;
    margin-bottom: 0;
  }
  .row div.threecolcont {
    padding: 20px;
    font-size: 15px;
    color: #363636;
    line-height: 20px;
  }
  .row div.threecolcont span {
    background: #eaeaea;
    display: block;
    font-style: italic;
    margin: -20px;
    margin-top: 27px;
    padding: 20px;
  }
  .row div.threecolcont ul li {
    margin-left: 15px;
  }
  .row #fullwidth .aftervideo div {
    width: 390px;
  }
  .row #fullwidth .aftervideo div p {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 25px;
  }
  .row #fullwidth .aftervideo div p.verybig {
    font-size: 18px;
    line-height: 22px;
  }
  .row #fullwidth .aftervideo .vleft {
    float: left;
    margin-left: 30px;
  }
  .row #fullwidth .aftervideo .vright {
    float: right;
    margin-right: 30px;
  }
  .row #fullwidth .aboutverf {
    padding: 20px 0;
    width: 920px;
    margin-left: -20px;
    background-color: #f7f7f7;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0px 4px 3px -1px rgba(0, 0, 0, 0.4), 0px -3px 3px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 3px -1px rgba(0, 0, 0, 0.4), 0px -3px 3px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 3px -1px rgba(0, 0, 0, 0.4), 0px -3px 3px -1px rgba(0, 0, 0, 0.2);
  }
  .row #fullwidth .aboutverf div {
    width: 390px;
  }
  .row #fullwidth .aboutverf div p {
    font-family: Gals;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 25px;
  }
  .row #fullwidth .aboutverf div p.verybig {
    font-size: 18px;
    line-height: 22px;
  }
  .row #fullwidth .aboutverf .vleft {
    float: left;
    margin-left: 30px;
  }
  .row #fullwidth .aboutverf .vright {
    float: right;
    margin-right: 30px;
  }
  .row .imagesafter {
    width: 922px;
    position: relative;
    z-index: 0;
    background-color: #f7f7f7;
    margin-top: -20px;
  }
  .row .imagesafter .bigimg {
    width: 922px;
    margin-bottom: 20px;
  }
  .row .imagesafter .wf {
    float: left;
    width: 302px;
    margin-right: 8px;
  }
  .row .imagesafter .wf:last-child {
    margin-right: 0;
  }
  .row.item-card .item ~ span,
  .row.item-card .buttons.credit,
  .row.item-card .buttons.price,
  .row.item-card .buttons.query {
    width: calc(25% - 3px);
    width: -webkit-calc(25% - 3px);
    float: left;
    margin-top: 4px;
    margin-right: 4px;
  }
  .row.item-card .buttons.query {
    background: #ca343a;
    margin-right: 0;
  }
  .row.similiar {
    padding: 0 16px;
  }
  .row.similiar .col-sm-3 {
    padding: 0;
    margin-right: 23px;
    width: 230px;
  }
  .row.similiar .col-sm-3:nth-of-type(4n + 4) {
    margin-right: 0;
  }
  .row.similiar .megahr {
    width: 100%;
  }
  .row .inner {
    margin-top: 10px;
  }
  .row .inner > div {
    display: none;
  }
  .row .soc-cont {
    padding: 0;
  }
  .row .soc-cont > div {
    left: 0;
  }
  .row .buttons-area .buttons {
    width: calc(30% - 3px);
    width: -webkit-calc(30% - 3px);
    height: 50px;
    float: left;
    margin-right: 4px;
    max-width: 30%;
    margin-left: 0;
  }
  .row .buttons-area .buttons.pair {
    width: calc(20% - 3px);
    width: -webkit-calc(20% - 3px);
  }
  .row .buttons-area .buttons:last-of-type {
    margin-right: 0;
  }
}
#footwrap {
  background: #2f2f2f;
}
#footmenu {
  padding-top: 40px;
  margin: 0 auto;
}
#footmenu ul {
  float: left;
  color: #fff;
  font-size: 12px;
  margin-bottom: 0;
  text-transform: uppercase;
}
#footmenu .foot_clear:after {
  content: '';
  clear: both;
  display: block;
  margin-bottom: 25px;
}
#footmenu ul li:first-child {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #636363;
}
#footmenu ul li:first-child a {
  color: #838383;
  font-size: 16px;
  text-transform: uppercase;
}
#footmenu ul li {
  list-style: none;
  line-height: 24px;
  padding-right: 18px;
}
#footmenu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: normal;
  text-transform: none;
  color: #636363;
}
#footmenu ul li a:hover {
  color: #81aad2;
  text-decoration: underline;
}
#footlinks {
  background: #292929;
  margin: 0 auto;
}
#footlinks a {
  display: block;
  line-height: 60px;
  padding: 0 30px;
}
#footlinks a:first-child {
  border-left: none;
}
#footlinks a:last-child {
  border-right: none;
}
#footlinks a img {
  vertical-align: middle;
}
.centering {
  width: 100% !important;
  padding-top: 15px !important;
}
#footcontacts {
  width: 100%;
  height: 115px;
  background: #212121;
  clear: both;
}
#footcontwrap {
  text-align: center;
  height: 50px;
  padding-top: 11.5px;
}
#footcontwrap img {
  float: left;
  margin-right: 30px;
}
#footwrap .payment {
  background: #2f2f2f;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 21px;
  color: #636363;
  padding: 20px;
}
#footwrap .payment img {
  vertical-align: middle;
  display: block;
  margin: 15px auto 0 auto;
}
p.footphone {
  display: inline-block;
  font-size: 17px;
  line-height: 21px;
  color: #636363;
  background: url('http://www.supermarine.ru/i/footphone.png') no-repeat 0px 50%;
  padding-left: 20px;
}
p.copyrightmarine {
  font-size: 11px;
  line-height: 16px;
  color: #636363;
  float: left;
}
p.copyrightmarine2 {
  font-size: 11px;
  line-height: 16px;
  color: #636363;
  float: left;
  margin-left: 30px;
}
p.copyrightmarine2 a {
  text-decoration: underline;
  color: #afafaf;
}
#socialbuttons a {
  background: url('http://www.supermarine.ru/i/socialbtns.png') no-repeat;
  display: inline-block;
  vertical-align: top;
  width: 26px;
  height: 26px;
  margin-left: 5px;
}
#socialbuttons a.fb {
  background: url('http://www.supermarine.ru/i/socialbtns.png') no-repeat 0 0;
}
#socialbuttons a.vk {
  background: url('http://www.supermarine.ru/i/socialbtns.png') no-repeat 100% 0;
}
#socialbuttons a.twit {
  background: url('http://www.supermarine.ru/i/socialbtns.png') no-repeat -26px 0;
}
#socialbuttons a.play {
  background: url('http://www.supermarine.ru/i/socialbtns.png') no-repeat -52px 0;
}
#socialbuttons a.lj {
  background: url('http://www.supermarine.ru/i/socialbtns.png') no-repeat -78px 0;
}
#socialbuttons a.fb:hover {
  background: url('http://www.supermarine.ru/i/socialbtns.png') no-repeat 0 -26px;
}
#socialbuttons a.vk:hover {
  background: url('http://www.supermarine.ru/i/socialbtns.png') no-repeat 100% -26px;
}
#socialbuttons a.twit:hover {
  background: url('http://www.supermarine.ru/i/socialbtns.png') no-repeat -26px -26px;
}
#socialbuttons a.play:hover {
  background: url('http://www.supermarine.ru/i/socialbtns.png') no-repeat -52px -26px;
}
#socialbuttons a.lj:hover {
  background: url('http://www.supermarine.ru/i/socialbtns.png') no-repeat -78px -26px;
}
#vipro {
  margin: 0 auto;
}
#viprofloat {
  background: #212121;
  padding: 25px;
  text-align: center;
}
#viprofloat p {
  font-size: 13px;
  line-height: 16px;
  color: #636363;
  margin-bottom: 0;
}
#viprofloat a {
  color: #636363;
  text-decoration: none;
}
#viprofloat p span {
  font-size: 11px;
  line-height: 16px;
  color: #afafaf;
  float: left;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .fw .foot_clear {
    -moz-column-count: 3;
    -moz-column-gap: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 0;
    column-count: 3;
    column-gap: 0;
  }
  .fw #footmenu ul {
    float: none;
    display: inline-block;
    vertical-align: top;
    width: 250px;
  }
  .fw .centering {
    text-align: center;
  }
  .fw #footlinks a {
    margin-bottom: 10px;
    padding: 0 18px;
    display: inline-block;
    vertical-align: top;
  }
  .centering {
    width: 100% !important;
  }
  .megann {
    color: inherit;
  }
  .category {
    position: relative;
  }
  .category ul {
    position: absolute;
    background: #ea5245;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .centering a:nth-of-type(2) {
    padding: 0 25px !important;
  }
  .centering a:nth-of-type(3) {
    padding: 0 22px !important;
  }
  .centering a:nth-of-type(4) {
    padding: 0 23px !important;
  }
  .megann {
    color: inherit;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .buttons.catalog,
  .buttons.available {
    max-width: calc(100% - 88px);
    max-width: -webkit-calc(100% - 88px);
  }
  .centering a {
    width: 50%;
    float: left;
  }
  .buttons.pair {
    margin-left: 44px;
    max-width: calc(149px + 88px);
  }
  .buttons.pair:last-of-type {
    margin-right: 44px;
  }
}
