/**
 * Your Inspiration Themes
 * 
 * In this files the framework register default metaboxes.
 * 
 * @package WordPress
 * @subpackage Your Inspiration Themes
 * @author Your Inspiration Themes Team <info@yithemes.com>
 *
 * This source file is subject to the GNU GENERAL PUBLIC LICENSE (GPL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.gnu.org/licenses/gpl-3.0.txt
 */


/********************************************

In this file you can add your custom CSS.
It will always override rules in style.css.
Good work... and good luck! :)


********************************************/
.fullwidthbanner-container .fullwidthabanner {
    bottom: 0;
    position: absolute;
}

#logo {
    min-height: 82px;
    margin-bottom: 7px;
}
#logo> div {
    text-align: center;
//padding-left: 50px;
}
#logo-img {
    min-height: 24px;
    padding-top: 12px;
// padding-left: 16px;

}
#logo-img img {
    width: 103px;
}
#tagline{
    margin-top: 7px;
    color: #fff !important;
    font-size: 16px !important;

}
#tagline:before{
    font-family: FontAwesome;
    content: "\f095";
    font-size: 16px;
    margin-right: 5px;
    color: #fff;
}
#header-container .row>.span10, #header-cart, #footer {
    background-color: rgba(125, 125, 125, 1) !important;
    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(top,  #7d7e7d 0%, #2d2d2d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#2d2d2d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7d7e7d 0%,#2d2d2d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7d7e7d 0%,#2d2d2d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7d7e7d 0%,#2d2d2d 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7d7e7d 0%,#2d2d2d 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#2d2d2d',GradientType=0 ); /* IE6-9 */
    min-height:96px;


}

.home-row .home-widget p {
    font-size: 13px !important;
}
#header-container .row>.span10>div.border{
    margin: 0 7px 0 4px;
}
.yith-wcan-color li a[title="black-red-white"] {
    background: url('../images/w5/brw.png') no-repeat top left !important;
}
.yith-wcan-color li a[title="Черный-красный-белый"] {
    background: url('../images/w5/brw.png') no-repeat top left !important;
}
.yith-wcan-color li a[title="black-red-white"]:hover {
    background: url('../images/w5/brw.png') no-repeat top left !important;
}
.yith-wcan-color li a[title="Черный-красный-белый"]:hover {
    background: url('../images/w5/brw.png') no-repeat top left !important;
}
.w5_cart{
    position: absolute;
    right:-5px;
    top: -45px;
}

.home-row .home-widget .text-image, .sidebar .widget.text-image .text-image {
    right: 9px;
}
.w5_div {
    margin: 0px -20px 0px -20px;
    padding: 30px 0 30px 20px;
    background: #fff;
}
.w5_div h1 {
    margin: 0 0 40px -20px;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 45px;
    line-height: 45px;
    background: url('../images/w5/ln2.png') repeat-x 0px 9px;
    padding-left: 20px;
}
.w5_div h1 span{
    padding: 20px;
    background: #fff;
}
.home-row {
    margin: -30px -20px 30px -20px;
    padding: 40px 20px 30px 20px;
    background: #555;
}
.home-widget>div {
    background: #f3f3f3;
}
.home-row .home-widget:first-child {
    padding-left: 15px;
}
.home-row .home-widget .widget-wrap,.home-row .home-widget .widget-wrap.widget-last  {
    min-height: 110px;
    padding-right: 115px !important;
}
.home-row .home-widget .widget-wrap h3 {
    padding-right: 0;
    margin-right: 0;
}
.home-row .home-widget .widget-wrap p{

    padding-right: 0 !important;
}
.home-row .home-widget {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;

}
.w5_gray1{
    margin: 20px -20px -20px -20px;
    padding: 30px 0 30px 20px;
    background: #efefef;
}
#w5_map {
    height: 100%;
    margin: 0px;
    padding: 0px

}
#map {
    height: 500px;
    width: 1210px;
}
#map .border {
    height: 500px;
}
#map .view-map {
    bottom: -7px;
}
.gmnoprint img {
    max-width: none;
}
#header .span10 .topbar-border{
    border-bottom: 1px dashed #999 !important;
    margin-left: -19px;
}
#header-cart .topbar-border{
    border-bottom: 1px dashed #999 !important;

}
#topbar .widget_search_mini {
    border-left: 0;
}

#header .border, #header-cart .border {
    border-color: #fff !important;
    border-radius: 0 0 5px 5px;
    border-style: none !important;
    box-shadow: none;


}
#header .innerborder, #header-cart .innerborder {
    border-radius: 0 0 9px 9px;
    border: none !important;
// box-shadow: none !important;
}
#header-cart{
//   box-shadow: none;
    min-height: 96px;
    color: #fff;
}
#header-cart:after{
    border-radius: 0 0 9px 9px;
    border-style: none !important;
}
#header .span10, #header-cart {
    border-radius: 0 0 7px 7px;
    border: none !important;


}
#nav ul.level-1 > li {
    margin-top: 1px;
}
#nav ul.level-1 > li > a {
    padding-top: 8px;
    border-top: 2px solid transparent;
    transition: all 0.5s ease;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7)! important;
    color: #bbb;
    font-size: 16px !important;
}
#nav ul.level-1 > li > a:hover, #nav ul.level-1 > li.current-menu-item > a:hover {
    background: rgba(200,200,200,0.35);
    border-top: 2px solid red;
    color: #fff;

}
#nav ul.level-1 > li.current-menu-item > a {
    background: rgba(200,200,200,0.15);
    border-top: 2px solid transparent;
    border-top: 2px solid rgba(255,0,0,0.4);
    color: #fff;

}
#topbar .widget_search_mini input {
    background-color: rgba(220,220,220,0.8);
    border-style: none;
    border-radius: 2px;
}
#copyright {
    background: #000 !important;
}
#copyright .container {
    border-top: 1px dashed #444 !important;
}
#header-cart .widget_shopping_cart .cart_label span {
    font-family: 'Cuprum',sans-serif !important;

}
#header-cart .widget_shopping_cart .cart_label > a > span ,
#header-cart .border span.cart-label {
    color: #bbb;
}
#header-cart  .widget_shopping_cart .cart_label > a > span > .amount, #header-cart  .widget_shopping_cart .cart_label > a > span.cart-items-number {
    color: #bbb;
    font-size: 14px !important;
}


.faq-title .minus, #sidebar-shop-sidebar .widget .minus  {
    background-color: #ff0000 !important;
}
.faq-filters-container, .faq-filters {
    border-style: none;
    background: #ddd;
}
.faq-filters .sbHolder{
    background: #fff !important;
}

.contact-form li.submit-button input.sendmail:hover {
    background: #ff0000;
}
#contact-form-contact{
    margin-top: 16px;

}
.contact-form-error, #contact-form-contact input,#contact-form-contact textarea {
    font-family: 'PT Sans', sans-serif !important;
}
.number-phone{
    font-family: 'Open Sans', sans-serif !important;
}
.yit_toggle_menu ul.menu li.dropdown.opened > a {
    color:#373736;
}

.yit_toggle_menu ul.menu li.dropdown > a {
    padding-left: 25px;
    font-family: 'Cuprum', sans-serif !important;
}
.yith-woocompare-widget h3 {
    font-family: 'Cuprum', sans-serif !important;
    color: #373736 !important;
}
.home-row .home-widget h3 {
    font-size: 17px !important;
    font-family: 'Cuprum', sans-serif !important;
}
.testimonial-page .thumbnail {
    top: 26px;
    right: 35px;
}
.testimonial-page .testimonial-name{
    margin-right: 0;
    margin-top: 8px;
}
img.attachment-thumb-testimonial-circle {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50% !important;
    padding-top: 0 !important;
}
.testimonial-page> div {
    padding-right: 20px;
}
.testimonial .testimonial-text p, .testimonial .testimonial-text-full p, .testimonial-page .testimonial-text-full p{
    font-size: 19px !important;
}
.contact-info ul li {
    border-bottom: 1px dashed #ddd !important;
}

.woocommerce ul.products li.product.classic a.thumb img.image-hover {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

}
.woocommerce ul.products li.product.list img {
    padding: 3px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px;
}
.woocommerce ul.products li.product a.thumb img{

}
.woocommerce ul.products li.product a.thumb {
    background: #efefef;
    border-radius: 5px;
    border-color: #ebebeb !important;
    transition: border-color 0.3s ease;
}
.woocommerce ul.products li.product.grid:hover  div.product-actions {
    opacity: 1;
    bottom: 27px;
}
.woocommerce ul.products li.product.grid:hover  a.button {
    opacity: 1;
    bottom: 80px;
}
.woocommerce ul.products li.product.grid:hover  a.thumb {
    border-color: #E68889 !important;

}
.woocommerce .product-meta-wrapper .amount {
    font-family: 'Cuprum', sans-serif !important;
    font-size: 17px;
}
.woocommerce .product-meta-wrapper h3.upper {
    font-family: 'Cuprum', sans-serif !important;
}
.woocommerce ul.products li.product {
}
.woocommerce .star-rating span:before, .woocommerce-page .star-rating span:before {
    color:#E70800;
}
.woocommerce .product.grid .product-meta-wrapper a.button {
    position: absolute;
    font-family: 'Cuprum', sans-serif !important;
    font-size: 17px;
    width: 100px !important;
    padding: 5px 15px;
    line-height: 22px;
    text-align: center;
    transition: opacity 0.4s ease,bottom 0.2s ease;
    bottom: 20px;
    right: 67px;
    opacity: 0;
}
.woocommerce .product.grid .product-meta-wrapper a.button:active {
    top: auto;
}
.woocommerce .product.grid .product-meta-wrapper {
    position: relative;

}
.woocommerce ul.products li.product.list .product-wrapper {
    position: relative;
}
.woocommerce ul.products li.product.list .product-meta-wrapper a.add_to_cart_button,.woocommerce ul.products li.product.list .product-meta-wrapper a.button.product_type_variable {
// position: absolute;
    font-family: 'Cuprum', sans-serif !important;
    font-size: 17px;
    width: 100px !important;
    padding: 5px 15px;
    line-height: 22px;
    text-align: center;
//bottom: -7px;
//left: 293px;
}
.woocommerce ul.products li.product.list .product-actions a {
    font-family: 'Cuprum', sans-serif !important;
    font-size: 13px !important;
}
.single-product.woocommerce div.product .product-actions a:hover{
    color: #ff0000;
}
.woocommerce ul.products li.product.list .product-actions a:hover{
    color: #fff;
}
.woocommerce ul.products li.product.list .product-actions a:hover{
    color: #ff0000 !important;
}

.woocommerce ul.products li.product.list {
    border: none;
}
.woocommerce ul.products li.product.list .product-wrapper {
    border: none;
}

.woocommerce .product .button:before, .wishlist_table .add_to_cart.button:before {
    content: '';
}
.woocommerce .product.grid div.product-actions {
    transition: opacity 0.3s ease,bottom 0.4s ease;
    position: absolute;
    bottom: 38px;
    left: 4px;
    background: #333;
    background: rgba(42,42,42,0.8);
    text-align: center;
    width: 258px;
    padding: 3px 0 2px!important;
    color: #fff !important;
    opacity: 0;
}
.woocommerce  .product.grid div.product-actions a {
    font-family: 'Cuprum', sans-serif !important;
    font-size: 13px !important;
    line-height: 16px !important;
    color: #efefef !important;
    width: 79px !important;
    display: inline-block !important;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);

}

.woocommerce ul.products li.product.grid.classic span.added {
    top: -8px;
}
.single-product.woocommerce div.product table.variations td.value {
    padding-right: 0;
}

.single-product.woocommerce div.product .woocommerce-breadcrumb .current {
    color: #ff0000;
}

.single-product.woocommerce #primary div.product .woocommerce-tabs.vertical ul.tabs li.active a, .single-product.woocommerce #primary div.product .woocommerce-tabs.vertical ul.tabs li a:hover {
    color: #ff0000;
}
div.pp_overlay {
    background: none repeat scroll 0 0 #333;
}

@media (max-width: 1217px) and (min-width:998px){
    #map{
        width: auto;
    }
    .woocommerce .product.grid div.product-actions {
        width: 208px;
    }
    .woocommerce .product.grid .product-meta-wrapper a.button {
        right: 42px;
    }
    .woocommerce .product-meta-wrapper .amount {
        font-size: 15px;
    }


}

@media (max-width: 1200px) {
    .home-row .home-widget .widget-wrap h3 {
        font-size: 13px !important;
        margin-bottom: -3px;
    }
}
@media (max-width: 979px) and (min-width:768px){
    .revolution-slider{
        background: #000;
        padding-top: 60px;
    }

    #nav ul.level-1 > li > a { font-size: 10px !important;}
    .home-row .home-widget .widget-wrap h3 {
        font-size: 17px !important;
        margin-bottom: 6px;
    }
    .home-row .row{
        padding-right: 20px;
    }
    .home-row .home-widget{
        width: 100%;
        box-sizing: border-box;

    }
    .home-row .home-widget:first-child {
        padding-left: 0px;
    }

    .woocommerce .product.grid div.product-actions {
        display: none;
    }

    .woocommerce .product.grid .product-meta-wrapper a.button {
        right: 16px;
    }
    #map{
        width: auto;
    }
    /*  .home-row .home-widget h3, .home-row .home-widget p{
          padding-right: 41% !important;
          width: 59% !important;


      }*/

    .call-to-action .number-phone {
        display: block;
    }
    #tagline{
        font-size: 12px !important;
    }
}
@media (max-width: 767px) {
    .responsive .hidden-phone {
        display:block !important;
    }
    #lang_sel ul li ul{
        right: 2px;
    }
    #header .span10 .topbar-border{
        margin-left: 13px;
    }
    .home-row .row{
        padding: 0 20px;

    }
    .home-row .home-widget{
        width: 100%;
        box-sizing: border-box;

    }
    .home-row .home-widget:first-child {
        padding-left: 0px;
    }
    .home-row .home-widget .widget-wrap h3 {
        font-size: 17px !important;
        margin-bottom: 6px;
    }
    .w5_div .woocommerce {
        padding: 0 30px 0 10px;
    }
    .woocommerce .product.grid div.product-actions {
        display: none;
    }
    .responsive .products ul li.product.grid, .responsive ul.products li.product.grid {
        margin-bottom: 58px;
    }
    .woocommerce ul.products li.product.grid.classic a.button {
        display: none !important;
    }
    .call-to-action .number-phone {
        margin-top: 20px;
    }
    .w5_gray1 {
        padding: 30px 20px;
    }

}

#popupWrap .popup .border-1, #popupWrap .popup .border-2 {
    border: none;
}
#popupWrap .popup .product-share {
    border-bottom: 1px dashed #ff0000;
    padding-bottom: 3px;
}

#header-cart #lang_sel, #topbar #lang_sel {
    z-index: 8100;
}
#header-cart #lang_sel ul li ul li a, #topbar #lang_sel ul li ul li a {
    font-family: 'PT Sans', sans-serif;
}
#sticky-footer-push{
    transition: height 0.2s linear;
}
#billing_country_field {
    width: 47%;
    float: left;
}
#billing_country_field  strong{
    font-weight: normal;
    display: block;
    width: 100%;
    border: 1px solid #D3D2D2;
    padding: 5px 7px;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#sidebar-shop-sidebar h3 {
    font-family: 'Cuprum',sans-serif;
}

ul.products li.product.list .product-wrapper a.thumb img.img-hover {
    width: 254px !important;
    height: 254px !important;
}
#faqs-container {
    min-height: 320px;
}
.yit_toggle_menu ul.sub-menu li  a{
    font-family: 'Cuprum', sans-serif !important;
}