.box-faq .grid-9 > p {
  margin-top: 0;
  margin-bottom: 27px;
}
.box-faq .grid-9 ul {
  padding: 0;
  margin: 0;
}
.box-faq .grid-9 ul li {
  transition: background 1s ease;
  list-style: none;
}
.box-faq .grid-9 ul li.active {
  background: url("../images/question.png") no-repeat left top;
  padding: 0 0 24px 0;
}
.box-faq .grid-9 ul li.active div {
  position: relative;
  background: #f3f2ef;
  border: 1px solid #e5e4dc;
  padding: 0 19px;
  margin-left: 60px;
}
.box-faq .grid-9 ul li.active div:after,
.box-faq .grid-9 ul li.active div:before {
  right: 100%;
  top: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.box-faq .grid-9 ul li.active div:after {
  border-color: rgba(243, 242, 239, 0);
  border-right-color: #f3f2ef;
  border-width: 9px;
  margin-top: -9px;
}
.box-faq .grid-9 ul li.active div:before {
  border-color: rgba(229, 228, 220, 0);
  border-right-color: #e5e4dc;
  border-width: 10px;
  margin-top: -10px;
}
.box-faq .grid-9 ul li.active div h4 {
  font-size: 18px;
  margin-top: 9px;
  margin-bottom: 6px;
}
.box-faq .grid-9 ul li.active div p {
  font-size: 14px;
  margin-top: 0;
}
.box-faq .grid-9 ul li:not(.active) div {
  padding: 0 19px;
  margin-left: 60px;
  background: white;
  border: 1px solid white;
}
.box-faq .grid-9 ul li:not(.active) div h4 {
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 9px 0;
}
.box-faq .grid-9 ul li:not(.active) div h4 span {
  border-bottom: 2px dashed #dfddc8;
  padding-right: 5px;
}
.box-faq .grid-9 ul li:not(.active) div p {
  display: none;
}
.box-faq .grid-3 ul {
  padding: 0;
  margin: 0;
}
.box-faq .grid-3 ul li {
  margin-bottom: 18px;
  text-align: center;
  list-style: none;
}
.box-faq .grid-3 ul li.super a div:after {
  background: url("../images/lent.png") no-repeat;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  height: 91px;
}
.box-faq .grid-3 ul li a {
  display: block;
  color: black;
  text-decoration: none;
}
.box-faq .grid-3 ul li a div {
  position: relative;
  display: inline-block;
}
.box-faq .grid-3 ul li a img {
  box-shadow: 0 0 3px rgba(78, 78, 78, 0.3);
  border-bottom: 1px solid #a7a7a7;
  border-left: 1px solid #d8d5d5;
  border-right: 1px solid #d8d5d5;
  border-top: 1px solid #d8d5d5;
}
.box-faq .grid-3 ul li a span {
  font-size: 14px;
  display: inline-block;
  border-bottom: 1px solid #dad8cb;
}
