//= require active_admin/base
//= require zeroclipboard
//= require "video-js"
//= require utils

videojs.options.flash.swf = '<%= asset_url("video-js/video-js.swf") %>'

# Добавляет кнопки "Выбрать все", "Снять все" для групп чекбоксов
$(document).ready ->
  $select_btns = $("<li class=\"choice\"><div class=\"select-btn-container\"><button class=\"select_all\">Выбрать все</button><button class=\"select_none\">Снять все</button></div></li>")
  $(".inputs .check_boxes").each (i, el) ->
    $(el).find(".choices-group").prepend $select_btns.clone()
    return

  $(".inputs").on("click", ".select_all", ->
    $check_boxes = $(this).parents(".choices-group").find("input")
    $check_boxes.each ->
      @checked = true
      return

    false
  ).on "click", ".select_none", ->
    $check_boxes = $(this).parents(".choices-group").find("input")
    $check_boxes.each ->
      @checked = false
      return

    false

  clip = new ZeroClipboard $('.clipboard')

  $('.clipboard').on 'click', (e) -> e.preventDefault()

  clip.on 'ready', (readyEvent) ->
    clip.on 'aftercopy', (event) ->
      old_html = $(event.target).html()
      $(event.target).html('<%= image_tag "ok.png" %>')
      setTimeout(
        ->
          $(event.target).html(old_html)
        , 1000
      )

  return
