/*
 *= require_self
 */
/* line 9, ../sass/interview.scss */
#interview-top-bar {
  margin-bottom: 50px;
}

/* line 13, ../sass/interview.scss */
#interview-name {
  background-color: #FAFAFA;
  padding: 10px 20px;
  color: #333333;
}
/* line 19, ../sass/interview.scss */
#interview-name i {
  margin-right: 5px;
}

/* line 24, ../sass/interview.scss */
#interview-content {
  background-color: #FFFFFF;
}

/* line 28, ../sass/interview.scss */
.form-style {
  border: 1px solid #DDDDDD;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 5px;
}
/* line 34, ../sass/interview.scss */
.form-style .form-header {
  background-color: #008CBA;
  border: none;
  padding: 15px;
  color: #FFFFFF;
  font-weight: bold;
}
/* line 41, ../sass/interview.scss */
.form-style .form-header i {
  margin-right: 4px;
}
/* line 45, ../sass/interview.scss */
.form-style .form-content {
  padding: 15px;
}
/* line 48, ../sass/interview.scss */
.form-style .form-actions {
  background-color: #EFEFEF;
  border: none;
  padding: 15px;
}
/* line 53, ../sass/interview.scss */
.form-style .form-actions .button {
  margin: 0;
}

/* line 59, ../sass/interview.scss */
.actions {
  background-color: #EFEFEF;
  padding: 15px;
}
/* line 63, ../sass/interview.scss */
.actions .button {
  margin: 0;
}

/* line 68, ../sass/interview.scss */
h4.colored-title {
  background-color: #008CBA;
  border: none;
  padding: 15px;
  color: #FFFFFF;
  margin-top: 20px;
}

/* line 76, ../sass/interview.scss */
#interview-instructions-content {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
/* line 81, ../sass/interview.scss */
#interview-instructions-content h5 {
  font-weight: bold;
}
/* line 84, ../sass/interview.scss */
#interview-instructions-content img {
  margin-right: 20px;
}
/* line 87, ../sass/interview.scss */
#interview-instructions-content .text {
  margin-top: 15px;
}

/* line 92, ../sass/interview.scss */
#interview-test-content {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

/* line 98, ../sass/interview.scss */
.camera-bg {
  background-color: #4b4b4b;
}
/* line 101, ../sass/interview.scss */
.camera-bg img {
  margin-top: 20px;
}

/* line 106, ../sass/interview.scss */
.question {
  margin-bottom: 25px;
}

/* line 110, ../sass/interview.scss */
.timer_prompt {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
