/* Buttons styles
 *
 */
/* line 5, ../../sass/hireman/buttons.scss */
.btn-polygon {
  min-width: 260px;
  color: #f15158;
  font-size: 20px;
  line-height: 69px !important;
  border: none;
  background: url('../../images/border-pink.svg?1441543074') 0px 0px no-repeat;
}

/* line 13, ../../sass/hireman/buttons.scss */
.btn-polygon-inverse {
  color: #fff;
  background: url('../../images/border-white.svg?1441543074') 0px 0px no-repeat;
}

/* line 17, ../../sass/hireman/buttons.scss */
.btn-polygon-dark {
  color: #71a0a1;
  background: url('../../images/border-dark.svg?1441543074') 0px 0px no-repeat;
}

/* line 21, ../../sass/hireman/buttons.scss */
.btn-polygon:hover {
  color: #fff;
  background: url('../../images/button-pink.svg?1441543074') 0px 0px no-repeat;
}

/* line 25, ../../sass/hireman/buttons.scss */
.btn-polygon-inverse:hover {
  color: #f15158;
  background: url('../../images/button-white.svg?1441543074') 0px 0px no-repeat;
}

/* line 29, ../../sass/hireman/buttons.scss */
.btn-polygon-dark:hover {
  color: #fff;
  background: url('../../images/button-dark.svg?1441543074') 0px 0px no-repeat;
}

/* line 33, ../../sass/hireman/buttons.scss */
.btn-polygon:active {
  color: #fff;
  background: url('../../images/button-pink-pressed.svg?1441543074') 0px 0px no-repeat;
}

/* line 37, ../../sass/hireman/buttons.scss */
.btn-polygon-inverse:active {
  color: #f15158;
  background: url('../../images/button-white-pressed.svg?1441543074') 0px 0px no-repeat;
}

/* line 41, ../../sass/hireman/buttons.scss */
.btn-polygon-dark:active {
  color: #fff;
  background: url('../../images/button-dark-pressed.svg?1441543074') 0px 0px no-repeat;
}

/* line 45, ../../sass/hireman/buttons.scss */
.svg-polygon {
  position: absolute;
  left: 0;
}

/* line 52, ../../sass/hireman/buttons.scss */
.svg-image-container {
  position: absolute;
  top: -33px;
  left: -25px;
}

/* line 59, ../../sass/hireman/buttons.scss */
.buttons-area {
  margin: 33px -10px 0 !important;
}

/* line 62, ../../sass/hireman/buttons.scss */
.btn {
  position: relative;
  display: inline-block;
  text-align: center;
  line-height: 48px;
  vertical-align: middle;
  outline: none;
}

/* line 70, ../../sass/hireman/buttons.scss */
.btn-rectangle {
  margin: 0 10px;
  min-width: 207px;
  min-height: 48px;
  border: 1px solid #71a0a1;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 79, ../../sass/hireman/buttons.scss */
.btn-rectangle:hover {
  color: #264950;
  background-color: #71a0a1;
}

/* line 83, ../../sass/hireman/buttons.scss */
.btn-rectangle:active {
  color: #264950;
  background-color: #9ab6ba;
  border-color: #9ab6ba;
}

/* line 88, ../../sass/hireman/buttons.scss */
.btn-pink-inverse {
  color: #fff;
  background-color: #f5887b;
  border-color: #f5887b;
}

/* line 93, ../../sass/hireman/buttons.scss */
.btn-pink-inverse:hover {
  color: #fff;
  background-color: #f15158;
  border-color: #f15158;
}

/* line 98, ../../sass/hireman/buttons.scss */
.btn-violet {
  color: #fff;
  background-color: #8779a6;
  border-color: #8779a6;
}

/* line 103, ../../sass/hireman/buttons.scss */
.btn-violet:hover {
  color: #6c5ba2;
  background-color: #fff;
  border-color: #fff;
}

/* line 108, ../../sass/hireman/buttons.scss */
.btn-violet:active {
  color: #6c5ba2;
  background-color: #d7e6f2;
  border-color: #d7e6f2;
}

/* line 114, ../../sass/hireman/buttons.scss */
.btn {
  font-family: 'NeoSansPro-Light', sans-serif;
}
/* line 116, ../../sass/hireman/buttons.scss */
.btn span {
  float: left;
  margin: 14px 10px 0 0;
}
/* line 120, ../../sass/hireman/buttons.scss */
.btn a {
  float: left;
  margin: 11px 3px 0 0;
}

/* line 126, ../../sass/hireman/buttons.scss */
.btn-white {
  background-color: #fff;
  border: solid #393938 1px;
  color: #393938;
}
/* line 130, ../../sass/hireman/buttons.scss */
.btn-white:hover {
  background-color: #393938;
  color: #fff;
}

/* line 136, ../../sass/hireman/buttons.scss */
.btn-white-light {
  color: #b0b0b0;
  border-color: #b0b0b0;
}
/* line 139, ../../sass/hireman/buttons.scss */
.btn-white-light:hover {
  color: #b0b0b0;
  background-color: #fff;
  opacity: 0.9;
}

/* line 146, ../../sass/hireman/buttons.scss */
.btn-gray-light {
  background-color: #9c9895;
  border: solid #9c9895 1px;
  color: #fff;
}
/* line 150, ../../sass/hireman/buttons.scss */
.btn-gray-light:hover {
  opacity: 0.5;
}

/* line 155, ../../sass/hireman/buttons.scss */
.btn-green {
  background-color: #38B449;
  border: solid #38B449 1px;
  color: #fff;
}
/* line 159, ../../sass/hireman/buttons.scss */
.btn-green:hover {
  background-color: #38B449;
  opacity: 0.5;
  color: #fff;
}

/* line 166, ../../sass/hireman/buttons.scss */
.btn-red {
  background-color: #F05454;
  border: solid #F05454 1px;
  color: #fff;
}
/* line 170, ../../sass/hireman/buttons.scss */
.btn-red:hover {
  background-color: #F05454;
  opacity: 0.5;
  color: #fff;
}

/* line 177, ../../sass/hireman/buttons.scss */
.btn-black {
  background-color: #000;
  border: solid #000 1px;
  color: #fff;
}
/* line 181, ../../sass/hireman/buttons.scss */
.btn-black:hover {
  background-color: #000;
  opacity: 0.5;
}

/* line 187, ../../sass/hireman/buttons.scss */
.btn-transparent {
  background-color: transparent;
  border: solid #fff 1px;
  color: #fff;
}
/* line 191, ../../sass/hireman/buttons.scss */
.btn-transparent:hover {
  background-color: #fff;
  color: #393938;
}

/* line 197, ../../sass/hireman/buttons.scss */
.btn-file {
  margin: 0;
  height: 50px;
  width: 315px;
  overflow: hidden;
}

/* line 204, ../../sass/hireman/buttons.scss */
.btn-contact-candidate {
  margin-bottom: 15px !important;
}

/* line 210, ../../sass/hireman/buttons.scss */
button:hover .basket-ico {
  background: url('../../images/sprite.png?1441543075') -67px -358px no-repeat;
}

/* line 218, ../../sass/hireman/buttons.scss */
.btn-white-light:hover .basket-ico {
  background: url('../../images/sprite.png?1441543075') -67px -416px no-repeat;
}
