/* Buttons styles
 *
 */

 .btn-polygon {
      min-width: 260px;
      color: #f15158;
      font-size: 20px;
      line-height: 69px !important;
      border: none;
      background: image-url('border-pink.svg') 0px 0px no-repeat;
  }
  .btn-polygon-inverse {
      color: #fff;
      background: image-url('border-white.svg') 0px 0px no-repeat;
  }
  .btn-polygon-dark {
      color: #71a0a1;
      background: image-url('border-dark.svg') 0px 0px no-repeat;
  }
  .btn-polygon:hover {
      color: #fff;
      background: image-url('button-pink.svg') 0px 0px no-repeat;
  }
  .btn-polygon-inverse:hover {
      color: #f15158;
      background: image-url('button-white.svg') 0px 0px no-repeat;
  }
  .btn-polygon-dark:hover {
      color: #fff;
      background: image-url('button-dark.svg') 0px 0px no-repeat;
  }
  .btn-polygon:active {
      color: #fff;
      background: image-url('button-pink-pressed.svg') 0px 0px no-repeat;
  }
  .btn-polygon-inverse:active {
      color: #f15158;
      background: image-url('button-white-pressed.svg') 0px 0px no-repeat;
  }
  .btn-polygon-dark:active {
      color: #fff;
      background: image-url('button-dark-pressed.svg') 0px 0px no-repeat;
  }
  .svg-polygon {
      position: absolute;
      left: 0;
  }
  // .item-svg-clip image {
  //   clip-path: url(#clipping);
  // }
  .svg-image-container {
      position: absolute;
      top: -33px;
      left: -25px;
  }


.buttons-area {
  margin: 33px -10px 0 !important;
}
.btn {
  position: relative;
  display: inline-block;
  text-align: center;
  line-height: 48px;
  vertical-align: middle;
  outline: none;
}
.btn-rectangle {
  margin: 0 10px;
  min-width: 207px;
  min-height: 48px;
  border: 1px solid #71a0a1;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.btn-rectangle:hover {
  color: #264950;
  background-color: #71a0a1;
}
.btn-rectangle:active {
  color: #264950;
  background-color: #9ab6ba;
  border-color: #9ab6ba;
}
.btn-pink-inverse {
  color: #fff;
  background-color: #f5887b;
  border-color: #f5887b;
}
.btn-pink-inverse:hover {
  color: #fff;
  background-color: #f15158;
  border-color: #f15158;
}
.btn-violet {
  color: #fff;
  background-color: #8779a6;
  border-color: #8779a6;
}
.btn-violet:hover {
  color: #6c5ba2;
  background-color: #fff;
  border-color: #fff;
}
.btn-violet:active {
  color: #6c5ba2;
  background-color: #d7e6f2;
  border-color: #d7e6f2;
}

.btn {
  font-family: 'NeoSansPro-Light', sans-serif;
  span {
    float: left;
    margin: 14px 10px 0 0;
  }
  a {
    float: left;
    margin: 11px 3px 0 0;
  }
}

.btn-white {
  background-color: #fff;
  border: solid #393938 1px;
  color: #393938;
  &:hover {
    background-color: #393938;
    color: #fff;
  }
}

.btn-white-light {
  color: #b0b0b0;
  border-color: #b0b0b0;
  &:hover {
    color: #b0b0b0;
    background-color: #fff;
    opacity: 0.9;
  }
}

.btn-gray-light {
  background-color: #9c9895;
  border: solid #9c9895 1px;
  color: #fff;
  &:hover {
    opacity: 0.5
  }
}

.btn-green {
  background-color: #38B449;
  border: solid #38B449 1px;
  color: #fff;
  &:hover {
    background-color: #38B449;
    opacity: 0.5;
    color: #fff;
  }
}

.btn-red {
  background-color: #F05454;
  border: solid #F05454 1px;
  color: #fff;
  &:hover {
    background-color: #F05454;
    opacity: 0.5;
    color: #fff;
  }
}

.btn-black {
  background-color: #000;
  border: solid #000 1px;
  color: #fff;
  &:hover {
    background-color: #000;
    opacity: 0.5
  }
}

.btn-transparent {
  background-color: transparent;
  border: solid #fff 1px;
  color: #fff;
  &:hover {
    background-color: #fff;
    color: #393938;
  }
}

.btn-file {
  margin: 0;
  height: 50px;
  width: 315px;
  overflow: hidden;
}

.btn-contact-candidate {
  margin-bottom: 15px !important;
}

button {
  &:hover {
    .basket-ico {
      background: image-url('sprite.png') -67px -358px no-repeat;
    }
  }
}

.btn-white-light {
 &:hover {
    .basket-ico {
      background: image-url('sprite.png') -67px -416px no-repeat;
    }
  }
}