/* Fonts styles
 *
 */
@font-face {
  font-family: 'fonts/NeoSansPro-Light';
  src: url("../fonts/NeoSansPro-Light.eot");
  src: url("../fonts/NeoSansPro-Light.eot") format("embedded-opentype"), url("../fonts/NeoSansPro-Light.woff2") format("woff2"), url("../fonts/NeoSansPro-Light.woff") format("woff"), url("../fonts/NeoSansPro-Light.ttf") format("truetype"), url("../fonts/NeoSansPro-Light.svg") format("svg");
}
@font-face {
  font-family: 'NeoSansPro-Regular';
  src: url("../fonts/NeoSansPro-Regular.eot");
  src: url("../fonts/NeoSansPro-Regular.eot") format("embedded-opentype"), url("../fonts/NeoSansPro-Regular.woff2") format("woff2"), url("../fonts/NeoSansPro-Regular.woff") format("woff"), url("../fonts/NeoSansPro-Regular.ttf") format("truetype"), url("../fonts/NeoSansPro-Regular.svg") format("svg");
}
