/* Forms styles
 *
 */

.select-vacancy {
  float: right;
  margin-top: 10px;
  .b-core-ui-select {
    background-color: #fff;
    border: solid #9a9693 1px;
  }
  .b-core-ui-select__dropdown {
    border: solid #9a9693 1px;
    background-color: #fff !important;
  }
}

.select-vacancy2 {
  @include clearfix();
  margin-bottom: 40px;
  .ik_select_link {
      width: 35%;
    float: left;
    margin-right: 20px;
    background-color: #dcd8d7;
  }
}

.select-vacancy3 {
  @include clearfix();
  margin-bottom: 40px;
}

.select-vacancy3a {
  display: inline-block;
  width: 40%;
  margin: 0 10px 0 0;
}

.experience-select {
  float: left;
  width: 200px;
}

.currency {
  font-size: 24px;
  vertical-align: middle;
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
  color: #6d6e71;
}

.select-vacancy3b {
  padding: 0 0 0 10px;
}

.select-vacancy4 {
  float: left;
  .b-core-ui-select {
    float: left;
    width: 120px;
    background-color: #fff;
    border: solid #a5a5a5 1px;
    color: #393938;
  }
  .b-core-ui-select__dropdown {
    border: solid #a5a5a5 1px;
    background-color: #fff !important;
  }
  .input-size-1 {
    width: 320px;
    height: 52px;
    margin-right: 20px;
  }
}

.select-size-1 {
  .b-core-ui-select {
    width: 150px;
  }
}

.select-company {
  margin-bottom: 40px;
  .ik_select_link {
    width: 35%;
    background-color: #fac8bd;
    border: solid #fac8bd 1px;
    color: #f05454;
  }
  .ik_select_link:after {
    border-color: #f05454 transparent
  }
  .ik_select_dropdown {
    border: solid #fac8bd 1px;
    background-color: #fff !important;
  }
  .b-core-ui-select__button {
    border-top: 8px solid #f05454;
  }
}

.upload-photo-block {
  float: left;
  width: 125px;
  margin-right: 35px;
  text-align: center;
  a {
    color: #fcc8bd;
    font-size: 16px;
    font-family: 'NeoSansPro-Light', sans-serif;
    text-decoration: underline;
  }
}

.photo-block {
  @include border-radius(5px);
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
  background-color: #fff;
  border: solid #fff 6px;
  img {
    width: 108px;
    height: 108px;
  }
}

.company-form-block {
  margin: 0 0 0 166px;
}

.company-form-label, .company-form-label2{
  display: block;
  margin: 10px 0 15px 0;
  color: #fcc8bd;
  font-size: 33px;
  font-family: 'NeoSansPro-Light', sans-serif;
  span {
    margin: 0 15px 0 0;
  }
}

.company-form-label2 {
  color: #393938;
}

.company-from-input, .company-from-input2{
  @include border-radius(5px);
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 5px 10px 5px;
  border: solid #fcc8bd 1px;
  background-color: transparent;
  color: #fcc8bd;
  font-size: 22px;
  line-height: 26px;
  font-family: 'NeoSansPro-Light', sans-serif;
}

.company-from-input2 {
  border: solid #a5a5a5 1px;
  color: #a5a5a5;
}

.company-form-left {
  display: inline-block;
  width: 670px;
  margin: 0 20px 0 0;
}

.company-form-right {
  display: inline-block;
  width: 300px;
}

.company-form-textarea, .company-form-textarea2 {
  @include border-radius(5px);
  min-height: 70px;
  padding: 5px 5px 5px 5px;
  border: solid #fcc8bd 1px;
  textarea {
    width: 100%;
    height: 60px;
    background-color: transparent;
    border: none;
    color: #fcc8bd;
    font-size: 22px;
    line-height: 26px;
    font-family: 'NeoSansPro-Light', sans-serif;
    &:focus {
      outline: none;
    }
  }
}

.company-form-textarea2 {
  border: solid #a5a5a5 1px;
  textarea {
    height: 460px;
    color: #a5a5a5;
  }
}

.company-question-list {
  color: #393938;
  font-family: 'NeoSansPro-Light', sans-serif;
  line-height: 24px;
  list-style: decimal;
  margin: 0 0 0 30px;
}

.create-vac-button-block {
  text-align: center;
}

.create-vac-content-container {
  @include clearfix();
  padding-bottom: 40px;
  vertical-align: top;
}

.create-vac-content-block {
  float: left;
  width: 33.3%;
  padding: 0 0 0 10px;
  .company-form-label2 {
    margin-left: -3px;
  }
}

// Hide placeholder on focus
input:focus::placeholder { color:transparent; }

#chose_file_input {
  display: none;
}

.validation-errors {
  margin: 2px 10px;
  padding: 2px 5px;
  color: #fff;
  font-size: 13px;
  background-color: #f15354;
  font-style: italic;
}

#sent_help_request {
  margin: 35px 0;
  font-size: 28px;
  line-height: 27px;
  color: #fff;
}

.success {
  margin: 35px 0;
  font-size: 24px;
  line-height: 27px;
  color: #000;
  display: inline-block;
  width: 270px;
}

textarea.contact-candidate {
  text-align: left;
  height: 150px;
}

form.button_to {
  display: inline;
}

.new_candidate {
  button {
    margin-left: 0;
  }
}
