/* Icons styles
 *
 */

.small-icon {
  position: relative;
  display: inline-block;
  width: 17px;
  height: 17px;
  top: 3px;
  margin-right: 10px;

  &.share-icon {
    margin-right: 7px;
  }
}

.column-icon {
    display: block;
    width: 90px;
    height: 110px;
    margin: 0 auto;
    background: image-url('sprite.png') -29px 0 no-repeat;
}
.bordered-column-icon {
    position: relative;
    display: block;
    width: 60px;
    height: 72px;
    margin: 0 auto;
    background: image-url('sprite.png') -28px 0 no-repeat;
}
.column-icon-question {
    width: 130px;
    background-position: -121px 0;
}
.column-icon-play {
    width: 129px;
    background-position: -252px 0;
}
.column-icon-search {
    width: 103px;
    background-position: -381px 0;
}
.column-icon-tv {
    width: 123px;
    background-position: -487px 0;
}
.column-icon-chat {
    width: 132px;
    background-position: -612px 0;
}
.column-icon-clock {
    top: 16px;
    margin-top: -9px;
    background-position: 0px -186px;
}
.column-icon-globe {
    top: 10px;
    height: 63px;
    background-position: 0px -119px;
}
.column-icon-lumia {
    width: 83px;
    height: 86px;
    background-position: -64px -179px;
}
.column-icon-face {
    top: 10px;
    height: 57px;
    margin-top: 14px;
    background-position: -0px -266px;
}
.column-icon-purse {
    top: 4px;
    width: 56px;
    height: 53px;
    margin-top: -4px;
    background-position: -64px -117px;
}
.column-icon-double {
    top: 2px;
    width: 64px;
    height: 48px;
    background-position: -71px -275px;
}



 .header-basket-ico {
    display: block;
    width: 22px;
    height: 29px;
    margin: 15px 0;
    background: image-url('sprite.png') -67px -358px no-repeat;
    &:hover {
      background: image-url('sprite.png') -67px -387px no-repeat;
    }
 }

.left-arrow-ico {
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0 0 0 10px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #fff;
}

.column-icon {
  &.column-icon-webcam {
    width: 50px;
    height: 75px;
    background-position: -141px -261px;
  }
  &.column-icon-mic {
    width: 48px;
    height: 75px;
    background-position: -197px -261px;
  }
  &.column-icon-propeller {
    width: 72px;
    height: 75px;
    background-position: -252px -240px;
  }
  &.column-icon-sun {
    width: 75px;
    height: 75px;
    background-position: -328px -240px;
  }
}

.download-ico {
  display: inline-block;
  width: 17px;
  height: 13px;
  background: image-url('sprite.png') -29px -429px no-repeat;
}

.x-ico-big-red {
  display: inline-block;
  width: 24px;
  height: 26px;
  background: image-url('sprite.png') -340px -351px no-repeat;
}

.pen-ico-big-red {
  display: inline-block;
  width: 25px;
  height: 26px;
  background: image-url('sprite.png') -310px -351px no-repeat;
}

.zoom-ico {
  position: relative;
  display: inline-block;
  width: 17px;
  height: 17px;
  top: 3px;
  background: image-url('sprite.png') -48px -429px no-repeat;
}

.zoom-ico-big-red {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: image-url('sprite.png') -284px -351px no-repeat;
}

.zoom-ico-white {
  @include border-radius(5px);
  display: inline-block;
  width: 23px;
  height: 23px;
  background: image-url('sprite.png') -44px -406px no-repeat;
  background-color: #9a9693;
}

.heard-ico-gray {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: image-url('sprite.png') -117px -352px no-repeat;
  &.selected {
    background: image-url('sprite.png') -140px -352px no-repeat;
  }
}

.envelop-ico {
  display: inline-block;
  width: 24px;
  height: 19px;
  background: image-url('sprite.png') -171px -332px no-repeat;
}

.basket-ico {
  display: inline-block;
  width: 22px;
  height: 29px;
  margin-top: 8px !important;
  background: image-url('sprite.png') -67px -416px no-repeat;
}

.star-ico-gray {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: image-url('sprite.png') -141px -377px no-repeat;
  // &:hover {
  //   background: image-url('sprite.png') -118px -377px no-repeat;
  // }
}

.star-ico-red {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: image-url('sprite.png') -118px -377px no-repeat;
}

.calendar-icon {
  display: inline-block;
  width: 27px;
  height: 30px;
  background: image-url('sprite.png') -164px -353px no-repeat;
}

.heard-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: image-url('sprite.png') -252px -349px no-repeat;
}

.star-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: image-url('sprite.png') -222px -353px no-repeat;
}

.star-icon-red {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: image-url('sprite.png') -222px -414px no-repeat;
}

.cam-icon {
  display: inline-block;
  width: 22px;
  height: 28px;
  background: image-url('sprite.png') -196px -352px no-repeat;
}

.man-icon {
  display: inline-block;
  width: 22px;
  height: 18px;
  background: image-url('sprite.png') -719px -112px no-repeat;
}

.cap-icon {
  display: inline-block;
  width: 24px;
  height: 16px;
  background: image-url('sprite.png') -719px -144px no-repeat;
}

.bag-icon {
  display: inline-block;
  width: 22px;
  height: 18px;
  background: image-url('sprite.png') -719px -173px no-repeat;
}

