/* Navigation styles
 *
 */
/*Header Find Chapter Start*/
/* line 6, ../../sass/hireman/navigation.scss */
.header-chapter {
  float: left;
  padding: 0 31px;
  line-height: 59px;
}
/* line 10, ../../sass/hireman/navigation.scss */
.header-chapter.active {
  color: #D1D9DA;
}

/* line 15, ../../sass/hireman/navigation.scss */
.header-chapter-dark {
  color: #264950;
}

/* line 19, ../../sass/hireman/navigation.scss */
.header-chapter:hover .enter {
  background: url('../../images/sprite.png?1441543075') 0 -80px no-repeat;
}

/* line 23, ../../sass/hireman/navigation.scss */
.header-chapter:hover .exit {
  background: url('../../images/sprite.png?1441543075') -89px -382px no-repeat;
}

/*Header Find Chapter End*/
/*Header Right Block Start*/
/* line 29, ../../sass/hireman/navigation.scss */
.header-right-block {
  position: relative;
  float: right;
  padding-right: 88px;
}

/* line 35, ../../sass/hireman/navigation.scss */
.enter {
  position: relative;
  display: inline-block;
  top: 3px;
  width: 13px;
  height: 18px;
  margin-right: 10px;
  background: url('../../images/sprite.png?1441543075') 0 -61px no-repeat;
}

/* line 45, ../../sass/hireman/navigation.scss */
.exit {
  position: relative;
  display: inline-block;
  top: 7px;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  background: url('../../images/sprite.png?1441543075') -89px -358px no-repeat;
}

/* line 55, ../../sass/hireman/navigation.scss */
.mail-item {
  position: relative;
  width: 250px;
  overflow: hidden;
  text-align: right;
}
/* line 60, ../../sass/hireman/navigation.scss */
.mail-item:after {
  position: absolute;
  content: ' ';
  width: 17px;
  height: 45px;
  background-color: #021e20;
  top: 0;
  right: 0;
}

/*Header Right Block End*/
/*Header Navigation Start*/
/* line 74, ../../sass/hireman/navigation.scss */
.push-link {
  position: relative;
  display: inline-block;
  top: 20px;
  left: 42px;
  width: 22px;
  height: 20px;
  cursor: pointer;
}

/* line 83, ../../sass/hireman/navigation.scss */
.cbp-spmenu-vertical {
  position: fixed;
  width: 265px;
  height: 100%;
  top: 0;
  z-index: 1000;
  /*padding-top: 59px;*/
  padding-left: 0;
  background: #71a0a1;
}

/* line 93, ../../sass/hireman/navigation.scss */
.header-nav {
  list-style: none;
}

/* line 96, ../../sass/hireman/navigation.scss */
.cbp-spmenu a {
  display: block;
  padding: 0 36px 0;
  line-height: 58px;
  color: #D1D9DA;
  border-bottom: 1px solid #D1D9DA;
}

/* line 103, ../../sass/hireman/navigation.scss */
.cbp-spmenu a:hover {
  color: #fff;
}

/* line 106, ../../sass/hireman/navigation.scss */
.cbp-spmenu a:active {
  color: #fff;
}

/* line 109, ../../sass/hireman/navigation.scss */
.cbp-spmenu-right {
  right: -265px;
}

/* line 112, ../../sass/hireman/navigation.scss */
.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}

/* line 115, ../../sass/hireman/navigation.scss */
.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

/* line 120, ../../sass/hireman/navigation.scss */
.cbp-spmenu-push-toleft {
  left: -265px;
}

/* line 123, ../../sass/hireman/navigation.scss */
.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 129, ../../sass/hireman/navigation.scss */
.header-menu-stripe {
  position: relative;
  display: block;
  width: 22px;
  height: 3px;
  margin-bottom: 4px;
  background-color: #71a0a1;
}

/* line 137, ../../sass/hireman/navigation.scss */
.push-link:hover .header-menu-stripe {
  background-color: #d1d9da;
}

/* line 140, ../../sass/hireman/navigation.scss */
.cbp-spmenu-push-toleft .header-menu-stripe {
  background-color: #d1d9da;
}

/* line 143, ../../sass/hireman/navigation.scss */
.cbp-spmenu-push-toleft .push-link:hover .header-menu-stripe {
  background-color: #fff;
}

/* line 146, ../../sass/hireman/navigation.scss */
.cbp-spmenu-push-toleft .push-link {
  top: 28px;
}

/* line 149, ../../sass/hireman/navigation.scss */
.cbp-spmenu-push-toleft .stripe-first {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 156, ../../sass/hireman/navigation.scss */
.cbp-spmenu-push-toleft .stripe-second {
  display: none;
}

/* line 159, ../../sass/hireman/navigation.scss */
.cbp-spmenu-push-toleft .stripe-third {
  top: -7px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*Header Navigation End*/
