
.tabs-menu {
  clear: both;
}

.tabs-menu li {
  float: left;
  a {
    @include border-top-right-radius(5px);
    @include border-top-left-radius(5px);
    display: block;
    padding: 15px 40px 10px 40px;
    border: solid #fff 1px;
    border-bottom: none;
    text-decoration: none;
    color: #9A9693;
    font-size: 24px;
    font-family: 'NeoSansPro-Light', sans-serif;
    line-height: 28px;
    &:hover {
      background-color: #fff;
      border-bottom: none;
      color: #ef5356;
     }
   }
}

.tabs-menu li.current {
  position: relative;
  z-index: 5;
}

.tabs-menu .current a {
  background-color: #fff;
  border: solid #393938 1px;
  border-bottom: none;
  color: #ef5356;
}

.tab {
  clear: both;
  position: relative;
  top: -1px;
  border-top: 1px solid #393938;
}

#tab-1 {
 display: block;
}

.tab-content {
  @include clearfix();
  display: none;
  padding: 40px;
}
