.row.head .super-form .col-sm-3 {
  width: 24%;
}
.row.head .super-form .controls.three-step-type .inner {
  width: 100% !important;
}
.row.head .super-form .controls.fifts-step-social .inner {
  width: 100% !important;
}
.row.head .super-form .col-sm-12 .inner {
  width: 100% !important;
}
.row.head .container {
  padding: 0;
}
.row.head .controls.one-step-date .calendars .ui-datepicker-inline {
  width: 100% !important;
}
.row.head .controls.one-step-date .calendars .ui-datepicker-group {
  width: 243px;
}
.row.head .final-step-thanks .inner {
  width: auto !important;
}
.row.not-prepared .carousel-control {
  display: none;
}
.row.not-prepared .col-sm-6 {
  height: 115px;
}
.row.not-prepared .col-sm-6 p {
  width: 325px;
}
.row.not-prepared .author h3,
.row.not-prepared .author p {
  max-width: 100%;
}
.row.how-it-works .left-top,
.row.how-it-works .left-bottom,
.row.how-it-works .right-bottom {
  width: 235px;
}
.row.how-it-works .left-top {
  left: -20px;
}
.row.how-it-works .left-bottom {
  left: 0;
}
.row.how-it-works .right-bottom {
  right: 0;
}
.super-form {
  position: relative;
  border-radius: 0 !important;
}
.super-form:after {
  content: '';
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  position: absolute;
  left: -10px;
  top: 0;
}
.super-form:before {
  content: '';
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  position: absolute;
  right: -10px;
  top: 0;
}
