.super-form {
  background: rgba(0, 0, 0, 0.5) !important;
}
.four-step-filter .col-xs-6 {
  padding: 0;
}
.final-step-thanks .inner {
  width: 90% !important;
}
.checkboxes {
  padding: 0;
}
.checkboxes .col-xs-4 {
  padding: 0;
}
.inner {
  width: auto !important;
}
.row.head h1 {
  font-size: 12px;
}
.row.head h1 ~ p {
  font-size: 10px;
}
.row.head {
  min-height: auto;
  background-size: 300%;
  background-position-y: top;
  background-position-x: 55%;
}
.row.head .super-form h2 {
  font-size: 13px;
  padding: 15px 0 10px 0;
}
.row.head .controls.one-step-date .col-md-4 {
  margin-bottom: 0;
}
.row.head .controls.one-step-date .col-md-4:first-of-type {
  text-align: center;
}
.row.head .controls.one-step-date .col-md-4.last {
  text-align: center;
}
.row.head .controls.one-step-date .calendars table.ui-datepicker-calendar {
  margin: 0 auto;
}
.row.head .controls.one-step-date .calendars .ui-datepicker-inline {
  width: auto !important;
}
.row.head .controls.one-step-home .col-md-4:first-of-type {
  text-align: center;
  margin-bottom: 0;
}
.row.head .controls.one-step-home .col-md-4.last {
  text-align: center;
}
.step-by-step {
  width: auto !important;
}
.row.about table {
  width: auto;
}
.custom-hr {
  width: auto;
}
.row.about .hint {
  width: auto;
}
.row.about .hint .ball-left {
  position: static;
}
.row.about .hint .ball-right {
  position: static;
}
.row.about .hint {
  height: auto;
  margin: auto;
}
.row.how-it-works .left-top,
.row.how-it-works .left-bottom,
.row.how-it-works .right-bottom {
  position: static;
}
.row.how-it-works strong span {
  position: static;
}
.row.not-prepared .col-xs-12 p {
  width: auto;
}
.row.head .controls.four-step-filter .col-md-4 .input-helper--checkbox {
  font-size: 7px;
}
.slider-wrap {
  display: none;
}
.row.not-prepared .author img {
  display: block;
  margin: 0 auto;
  float: none;
}
.row.not-prepared .author div {
  margin: 0;
}
