.row.head h1 {
  font-size: 12px;
}
.row.head h1 ~ p {
  font-size: 10px;
}
.row.head .super-form h2 {
  font-size: 13px;
  padding: 15px 0 10px 0;
}
.row.head .controls.one-step-date .col-md-4 {
  margin-bottom: 0;
}
.row.head .controls.one-step-date .col-md-4:first-of-type {
  text-align: center;
}
.row.head .controls.one-step-date .col-md-4.last {
  text-align: center;
}
