* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 1024px;
  overflow-x: hidden;
}
body ul {
  list-style: none;
}
body a:hover,
body a {
  text-decoration: none;
  font-family: RobotoLight, sans-serif;
}
.top {
  background: url("../img/top-bg.png") top right no-repeat fixed;
  background-size: cover !important;
}
.middle {
  background: url(../img/middle-bg.png) center 0 repeat fixed, url(../img/line-middle.png) no-repeat 0 0.66px;
  background: url(../img/middle-bg.png) center 0 repeat fixed, url(../img/line-middle.png) no-repeat 0 1px;
  background: url(../img/middle-bg.png) center 0 repeat fixed, url(../img/line-middle.png) no-repeat 0 -0.71px;
  background: url(../img/middle-bg.png) center 0 repeat fixed, url(../img/line-middle.png) no-repeat 0 -0.3px;
  background-color: #3196DB;
}
.middle .wrapper {
  width: 100%;
  display: table;
  margin-top: -50px;
}
.middle .test {
  width: 69%;
  right: 34.2%;
  width: 56%;
  right: 46.2%;
  margin-top: -6.9%;
  position: absolute;
  width: 71%;
  right: 36.2%;
  margin-top: -8.2%;
}
.middle .logo {
  width: 84%;
  margin-bottom: 17%;
  width: 90.9%;
  margin-bottom: 16%;
  width: 74%;
  margin-bottom: 13%;
  display: block;
  width: 93%;
  margin-bottom: 14%;
}
.middle .title {
  width: 50%;
  width: 51%;
  width: 63%;
}
.middle .info {
  width: 93%;
}
.middle .slide {
  position: absolute;
  margin-top: 3%;
  z-index: 999999;
  margin-bottom: 10.6%;
  margin-top: 4%;
}
.middle img.downb {
  width: 3.7%;
  width: 4.1%;
  margin-left: 5px;
}
.middle img.topb {
  width: 2.5%;
  width: 2.8%;
  margin-left: 8px;
}
.bottom {
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  padding-top: 16.3%;
  background: url(../img/bottombg.jpg) center 0 repeat fixed;
  background-size: cover;
  padding-top: 14.3%;
  padding-top: 15.3%;
}
.bottom img.img-responsive {
  margin-left: -12px;
  width: 41.4%;
  margin-top: -21px;
  margin-left: -1px;
  width: 44.6%;
  margin-top: -22px;
  margin-left: 38px;
  width: 43.4%;
  margin-top: -35px;
  margin-left: -33px;
  width: 55%;
  margin-top: -26px;
  margin-left: 377px;
}
.bottom img.topb {
  margin-left: 76px;
  width: 8.6%;
  margin-left: 59px;
  margin-top: -8px;
  width: 9%;
  margin-left: 43px;
  margin-top: -10px;
  width: 8%;
  margin-left: 74px;
  margin-top: -3px;
  width: 11.6%;
  margin-left: 4px;
  margin-top: -7px;
}
.bottom .info {
  width: 75%;
  width: 109%;
}
.bottom .logo {
  width: 70%;
  margin-bottom: 5%;
  width: 74%;
  margin-bottom: 6%;
  width: 88%;
  margin-bottom: 7%;
}
.bottom > img {
  width: 41.4%;
  margin-top: 1.4%;
}
.wrapper {
  height: calc(100% - 100px);
  height: -webkit-calc(100% - 100px);
  margin-top: 0 !important;
  position: relative;
}
.wrapper .desc {
  width: 50%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
}
.wrapper .title {
  display: inline-block;
  font-family: RobotoBlack, sans-serif;
  font-size: 3.6vh;
  background: #EB0028;
  color: white;
}
.wrapper .info {
  display: inline-block;
  font-size: 2vh;
  margin-left: 9px;
  color: white;
  font-family: RobotoLight, sans-serif;
}
.wrapper .info span {
  background: #0070CD;
  outline: #0070CD solid 9px;
}
.wrapper .links {
  position: absolute;
  bottom: 27%;
  left: 54%;
}
.wrapper .links .look a,
.wrapper .links .reg a {
  color: white;
  font-size: 2vh;
}
.wrapper .links .look a img,
.wrapper .links .look a span,
.wrapper .links .reg a img,
.wrapper .links .reg a span {
  display: inline-block;
  vertical-align: middle;
}
.wrapper .links div {
  display: inline-block;
}
.wrapper .links div:first-of-type {
  margin-right: 130px;
}
footer {
  text-align: center;
}
footer div {
  padding: 40px 0;
  font-size: 20px;
  color: black;
}
footer div a {
  color: #0070CD;
}
.reg {
  margin-left: 9%;
  margin-left: 0;
}
.middle > div,
.middle .test {
  display: inline-block;
  vertical-align: middle;
}
.bottom > img,
.bottom .desc {
  display: inline-block;
  vertical-align: middle;
}
.bottom .buttons,
.bottom .slide {
  display: table-cell;
  vertical-align: middle;
}
.bottom-down {
  margin-top: 61px;
  margin-top: 54px;
  margin-top: 32px;
  display: table;
  width: 100%;
  margin-top: 48px;
}
.bottom-down .slide {
  width: 46.8%;
  width: 46.9%;
  width: 48.9%;
  width: 39.8%;
}
.mslimg {
  width: 3%;
}
.bol {
  font-family: RobotoBlack, sans-serif;
  display: block !important;
}
.lk {
  background: #6387C9;
  border: none;
  color: white;
}
.lk:hover {
  background: #6387C9;
}
.app {
  background: #0070CD;
  border: none;
  color: white;
}
.app:hover {
  background: #0070CD;
}
.play {
  background: #6EB661;
  border: none;
  color: white;
}
.play:hover {
  background: #6EB661;
}
.buttons {
  font-size: 2vh;
  float: right;
  width: 100%;
}
.buttons ul li {
  margin-right: 34px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 21px;
  margin-right: 30px;
}
.buttons ul li a {
  padding: 17px 12px 22px 15px;
  padding: 15px 7px 20px 16px;
  border-radius: 15px;
  padding: 14px 20px 18px 15px;
  border-radius: 10px;
  font-size: 1.5vh;
}
.buttons img {
  width: 3vh;
  margin-right: 10px;
}
.buttons ul li span,
.buttons ul li img {
  display: inline-block;
  vertical-align: middle;
}
.slide.downb {
  display: block;
}
.slide > div {
  display: inline-block;
  vertical-align: middle;
}
.slide img {
  cursor: pointer;
}
.slide span {
  font-size: 2vh;
  color: #0070CD;
  font-family: RobotoLight, sans-serif;
  margin-left: 1.6%;
  margin-top: -10px;
}
.slide img,
.slide span {
  display: inline-block;
  vertical-align: middle;
}
.menu {
  background: rgba(58, 60, 63, 0.8);
  position: absolute;
  top: 0;
  width: 100%;
  max-height: 100px;
  overflow: hidden;
  z-index: 10;
}
.menu > div {
  display: inline-block;
  vertical-align: top;
}
.menu .logo {
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  line-height: 100px;
}
.menu .logo img {
  max-height: 40px;
}
.menu-links {
  float: right;
  font-size: 2vh;
}
.menu-links ul li {
  padding: 1.8% 5.5% 1.7% 5%;
  padding: 2.8% 5.5% 2.7% 5%;
  display: inline-block;
  vertical-align: middle;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  margin-left: -0.8%;
  padding: 2.5% 5.5% 2.7% 5%;
  margin-left: -10px;
  padding: 1.8% 4.5% 1.7% 5%;
}
.menu-links ul li:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.25);
}
.menu-links a {
  display: block;
  color: white;
}
.menu-links a img,
.menu-links a span {
  display: inline-block;
  vertical-align: middle;
}
.bottom .wrapper .desc,
.bottom .wrapper img {
  display: inline-block;
  vertical-align: top;
}
.bottom-down .slide div,
.bottom-down .slide span {
  display: inline-block;
  vertical-align: middle;
}
.obl {
  background: url(../img/obl.png) no-repeat center;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
}
@media all and (min-width: 1900px) {
  .menu-links li span {
    font-size: 20px;
    line-height: 20px;
  }
  .menu-links li img {
    min-height: 31px;
  }
  .wrapper {
    width: 1700px;
    margin: 0 auto;
  }
  .slide.downb {
    position: absolute;
    bottom: 109px;
    left: 109px;
  }
}
@media all and (min-width: 1600px) {
  .menu {
    height: 80px;
  }
  .menu .logo {
    margin-left: 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    line-height: 107px;
  }
  .menu .logo img {
    padding: 0 40px;
  }
  .wrapper {
    width: 1425px;
    margin: 0 auto;
    height: calc(100% - 80px);
    height: -webkit-calc(100% - 80px);
    margin-top: 80px;
  }
  .wrapper .desc {
    bottom: -7.5vh;
    height: 450px;
  }
  .wrapper .desc > img {
    max-height: 58px;
  }
  .wrapper .title {
    font-size: 33px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
    padding: 10px;
  }
  .wrapper .links {
    white-space: nowrap;
    bottom: 65%;
    left: calc(100% + 100px);
    left: -webkit-calc(100% + 100px);
  }
  .wrapper .links span {
    font-size: 17px !important;
  }
  .wrapper .links img {
    max-width: 100px;
  }
  .wrapper .links div:first-of-type {
    margin-right: 105px;
  }
  .wrapper .slide.downb {
    position: absolute;
    bottom: 15%;
  }
  .wrapper .slide.downb img {
    width: 70px;
  }
  .wrapper .info {
    font-size: 17px;
    width: 125%;
  }
  .menu-links {
    width: auto;
    min-width: 591px;
    margin-right: 20px;
    font-size: 17px;
    line-height: 42px;
  }
  .menu-links img {
    max-height: 28px;
  }
  .menu-links ul li {
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    margin-left: -0.8%;
    padding: 2.6% 5.5% 3.5% 5%;
  }
  .menu-links ul li span {
    line-height: 15px;
  }
  .menu-links ul li img {
    max-height: 28px;
  }
  .top {
    background-size: 150%;
    background-position: center;
  }
  .bottom img.img-responsive {
    width: 41.4%;
    margin-top: -21px;
    margin-left: -1px;
  }
  .bottom-down {
    display: table;
    width: 100%;
    margin-top: 54px;
  }
  .bottom img.topb {
    width: 8.6%;
    margin-left: 59px;
    margin-top: -8px;
  }
  .bottom-down .slide {
    width: 46.9%;
  }
  .bottom .desc {
    width: 43%;
    margin-left: 58px;
    margin-top: -38px;
  }
  .buttons ul li a {
    padding: 15px 7px 20px 16px;
    border-radius: 15px;
  }
  .buttons ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 21px;
  }
}
@media all and (min-width: 1440px) and (max-width: 1599px) {
  .menu {
    height: 80px;
  }
  .menu .logo {
    margin-left: 20px;
    border: none !important;
  }
  .menu .logo img {
    max-height: 28px;
  }
  .menu-links {
    font-size: 17px;
    float: right;
    width: auto;
    min-width: 592px;
    margin-right: 15px;
  }
  .menu-links ul li {
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    margin-left: -0.8%;
    padding: 3% 5.5% 2.7% 5%;
    line-height: 43px;
  }
  .menu-links ul li span {
    line-height: 15px;
  }
  .menu-links ul li img {
    max-height: 28px;
  }
  .top {
    background-position: center top;
    background-size: 120%;
  }
  .wrapper {
    height: calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
    width: 1300px;
    margin: 0 auto;
    margin-top: 60px;
  }
  .wrapper .title {
    font-family: RobotoBlack, sans-serif;
    font-size: 3.6vh;
    background: #EB0028;
    color: white;
    padding: 10px;
    font-size: 33px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
  }
  .wrapper .info {
    font-size: 17px;
  }
  .wrapper .links {
    left: 110%;
    bottom: 57%;
    width: 100%;
  }
  .wrapper .links img {
    max-width: 100px;
  }
  .wrapper .links div:first-of-type {
    margin-right: 85px;
  }
  .wrapper .desc {
    bottom: -40px;
    height: 350px;
  }
  .wrapper .desc .downb {
    position: absolute;
    bottom: 0;
  }
  .wrapper .desc > img {
    max-height: 58px;
  }
  .slide {
    display: inline-block;
  }
  .slide.downb {
    width: auto;
  }
  .slide.downb img {
    max-width: 58px;
  }
  .middle {
    background: url(../img/middle-bg.png) center 0 repeat fixed, url(../img/line-middle.png) no-repeat 0 1px;
    background-color: #3196DB;
  }
  .middle .desc {
    margin-left: 58.1%;
    width: 43%;
    margin-top: 18.7%;
    padding-bottom: 16.5%;
    display: block;
  }
  .middle .logo {
    display: block;
    width: 90.9%;
    margin-bottom: 16%;
  }
  .middle img.downb {
    width: 4.1%;
    margin-left: 5px;
  }
  .middle img.topb {
    width: 2.8%;
    margin-left: 8px;
  }
  .bottom {
    background: url(../img/bottombg.jpg) center 0 repeat fixed;
    background-size: cover;
    padding-top: 14.3%;
  }
  .bottom img.img-responsive {
    width: 44.6%;
    margin-top: -22px;
    margin-left: 38px;
  }
  .bottom .logo {
    width: 74%;
    margin-bottom: 6%;
  }
  .bottom .desc {
    width: 43%;
    margin-left: 43px;
    margin-top: -33px;
  }
  .bottom img.topb {
    width: 9%;
    margin-left: 43px;
    margin-top: -10px;
  }
  .bottom-down .slide {
    width: 48.9%;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .top {
    background-size: 150% !important;
    background-position: center;
  }
  .menu {
    height: 60px;
  }
  .menu .logo {
    margin-left: 20px;
    border: none;
    line-height: 75px;
  }
  .menu .logo img {
    max-height: 28px;
  }
  .menu .menu-links {
    line-height: 40px;
    width: auto;
    margin-right: 15px;
    min-width: 591px;
  }
  .menu .menu-links span {
    line-height: 15px;
  }
  .menu .menu-links img {
    max-height: 28px;
  }
  .wrapper {
    height: calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
    margin-top: 60px;
    width: 1160px;
    margin: 0 auto;
  }
  .wrapper .title {
    font-size: 28px;
    width: 539px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
    padding: 5px;
  }
  .wrapper .info {
    font-size: 16px;
    width: 125%;
  }
  .wrapper .links {
    position: absolute;
    bottom: 50%;
    left: 110%;
    width: 100%;
  }
  .wrapper .links span {
    font-size: 16px;
  }
  .wrapper .links div:first-of-type {
    margin-right: 60px;
  }
  .wrapper .links img {
    max-width: 70px;
  }
  .wrapper .desc {
    bottom: 5%;
    height: 405px;
  }
  .wrapper .desc > img {
    max-height: 45px;
  }
  .wrapper .slide.downb {
    position: absolute;
    bottom: 15%;
  }
  .wrapper .slide.downb img {
    max-width: 45px;
  }
  .middle .test {
    position: absolute;
    width: 56%;
    right: 46.2%;
    margin-top: -6.9%;
  }
  .middle {
    background: url(../img/middle-bg.png) center 0 repeat fixed, url(../img/line-middle.png) no-repeat 0 -0.71px;
    background-color: #3196DB;
  }
  .middle .desc {
    margin-left: 53.4%;
    width: 43%;
    margin-top: 7.1%;
    padding-bottom: 15.5%;
    display: block;
  }
  .middle .logo {
    display: block;
    width: 74%;
    margin-bottom: 13%;
  }
  .middle .title {
    width: 51%;
  }
  .bottom {
    padding-top: 15.3%;
  }
  .bottom img.img-responsive {
    width: 43.4%;
    margin-top: -35px;
    margin-left: -33px;
  }
  .bottom-down {
    margin-top: 32px;
  }
  .bottom img.topb {
    width: 8%;
    margin-left: 74px;
    margin-top: -3px;
  }
  .buttons ul li {
    margin-right: 30px;
  }
  .buttons ul li a {
    padding: 14px 20px 18px 15px;
    border-radius: 10px;
    font-size: 1.5vh;
  }
  .buttons img {
    width: 3vh;
    margin-right: 10px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1279px) {
  .menu {
    height: 60px;
  }
  .menu .logo {
    margin-left: 20px;
    line-height: 77px;
    border: none;
  }
  .menu .logo img {
    max-height: 28px;
  }
  .menu .menu-links a {
    display: block;
    font-size: 16px;
  }
  .menu .menu-links a.menu-lk img,
  .menu .menu-links a.menu-app img,
  .menu .menu-links a.menu-play img {
    margin-right: 10px;
    max-height: 28px;
  }
  .wrapper {
    height: calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
    margin-top: 60px;
    width: 900px;
    margin: 0 auto;
  }
  .wrapper .desc {
    height: 305px;
  }
  .wrapper .desc > img {
    max-height: 45px;
  }
  .wrapper .desc .links {
    bottom: 40%;
    left: calc(125% + 100px);
    left: -webkit-calc(125% + 100px);
    position: absolute;
    width: 100%;
    font-size: 16px;
  }
  .wrapper .desc .links img {
    width: 70px;
  }
  .wrapper .desc .title {
    font-size: 28px;
    width: 539px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
  }
  .wrapper .desc .info {
    font-size: 16px;
    width: 125%;
  }
  .wrapper .desc .downb {
    position: absolute;
    bottom: 15%;
  }
  .slide.downb img {
    max-width: 45px;
  }
  .buttons img {
    width: 3vh;
    margin-right: 10px;
  }
  .buttons ul li {
    margin-right: 30px;
  }
  .buttons ul li a {
    padding: 14px 20px 18px 15px;
    border-radius: 10px;
    font-size: 1.5vh;
  }
  .menu-links {
    width: auto;
    margin-right: 15px;
    min-width: 591px;
  }
  .menu-links ul li {
    margin-left: -10px;
    padding: 1.8% 4.5% 1.7% 5%;
  }
  .top {
    background-size: 135%;
    background-position: center;
  }
  .look,
  .reg {
    display: block;
    width: 72%;
    padding-bottom: 10px;
  }
  .reg {
    margin-left: 0;
  }
  .look span,
  .reg span {
    width: 64%;
  }
  .middle .test {
    position: absolute;
    width: 71%;
    right: 36.2%;
    margin-top: -8.2%;
  }
  .middle .desc {
    margin-left: 55%;
    width: 43%;
    margin-top: 9.1%;
    padding-bottom: 13.5%;
    display: block;
  }
  .middle .logo {
    display: block;
    width: 93%;
    margin-bottom: 14%;
  }
  .middle .title {
    width: 63%;
  }
  .middle .slide {
    margin-top: 4%;
  }
  .middle {
    background: url(../img/middle-bg.png) center 0 repeat fixed, url(../img/line-middle.png) no-repeat 0 -0.3px;
    background-color: #3196DB;
  }
  .bottom .desc {
    width: 43%;
    margin-left: 3px;
    margin-top: -38px;
  }
  .bottom img.img-responsive {
    width: 55%;
    margin-top: -26px;
    margin-left: 377px;
  }
  .bottom .info {
    width: 109%;
  }
  .bottom .title {
    width: 94%;
    margin-bottom: 25px;
  }
  .bottom .logo {
    width: 88%;
    margin-bottom: 7%;
  }
  .bottom .desc {
    width: 43%;
    margin-left: 3px;
    margin-top: -38px;
    position: absolute;
  }
  .bottom-down {
    display: table;
    width: 100%;
    margin-top: 48px;
  }
  .bottom-down .slide {
    width: 39.8%;
  }
  .bottom img.topb {
    width: 11.6%;
    margin-left: 4px;
    margin-top: -7px;
  }
}
