html body {
  color: inherit;
}
html body h2 {
  font-family: "RobotoBlack";
  background: #EB0028;
  padding: 9px 10px;
  color: white;
  white-space: nowrap;
  font-size: 28px;
  position: relative;
  left: -4px;
}
html body .first h2 {
  float: left;
}
html body .h3-wrap {
  position: relative;
  clear: both;
}
html body .h3-wrap .h3-wrap-wrap {
  position: absolute;
  left: 0;
  top: 0;
}
html body h3 {
  display: inline;
  font-family: "RobotoLight";
  outline: #0070CD solid 4px;
  background: #0070CD;
  font-size: 16px;
  color: white;
}
html body a {
  cursor: pointer;
  font-family: "RobotoLight";
}
html body a:hover {
  text-decoration: none;
}
#firstDiv {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
}
.circle {
  border-radius: 50%;
  border: solid 2px #EB0029;
  position: absolute;
  width: 2px;
  height: 2px;
  top: 24px;
  left: 24px;
  opacity: 0;
}
#c2 {
  border-color: #0071CE;
}
.circleContainer {
  width: 100px;
  margin: 0 auto;
  position: absolute;
  top: calc(50% - 50px);
  top: -webkit-calc(50% - 50px);
  left: calc(50% - 50px);
  left: -webkit-calc(50% - 50px);
}
#c1 {
  -webkit-animation: expand 3s;
  /* Chrome, Safari, Opera */
  animation: expand 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
#c2 {
  -webkit-animation: expand 3s;
  /* Chrome, Safari, Opera */
  animation: expand 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes expand {
  0% {
    width: 2px;
    height: 2px;
    top: 49px;
    left: 49px;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    opacity: 0;
  }
}
/* Standard syntax */
@keyframes expand {
  0% {
    width: 10px;
    height: 10px;
    top: 20px;
    left: 20px;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    opacity: 0.2;
  }
}
* {
  outline: none;
}
* .Firefox {
  outline: none !important;
}
* .Firefox h3 {
  outline: none !important;
}
a {
  outline: none !important;
}
.b {
  margin-left: 0 !important;
}
.to-top {
  font-family: RobotoLight;
}
.btn-slide {
  cursor: pointer;
}
.btn-slide a {
  display: block;
}
.btn-slide.next-slide img {
  width: 45px;
}
.btn-slide.to-top span {
  font-size: 16px;
  color: #0070CD;
  display: inline-block;
  vertical-align: middle;
}
.btn-slide.to-top a {
  display: inline;
}
.magazines a {
  color: white;
  display: block;
}
.magazines a:first-of-type {
  margin-bottom: 7px;
}
.magazines a:hover {
  text-decoration: none;
}
.magazines img {
  display: inline-block;
  width: 70px;
  height: 70px;
}
.magazines span {
  padding-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
.container-fluid.menu {
  padding: 0;
}
.navbar-default {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  box-shadow: none;
  border-radius: 0;
  border: none;
  background-image: none;
  background-color: rgba(58, 60, 63, 0.8);
}
.navbar-default .navbar-collapse {
  padding: 0;
}
.navbar-default .navbar-nav {
  float: right;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}
.navbar-default .navbar-nav li {
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  padding: 0 20px;
}
.navbar-default .navbar-nav li img {
  display: inline-block;
  height: 28px;
}
.navbar-default .navbar-nav li a {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  background-repeat: none;
  background-color: inherit;
  color: white;
  text-shadow: none;
  font-size: 16px;
}
.navbar-default .navbar-nav li a span {
  font-family: "RobotoBlack";
  display: block;
}
.navbar-default .navbar-nav li a:hover {
  background: none;
  color: white;
}
.navbar-default .navbar-nav li.active > a {
  background-color: inherit;
  background-image: none;
  color: white;
  text-shadow: none;
  box-shadow: none;
}
.navbar-default .navbar-nav li.active > a:hover {
  background: none;
  color: white;
}
.row {
  position: relative;
}
.row .first-absolute {
  position: absolute;
  bottom: calc(15% - 93px);
  bottom: -webkit-calc(15% - 93px);
  width: 50%;
  left: 228px;
}
.row .first-absolute h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}
.row .first-absolute .next-slide {
  margin-top: 93px;
}
.row .second-absolute {
  position: absolute;
  bottom: 15%;
  right: -15%;
  width: 50%;
}
.row.first {
  overflow: hidden;
}
.row.first ::selection {
  background: red;
}
.row.first .h3-wrap-wrap {
  max-width: 670px;
}
.row.first .after-logo {
  position: relative;
}
.row.first h2 {
  position: relative;
}
.row.first #bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.row.first .bgwidth {
  width: 100%;
}
.row.first .bgheight {
  height: 100%;
}
.row.first .container {
  margin-top: 80px;
}
.row.first .left img.after-logo {
  width: 37.5vw;
}
.row.second {
  background: url("../img/middle-rep.png");
  background-color: #3196DB;
}
.row.second ::selection {
  background: blue;
}
.row.second .right {
  z-index: 150 !important;
}
.row.second .container-fluid {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: url("../img/obl.png") no-repeat;
  background: url("../img/flinemiddle.svg") no-repeat center;
}
.row.second .container-fluid .clouds {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
}
.row.second .container-fluid [class^="cloud-"] {
  position: absolute;
  right: 120%;
  width: 200px;
  height: 60px;
  background: #fff;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  opacity: 0.8;
}
.row.second .container-fluid [class^="cloud-"]:before,
.row.second .container-fluid [class^="cloud-"]:after {
  content: '';
  position: absolute;
  top: -15px;
  left: 10px;
  width: 100px;
  height: 80px;
  background: #fff;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg);
}
.row.second .container-fluid [class^="cloud-"]:after {
  top: -55px;
  left: auto;
  right: 15px;
  width: 120px;
  height: 120px;
}
.row.second .container-fluid .cloud-1 {
  top: 50px;
  -webkit-animation: moveclouds 30s linear infinite;
  -moz-animation: moveclouds 30s linear infinite;
  -o-animation: moveclouds 30s linear infinite;
  animation: moveclouds 30s linear infinite;
}
.row.second .container-fluid .cloud-2 {
  top: 100px;
  opacity: 0.8;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-animation: moveclouds 45s linear infinite;
  -moz-animation: moveclouds 45s linear infinite;
  -o-animation: moveclouds 45s linear infinite;
  animation: moveclouds 45s linear infinite;
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  animation-delay: 5s;
}
.row.second .container-fluid .cloud-3 {
  top: 200px;
  opacity: 0.6;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  -webkit-animation: moveclouds 40s linear infinite;
  -moz-animation: moveclouds 40s linear infinite;
  -o-animation: moveclouds 40s linear infinite;
  animation: moveclouds 40s linear infinite;
}
.row.second .container-fluid .cloud-4 {
  top: 300px;
  opacity: 0.75;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  -webkit-animation: moveclouds 26s linear infinite;
  -moz-animation: moveclouds 26s linear infinite;
  -o-animation: moveclouds 26s linear infinite;
  animation: moveclouds 26s linear infinite;
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  animation-delay: 8s;
}
.row.second .container-fluid .cloud-5 {
  top: 350px;
  -webkit-animation: moveclouds 35s linear infinite;
  -moz-animation: moveclouds 35s linear infinite;
  -o-animation: moveclouds 35s linear infinite;
  animation: moveclouds 35s linear infinite;
}
.row.second .container-fluid .cloud-6 {
  top: 450px;
  opacity: 0.6;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  -webkit-animation: moveclouds 40s linear infinite;
  -moz-animation: moveclouds 40s linear infinite;
  -o-animation: moveclouds 40s linear infinite;
  animation: moveclouds 40s linear infinite;
}
.row.second .container-fluid .cloud-7 {
  top: 700px;
  opacity: 0.8;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-animation: moveclouds 45s linear infinite;
  -moz-animation: moveclouds 45s linear infinite;
  -o-animation: moveclouds 45s linear infinite;
  animation: moveclouds 45s linear infinite;
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  animation-delay: 5s;
}
@-webkit-keyframes moveclouds {
  0% {
    right: -20%;
  }
  100% {
    right: 120%;
  }
}
@-moz-keyframes moveclouds {
  0% {
    right: -20%;
  }
  100% {
    right: 120%;
  }
}
@-o-keyframes moveclouds {
  0% {
    right: -20%;
  }
  100% {
    right: 120%;
  }
}
@keyframes moveclouds {
  0% {
    right: -20%;
  }
  100% {
    right: 120%;
  }
}
.row.second .after-logo {
  width: 690px;
  height: 690px;
  border-radius: 100%;
  box-shadow: 0 0 50px #c6d7e9;
  position: relative;
  top: -17px;
  z-index: 10;
}
.row.second .logo {
  max-height: 107px;
  position: relative;
  left: -4px;
}
.row.second h2 {
  display: inline-block;
  margin-top: 63px;
  margin-bottom: 20px;
}
.row.second .h3-wrap {
  margin-bottom: 23px;
}
.row.second .h3-wrap .h3-wrap-wrap {
  max-width: 650px;
}
.row.second .next-slide {
  display: inline-block;
  vertical-align: bottom;
}
.row.second .prev-slide {
  display: inline-block;
  vertical-align: bottom;
}
.row.second .btn-wrap {
  margin-top: 71px;
}
.row.second .third-absolute {
  position: absolute;
  z-index: 1;
  right: 0;
}
.row.second .third-absolute img {
  margin-left: 16%;
  margin-top: 16%;
}
.row.second .third-absolute h2 {
  margin-left: 16%;
}
.row.second .third-absolute .h3-wrap {
  margin-left: 16%;
}
.row.second .third-absolute .btn-wrap {
  margin-left: 16%;
}
.row.second .third-absolute .sub-h3 {
  margin-left: 16%;
}
.row.last {
  background: url("../img/footer.png") no-repeat;
  background-position: bottom center;
}
.row.last ::selection {
  background: gray;
}
.row.last .container {
  padding: 0 44px;
  width: 100%;
}
.row.last .copy {
  text-align: center;
  padding: 40px 0;
  font-size: 20px;
  color: black;
  clear: both;
}
.row.last .logo {
  display: block;
  width: 361px;
}
.row.last h2 {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 22px;
}
.row.last .h3-wrap .h3-wrap-wrap {
  max-width: 650px;
}
.row.last .col-md-6 {
  margin-top: 160px;
}
.row.last .to-top {
  margin-top: 120px;
}
.row.last .bottom-menu {
  display: block;
  height: 60px;
  padding: 0;
  margin-top: 35px;
  margin-bottom: 205px;
  text-align: center;
}
.row.last .bottom-menu li {
  list-style: none;
  background: #0070CD;
  color: white;
  border-radius: 12.5px;
  padding: 10px 12px;
  margin: 0 3px;
  text-align: left;
  float: none;
  display: inline-block;
  width: calc(33.3333% - 7px);
  width: -webkit-calc(33.3333% - 7px);
  line-height: 100%;
  width: auto !important;
}
.row.last .bottom-menu li img {
  display: inline-block;
  vertical-align: middle;
  height: 28px;
  margin-right: 7px;
}
.row.last .bottom-menu li a {
  display: inline-block;
  vertical-align: middle;
  color: white;
}
.row.last .bottom-menu li span {
  font-family: "RobotoBlack";
  display: block;
}
.row.last .bottom-menu li:first-of-type {
  width: 33.3333%;
  background: #6387C9;
}
.row.last .bottom-menu li:last-of-type {
  background: #6EB661;
}
.row.last .left {
  position: absolute;
  z-index: 1;
}
.row.last .right {
  padding: 0;
}
.row.last .right img.img-responsive {
  position: relative;
  right: 10px;
  width: 100%;
}
.footer {
  text-align: center;
  padding: 40px 0;
  font-size: 20px;
  color: black;
}
.footer a {
  color: #0070CD;
}
@media only screen and (min-width: 1876px) {
  .prev-slide img {
    width: 47px;
  }
  .row.first {
    background-size: 111%;
  }
  .row.first .bgheight {
    height: calc(100% + 148px);
    height: -webkit-calc(100% + 148px);
  }
  .row.second .container-fluid {
    background-position-y: 30%;
  }
  .row.second .container {
    width: 100%;
    padding: 0 60px !important;
  }
  .row.second .after-logo {
    width: 1070px;
    height: 1070px;
  }
  .row.second .third-absolute img {
    margin-top: 30%;
    margin-left: calc(16% + 65px);
    margin-left: -webkit-calc(16% + 65px);
  }
  .row.second .third-absolute h2 {
    margin-left: calc(16% + 65px);
    margin-left: -webkit-calc(16% + 65px);
    margin-top: 150px;
  }
  .row.second .third-absolute .sub-h3 {
    margin-left: calc(16% + 65px);
    margin-left: -webkit-calc(16% + 65px);
  }
  .row.second .third-absolute .h3-wrap {
    margin-left: calc(16% + 65px);
    margin-left: -webkit-calc(16% + 65px);
  }
  .row.second .third-absolute .btn-wrap {
    margin-left: 23%;
  }
  .row.second .logo {
    width: 637px;
    max-height: 100%;
  }
  .row.last .left {
    padding-left: 180px;
  }
  .row.last .right > div {
    max-width: 720px;
  }
  .row.last .bottom-menu li img {
    width: 30px;
    height: 30px;
  }
  .row.last .bottom-menu li a {
    line-height: 100%;
    font-size: 17.5px;
  }
  .row h2 {
    font-size: 40px;
  }
  .row .h3-wrap h3 {
    font-size: 20px;
  }
  .navbar-default .navbar-brand {
    line-height: 47.5px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .navbar-default .navbar-brand img {
    width: 270px;
  }
  .magazines a {
    display: inline-block;
  }
  .magazines a:first-of-type {
    margin-right: 150px;
  }
  .magazines img {
    width: 120px;
    height: 120px;
  }
  .magazines span {
    font-size: 20px;
  }
  .row .second-absolute {
    bottom: 20%;
    right: -70px;
  }
  .row .first-absolute {
    left: 147px;
    top: 65%;
  }
  .row .first-absolute .after-logo {
    max-width: 535px;
  }
  .navbar-default {
    min-height: 80px;
  }
  .navbar-default .navbar-header {
    min-height: 80px;
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.25);
  }
  .navbar-default .navbar-header img {
    margin-left: 12px;
  }
  .navbar-default li {
    min-height: 80px;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  .navbar-default li a {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px !important;
  }
  .navbar-default li img {
    height: 30px !important;
  }
  .bottom-menu li {
    margin-right: 10px !important;
    margin-left: 0 !important;
  }
  .bottom-menu li:last-of-type {
    margin: 0 !important;
    margin-left: 0 !important;
  }
  .bottom-menu {
    display: block;
    text-align: center;
  }
  .bottom-menu li {
    font-size: 17px;
    display: inline-block;
    float: none !important;
    width: auto !important;
    padding: 10px 12px 10px 12px !important;
  }
  .bottom-menu li:first-of-type {
    width: 33.33333%;
  }
}
@media only screen and (min-width: 1576px) and (max-width: 1876px) {
  .prev-slide img {
    width: 40px;
    height: 40px;
  }
  .row.first {
    background-size: 111%;
  }
  .row.first .bgheight {
    height: calc(100% + 124px);
    height: -webkit-calc(100% + 124px);
  }
  .row.second .container-fluid {
    background-position-y: 41%;
    background-size: 111%;
  }
  .row.second .container {
    width: 100%;
    padding: 0 50px !important;
  }
  .row.second .after-logo {
    width: 900px;
    height: 900px;
    right: 5px;
  }
  .row.second .third-absolute img {
    margin-top: 30% !important;
  }
  .row.second .third-absolute h2 {
    margin-top: 80px !important;
  }
  .row.second .third-absolute .h3-wrap {
    max-width: 670px;
  }
  .row.second .logo {
    width: 537px;
    max-height: 100%;
  }
  .row.last .container {
    padding: 0 180px;
  }
  .row.last .right > div {
    max-width: 607px;
  }
  .row h2 {
    font-size: 33px;
  }
  .row .h3-wrap h3 {
    font-size: 17px;
  }
  .magazines a {
    display: inline-block;
  }
  .magazines a:first-of-type {
    margin-right: 100px;
  }
  .magazines img {
    width: 100px;
    height: 100px;
  }
  .magazines span {
    font-size: 17px;
  }
  .row .second-absolute {
    bottom: 20%;
    right: -4%;
  }
  .row .first-absolute {
    left: 124px;
  }
  .navbar-default .navbar-header {
    min-height: 80px;
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    padding-left: 40px;
    padding-right: 23px;
  }
  .navbar-default .navbar-header .navbar-brand {
    padding-left: 20px !important;
    padding-right: 20px !important;
    line-height: 44px;
  }
  .navbar-default .navbar-header img {
    width: 242px;
  }
  .navbar-default li {
    padding-left: 40px;
    padding-right: 40px;
  }
  .navbar-default li a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 1600px) {
  .second .container-fluid:after {
    left: 472px;
  }
}
@media only screen and (min-width: 1339px) and (max-width: 1440px) {
  .bottom-menu {
    display: block;
    text-align: center;
  }
  .bottom-menu li {
    font-size: 17px;
    display: inline-block;
    float: none !important;
    width: auto !important;
    padding: 10px 12px 10px 12px !important;
  }
  .bottom-menu li:first-of-type {
    width: 33.33333%;
  }
  .copy {
    font-size: 17px !important;
    padding: 20px 0 !important;
  }
  .navbar-brand img {
    width: 242px;
  }
  .navbar {
    max-height: 60px;
  }
  .navbar li {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  .navbar li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .row .first-absolute {
    left: 60px;
  }
  .row.first .after-logo {
    width: 29.5vw !important;
  }
  .row.second .container-fluid {
    background-position-y: 0%;
    background-size: 103%;
  }
  .row.second .container {
    padding: 0 44px !important;
  }
  .row.second .row.after-logo {
    width: 575px;
    height: 575px;
  }
  .row.second .after-logo {
    right: 60px;
  }
  .row.second .third-absolute img {
    margin-top: 70px;
    margin-left: calc(16% + 65px);
    margin-left: -webkit-calc(16% + 20px);
    width: 380px;
    max-height: 100%;
  }
  .row.second .third-absolute h2 {
    margin-left: calc(16% + 65px);
    margin-left: -webkit-calc(16% + 20px);
    margin-top: 50px;
  }
  .row.second .third-absolute .sub-h3 {
    margin-left: calc(16% + 65px);
    margin-left: -webkit-calc(16% + 20px);
  }
  .row.second .third-absolute .h3-wrap {
    margin-left: calc(16% + 65px);
    margin-left: -webkit-calc(16% + 20px);
  }
  .row.second .logo {
    width: 380px;
    max-height: 100%;
  }
  .row h2 {
    font-size: 28px;
  }
  .row .h3-wrap h3 {
    font-size: 16px;
  }
  .row.last .to-top {
    margin-top: 140px;
  }
  .magazines a {
    display: inline-block;
  }
  .magazines a:first-of-type {
    margin-right: 50px;
  }
  .magazines img {
    width: 70px;
    height: 70px;
  }
  .magazines span {
    font-size: 16px;
  }
  .row .second-absolute {
    bottom: 20%;
    right: -2%;
  }
}
@media only screen and (min-width: 1416px) and (max-width: 1576px) {
  .navbar {
    max-height: 80px;
  }
  .navbar-default {
    min-height: 80px;
  }
  .navbar-default li {
    min-height: 80px;
    padding: 0 40px !important;
  }
  .navbar-default li a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar-default .navbar-brand {
    line-height: 42.5px;
  }
  .navbar-default .navbar-brand img {
    width: 242px;
  }
  .row h2 {
    font-size: 33px !important;
  }
  .row .h3-wrap h3 {
    font-size: 17px;
  }
  .magazines a {
    display: inline-block;
  }
  .magazines a:first-of-type {
    margin-right: 65px;
  }
  .magazines img {
    width: 100px;
    height: 100px;
  }
  .magazines span {
    font-size: 17px;
  }
  .row .first-absolute {
    left: 60px;
  }
  .row .second-absolute {
    bottom: 20%;
    right: -2%;
  }
  .row.second .container-fluid {
    background-position-y: 35%;
    background-size: 105%;
  }
  .row.second .container {
    width: 100%;
    padding: 0 44px !important;
  }
  .row.second .after-logo {
    width: 765px;
    height: 765px;
    right: 13px;
  }
  .row.second .third-absolute img {
    margin-top: 215px;
    margin-left: calc(16% + 65px);
    margin-left: -webkit-calc(16% + 5px);
  }
  .row.second .third-absolute h2 {
    margin-left: calc(16% + 65px);
    margin-left: -webkit-calc(16% + 5px);
    margin-top: 100px;
  }
  .row.second .third-absolute .sub-h3 {
    margin-left: calc(16% + 65px);
    margin-left: -webkit-calc(16% + 5px);
  }
  .row.second .third-absolute .h3-wrap {
    margin-left: calc(16% + 65px);
    margin-left: -webkit-calc(16% + 5px);
  }
  .row.second .logo {
    width: 537px;
    max-height: 100%;
  }
  .copy {
    font-size: 17px !important;
    padding: 20px 0 !important;
  }
  .row.last .to-top {
    margin-top: 160px;
  }
  .row.last .right > div {
    max-width: 607px;
  }
}
@media only screen and (min-width: 1256px) and (max-width: 1416px) {
  .Netscape .third-absolute .btn-wrap {
    margin-top: 70px !important;
    margin-left: 26% !important;
  }
  .Netscape .third-absolute .btn-wrap img {
    margin-top: 0 !important;
  }
  .copy {
    font-size: 17px !important;
    padding: 20px 0 !important;
  }
  .navbar-brand img {
    width: 242px;
  }
  .navbar {
    max-height: 60px;
  }
  .navbar li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .row .first-absolute {
    left: 60px;
  }
  .bottom-menu {
    display: block;
    text-align: center;
  }
  .bottom-menu li {
    font-size: 16px;
    display: inline-block;
    float: none !important;
    width: auto !important;
    padding: 10px 12px 10px 12px !important;
  }
  .bottom-menu li:first-of-type {
    width: 33.33333%;
  }
  .row.second .container-fluid {
    background-position-y: 20%;
    background-size: 103%;
  }
  .row.second .container {
    padding: 0 44px !important;
  }
  .row.second .row.after-logo {
    width: 575px;
    height: 575px;
  }
  .row.second .after-logo {
    right: 60px;
  }
  .row.second .third-absolute img {
    margin-top: 140px;
    margin-left: calc(16% + 65px);
    margin-left: -webkit-calc(16% + 20px);
  }
  .row.second .third-absolute h2 {
    margin-left: calc(16% + 65px);
    margin-left: -webkit-calc(16% + 20px);
    margin-top: 50px;
  }
  .row.second .third-absolute .sub-h3 {
    margin-left: calc(16% + 65px);
    margin-left: -webkit-calc(16% + 20px);
  }
  .row.second .third-absolute .h3-wrap {
    margin-left: calc(16% + 65px);
    margin-left: -webkit-calc(16% + 20px);
  }
  .row.second .logo {
    width: 380px;
    max-height: 100%;
  }
  .row.second .btn-wrap {
    margin-left: 19% !important;
  }
  .row h2 {
    font-size: 28px;
  }
  .row .h3-wrap h3 {
    font-size: 16px;
  }
  .row.last .to-top {
    margin-top: 193px;
  }
  .magazines a {
    display: inline-block;
  }
  .magazines a:first-of-type {
    margin-right: 50px;
  }
  .magazines img {
    width: 70px;
    height: 70px;
  }
  .magazines span {
    font-size: 16px;
  }
  .row .second-absolute {
    bottom: 20%;
    right: -2%;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1256px) {
  .Netscape .third-absolute .btn-wrap {
    margin-top: 70px !important;
    margin-left: 26% !important;
  }
  .Netscape .third-absolute .btn-wrap img {
    margin-top: 0 !important;
  }
  .navbar-default {
    max-height: 60px;
    height: 100%;
  }
  .navbar-default .navbar-brand img {
    width: 242px;
  }
  .navbar-default li a {
    padding: 10.5px inherit;
  }
  .row.second .container-fluid {
    background-position-y: 10%;
    background-size: 103%;
  }
  .row.second .container {
    width: 100%;
    padding: 0;
  }
  .row.second .container .col-md-6 {
    padding: 0;
  }
  .row.second .third-absolute img {
    margin-top: 70px;
    margin-left: calc(16% + 65px);
    margin-left: -webkit-calc(16% + 5px);
  }
  .row.second .third-absolute h2 {
    margin-left: calc(16% + 65px);
    margin-left: -webkit-calc(16% + 5px);
    margin-top: 50px;
  }
  .row.second .third-absolute .sub-h3 {
    margin-left: calc(16% + 65px);
    margin-left: -webkit-calc(16% + 5px);
  }
  .row.second .third-absolute .h3-wrap {
    margin-left: calc(16% + 65px);
    margin-left: -webkit-calc(16% + 5px);
  }
  .row.second .logo {
    width: 380px;
    max-height: 100%;
  }
  .row.second .after-logo {
    width: 575px;
    height: 575px;
  }
  .bottom-menu a {
    font-size: 13px;
  }
  .last .bottom-menu li {
    width: auto !important;
    float: none !important;
    display: inline-block;
    white-space: nowrap;
  }
  .last .right > div {
    width: 498px;
  }
  .copy {
    padding: 20px 0 !important;
    font-size: 17px !important;
  }
  .first {
    overflow: hidden;
  }
  .second .h3-wrap-wrap {
    min-width: 435px !important;
  }
  .row .first-absolute {
    left: 60px;
    width: 60%;
  }
  .Netscape .last .bottom-menu li {
    width: 25% !important;
  }
  .Netscape .last .bottom-menu li:first-of-type {
    width: 37% !important;
  }
}
@media all and (min-width: 320px) {
  html,
  body {
    height: 100%;
    position: relative;
  }
  body.phone.linux:not(.Chrome) .row,
  body.phone.linux:not(.Chrome) .menu {
    display: none;
  }
  body.phone.linux:not(.Chrome) .landscape {
    background-image: none;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    position: relative;
    min-height: 100%;
  }
  body.phone.linux:not(.Chrome) a {
    display: block !important;
    text-align: center;
    color: white;
  }
  body.phone.linux:not(.Chrome) p {
    display: block !important;
    font-size: 24px;
    color: white;
    text-align: center;
  }
  body.phone.linux:not(.Chrome) img {
    display: block !important;
    width: 15%;
    margin: 0 auto;
  }
}
@media all and (min-width: 320px) and (orientation: landscape) {
  .phone .row,
  .phone .navbar,
  .phone .footer {
    opacity: 0;
  }
  .landscape.phone {
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url("../img/flip.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    -webkit-filter: blur(0px) !important;
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: fixed;
    z-index: 999;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .btn-slide {
    display: none;
  }
  html,
  body {
    min-width: 320px !important;
  }
  html #bg,
  body #bg {
    display: none;
  }
  .row.first {
    background: url("../img/top-bg-orig.png") no-repeat;
  }
  .row .first-absolute,
  .row .second-absolute,
  .row .third-absolute {
    left: 0;
  }
  .third-absolute {
    position: static !important;
  }
  .third-absolute h2 {
    margin-left: 0 !important;
  }
  .third-absolute img {
    margin-left: 0 !important;
  }
  .third-absolute .h3-wrap {
    margin-left: 0 !important;
  }
  .third-absolute .sub-h3 {
    margin-left: 0 !important;
  }
  .row .first-absolute {
    width: 100%;
    position: absolute !important;
    bottom: 40% !important;
    left: 0;
  }
  .second-absolute {
    position: absolute !important;
    bottom: 15%;
    right: 0 !important;
    width: 100% !important;
  }
  .next-slide.hidden-lg {
    position: absolute !important;
    bottom: 5%;
    right: 15px;
  }
  .navbar-brand {
    width: 70%;
    display: block;
    padding: 12px 0 12px 12px;
  }
  .navbar-brand img {
    display: block;
    width: 100%;
  }
  .first .left img {
    width: 100%;
  }
  .first .left h2 {
    float: none;
    padding: 5px 5px;
    position: static;
    white-space: normal;
    font-size: 13px;
    text-align: center;
  }
  .first .left .h3-wrap {
    position: static;
  }
  .first .left .h3-wrap .h3-wrap-wrap {
    position: static;
    min-width: calc(100% - 4px);
    min-width: -webkit-calc(100% - 4px);
    margin-left: 4px;
  }
  .right a {
    font-size: 16px;
  }
  .row.first {
    min-height: 568px;
    background-size: 480%;
    background-position-x: 35%;
    background-position-y: 95%;
  }
  .row.first .next-slide {
    position: relative;
    z-index: 100;
  }
  .row.first .magazines span {
    font-size: 14px;
  }
  .row.first .magazines img {
    width: 55px;
    height: 55px;
  }
  .row.first .left img.after-logo {
    margin-bottom: 25px;
    width: 100%;
  }
  .row.first .left h2 {
    font-size: 20px;
    text-align: center;
    display: inline;
    outline: 4px solid #eb002b;
    padding: 0;
    position: relative;
    left: 4px;
  }
  .row.first .left .h3-wrap {
    margin-top: 10px;
  }
  .row.second {
    background-size: 15%;
    height: auto !important;
  }
  .row.second .container-fluid:after,
  .row.second .container-fluid:before {
    display: none;
  }
  .row.second .right h2 {
    font-size: 20px;
    text-align: center;
    display: inline;
    outline: 4px solid #eb002b;
    padding: 0;
    position: relative;
    left: 4px;
  }
  .row.second .right .h3-wrap {
    margin-top: 10px;
  }
  .row.second .iw {
    position: relative;
    background: url("../img/middle-bg.png") no-repeat;
  }
  .row.second .logo {
    display: block;
    margin-top: 0;
    z-index: 5;
  }
  .row.second .third-absolute img {
    margin-bottom: 25px;
  }
  .row.second .after-logo {
    position: static;
  }
  .row.second h2 {
    margin-top: 20px;
    float: none;
    padding: 5px 5px;
    position: static;
    white-space: normal;
    font-size: 13px;
    text-align: center;
  }
  .row.second .prev-slide {
    background-size: 30%;
  }
  .row.second .h3-wrap {
    position: relative !important;
  }
  .row.second h3 {
    position: static !important;
  }
  .row.second .btn-wrap {
    text-align: right;
    margin-top: 30px;
    padding-bottom: 5%;
  }
  .row.second .h3-wrap {
    margin: 0;
    position: static;
  }
  .row.second .h3-wrap .h3-wrap-wrap {
    position: static;
    min-width: calc(100% - 4px);
    min-width: -webkit-calc(100% - 4px);
    margin-left: 4px;
  }
  .row.second .col-md-6 {
    padding: 0;
  }
  .row.second .col-md-6 img:not(.b) {
    width: 100%;
  }
  .row.second .next-slide {
    position: relative;
    z-index: 100;
  }
  .row.second .prev-slide {
    display: none;
  }
  .row.last .col-md-6 img.logo {
    margin-bottom: 25px;
  }
  .row.last .left {
    position: static;
  }
  .row.last .left h2 {
    font-size: 20px;
    text-align: center;
    display: inline;
    outline: 4px solid #eb002b;
    padding: 0;
    position: relative;
    left: 4px;
  }
  .row.last .left .h3-wrap {
    margin-top: 10px;
  }
  .row.last .container {
    padding: 0 15px;
  }
  .row.last .img-responsive {
    margin: 5% 0;
  }
  .row.last .bottom-menu li {
    margin: 2.5% 0;
    width: 100%;
  }
  .row.last h2 {
    float: none;
    padding: 5px 5px;
    position: static;
    white-space: normal;
    font-size: 13px;
    text-align: center;
  }
  .row.last .prev-slide {
    background-size: 30%;
  }
  .row.last .h3-wrap {
    position: static;
  }
  .row.last .h3-wrap .h3-wrap-wrap {
    position: static;
    min-width: calc(100% - 4px);
    min-width: -webkit-calc(100% - 4px);
    margin-left: 4px;
  }
  .row.last .col-md-6 {
    padding: 0;
    margin-top: 5%;
  }
  .row.last .col-md-6 img.logo {
    width: 100%;
  }
  .row.last .to-top {
    background-size: 40%;
    margin-top: 5%;
    text-align: right;
  }
  .row.last .to-top img {
    margin: 0 auto;
    display: block;
  }
  .row.last .to-top span {
    display: block;
    text-align: center;
  }
  .next-slide img {
    width: 45px;
  }
  .prev-slide img {
    width: 35px;
  }
}
.Netscape {
  max-width: 100%;
}
.Netscape h3 {
  line-height: 17px;
  outline-width: 6px;
  padding: 1px;
  margin: 1px;
}
@media only screen and (min-width: 2000px) and (max-width: 2560px) {
  .navbar-default .navbar-brand img {
    width: 342px !important;
    height: 40px !improtant;
  }
  .navbar-default ul img {
    width: 40px !important;
    height: 40px !important;
  }
  .navbar-default ul a {
    font-size: 25px !important;
  }
  .row h2 {
    font-size: 50px;
  }
  .row .h3-wrap h3 {
    font-size: 25px;
  }
  .row.first .magazines span {
    font-size: 25px;
  }
  .row.first .first-absolute {
    top: 65%;
  }
  .row.first .first-absolute .after-logo {
    max-width: 535px;
  }
  .row.first .first-absolute .next-slide {
    margin-top: 103px;
  }
  .row.second .container-fluid {
    background-size: 103%;
  }
  .row.second .third-absolute img {
    margin-top: 25%;
  }
  .row.second .third-absolute .btn-wrap {
    margin-left: 21%;
  }
  .row.last {
    background-size: 100%;
  }
  .row.last .right > div {
    max-width: 765px !important;
  }
  .row.last .bottom-menu img {
    width: 40px !important;
    height: 40px !important;
  }
  .row.last .bottom-menu a {
    font-size: 25px !important;
  }
  .row.last .to-top {
    margin-top: 256px;
  }
  .row.last .to-top span {
    font-size: 25px;
    padding-left: 15px;
  }
  .row.last .copy {
    font-size: 25px;
  }
  .row .btn-slide.next-slide,
  .row .btn-slide.to-top {
    vertical-align: middle;
  }
  .row .btn-slide.next-slide img,
  .row .btn-slide.to-top img {
    width: 70px;
    height: 70px;
    margin-top: 0 !important;
  }
  .row .btn-slide.prev-slide {
    vertical-align: middle;
  }
  .row .btn-slide.prev-slide img {
    width: 47px;
    height: 47px;
    margin-bottom: 1.5%;
    margin-top: 0 !important;
  }
  .Netscape h3 {
    line-height: 26px;
  }
  .Netscape .first.row .first-absolute .next-slide {
    margin-top: 120px;
  }
  .Netscape .third-absolute .h3-wrap-wrap {
    max-width: 650px;
  }
  .Firefox .second .third-absolute img {
    margin-top: 37%;
  }
}
@media only screen and (min-width: 1876px) and (max-width: 2000px) {
  .to-top {
    margin-top: 238px !important;
  }
  .btn-slide.next-slide,
  .btn-slide.to-top {
    vertical-align: middle;
  }
  .btn-slide.next-slide img,
  .btn-slide.to-top img {
    width: 60px;
    height: 60px;
    margin-top: 0 !important;
  }
  .btn-slide.prev-slide {
    vertical-align: middle;
  }
  .btn-slide.prev-slide img {
    width: 40px;
    height: 40px;
    margin-bottom: 1.5%;
    margin-top: 0 !important;
  }
}
@media only screen and (min-width: 1576px) and (max-width: 1876px) {
  .row.first #bg {
    padding-bottom: 110px;
  }
  .row.first .first-absolute {
    top: calc(63% - 25px);
    left: 60px;
  }
  .row.first .first-absolute .next-slide {
    margin-top: 85px;
  }
  .row.first .first-absolute img.after-logo {
    width: 479px;
  }
  .row.second .third-absolute {
    right: 1%;
    width: 43%;
  }
  .row.second .third-absolute .logo {
    margin-top: 38% !important;
  }
  .row.last .h3-wrap {
    max-width: 85%;
  }
  .row.last .to-top {
    margin-top: 171px;
  }
  .row.last .to-top span {
    font-size: 17px;
    padding-left: 15px;
  }
  .row .btn-slide.next-slide,
  .row .btn-slide.to-top {
    vertical-align: middle;
  }
  .row .btn-slide.next-slide img,
  .row .btn-slide.to-top img {
    width: 60px;
    height: 60px;
    margin-top: 0 !important;
  }
  .row .btn-slide.prev-slide {
    vertical-align: middle;
  }
  .row .btn-slide.prev-slide img {
    width: 40px;
    height: 40px;
    margin-bottom: 1.5%;
    margin-top: 0 !important;
  }
  .row .bottom-menu li a {
    font-size: 17px;
  }
  .Netscape .last .bottom-menu li {
    width: 27% !important;
  }
  .Netscape .last .bottom-menu li:first-of-type {
    width: 40% !important;
  }
}
@media only screen and (min-width: 1416px) and (max-width: 1576px) {
  .navbar-brand {
    padding-left: 60px;
  }
  .row.first .first-absolute {
    top: 58%;
  }
  .row.first .first-absolute .next-slide {
    margin-top: 73px;
  }
  .row.last .h3-wrap {
    max-width: 100%;
  }
  .row.last .to-top {
    margin-top: 183px;
  }
  .row.last .to-top span {
    font-size: 17px;
    padding-left: 15px;
  }
  .row .btn-slide.next-slide,
  .row .btn-slide.to-top {
    vertical-align: middle;
  }
  .row .btn-slide.next-slide img,
  .row .btn-slide.to-top img {
    width: 60px;
    height: 60px;
    margin-top: 0 !important;
  }
  .row .btn-slide.prev-slide {
    vertical-align: middle;
  }
  .row .btn-slide.prev-slide img {
    width: 40px;
    height: 40px;
    margin-bottom: 1.5%;
    margin-top: 0 !important;
  }
  .Netscape .row.second .third-absolute {
    right: 1%;
    width: 53%;
  }
  .Netscape .row.second .third-absolute h2 {
    margin-left: 25%;
  }
  .Netscape .row.second .third-absolute .btn-wrap {
    margin-left: 24%;
  }
  .Netscape .row.last .bottom-menu li {
    width: 27% !important;
  }
  .Netscape .row.last .bottom-menu li:first-of-type {
    width: 40% !important;
  }
}
@media only screen and (min-width: 1339px) and (max-width: 1416px) {
  .navbar-brand {
    padding-left: 60px;
  }
  .row.first .first-absolute {
    top: 58%;
  }
  .row.first .first-absolute .next-slide {
    margin-top: 73px;
  }
  .row.second .logo {
    width: 530px;
    height: 150px;
    margin-left: -webkit-calc(9% + 20px) !important;
    margin-left: calc(9% + 20px) !important;
  }
  .row.second .third-absolute .btn-wrap {
    margin-left: 19% !important;
  }
  .row.last .to-top {
    margin-top: 183px;
  }
  .row.last .to-top span {
    font-size: 17px;
    padding-left: 15px;
  }
  .row .btn-slide.next-slide,
  .row .btn-slide.to-top {
    vertical-align: middle;
  }
  .row .btn-slide.next-slide img,
  .row .btn-slide.to-top img {
    width: 45px;
    height: 45px;
    margin-top: 0 !important;
  }
  .row .btn-slide.prev-slide {
    vertical-align: middle;
  }
  .row .btn-slide.prev-slide img {
    width: 30px;
    height: 30px;
    margin-bottom: 1.5%;
    margin-top: 0 !important;
  }
}
@media only screen and (min-width: 1256px) and (max-width: 1416px) {
  .row.first .first-absolute {
    top: 58%;
    left: 40px;
  }
  .row.first .first-absolute .next-slide {
    margin-top: 73px;
  }
  .row.first .after-logo {
    width: 33.5vw !important;
  }
  .row.second .btn-wrap {
    margin-left: 19% !important;
  }
  .row.last .to-top {
    margin-top: 193px;
  }
  .row.last .to-top span {
    font-size: 16px;
    padding-left: 15px;
  }
  .row .h3-wrap-wrap {
    max-width: 455px;
  }
  .row .btn-slide.next-slide,
  .row .btn-slide.to-top {
    vertical-align: middle;
  }
  .row .btn-slide.next-slide img,
  .row .btn-slide.to-top img {
    width: 45px;
    height: 45px;
    margin-top: 0 !important;
  }
  .row .btn-slide.prev-slide {
    vertical-align: middle;
  }
  .row .btn-slide.prev-slide img {
    width: 30px;
    height: 30px;
    margin-bottom: 1.5%;
    margin-top: 0 !important;
  }
  .Netscape .row .h3-wrap-wrap {
    max-width: 500px;
  }
  .Netscape .row.second .btn-wrap {
    margin-left: 25% !important;
  }
  .Netscape .row.last .bottom-menu li {
    width: 27% !important;
  }
  .Netscape .row.last .bottom-menu li:first-of-type {
    width: 40% !important;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1256px) {
  .row.first .first-absolute {
    top: 58%;
  }
  .row.first .first-absolute .next-slide {
    margin-top: 73px;
  }
  .row.last .to-top {
    margin-top: 122px;
  }
  .row.last .to-top span {
    font-size: 16px;
    padding-left: 15px;
  }
  .row .btn-slide.next-slide,
  .row .btn-slide.to-top {
    vertical-align: middle;
  }
  .row .btn-slide.next-slide img,
  .row .btn-slide.to-top img {
    width: 45px;
    height: 45px;
    margin-top: 0 !important;
  }
  .row .btn-slide.prev-slide {
    vertical-align: middle;
  }
  .row .btn-slide.prev-slide img {
    width: 30px;
    height: 30px;
    margin-bottom: 1.5%;
    margin-top: 0 !important;
  }
  .row .bottom-menu li a {
    font-size: 14px;
  }
  .Netscape .navbar-default li a {
    padding: 10px !important;
  }
  .Netscape .row .h3-wrap-wrap {
    max-width: 500px;
  }
  .Netscape .row.second .third-absolute {
    right: 0%;
    width: 56%;
  }
  .Netscape .row.second .third-absolute .btn-wrap {
    margin-left: 23% !important;
  }
  .Netscape .row.second .third-absolute .h3-wrap {
    margin-left: calc(14% + 65px);
    margin-left: -webkit-calc(14% + 65px);
  }
  .Netscape .row.second .next-slide img {
    margin-left: 0;
  }
  .Netscape .row.last .bottom-menu li {
    width: 27% !important;
  }
  .Netscape .row.last .bottom-menu li:first-of-type {
    width: 40% !important;
  }
}
