html body {
  color: inherit;
}
html body h2 {
  font-family: "RobotoBlack";
  background: #EB0028;
  padding: 9px 10px;
  color: white;
  white-space: nowrap;
  font-size: 28px;
  position: relative;
  left: -4px;
}
html body .first h2 {
  float: left;
}
html body .h3-wrap {
  position: relative;
  clear: both;
}
html body .h3-wrap .h3-wrap-wrap {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 540px;
}
html body h3 {
  display: inline;
  font-family: "RobotoLight";
  outline: #0070CD solid 4px;
  background: #0070CD;
  font-size: 16px;
  color: white;
}
html body a {
  cursor: pointer;
  font-family: "RobotoLight";
}
.btn-slide {
  cursor: pointer;
}
.btn-slide.next-slide img {
  width: 45px;
}
.btn-slide.prev-slide img {
  width: 30px;
}
.btn-slide.to-top img {
  display: inline-block;
  width: 45px;
}
.btn-slide.to-top span {
  font-size: 16px;
  color: #0070CD;
  display: inline-block;
  vertical-align: middle;
}
.magazines a {
  color: white;
  display: block;
}
.magazines a:first-of-type {
  margin-bottom: 7px;
}
.magazines a:hover {
  text-decoration: none;
}
.magazines img {
  display: inline-block;
  width: 70px;
}
.magazines span {
  padding-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
.container-fluid.menu {
  padding: 0;
}
.navbar-default {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  box-shadow: none;
  border-radius: 0;
  border: none;
  background-image: none;
  background-color: rgba(58, 60, 63, 0.8);
}
.navbar-default .navbar-collapse {
  padding: 0;
}
.navbar-default .navbar-nav {
  float: right;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}
.navbar-default .navbar-nav li {
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  padding: 0 20px;
}
.navbar-default .navbar-nav li img {
  display: inline-block;
  max-height: 28px;
}
.navbar-default .navbar-nav li a {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-repeat: none;
  background-color: inherit;
  color: white;
  text-shadow: none;
  font-size: 16px;
}
.navbar-default .navbar-nav li a span {
  font-family: "RobotoBlack";
  display: block;
}
.navbar-default .navbar-nav li a:hover {
  background: none;
  color: white;
}
.navbar-default .navbar-nav li.active > a {
  background-color: inherit;
  background-image: none;
  color: white;
  text-shadow: none;
  box-shadow: none;
}
.navbar-default .navbar-nav li.active > a:hover {
  background: none;
  color: white;
}
.row {
  position: relative;
}
.row .first-absolute {
  position: absolute;
  bottom: calc(15% - 93px);
  bottom: -webkit-calc(15% - 93px);
  width: 50%;
}
.row .first-absolute h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}
.row .first-absolute .next-slide {
  margin-top: 93px;
}
.row .second-absolute {
  position: absolute;
  bottom: 15%;
  right: -15%;
  width: 50%;
}
.row.first {
  background: url("../img/top-bg-orig.png") no-repeat;
  background-size: cover;
}
.row.first .container {
  margin-top: 80px;
}
.row.first .left img.after-logo {
  width: 37.5vw;
}
.row.second {
  background: #3196db url("../img/middle-rep.png") repeat;
}
.row.second .after-logo {
  width: 690px;
  position: absolute;
  top: -55px;
  z-index: 1;
  left: -24%;
}
.row.second .logo {
  max-height: 107px;
  position: relative;
  left: -4px;
}
.row.second h2 {
  display: inline-block;
  margin-top: 63px;
  margin-bottom: 20px;
}
.row.second .h3-wrap {
  margin-bottom: 23px;
}
.row.second .next-slide {
  display: inline-block;
  vertical-align: bottom;
}
.row.second .prev-slide {
  display: inline-block;
  vertical-align: bottom;
}
.row.second .btn-wrap {
  margin-top: 71px;
}
.row.second .third-absolute {
  position: absolute;
  right: -43px;
  top: 73px;
}
.row.last {
  background: url("../img/bottombg_orig_mini.jpg") no-repeat;
}
.row.last .logo {
  width: 361px;
}
.row.last h2 {
  margin-top: 30px;
  margin-bottom: 22px;
}
.row.last .to-top {
  margin-top: 152px;
}
.row.last .bottom-menu li {
  list-style: none;
  background: #0070CD;
  color: white;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 12px;
}
.row.last .bottom-menu li img {
  display: inline-block;
  vertical-align: middle;
}
.row.last .bottom-menu li a {
  display: inline-block;
  vertical-align: middle;
  color: white;
}
.row.last .bottom-menu li span {
  display: block;
}
.row.last .bottom-menu li:first-of-type {
  background: #6387C9;
}
.row.last .bottom-menu li:last-of-type {
  background: #6EB661;
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .navbar-default {
    max-height: 60px;
    height: 100%;
  }
  .navbar-default .navbar-brand img {
    max-height: 28px;
  }
  .navbar-default li a {
    padding: 10.5px inherit;
  }
  .second {
    max-height: 527px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-brand {
    width: 70%;
    display: block;
    padding: 12px 0 12px 12px;
  }
  .navbar-brand img {
    display: block;
    width: 100%;
  }
  .first .left img {
    width: 100%;
  }
  .first .left h2 {
    float: none;
    padding: 5px 5px;
    position: static;
    white-space: normal;
    font-size: 13px;
    text-align: center;
  }
  .first .left .h3-wrap {
    position: static;
  }
  .first .left .h3-wrap .h3-wrap-wrap {
    position: static;
    min-width: calc(100% - 4px);
    min-width: -webkit-calc(100% - 4px);
    margin-left: 4px;
  }
  .right a {
    font-size: 16px;
  }
  .row.first {
    min-height: 568px;
    background-size: 450%;
    background-position-x: 35%;
  }
  .row.first .magazines span {
    font-size: 14px;
  }
  .row.first .magazines img {
    width: 55px;
  }
  .row.second {
    background-size: 15%;
  }
  .row.second h2 {
    float: none;
    padding: 5px 5px;
    position: static;
    white-space: normal;
    font-size: 13px;
    text-align: center;
  }
  .row.second .prev-slide {
    background-size: 30%;
  }
  .row.second .h3-wrap {
    position: static;
  }
  .row.second .h3-wrap .h3-wrap-wrap {
    position: static;
    min-width: calc(100% - 4px);
    min-width: -webkit-calc(100% - 4px);
    margin-left: 4px;
  }
  .row.second .col-md-6 img:not(.b) {
    width: 100%;
  }
  .row.last {
    background-size: 15%;
  }
  .row.last h2 {
    float: none;
    padding: 5px 5px;
    position: static;
    white-space: normal;
    font-size: 13px;
    text-align: center;
  }
  .row.last .prev-slide {
    background-size: 30%;
  }
  .row.last .h3-wrap {
    position: static;
  }
  .row.last .h3-wrap .h3-wrap-wrap {
    position: static;
    min-width: calc(100% - 4px);
    min-width: -webkit-calc(100% - 4px);
    margin-left: 4px;
  }
  .row.last .col-md-6 img.logo {
    width: 100%;
  }
  .row.last .to-top {
    background-size: 40%;
  }
  .next-slide img {
    width: 45px;
  }
  .prev-slide img {
    width: 35px;
  }
}
