.content-inner-instructions h2 {
  border-bottom: 2px solid #eb1c24;
  padding: 0px 0px 14px;
}
.content-inner-instructions .cert {
  padding: 19px;
  border: 2px solid #f8f8f8;
}
.content-inner-instructions .cert h5 {
  font-weight: normal;
  font-size: 15px;
  color: #eb1c24;
  margin: 0 0 15px 0;
}
.content-inner-instructions .cert p {
  line-height: 20px;
  font-size: 13px;
}
.content-inner-instructions .cert ul {
  padding: 0;
  margin: 0;
}
.content-inner-instructions .cert ul li {
  list-style: none;
  float: left;
  width: 50%;
  color: #808080;
}
.content-inner-instructions .cert ul li img {
  vertical-align: middle;
}
.content-inner-instructions .cert ul li a {
  color: #000000;
  vertical-align: middle;
  font-size: 12px;
}
