html {
  height: 100%;
}
html body {
  height: 100%;
}
#slider {
  background: rgba(0, 102, 0, 0.2) url("images/pattern.svg") no-repeat center;
  position: relative;
  width: 960px;
  height: calc(100% + 450px);
  height: -webkit-calc(100% + 450px);
  margin-left: calc(50% - 480px);
}
#slider ul.example {
  position: absolute;
  top: 0;
  left: -208px;
  margin: 100px 0 0 0;
  padding: 0;
  white-space: nowrap;
}
#slider ul.example li {
  display: inline-block;
  margin: 0 30px 0 0;
  transition: all 1s ease;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  list-style: none;
  position: relative;
  z-index: 2;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 2px solid #717B8D;
}
#slider ul.example li:last-of-type {
  margin: 0;
}
#slider ul.example li span {
  display: none;
  max-width: 175px;
  position: absolute;
  top: 50%;
  left: calc(50% - 87.5px);
  left: -webkit-calc(50% - 87.5px);
}
#slider ul.example li span h2 {
  font-family: Roboto;
  font-weight: 100;
  font-size: 18px;
  color: #0070CD;
  text-align: center;
}
#slider ul.example li span p {
  font-family: Roboto;
  font-weight: 100;
  font-size: 12px;
  color: #5D6D79;
  text-align: center;
}
#slider ul.example li span a {
  font-family: Roboto;
  font-weight: 100;
  font-size: 12px;
  color: #6EB661;
  display: block;
  text-align: center;
  text-decoration: none;
}
#slider ul.example li img.icon {
  position: absolute;
  left: calc(50% - 35px);
  left: -webkit-calc(50% - 35px);
  top: calc(50% - 30px);
  top: -webkit-calc(50% - 30px);
}
#slider ul.example li img.shadow {
  position: absolute;
  width: 108px;
  height: 16px;
  left: calc(50% - 54px);
  left: -webkit-calc(50% - 54px);
  bottom: -22px;
}
#slider ul.example li.sel {
  top: 50px;
  transition: all 1s ease;
  background-repeat: no-repeat;
  background-position: center 35%;
  border-color: #0070CD;
  border-width: 4px;
  width: 250px;
  height: 250px;
}
#slider ul.example li.sel div {
  z-index: 999;
}
#slider ul.example li.sel div.prev {
  background: url("images/arrow.svg") no-repeat;
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  left: -33px;
  top: calc(50% - 9px);
  top: -webkit-calc(50% - 9px);
}
#slider ul.example li.sel div.next {
  background: url("images/arrow.svg") no-repeat;
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  right: -33px;
  top: calc(50% - 9px);
  top: -webkit-calc(50% - 9px);
  transform: rotate(180deg);
}
#slider ul.example li.sel span {
  display: block;
}
#slider ul.example li.sel .shadow {
  width: 180px;
  height: 27px;
  left: calc(50% - 90px);
  left: -webkit-calc(50% - 90px);
}
#slider ul.example li.wallet {
  background-image: url("images/wallet.svg");
}
#slider ul.example li.wallet.sel {
  background-image: url("images/wallet-red.svg");
}
#slider ul.example li.terminal {
  background-image: url("images/terminal.svg");
}
#slider ul.example li.terminal.sel {
  background-image: url("images/terminal-red.svg");
}
#slider ul.example li.ecommerce {
  background-image: url("images/ecommerce.svg");
}
#slider ul.example li.ecommerce.sel {
  background-image: url("images/ecommerce-red.svg");
}
#slider ul.example li.visa {
  background-image: url("images/visa.svg");
}
#slider ul.example li.visa.sel {
  background-image: url("images/visa-red.svg");
}
#slider ul.example li.bank {
  background-image: url("images/bank.svg");
}
#slider ul.example li.bank.sel {
  background-image: url("images/bank-red.svg");
}
#slider ul.example li.platform {
  background-image: url("images/platform.svg");
}
#slider ul.example li.platform.sel {
  background-image: url("images/platform-red.svg");
}
#slider ul.actual {
  position: absolute;
  top: 0;
  left: -208px;
  white-space: nowrap;
  padding: 450px 0 0 0;
  margin: 20px 0 0 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}
#slider ul.actual:after,
#slider ul.actual:before {
  content: '';
  display: table;
}
#slider ul.actual li {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 0 15px;
}
#slider ul.actual .ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
}
#slider ul.actual .ch-item .ch-info-wrap,
#slider ul.actual .ch-item .ch-info {
  position: absolute;
  width: 148px;
  height: 148px;
  border-radius: 50%;
}
#slider ul.actual .ch-item .ch-info-wrap {
  background-color: white;
  border: 2px solid #717B8D;
}
#slider ul.actual .ch-item .ch-info > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;
  -webkit-backface-visibility: hidden;
  /*Just for webkit to have a smooth font*/
}
#slider ul.actual .ch-item .ch-info .ch-info-front {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
#slider ul.actual .ch-item .ch-info .ch-info-back {
  opacity: 0;
  background: #223e87;
  pointer-events: none;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: all 0.4s ease-in-out 0.2s;
  -moz-transition: all 0.4s ease-in-out 0.2s;
  -o-transition: all 0.4s ease-in-out 0.2s;
  -ms-transition: all 0.4s ease-in-out 0.2s;
  transition: all 0.4s ease-in-out 0.2s;
}
#slider ul.actual .ch-item .ch-info .ch-img-1 {
  background-image: url("images/wallet.svg");
  background-repeat: no-repeat;
}
#slider ul.actual .ch-item .ch-info .ch-img-2 {
  background-image: url("images/terminal.svg");
  background-repeat: no-repeat;
}
#slider ul.actual .ch-item .ch-info .ch-img-3 {
  background-image: url("images/ecommerce.svg");
  background-repeat: no-repeat;
}
#slider ul.actual .ch-item .ch-info .ch-img-4 {
  background-image: url("images/visa.svg");
  background-repeat: no-repeat;
}
#slider ul.actual .ch-item .ch-info .ch-img-5 {
  background-image: url("images/bank.svg");
  background-repeat: no-repeat;
}
#slider ul.actual .ch-item .ch-info .ch-img-6 {
  background-image: url("images/platform.svg");
  background-repeat: no-repeat;
}
#slider ul.actual .ch-item .ch-info h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  margin: 0 15px;
  padding: 40px 0 0 0;
  height: 80px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 0 0 1px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.3);
}
#slider ul.actual .ch-item .ch-info p {
  color: #fff;
  padding: 10px 5px 0;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
#slider ul.actual .ch-item .ch-info a {
  display: block;
  color: #e7615e;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: 'Open Sans', Arial, sans-serif;
}
#slider ul.actual li.sel {
  position: relative;
  margin: 0 7%;
}
#slider ul.actual li.sel .ch-info .ch-info-back {
  background-color: white;
  opacity: 1;
  -webkit-transform: scale(1.68);
  border-color: #0070CD;
  border-width: 2px;
  border-style: solid;
}
#slider ul.actual li.sel .ch-info .ch-info-back.ch-img-4 {
  background-image: url("images/visa-red.svg");
  background-position: center;
  background-size: 40%;
}
#slider ul.actual li.sel .ch-info .ch-info-back h2 {
  font-size: 10px;
}
#slider ul.actual li.sel .prev {
  background: url("images/arrow.svg") no-repeat;
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  left: -77px;
  top: calc(50% - 9px);
  top: -webkit-calc(50% - 9px);
}
#slider ul.actual li.sel .next {
  background: url("images/arrow.svg") no-repeat;
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  right: -77px;
  top: calc(50% - 9px);
  top: -webkit-calc(50% - 9px);
  transform: rotate(180deg);
}
#slider .markers span {
  cursor: pointer;
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 2px solid #0070CD;
  background: white;
  border-radius: 100%;
}
#slider .markers span.active {
  background-color: #0070CD;
}
