html {
  height: 100%;
}
html body {
  height: 100%;
}
#slider {
  background: rgba(0, 102, 0, 0.2) url("images/pattern.svg") no-repeat center;
  position: relative;
  width: 960px;
  height: calc(100% + 450px);
  height: -webkit-calc(100% + 450px);
  margin-left: calc(50% - 480px);
}
#slider ul.example {
  position: absolute;
  top: 0;
  left: -208px;
  margin: 100px 0 0 0;
  padding: 0;
  white-space: nowrap;
  width: 100%;
}
#slider ul.example li {
  display: inline-block;
  margin: 0 30px 0 0;
  width: 150px;
  height: 150px;
}
#slider ul.example li > div {
  transition: all 1s ease;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  list-style: none;
  position: relative;
  z-index: 2;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 2px solid #717B8D;
}
#slider ul.example li > div span {
  display: none;
  max-width: 175px;
  position: absolute;
  top: 50%;
  left: calc(50% - 87.5px);
  left: -webkit-calc(50% - 87.5px);
}
#slider ul.example li > div span h2 {
  font-family: Roboto;
  font-weight: 100;
  font-size: 18px;
  color: #0070CD;
  text-align: center;
}
#slider ul.example li > div span p {
  font-family: Roboto;
  font-weight: 100;
  font-size: 12px;
  color: #5D6D79;
  text-align: center;
}
#slider ul.example li > div span a {
  font-family: Roboto;
  font-weight: 100;
  font-size: 12px;
  color: #6EB661;
  display: block;
  text-align: center;
  text-decoration: none;
}
#slider ul.example li > div img.icon {
  position: absolute;
  left: calc(50% - 35px);
  left: -webkit-calc(50% - 35px);
  top: calc(50% - 30px);
  top: -webkit-calc(50% - 30px);
}
#slider ul.example li > div img.shadow {
  position: absolute;
  width: 108px;
  height: 16px;
  left: calc(50% - 54px);
  left: -webkit-calc(50% - 54px);
  bottom: -22px;
}
#slider ul.example li > div.sel {
  top: 50px;
  transition: all 1s ease;
  background-repeat: no-repeat;
  background-position: center 35%;
  border-color: #0070CD;
  border-width: 4px;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 125px 0 0 125px;
}
#slider ul.example li > div.sel div {
  z-index: 999;
}
#slider ul.example li > div.sel div.prev {
  background: url("images/arrow.svg") no-repeat;
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  left: -33px;
  top: calc(50% - 9px);
  top: -webkit-calc(50% - 9px);
}
#slider ul.example li > div.sel div.next {
  background: url("images/arrow.svg") no-repeat;
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  right: -33px;
  top: calc(50% - 9px);
  top: -webkit-calc(50% - 9px);
  transform: rotate(180deg);
}
#slider ul.example li > div.sel span {
  display: block;
}
#slider ul.example li > div.sel .shadow {
  width: 180px;
  height: 27px;
  left: calc(50% - 90px);
  left: -webkit-calc(50% - 90px);
}
#slider ul.example li > div.wallet {
  background-image: url("images/wallet.svg");
}
#slider ul.example li > div.wallet.sel {
  background-image: url("images/wallet-red.svg");
}
#slider ul.example li > div.terminal {
  background-image: url("images/terminal.svg");
}
#slider ul.example li > div.terminal.sel {
  background-image: url("images/terminal-red.svg");
}
#slider ul.example li > div.ecommerce {
  background-image: url("images/ecommerce.svg");
}
#slider ul.example li > div.ecommerce.sel {
  background-image: url("images/ecommerce-red.svg");
}
#slider ul.example li > div.visa {
  background-image: url("images/visa.svg");
}
#slider ul.example li > div.visa.sel {
  background-image: url("images/visa-red.svg");
}
#slider ul.example li > div.bank {
  background-image: url("images/bank.svg");
}
#slider ul.example li > div.bank.sel {
  background-image: url("images/bank-red.svg");
}
#slider ul.example li > div.platform {
  background-image: url("images/platform.svg");
}
#slider ul.example li > div.platform.sel {
  background-image: url("images/platform-red.svg");
}
#slider .markers span {
  cursor: pointer;
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 2px solid #0070CD;
  background: white;
  border-radius: 100%;
}
#slider .markers span.active {
  background-color: #0070CD;
}
