body {
  color: inherit;
}
#slider {
  position: relative;
}
#slider ul {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
#slider ul li {
  display: inline-block;
  margin: 0 30px 0 0;
  transition: all 1s ease;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  list-style: none;
  position: relative;
  z-index: 2;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 2px solid #717B8D;
}
#slider ul li:last-of-type {
  margin: 0;
}
#slider ul li span {
  display: none;
  max-width: 175px;
  position: absolute;
  top: 50%;
  left: calc(50% - 87.5px);
  left: -webkit-calc(50% - 87.5px);
}
#slider ul li span h2 {
  font-family: Roboto;
  font-weight: 100;
  font-size: 18px;
  color: #0070CD;
  text-align: center;
}
#slider ul li span p {
  font-family: Roboto;
  font-weight: 100;
  font-size: 12px;
  color: #5D6D79;
  text-align: center;
}
#slider ul li span a {
  font-family: Roboto;
  font-weight: 100;
  font-size: 12px;
  color: #6EB661;
  display: block;
  text-align: center;
  text-decoration: none;
}
#slider ul li img.icon {
  position: absolute;
  left: calc(50% - 35px);
  left: -webkit-calc(50% - 35px);
  top: calc(50% - 30px);
  top: -webkit-calc(50% - 30px);
}
#slider ul li img.shadow {
  position: absolute;
  width: 108px;
  height: 16px;
  left: calc(50% - 54px);
  left: -webkit-calc(50% - 54px);
  bottom: -22px;
}
#slider ul li:hover {
  transition: all 1s ease;
  background-repeat: no-repeat;
  background-position: center 35%;
  border-color: #0070CD;
  border-width: 4px;
  width: 250px;
  height: 250px;
}
#slider ul li:hover .shadow {
  width: 180px;
  height: 27px;
  left: calc(50% - 90px);
  left: -webkit-calc(50% - 90px);
}
#slider ul li.wallet {
  background-image: url("images/wallet.svg");
}
#slider ul li.wallet:hover {
  background-image: url("images/wallet-red.svg");
}
#slider ul li.terminal {
  background-image: url("images/terminal.svg");
}
#slider ul li.terminal:hover {
  background-image: url("images/terminal-red.svg");
}
#slider ul li.ecommerce {
  background-image: url("images/ecommerce.svg");
}
#slider ul li.ecommerce:hover {
  background-image: url("images/ecommerce-red.svg");
}
#slider ul li.visa {
  background-image: url("images/visa.svg");
}
#slider ul li.visa:hover {
  background-image: url("images/visa-red.svg");
}
#slider ul li.bank {
  background-image: url("images/bank.svg");
}
#slider ul li.bank:hover {
  background-image: url("images/bank-red.svg");
}
#slider ul li.platform {
  background-image: url("images/platform.svg");
}
#slider ul li.platform:hover {
  background-image: url("images/platform-red.svg");
}
