body {
  color: inherit;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
table {
  margin: 0 auto;
}
.pseudo-label {
  width: 22.6mm;
  margin-right: 3.5mm;
  font-size: 14px;
  display: inline-block;
  line-height: 17px;
}
.pseudo-label.relative {
  position: relative;
  top: -5px;
}
.pseudo-label.relative i {
  position: absolute;
  top: 15px;
}
h1 {
  text-align: center;
  font-size: 17px;
  line-height: 19px;
  margin-top: 36px;
  margin-bottom: 3px;
}
.float {
  position: absolute;
  top: 17px;
  right: 0;
  font-size: 17px;
  line-height: 17px;
}
.row td img {
  position: relative;
  top: 5px;
  left: 7px;
}
tr.hard img {
  float: left;
  position: relative;
  top: 9px;
  left: 43px;
}
tr.hard ul {
  margin-left: 104px;
  font-size: 14px;
  margin-top: 5px;
}
.phone {
  position: relative;
  top: -2px;
  margin-left: 31px;
  margin-right: 17px;
}
.phone ~ img {
  position: relative;
  top: 7px;
}
.sign {
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: right;
  padding-right: 45%;
  width: 74%;
  position: relative;
}
.sign:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20%;
  height: 1px;
  background: black;
  left: 63%;
}
.sign2 {
  border-top: 1px solid black;
  width: 83.1mm;
  display: block;
  text-align: center;
}
.email {
  padding-top: 14px;
}
.email span {
  position: relative;
  top: -7px;
  margin-left: 23px;
}
.inn img {
  position: relative;
  top: 7px;
  margin-left: 17px;
}
.wrapper {
  display: inline-block;
  position: relative;
}
.wrapper.nan p {
  letter-spacing: 10px;
}
.wrapper p {
  position: absolute;
  z-index: 1;
  top: -7px;
  left: 12px;
  letter-spacing: 14.5px;
  font-family: arial, helvetica, sans-serif;
}
