.col-xs-12.menu.opened #navbarContent {
	top: 82px
}

body.mce-content-body {
	font-size: 30px;
}

body {
	padding: 0;
	color: #5d6e7a;
	font-family: Roboto;
	font-weight: 400;
	font-size: 13px;
}

.nav-tav {
	display: none;
}

.container {
	width: 960px;
	background: white;
}

input {
	outline: none;
}

.row.main .col-md-8.col-xs-12 > h1:first-of-type {
	display: none;
}

.row.main .col-md-8.col-xs-12 > h1:first-of-type + h2:first-of-type:before {
	display: none;
}

.row.main .col-md-8.col-xs-12 > h2:first-of-type {
	margin-top: 35px !important;
}

.collapse.navbar-collapse.bs-example-js-navbar-scrollspy {
	border-right: 1px solid #bdccd4;
	height: 100% !important;
}

.row:first-of-type .container {
	min-height: 80px;
	border-bottom: 1px solid #BDCCD4;
}

.logotype {
	font-size: 18px;
	color: #5D6E7A;
	font-weight: 300;
}

.logotype span {
	vertical-align: middle;
}

.logotype img:last-of-type {
	margin-left: 10px;
	margin-right: 5px;
}

.logotype,
.search-form,
.language {
	line-height: 80px;
}

.search-form {
	line-height: 90px;
}

.search-form input[type="text"] {
	font-weight: 300;
	color: #A3ABB6;
	font-size: 18px;
	border: none;
	line-height: 22px;
}

input[type="image"] {
	vertical-align: middle;
	margin-bottom: 6px;
	margin-right: 9px;
}

.footer {
	min-height: 40px;
	line-height: 40px;
}

.footer .container {
	border-top: 1px solid #BDCCD4;
}

ul.navbar-nav li ul li {
	/*height: 39px;*/
}

.footer a {
	font-size: 13px;
	color: #0070CD;
	font-weight: 400;
}

.footer .col-md-3 a {
	text-transform: uppercase;
}

.footer ul {
	padding: 0;
	margin: 0;
	text-align: right;
}

.footer ul li {
	color: #BDCCD4;
	display: inline;
}

.footer ul li:first-of-type {
	list-style: none;
}

.container-fluid .col-md-8 p {
	color: #5d6e7a;
	font-size: 13px;
	font-family: Roboto;
	font-weight: 400;
}

.container-fluid .col-md-8 h2,
.container-fluid .col-md-8 h1 {
	color: #5d6e7a;
	font-size: 26px;
	font-family: Roboto;
	font-weight: 300;
}

.col-md-8.col-xs-12.scrollspy-example h1 + h2 {
	margin-top: 69px;
	margin-bottom: 20px;
}

.container-fluid .col-md-8 h2 {
	margin-top: 107px;
	margin-bottom: 20px;
	position: relative;
}

.container-fluid .col-md-8 h2:before {
	content: '';
	top: -37px;
	left: 0;
	width: 100%;
	height: 4px;
	position: absolute;
	background: url(/media/1033/line01.png) 0 0 repeat-x;
}

.container-fluid .col-md-8 h3 {
	color: #5d6e7a;
	font-size: 18px;
	font-family: Roboto;
	font-weight: 300;
	margin-top: 60px;
	margin-bottom: 27px;
}

.container-fluid .col-md-8 h4, .container-fluid .col-md-8 h5 {
	color: #5d6e7a;
	font-size: 18px;
	font-family: Roboto;
	font-weight: 300;

}

.container-fluid .col-md-8 {
	padding-left: 41px;
	font-family: Roboto;
	font-weight: 400;
	font-size: 13px;
}

.container-fluid .col-md-8 a {
	color: #0070cd;
	font-weight: 400;
}

.container-fluid .col-md-8 li {
	position: relative;
	list-style: none;
	padding-bottom: 13px;
}

.container-fluid .col-md-8 li:before {
	content: '';
	position: absolute;
	top: 6px;
	left: -19px;
	width: 6px;
	height: 6px;
	background: #0070CD;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.container-fluid .col-md-8 ol {
	position: relative;
	left: -14px;
	margin-bottom: 0;

}

.container-fluid .col-md-8 ol li ul li:before {
	content: '';
	position: absolute;
	top: 6px;
	left: -19px;
	width: 7px;
	height: 7px;
	background: #fff;
	border: 1px solid #0070CD;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.container-fluid .col-md-8 ul {
	position: relative;
	left: -13px;
	margin-top: 12px;

}

.container-fluid .col-md-8 ul li ul li:before {
	content: '';
	position: absolute;
	top: 6px;
	left: -19px;
	width: 9px;
	height: 9px;
	background: #fff;
	border: 1px solid #0070CD;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.container-fluid .col-md-8 ol li {
	list-style-type: decimal;
}

.container-fluid .col-md-8 ol li:before {
	content: '';
	position: absolute;
	top: 0;
	left: -24px;
	width: 20px;
	height: 20px;
	background: transparent;
	border: 1px solid #0070CD;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	z-index: 0;
}

.container-fluid .col-md-8 ol li ul li {
	list-style-type:
}

.container-fluid .container {
	width: 960px;
	padding: 0;
}

.container-fluid .col-md-8 blockquote.attention p {
	color: #eb0028;
}

.container-fluid .col-md-8 blockquote.attention {
	color: #eb0028;
	width: 100%;
	background: url(/media/1028/attension-ico.png) 0 50% no-repeat;
	background-color: #FCDADF;
	border-radius: 5px;
	font-family: Roboto;
	font-weight: 400;
	font-size: 13px;
	margin-top: 0;
}

.container-fluid .col-md-8 blockquote {
	padding: 11px 20px;
}

.container-fluid .col-md-8 ol li {
	padding-bottom: 9px;
	color: #0070cd;
}

.container-fluid .col-md-8 ol li:last-of-type {
	padding-bottom: 0;
	margin-bottom: 0;
}

.container-fluid .col-md-8 ol li ul {
	position: relative;
	margin: 0;
	padding-left: 35px;

	top: -11px;
}

.container-fluid .col-md-8 ol li ul li:nth-child(1) {
	margin-top: 19px;
}

.container-fluid .col-md-8 ol li ul li {
	margin-top: 12px;
	padding-bottom: 0;
	list-style-type: none;
}

.container-fluid .col-md-8 ol li ul li:after {
	content: '';
	width: 10px;
	height: 28px;
	position: absolute;
	left: -36px;
	top: -16px;
	background: url("/media/1030/dott.png");
}

.container-fluid .col-md-8 ol li ul li:first-of-type:after {
	content: '';
	width: 12px;
	height: 14px;
	position: absolute;
	left: -36px;
	top: -2px;
	background: url("/media/1036/dott2.png");
}

blockquote {
	border-left: none;
}

.container-fluid .col-md-8 span > img, .container-fluid .col-md-8 img {
	border-radius: 5px;
	border: 1px solid #bdccd4;
	margin-top: 28px;
	margin-bottom: 29px;
	margin-left: 7px;
	margin-right: 7px;
}

.container-fluid .col-md-8 em {
	color: #5d6e7a;
	font-family: Roboto;
	font-weight: 400;
	font-size: 13px;
}

.container-fluid .col-md-8 strong + p {
	margin-bottom: 30px;
	position: relative;
}

.container-fluid .col-md-8 strong + p:before {
	position: absolute;
	content: '';
	bottom: -17px;
	left: 0;
	height: 1px;
	background: #eff3f8;
	width: 100%;
}

.container-fluid .col-md-8 strong + p span {

}

.container-fluid .col-md-8 .tittletab + p span {
	font-style: italic;
	color: #a3abb6;
	font-size: 13px;
	font-family: Roboto;
	font-weight: 300;
	left: 23px;
	display: block;
	margin-left: 30px;
}

.container-fluid .col-md-8 .tittletab + p span + a {
	margin-left: 30px;
}

pre {
	position: relative;
	background: url(/media/1045/green-arrow.png) 0 7px no-repeat;
	background-color: #f0f8ef;
	border-radius: 5px;
	padding-left: 20px;
	margin-bottom: 15px;
	overflow: inherit;
}

pre:before {
	content: '';
	position: absolute;
	background: url(/media/1049/code-edit-corner.png) 0 0 no-repeat;
	width: 49px;
	height: 49px;
	top: -1px;
	right: -1px;
}

.tittletab {
	margin-top: 44px;
	margin-bottom: 20px;
	text-indent: 25px;
	position: relative;
	font-size: 13px;
	color: #5d6e7a;
	text-transform: uppercase;
	display: block;
	clear: both;
	font-style: normal;
	font-weight: 400;

}

.tittletab:before {
	position: absolute;
	content: '';
	width: 13px;
	height: 9px;
	top: 6px;
	left: -1px;
	background: url(/media/1037/menu-arrows.png) 0 -13px no-repeat;
}

.tittletab:after {
	background: #bdccd4;
	position: absolute;
	content: '';
	top: 28px;
	left: 0;
	height: 1px;
	width: 100%;

}

.scrollspy-example {
	overflow: auto;
	height: 1200px;
}

.nav > li {
	clear: both;
}

.collapse.navbar-collapse {
	/*float: left!important;*/
}

.active {
	color: #555;
	background: #e2e9ec;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: #555;
	background-color: #E7E7E7;
}

.navbar-collapse, .navbar-collapse a {
	font-family: Roboto;
	font-weight: 300;
	text-decoration: none;
	color: #5d6e7a;
	font-size: 13px;
	width: 320px;
	margin: 0;
}

.navbar-collapse {
	background: #fff;
}

.navbar-collapse a {
	/*height: 39px;*/
	line-height: 39px;

}

.navbar-brand, .navbar-nav > li > a {
	text-shadow: none !important;
}

.activePills {
	background: #eef2f4;
}

.navbar-collapse a:hover, .nav > li > a:focus, .nav > li > a:hover {
	color: #5d6e7a;
}

li.active a {
	font-family: Roboto;
}

.navbar-collapse ul li {
	width: 100%;
	border-bottom: 1px solid #bdccd4;
}

.navbar-collapse ul li ul li {
	margin: 0;
	list-style: none;
	border: none;
}

.navbar-nav > li > a {
	/*line-height: 39px!important;*/
	padding-left: 38px !important;
}

.nav-pills > li + li {
	margin-left: 0 !important;
}

.nav-pills > li > a {
	border-radius: 0 !important;
}

ul.navbar-nav li ul li span {
	margin-left: 52px;
	display: block;
	line-height: 39px;
}

.navbar-collapse ul li ul li:nth-child(3) a span {
	line-height: 19px;
}

.tittleM {
	height: 39px;
	border-top: 1px solid #bdccd4;
	border-bottom: 1px solid #bdccd4;
	display: block;
	line-height: 39px;
	padding-left: 38px;
}

ul.navbar-nav li:nth-child(1) a {
	position: relative;
}

ul.navbar-nav > li:nth-child(2) > a:before,
ul.navbar-nav > li:nth-child(3) > a:before,
ul.navbar-nav > li:nth-child(4) > a:before,
ul.navbar-nav > li:nth-child(6) > a:before,
ul.navbar-nav > li:nth-child(7) > a:before,
ul.navbar-nav > li:nth-child(8) > a:before,
ul.navbar-nav > li:nth-child(9) > a:before {
	content: '';
	position: absolute;
	background: url(/media/1037/menu-arrows.png) -4px 0px no-repeat;
	width: 7px;
	height: 13px;
	top: 14px;
	left: 19px;
}

ul.navbar-nav > li.active:nth-child(1) > a:before,
ul.navbar-nav > li.active:nth-child(5) > a:before {
	content: '';
	position: absolute;
	background: none;
	width: 7px;
	height: 13px;
	top: 14px;
	left: 19px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	color: inherit !important;
	background: none !important;
}

ul.navbar-nav > li.active > a:before {
	content: '';
	position: absolute;
	background: url(/media/1037/menu-arrows.png) 0 -14px no-repeat;
	width: 13px;
	height: 7px;
	top: 17px;
	left: 14px;
}

li.submenu ul {
	display: none;
}

li.submenu.active ul {
	display: block;
}

.submenu a, .submenu.active a {
	overflow: hidden;
	width: 100%;

}

ul.navbar-nav li ul li {
	padding-left: 15px;
}

ul.navbar-nav li ul {
	padding-left: 0;
}

.col-xs-12.menu {
	padding-left: 0;
}

.nav > li > a:hover {
	background: #e2e9ec !important;
}

.navbar-collapse a:hover, ul.navbar-nav li ul li:hover, .nav > li > a:focus, .nav > li > a:hover {
	background: #e2e9ec !important;
	text-decoration: none;
	width: 100%;
}

.submenu.active li.active a {
	font-family: Roboto;
	font-weight: 500;
	color: #5d6e7a;
	font-size: 13px;
}

li.submenu.active {
	background: #eef2f4;
	color: #5d6e7a;

}

ul.navbar-nav li ul a {
	padding-left: 11px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	width: 100%;
	line-height: 20px;
}

.breadcrumb {
	position: relative;
	margin: 0;
	left: -10px;
	color: #eb0028;
	font-weight: 300;
	font-family: Roboto;
	font-size: 13px;
	background: none;
}

.breadcrumbFirst {
	margin-right: 10px;
	border: 1px solid #eb0028;
	border-radius: 4px;
	padding: 2px 10px 2px 14px;
	position: relative;
	color: #eb0028;
	font-weight: 300;
	font-family: Roboto;
	font-size: 11px;
	text-transform: uppercase;
	text-indent: 8px;
}

.breadcrumbFirst:before {
	position: absolute;
	background: url(/media/1032/ico3.png) 0 0 no-repeat;
	content: '';
	top: 6px;
	left: 3px;
	width: 10px;
	height: 8px;
}

.breadcrumbFirst + span + img, .breadcrumb img, .breadcrumbFirst + img {
	border: none !important;
}

.breadcrumbFirst + span + img, .breadcrumbFirst + img {
	margin: 0 !important;
}

.breadcrumbAdd {
	margin-right: 10px;
	border: 1px solid #eb0028;
	border-radius: 4px;
	padding: 2px 20px 2px 14px;
	position: relative;
	color: #eb0028;
	font-weight: 400;
	font-family: Roboto;
	font-size: 11px;
	text-indent: 8px;
	left: -27px;
}

.breadcrumbAdd:before {
	position: absolute;
	background: url(/media/1034/plus-ico.png) 0 0 no-repeat;
	content: '';
	top: 6px;
	left: 3px;
	width: 9px;
	height: 9px;
}

.setting {
	position: relative;
	padding-right: 138px;
	color: #a3abb6 !important;
	font-style: italic;
	font-weight: 300;
	font-size: 13px;
}

.setting:before {
	position: absolute;
	background: url(/media/1038/eddit.png) 0 0 no-repeat;
	content: '';
	top: -7px;
	right: 3px;
	width: 81px;
	height: 81px;
}

.submenu.active > a {
	font-family: Roboto;
	font-weight: 500;
	color: #5d6e7a;
	font-size: 13px;
}

.navbar-collapse.collapse {
	padding: 0;
	margin-right: 30px;

}

.navbar-nav > li > a {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.navbar-nav {
	width: 100%;
	margin-top: 0;
}

.navbar-collapse.collapse {
	padding: 0;
}

.nav {
	padding-left: 0;
}

ul.navbar-nav li ul {
	padding-left: 0;
}

ul.navbar-nav li ul li {
	padding-left: 37px;
}

.navbar-collapse.collapse {
	display: block !important;
	height: auto !important;
	padding-bottom: 0;
	overflow: visible !important;
	/*visibility: visible !important;*/
	position: fixed;
	top: 91px;
}

.row.header {
	position: fixed;
	width: 100%;
	background: #fff;
	z-index: 800;
}

.main .container {
	padding-top: 91px !important;
}

form a {
	text-decoration: none;
}

form a:hover {
	text-decoration: none;
}

form.active .cross {
	margin-right: 10px;
	display: inline-block;
}

form.active .cross img {
	padding: 2px 12px 5px 12px;
	border-left: 1px solid #bdccd4;
	border-right: 1px solid #bdccd4;
}

form.active .arrows {
	float: right;
	display: inline-block;
}

form.active span {
	float: right;
	color: #bdccd4;
	padding-right: 10px;
	display: inline-block;
}

form.active .arrows img {
	padding: 2px 12px 5px 12px;
	border-left: 1px solid #bdccd4;
	border-right: 1px solid #bdccd4;
}

form.active .arrows:last-of-type img {
	border-right: none;
}

form.active {
	background: none;
}

form .cross, form span, form .arrows {
	display: none;
}

.col-md-6.search-form {
	padding: 0;
}

@media (min-width: 140px)and (max-width: 995px) {
	.col-md-2.language {
		display: none;
	}

	.col-md-6.search-form input[type="text"] {
		width: 0;
	}

	.container-fluid div.container {
		width: auto;
		position: relative;
	}

	a.menu-icon {
		border-bottom: 1px solid #5D6D79;
		border-top: 1px solid #5D6D79;
		width: 20px;
		height: 9px;
		display: block;
		float: left;
		margin-top: 39px;
	}

	a.menu-icon:after {
		content: '';
		width: 20px;
		height: 1px;
		background: #5D6D79;
		display: block;
		margin-top: 3px
	}

	.search-form {
		position: absolute;
		right: 0;
		top: -3px;
		padding: 0;
		width: 40px;
	}

	.search-form input[type="image"] {
		margin: 0;
	}

	.logotype {
		text-align: center;
		padding-right: 23px;
	}

	.logotype img:first-of-type {
		width: 100px;
	}

	.logotype span {
		font-size: 16px;
	}

	img, p {
		max-width: 100%;
		height: auto;
	}

	strong, p, ul, li {
		/*  word-break: break-all*/
	}

	.col-xs-12.menu {
		z-index: 801;
	}

	.col-xs-12.menu .navbar-collapse {
		width: 100%;
		background: #F5F7FB;
		top: 0;
		position: relative;
		visibility: inherit !important;
	}

	.col-xs-12.menu.opened .navbar-collapse {

	}

	.col-xs-12.menu.opened {
		visibility: visible;
	}

	.col-xs-12.menu {
		visibility: hidden;

	}

	.col-xs-12.menu ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	.col-xs-12.menu #navbarContent {
		position: fixed;
		width: 100%;
		height: 100%;
		background: #F5F7FB;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		left: -100%;
		visibility: hidden;
		top: 81px;
	}

	.col-xs-12.menu.opened #navbarContent {
		left: 0;
		visibility: visible;
	}

	.main .container {
		padding-top: 82px !important;
	}

	.container-fluid .col-md-8 {
		padding-left: 15px;
	}

	.container-fluid .col-md-8 span > img, .container-fluid .col-md-8 img {
		margin: 0;
	}

	a.long-link {
		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;
		white-space: nowrap;
	}

	a {
		display: inline-block;
	}

	a.annoying-link {
		word-break: break-all;
	}

	.nav-tav {
		width: 30px;
		height: 28px;
		display: block;
		position: absolute;
		top: 30px;
		-webkit-transition: all ease-in-out .4s;
		transition: all ease-in-out .4s;
	}

	.nav-tav a {
		cursor: pointer;
		display: block;
		height: 100%;
		width: 100%;
	}

	.nav-tav a:hover {
		text-decoration: none;
	}

	.nav-tav span {
		background: #bdccd4;
		display: block;
		width: 26px;
		height: 2px;
		margin-bottom: 3px;
		-webkit-transition: all ease-in-out .4s;
		transition: all ease-in-out .4s;
	}
}

#body.opened span.first-child {
	width: 30px;
	margin-top: 11px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

#body.opened span.second-child {
	width: 0px;
	opacity: 0;
}

#body.opened span.third-child {
	width: 0px;
	opacity: 0;
}

#body.opened span.fourth-child {
	width: 30px;
	margin-top: -15px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.search-form.opened {
	position: absolute;
	width: 100%;
	background: #fff;
	height: 84px;
	padding: 0 10px;
}

.search-form.opened #search {
	width: inherit;
}

.search-form.opened form .cross {
	margin-right: 10px;
	display: inline-block;
}

.search-form.opened form .cross img {
	padding: 2px 12px 5px 12px;
	border-left: 1px solid #bdccd4;
	border-right: 1px solid #bdccd4;
}

.search-form.opened form .arrows {
	float: right;
	display: inline-block;
}

.search-form.opened form span {
	float: right;
	color: #bdccd4;
	padding-right: 10px;
	display: inline-block;
}

.search-form.opened form .arrows img {
	padding: 2px 12px 5px 12px;
	border-left: 1px solid #bdccd4;
	border-right: 1px solid #bdccd4;
}

.search-form.opened form .arrows:last-of-type img {
	border-right: none;
}

.search-form.opened form {
	background: none;
}

.search-form.opened form .cross, .search-form.opened form span, .search-form.opened form .arrows {
	display: inline-block;
}

.search-form.opened input[type="image"] {
	padding-bottom: 8px;
	padding-right: 10px;
}

	}

@media screen and (min-width: 1440px) {

	body {
		background: #eef2f4;
	}

	.container-fluid .container {
		border-right: 1px solid #bdccd4;
		border-left: 1px solid #bdccd4;
	}

	.container-fluid .col-md-8 p {
		font-size: 16px;
		font-weight: 400;
	}

	.submenu.active li.active a {
		font-size: 16px;
	}

	.navbar-collapse, .navbar-collapse a {
		font-size: 16px;
		font-weight: 300;
	}

	.container-fluid .container {
		min-width: 960px;
		max-width: 1240px;
		width: auto;
	}

	.container-fluid .row.header {
		background: none;
	}

	.nav-pills > li.active > a,
	.nav-pills > li.active > a:focus,
	.nav-pills > li.active > a:hover {
		font-size: 16px;
	}

	.col-md-4.text-right.language {
		float: right;
		margin-right: 49px;
	}

	.container-fluid .col-md-8 ol li:before {
		top: 2px;
		left: -25px;
	}

	/*.navbar-collapse > ul.navbar-nav {
		border-right: 1px solid #bdccd4;
	}*/
	.navbar-collapse .col-xs-12 {
		padding-left: 0;
	}

	.container-fluid .col-md-8 {
		padding-left: 0;
		margin-left: 34px;
	}

	.container-fluid .col-md-4 {
		width: 29.333333%;
	}

	.container-fluid .navbar-collapse.collapse {
		width: 360px;
	}

	.container-fluid .col-md-8 h3 {
		font-size: 20px;
	}
}
