html {
  position: relative;
  min-height: 100%;
}
html body {
  font: normal normal 12px Tahoma, sans-serif;
  color: #000000;
  margin: 0 0 118px 0;
}
html body .head {
  height: 145px;
  background: url('../img/head-repeat.png') repeat-x;
}
html body .head:after {
  content: '';
  width: 100%;
  height: 145px;
  background: url('../img/head-background.png') no-repeat right top;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
html body .foot {
  margin: 1.6em 0 0 0;
  border-top: 2px solid #eb1c24;
  position: absolute;
  bottom: 0;
  height: 118px;
  width: 100%;
}
.header {
  position: relative;
  z-index: 2;
}
.header .right {
  padding: 43px 0 0 0;
}
.header .right a {
  color: #ffffff;
}
.header .right a[href^=tel] {
  font: normal normal 24px "Myriad Pro", sans-serif;
  text-decoration: none;
  display: block;
}
.header .right a[href^=mailto] {
  font: normal normal 13px/32px Tahoma, sans-serif;
  margin: 0 0 0 10px;
}
.header .right a.btn-custom.callback {
  border-radius: 0;
  background: #ffe7a8;
  color: #a10001;
  text-shadow: 1px 0 1px #ffffff;
}
.header h1 {
  margin: 43px 0 0 0;
}
.header h1 a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 2px solid #ffe7a8;
}
.header span {
  color: #ffffff;
  font-size: 14px;
  margin: 8px 30px 0 30px;
  display: block;
}
.nav .navbar ul li a {
  font-family: Tahoma, sans-serif;
  font-size: 15px;
  color: #323232;
}
.auth-bin a {
  font-size: 15px;
  color: #464646;
}
.auth-bin .bin img {
  display: inline;
  margin: 0 20px 0 0;
}
.auth-bin .bin span {
  display: inline;
  font: normal normal 14px Tahoma, sans-serif;
  color: #eb1c24;
  border-bottom: 1px solid;
  cursor: pointer;
  vertical-align: top;
  position: relative;
}
.auth-bin .bin span:after {
  position: absolute;
  top: 5px;
  right: -13px;
  content: "";
  width: 1px;
  height: 15px;
  background: #808080;
}
.auth-bin .bin p {
  display: inline;
  font: normal normal 18px Tahoma, sans-serif;
  color: #000000;
  vertical-align: top;
  margin-left: 16px;
}
.auth-bin .bin p strong {
  font-weight: normal;
}
.auth-bin .bin a {
  display: inline;
  font: normal normal 14px/21px Tahoma, sans-serif;
  color: #eb1c24;
  text-decoration: underline;
  cursor: pointer;
  vertical-align: top;
  margin-left: 22px;
}
.units-row h2 {
  font-size: 24px;
  color: #31353d;
  line-height: 39px;
  font-weight: 100;
  font-family: Myriad Pro, sans-serif;
}
.content-inner-popular div.unit-100 {
  text-align: center;
}
.content-inner-popular ul {
  padding: 0;
  margin: 0;
}
.content-inner-popular ul li {
  text-align: left;
  width: 31.3333%;
  list-style: none;
  min-height: 103px;
  display: inline-block;
}
.content-inner-popular ul li:nth-child(2) {
  margin: 0 0 0 24.3833px;
}
.content-inner-popular ul li:nth-child(3) {
  margin: 0 0 0 24.3833px;
}
.content-inner-popular ul li img {
  float: left;
  display: block;
}
.content-inner-popular ul li div {
  display: inline-block;
  padding: 0 0 0 10px;
  min-height: 101px;
}
.content-inner-popular ul li div a {
  font-size: 15px;
  display: block;
  color: #ff3801;
  margin: 0 0 10px 0;
}
.content-inner-popular ul li div span {
  display: block;
}
.content-inner-popular ul li div span.amount {
  margin: 10px 0 0 0;
  color: #FF3801;
  border: 1px solid #ff3801;
  border-radius: 3px;
  display: inline-block;
  padding: 1px 5px;
}
.content-inner-popular ul li div span.amount i {
  font-style: normal;
  color: #000000;
}
.pagination {
  padding: 4px 0 !important;
  background: #f4f4f4;
}
.pagination li {
  background: white;
  border: none;
}
.pagination li span {
  background: #eb1c24;
  color: #ffffff;
  border-radius: 0;
  border: none;
}
.pagination li span:after {
  display: none !important;
}
.pagination li.next,
.pagination li.prev {
  background: transparent;
}
.pagination li.next a,
.pagination li.prev a {
  color: #c3c3c3;
}
.pagination li.next a:hover,
.pagination li.prev a:hover {
  background: transparent;
  text-decoration: none;
}
.pagination li a:hover {
  border-radius: 0;
  text-decoration: underline;
}
.content-inner-news ul {
  padding: 0;
  margin: 0;
}
.content-inner-news ul li {
  list-style: none;
  font-size: 14px;
  line-height: 28px;
}
.content-inner-news ul li span {
  font: Tahoma, sans-serif;
  font-weight: bold;
}
.content-inner-news ul li span:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 5px;
  width: 1px;
  height: 13px;
  background: #c4c4c4;
}
.content-inner-promo .promo-block {
  position: relative;
  border: 3px solid #ffe7a8;
}
.content-inner-promo .promo-block .left {
  width: 45.5%;
  display: inline-block;
  vertical-align: top;
  float: none;
}
.content-inner-promo .promo-block .left img {
  display: block;
  width: 100%;
  margin: -3px;
}
.content-inner-promo .promo-block .right {
  width: 49.5%;
  display: inline-block;
  float: none;
  margin: 0 0 0 30px;
}
.content-inner-promo .promo-block .right h2 {
  margin: 40px 0 0 0;
}
.content-inner-promo .promo-block .right h2 a {
  font-size: 23px;
  line-height: 39px;
  color: #eb1c24;
}
.content-inner-promo .promo-block .right p {
  margin: 15px 0 22px 0;
  font-size: 14px;
  color: #000000;
}
.content-inner-promo .promo-block .right a.btn-custom.callback.red {
  font-size: 15px;
  border-radius: 0;
  background: #eb1c24;
  color: #ffffff;
}
span.amount {
  margin: 10px 0px 0px;
  color: #FF3801;
  border: 1px solid #FF3801;
  border-radius: 3px;
  display: inline-block;
  padding: 1px 5px;
}
span.amount i {
  font-style: normal;
  color: #000;
}
span.sale-price i,
span.new i {
  font-style: normal;
  text-decoration: line-through;
}
.footer p {
  margin: 28px 0 0 0;
}
.footer ul {
  margin: 28px 0 0 0;
  text-align: right;
}
.footer ul li {
  list-style: none;
}
.footer .social-likes {
  margin: 8px 0 0 0;
}
.footer .social-likes .social-likes__widget {
  margin: 0;
}
.imp {
  text-decoration: none;
  background: white;
  color: black;
}
