.content-inner-item .unit-75 > h2 {
  font-family: Myriad Pro, sans-serif;
  color: #31353d;
  font-size: 24px;
  border-bottom: 2px solid #EB1C24;
  padding: 0px 0px 14px;
}
.content-inner-item .unit-75 .pictures .thumb span {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  vertical-align: top;
  background: #ededed;
  border: 2px solid #d1d1d1;
  width: 82px;
  height: 82px;
  margin: 1.6% 1.2%;
}
.content-inner-item .unit-75 .pictures .thumb span.active {
  border-color: #eb1c24;
}
.content-inner-item .unit-75 .pictures .thumb span.active:before {
  content: "";
  display: block;
  border: 5px solid #bbb;
  border-color: transparent rgba(255, 255, 255, 0) #eb1c24 transparent;
  position: absolute;
  top: -12px;
  left: 50%;
  left: calc(50% - 4px);
  left: -webkit-calc(50% - 4px);
}
.content-inner-item .unit-75 .pictures .thumb span:hover {
  border-color: #eb1c24;
}
.content-inner-item .unit-75 .pictures .thumb span:hover:before {
  content: "";
  display: block;
  border: 5px solid #bbb;
  border-color: transparent rgba(255, 255, 255, 0) #eb1c24 transparent;
  position: absolute;
  top: -12px;
  left: 50%;
  left: calc(50% - 4px);
  left: -webkit-calc(50% - 4px);
}
.content-inner-item .unit-75 .description h2 {
  font-family: Myriad Pro, sans-serif;
  font-size: 22px;
  color: #31353d;
}
.content-inner-item .unit-75 .description p {
  font-size: 14px;
}
.content-inner-item .unit-75 .description .video {
  position: relative;
  top: 0;
  left: 0;
}
.content-inner-item .unit-75 .description .video a {
  font-size: 18px;
  color: #eb1c24;
  position: absolute;
  background: url('../img/transparent.png') repeat;
  padding: 18px;
}
.content-inner-item .unit-75 .description .social {
  padding: 20px 0 0 0;
}
.content-inner-item .unit-75 .description .social .social-likes {
  margin: 0;
}
.content-inner-item .unit-75 .description .social .social-likes__widget {
  margin: 0;
  border-radius: 2px;
}
.content-inner-item .models h2 {
  font-family: Myriad Pro, sans-serif;
  font-size: 22px;
  color: #31353d;
  border: none;
}
.content-inner-item .models table tr:nth-child(2n+1) {
  border-bottom: 2px solid #dedede;
}
.content-inner-item .models table tr.heading {
  background: #fc3342;
  background: -moz-linear-gradient(top, #fc3342 0%, #dc0709 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fc3342), color-stop(100%, #dc0709));
  background: -webkit-linear-gradient(top, #fc3342 0%, #dc0709 100%);
  background: -o-linear-gradient(top, #fc3342 0%, #dc0709 100%);
  background: -ms-linear-gradient(top, #fc3342 0%, #dc0709 100%);
  background: linear-gradient(to bottom, #fc3342 0%, #dc0709 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc3342', endColorstr='#dc0709', GradientType=0);
  border: none;
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
}
.content-inner-item .models table tr.heading th {
  padding: 11px 20px 8px 20px;
}
.content-inner-item .models table tr td {
  padding: 11px 20px 8px 20px;
  font-size: 12px;
  color: #272727;
}
.content-inner-item .models table tr td.centered {
  text-align: center;
}
.content-inner-item .models table tr td.price {
  color: #eb1c24;
  font-size: 13px;
  font-weight: bold;
}
.content-inner-item .models table tr td.price i {
  font-weight: normal;
  font-style: normal;
  color: #000000;
  text-align: right;
}
.content-inner-item .models table tr td.price i:before {
  content: ' ';
}
.content-inner-item .models table tr td a {
  color: #eb1c24;
  font-size: 12px;
}
.content-inner-item .models table tr td a:before {
  content: '';
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  background: url(../img/cart.png) center no-repeat;
  background-size: 100%;
  margin: 0 10px 0 0;
}
