body {
	font-family: "Segoe UI";
}

.row {
	&.head {
		.container {
//            background: #1180c0;
            //        background: -moz-radial-gradient(center, ellipse cover,  #1180c0 0%, #034276 100%); /* FF3.6+ */
            //        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1180c0), color-stop(100%,#034276)); /* Chrome,Safari4+ */
            //        background: -webkit-radial-gradient(center, ellipse cover,  #1180c0 0%,#034276 100%); /* Chrome10+,Safari5.1+ */
            //        background: -o-radial-gradient(center, ellipse cover,  #1180c0 0%,#034276 100%); /* Opera 12+ */
            //        background: -ms-radial-gradient(center, ellipse cover,  #1180c0 0%,#034276 100%); /* IE10+ */
            //        background: radial-gradient(ellipse at center,  #1180c0 0%,#034276 100%); /* W3C */
            //        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1180c0', endColorstr='#034276',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		}
		height: 80px;
        background-image: url("../images/head.png");
        background-repeat: no-repeat;
        background-position: center;
//        background: #1180c0; /* Old browsers */
//        background: -moz-radial-gradient(center, ellipse cover,  #1180c0 0%, #034276 100%); /* FF3.6+ */
//        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1180c0), color-stop(100%,#034276)); /* Chrome,Safari4+ */
//        background: -webkit-radial-gradient(center, ellipse cover,  #1180c0 0%,#034276 100%); /* Chrome10+,Safari5.1+ */
//        background: -o-radial-gradient(center, ellipse cover,  #1180c0 0%,#034276 100%); /* Opera 12+ */
//        background: -ms-radial-gradient(center, ellipse cover,  #1180c0 0%,#034276 100%); /* IE10+ */
//        background: radial-gradient(ellipse at center,  #1180c0 0%,#034276 100%); /* W3C */
//        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1180c0', endColorstr='#034276',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		a {
			font-size: 14px;
			font-weight: bold;
			color: white;
			&:hover {
				text-decoration: none;
			}
			&:last-of-type {
				color: rgb(0, 101, 179);
				border: 1px solid rgb(0, 101, 179);
				border-radius: 20px;
				background: rgb(255, 255, 255);
				padding: 10px 21px 10px 21px;
				line-height: 15px;
				display: inline-block;
				position: absolute;
				right: 15px;
				bottom: -15px;
				box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3);
			}
			&:first-of-type {
				font-size: 15px;
				text-decoration: underline;
				font-weight: normal;
				margin-right: 50px;
			}
			&.tel {
				margin-right: 10px;
			}
		}
	}
	&.disclaimer {
		min-height: 380px;
		background: url("../images/girl.png") no-repeat center;
        .container {
            width: 1015px;
        }
		h1 {
			font-weight: bold;
			font-size: 35px;
		}
		p {
			font-size: 18px;
		}
	}
	&.tabs {

        .tab-content {
            position: relative;
        }
        .normal {
            padding-left: 16px;
        }

        .dotted {
            p {
                background-image: -webkit-radial-gradient(circle, #d4d4d4, #d4d4d4 1px, rgba(0,0,0,0) 1px, rgba(0,0,0,0));
                background-image: radial-gradient(circle, #d4d4d4, #d4d4d4 1px, rgba(0,0,0,0) 1px, rgba(0,0,0,0));
                background-repeat: repeat-x;
                background-position: left 75%;
                background-size: 3px 1px;
                span {
                    font-size: 14px;

                    &.left {
                        padding-right: 5px;
                        background: #f0f0f0;
                    }
                    &.right {
                        padding-left: 5px;
                        float: right;
                        background: #f0f0f0;
                        color: #0065b3;
                        font-weight: bold;
                    }
                }
            }
            &.custom {
                span {
                    background: white !important;
                }
                max-width: 557px;
            }
        }
        form {
            border: 1px solid #0065b3;
            border-radius: 5px;
            width: 236px;
            position: absolute;
            right: 0;
            background: white;
            h4 {
                font-size: 16px;
                color: white;
                font-weight: bold;
                background: #0065b3;
                margin-top: 0;
                text-align: center;
                line-height: 40px;
            }
            input {
                border: 1px solid #b0a282;
                width: 206px;
                height: 32px;
                border-radius: 5px;
                font-size: 14px;
                color: black;
                display: block;
                margin: 0 auto 11px auto;
                padding: 0 13px;
                &[type="submit"] {
                    background: #0065b3;
                    font-size: 18px;
                    font-weight: bold;
                    color: white;
                    border: none;
                    &:focus {
                        outline: none;
                    }
                }
            }
            input:focus {
                border: 1px solid #0065b3;
                outline: none;
            }
        }
		.container {
			border: 1px solid #b0a282;
			border-radius: 5px;
			margin-top: -91px;
			background: white;
            width: 980px;
		}
        ul {
            list-style: none;
        }
        .tab-content {
            margin-bottom: 62px;
        }
		.nav-tabs {
            margin-top: 12px;
			border: none;
			li {
                &:first-of-type {
                    a {
                        margin: 0;
                    }
                }
				&.active {

					a {
                        border: none;
						font-weight: bold;
						color: #0065b3;
					}
				}
				a {
					background: none;
                    border-bottom: 1px dashed;
					font-size: 16px;
					color: #0065b3;
                    padding: 0;
                    margin: 0 10px;
				}
			}
		}
	}
    &.additional-info {
        img {
            display: block;
            margin: 40px auto 0 auto;
        }
        .col-md-9 {
            padding-left: 110px;
            padding-top: 30px;
            padding-bottom: 70px;
        }
        p {
            font-size: 16px;
        }
    }
	&.contacts {
        position: relative;
        h2 {
            font-size: 20px;
        }
        #map {
            &:before {
                content: '';
                width: 100%;
                height: 182px;
                position: absolute;
                z-index: 1;
                background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
                background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
                background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
                background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
                background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
            }
        }
		.map-info {
            position: absolute;
            z-index: 1;
            bottom: 60px;
            background: white;
            display: inline-block;
            border: 1px solid #0065b3;
            border-radius: 5px;
            padding: 20px 29px;
            h3 {
                font-size: 18px;
                color: black;
                font-weight: bold;
                margin-top: 0;
            }
            p {
                font-size: 16px;
                strong {
                    display: block;
                }
            }
		}
	}
}

.container {
	width: 1040px;
}

h1, h2, h3 {
	color: #0065b3;
}

.gray {
    padding: 15px;
    background: #f0f0f0;
    max-width: 640px;
    font-size: 14px;
    &:first-of-type {
        margin-top: 30px;
        font-size: 16px;
    }
    p {
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
//
.logotype {
    line-height: 72px;
}

.cab-area {
	line-height: 78px;
}
.cab-area {
	position: relative;
	text-align: right;
}