// defaults
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300&subset=latin,cyrillic-ext); // Ubuntu
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic-ext); // Roboto Condensed

@robotoCondensed: "Roboto Condensed, sans-serif";
@arial: "Arial, sans-serif";
@verdana: "Verdana";
@ubuntu: "Ubunu, sans-serif";

@defaultColor: rgba(255, 255,255, 1);
@titleColor: rgba(114, 114, 114, 1);
@orangeColor: rgba(255, 133, 0, 1);
@grayColor: rgba(38, 38, 38, 1);

.btn {
    &.btn-warning {
        background: #fbfaf8;
        background: -moz-linear-gradient(top,  #fbfaf8 0%, #ffda5a 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfaf8), color-stop(100%,#ffda5a));
        background: -webkit-linear-gradient(top,  #fbfaf8 0%,#ffda5a 100%);
        background: -o-linear-gradient(top,  #fbfaf8 0%,#ffda5a 100%);
        background: -ms-linear-gradient(top,  #fbfaf8 0%,#ffda5a 100%);
        background: linear-gradient(to bottom,  #fbfaf8 0%,#ffda5a 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfaf8', endColorstr='#ffda5a',GradientType=0 );
    }
}

.head {
    &:after {
        content: '';
        width: 100%;
        height: 4px;
        background-image: repeating-linear-gradient(#adadad, #ebebeb 100%);
        display: block;
    }
    .logotype {
        a {
            display: block;
            line-height: 99px;
        }
    }
    .top {
        min-height: 27px;
        margin-top: 13px;
        span {
            min-height: 27px;
            line-height: 30px;
            background: url("../images/cart.png") no-repeat;
            float: left;
            width: 50%;
            padding-left: 46px;
            font-family: @verdana;
            font-size: 13px;
            i {
                color: #00ad00;
                font-style: normal;
            }
        }
    }
    .auth {
        float: left;
        width: 50%;
        line-height: 30px;
        a {
            font-size: 13px;
            font-family: @verdana;
            color: @grayColor;
            border-bottom: 1px dashed @grayColor;
            &:first-child {
                &:after {
                    content: '/';
                    margin-left: 6px;
                }
            }
        }
    }
    .bottom.search {
        clear: both;
        margin-top: 18px;
        input[type="text"] {
            height: 28px;
            border: 1px solid @orangeColor;
            border-radius: 5px;
            padding-left: 9px;
            font-family: @verdana;
            font-size: 10px;
            width: 245px;
            &::-webkit-input-placeholder {color: @orangeColor; font-style: italic; font-weight: normal; font-family: @verdana;}
            &::-moz-placeholder          {color: @orangeColor; font-style: italic; font-weight: normal; font-family: @verdana;}/* Firefox 19+ */
            &:-moz-placeholder           {color: @orangeColor; font-style: italic; font-weight: normal; font-family: @verdana;}/* Firefox 18- */
            &:-ms-input-placeholder      {color: @orangeColor; font-style: italic; font-weight: normal; font-family: @verdana;}
        }
        button {
            border: 1px solid @orangeColor;
            font-size: 13px;
            font-family: @verdana;
            color: black;
            line-height: 15px;
            height: 28px;
            margin-left: 4px;
        }
        
    }
    .address {
        background-position: left;
        background-repeat: no-repeat;
        padding-right: 10px;
        font-family: @verdana;
        font-size: 13px;
        color: rgb(84, 84, 84);
        a {
            color: inherit;
            &.tel {
                font: normal normal 34px @verdana;
                letter-spacing: -0.3px;
                color: @orangeColor;
                display: block;
                margin-top: 4px;
            }
            &:hover {
                text-decoration: none;
            }
        }
        span {
            margin-top: 3px;
            &.left {
                float: left;
                width: 60%;
                background: yellow;
                &:after {
                    content: '';
                    width: 20px;
                    height: 20px;
                    float: left;
                    background: url("http://union-sb.ru/templates/union/elements/clock.png") no-repeat;
                    margin-right: 8px;
                }
            }
            &.right {
                background: red;
                float: left;
                width: 40%;
                a {
                    &:after {
                        content: '';
                        width: 20px;
                        height: 20px;
                        float: left;
                        background: url("http://union-sb.ru/templates/union/elements/letter.png") no-repeat;
                        margin-right: 8px;
                    }    
                }
            }
        }
        p {
            clear: both;
            padding-top: 3px;
            padding-left: 5px;
        }
    }
}

.content {
    
}

.footer {
    
}