.top-block:after,
.info-block:after,
search-block:after {
  content: '';
  clear: both;
  display: block;
}
.top .container {
  background: #d3d3d3;
}
.badge {
  font-size: 14px;
  font-weight: 300;
}
.badge.active {
  background: #7f2c8f;
  background: -moz-linear-gradient(top, #7f2c8f 0%, #662c8d 5%, #642c8d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7f2c8f), color-stop(5%, #662c8d), color-stop(100%, #642c8d));
  background: -webkit-linear-gradient(top, #7f2c8f 0%, #662c8d 5%, #642c8d 100%);
  background: -o-linear-gradient(top, #7f2c8f 0%, #662c8d 5%, #642c8d 100%);
  background: -ms-linear-gradient(top, #7f2c8f 0%, #662c8d 5%, #642c8d 100%);
  background: linear-gradient(to bottom, #7f2c8f 0%, #662c8d 5%, #642c8d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f2c8f', endColorstr='#642c8d', GradientType=0);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.badge.active {
  background: #048bd5;
  color: white;
}
.banner {
  margin-bottom: 65px;
}
.banner .carousel-inner {
  height: 278px;
}
.banner .carousel-inner > .item {
  height: 278px;
}
.banner .carousel-indicators {
  bottom: -27px;
  left: 0;
  margin: 0 !important;
  width: 100% !important;
  text-align: right;
}
.banner .carousel-indicators li {
  background: #b0b0b0;
  background: -moz-linear-gradient(top, #b0b0b0 0%, #d1d1d1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b0b0b0), color-stop(100%, #d1d1d1));
  background: -webkit-linear-gradient(top, #b0b0b0 0%, #d1d1d1 100%);
  background: -o-linear-gradient(top, #b0b0b0 0%, #d1d1d1 100%);
  background: -ms-linear-gradient(top, #b0b0b0 0%, #d1d1d1 100%);
  background: linear-gradient(to bottom, #b0b0b0 0%, #d1d1d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0b0b0', endColorstr='#d1d1d1', GradientType=0);
  border: none;
  margin: 0 !important;
}
.banner .carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 0 !important;
  background: #048bd5;
}
.wget-name {
  font-size: 14px;
  font-weight: 900;
  color: #024d76;
  text-transform: uppercase;
  border-bottom: 1px solid #983299;
  padding-bottom: 23px;
}
.wget-name.small {
  padding-bottom: 7px;
}
.header .container {
  background: lightgoldenrodyellow;
}
.content .container {
  background: lightblue;
}
.footer .container {
  background: lightgreen;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  font: normal normal 13px/13px "Ubuntu";
  color: #515151;
  margin-bottom: 40px;
}
body a {
  font: normal normal 14px/14px "Ubuntu";
}
body a:hover {
  text-decoration: none;
}
.btn-info {
  background: #00aedc;
  background: -moz-linear-gradient(top, #00aedc 0%, #0080c7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00aedc), color-stop(100%, #0080c7));
  background: -webkit-linear-gradient(top, #00aedc 0%, #0080c7 100%);
  background: -o-linear-gradient(top, #00aedc 0%, #0080c7 100%);
  background: -ms-linear-gradient(top, #00aedc 0%, #0080c7 100%);
  background: linear-gradient(to bottom, #00aedc 0%, #0080c7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00aedc', endColorstr='#0080c7', GradientType=0);
  border: none;
  font: normal 900 14px/26px "Ubuntu";
  vertical-align: top;
  color: white;
  text-shadow: 0 -2px 0 #007ca6;
  text-transform: uppercase;
  position: relative;
  border-bottom: 2px solid #00547a;
}
.container {
  width: 1065px;
}
.left-column {
  width: calc(33.33333333333333% - 100px);
  width: -webkit-calc(33.33333333333333% - 100px);
  padding-right: 10px;
  background: lightsalmon;
}
.left-column .btn {
  width: 100%;
}
.left-column ul {
  list-style: none;
  padding: 0;
  margin-top: 46px;
}
.left-column ul li {
  border-bottom: 1px solid #dfdfdf;
  padding: 7px 0;
}
.left-column ul li:first-of-type {
  border-top: none;
}
.left-column ul li:last-of-type {
  border-bottom: none;
}
.left-column ul li a {
  color: #323232;
  text-decoration: none;
  cursor: pointer;
}
.left-column ul li a:hover {
  color: #048bd5;
}
.left-column ul li ul {
  padding-left: 17px;
  margin: 21px 0 0 0;
}
.left-column ul li ul li {
  border: none;
}
.left-column .widget a.wget-anchor {
  display: block;
  font-size: 14px;
  text-decoration: underline;
}
.left-column .widget .news div {
  margin-bottom: 23px;
}
.left-column .widget .news h3 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 14px;
  color: #444444;
}
.left-column .widget .news h3 p {
  font-size: 10px;
  color: #aeaeae;
  margin-bottom: 2px;
}
.left-column .widget .news p {
  font-size: 13px;
  color: #979797;
  font-weight: 400;
}
.left-column .widget .news p a {
  font-size: 13px;
  color: #048bd5;
}
.right-column {
  width: calc(66.66666666666666% + 95px);
  width: -webkit-calc(66.66666666666666% + 95px);
  padding-left: 10px;
  background: lightcyan;
}
.right-column:after {
  float: left;
}
.right-column .items.grid-block:after {
  content: '';
  clear: both;
  display: block;
}
.right-column .items.grid-block .item {
  float: left;
  margin: 0 19.999999px 19px 0;
}
.right-column .items.grid-block .item:nth-of-type(4n) {
  margin-right: 0 !important;
}
.right-column .items.grid-block .item .inner {
  width: 175px;
  background: white;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  padding: 10px;
}
.right-column .items.grid-block .item .inner .title {
  display: block;
  margin-bottom: 20px;
}
.right-column .items.grid-block .item .inner:hover {
  box-shadow: 0 0 15px black;
}
.right-column .items.grid-block .item .price {
  width: 154px;
  border-top: 1px solid #d4d4d4;
  text-align: right;
  margin-top: 20px;
  line-height: 14px;
  font-size: 13px;
  font-weight: 300;
  text-transform: none;
}
.right-column .items.grid-block .item .price span {
  float: left;
  font-size: 16px;
  font-weight: 900;
  color: #333333;
  display: inline-block;
  margin-top: 27px;
}
.right-column .items.grid-block .item .price a {
  margin-top: 19px;
  font-size: 13px;
  line-height: 13px;
  font-weight: 300;
  text-transform: none;
}
.similiar .items.grid-block:after {
  content: '';
  clear: both;
  display: block;
}
.similiar .items.grid-block .item {
  float: left;
  margin: 0 39.999999px 19px 0;
}
.similiar .items.grid-block .item:nth-of-type(5n) {
  margin-right: 0 !important;
}
.similiar .items.grid-block .item .inner {
  width: 175px;
  background: white;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  padding: 10px;
}
.similiar .items.grid-block .item .inner .title {
  display: block;
  margin-bottom: 20px;
}
.similiar .items.grid-block .item .inner:hover {
  box-shadow: 0 0 15px black;
}
.similiar .items.grid-block .item .price {
  width: 154px;
  border-top: 1px solid #d4d4d4;
  text-align: right;
  margin-top: 20px;
  line-height: 14px;
  font-size: 13px;
  font-weight: 300;
  text-transform: none;
}
.similiar .items.grid-block .item .price span {
  float: left;
  font-size: 16px;
  font-weight: 900;
  color: #333333;
  display: inline-block;
  margin-top: 27px;
}
.similiar .items.grid-block .item .price a {
  margin-top: 19px;
  font-size: 13px;
  line-height: 13px;
  font-weight: 300;
  text-transform: none;
}
.top-block {
  line-height: 41px;
}
.top-block .col-md-6:first-of-type a {
  padding: 0 13px;
}
.top-block .col-md-6:first-of-type a:first-of-type {
  padding-left: 0;
}
.top-block .col-md-6:last-of-type {
  text-align: right;
}
.top-block .col-md-6:last-of-type a:first-of-type {
  background: url("../images/icons/auth-ico.gif") no-repeat left center;
  padding-left: 26px;
  position: relative;
}
.top-block .col-md-6:last-of-type a:first-of-type:after {
  content: '';
  width: 1px;
  height: 17px;
  background: #cbcbcb;
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}
.top-block a {
  text-decoration: underline;
}
.info-block {
  min-height: 76px;
}
.info-block .logotype a {
  display: block;
  height: 76px;
  background: red;
}
.info-block .logotype a img {
  margin-top: 5px;
}
.info-block .col-md-4 .cart-panel {
  margin: 14px 0 0 auto;
  border-radius: 5px;
  width: 295px;
  height: 48px;
  border: 1px solid #bebebe;
}
.info-block .col-md-4 .cart-panel .left {
  width: 84px;
  height: 46px;
  border-radius: 5px 0 0 5px;
  float: left;
  position: absolute;
  background: #ececec url("../images/icons/cart-ico.png") no-repeat 17% 50%;
}
.info-block .col-md-4 .cart-panel .left .badge {
  position: absolute;
  top: 13px;
  right: 18px;
}
.info-block .col-md-4 .cart-panel .right {
  margin-left: 84px;
  height: 100%;
  border-radius: 0 5px 5px 0;
  background: white;
  position: relative;
}
.info-block .col-md-4 .cart-panel .right span {
  font-size: 14px;
  font-weight: 900;
  color: #585858;
  margin-left: 26px;
  line-height: 47px;
}
.info-block .col-md-4 .cart-panel .right a {
  font-size: 14px;
  font-weight: 900;
  color: #048bd5;
  text-transform: uppercase;
  line-height: 14px;
  position: absolute;
  right: 4px;
  top: 9px;
}
.info-block .col-md-3.phones a {
  font-size: 12px;
  color: #2a2a2a;
}
.info-block .col-md-3.phones a:hover {
  border: none;
}
.info-block .col-md-3.phones a:first-of-type {
  font-weight: 900;
  font-size: 24px;
  color: #5d5d5d;
  display: block;
  margin-top: 22px;
}
.info-block .col-md-3.phones a:first-of-type span {
  color: #048bd5;
}
.info-block .col-md-3.phones a:first-of-type span:before {
  content: ' ';
}
.info-block .col-md-3.phones a:last-of-type {
  color: #c5c5c5;
  font-weight: 300;
  border-bottom: 1px dashed black;
  display: inline-block;
  margin-left: 24px;
  margin-top: 9px;
}
.row.header {
  background: #fefafb;
}
.row.helper-block .col-md-4 {
  width: calc(33.33333333333333% - 100px);
  width: -webkit-calc(33.33333333333333% - 100px);
}
.row.helper-block .col-md-4 a {
  display: block;
}
.row.helper-block .col-md-8 {
  width: calc(66.66666666666666% + 95px);
  width: -webkit-calc(66.66666666666666% + 95px);
}
.row.helper-block .global-form input[type="text"] {
  width: calc(100% - 142px);
  width: -webkit-calc(100% - 142px);
  line-height: 36px;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  font-style: normal;
  font-weight: 300;
  text-indent: 18px;
  color: #048bd5;
  font-size: 13px;
}
.row.helper-block .global-form input[type="text"]::-webkit-input-placeholder {
  color: #048bd5;
  font-style: italic;
}
.row.helper-block .global-form input[type="text"]::-moz-placeholder {
  color: #048bd5;
  font-style: italic;
}
.row.helper-block .global-form input[type="text"]:-moz-placeholder {
  color: #048bd5;
  font-style: italic;
}
.row.helper-block .global-form input[type="text"]:-ms-input-placeholder {
  color: #048bd5;
  font-style: italic;
}
.row.helper-block .global-form button {
  width: 125px;
  float: right;
}
.row.helper-block .global-form a {
  font-size: 12px;
  color: #626262;
  border-bottom: 1px dashed;
  margin: 5px 0 14px 0;
  display: inline-block;
}
.row.helper-block .global-form a:hover {
  text-decoration: none;
  border-color: transparent;
}
.row.footer .col-md-4 {
  border-top: 1px solid #cecece;
  width: calc(33.33333333333333% - 100px);
  width: -webkit-calc(33.33333333333333% - 100px);
}
.row.footer .col-md-4 img {
  margin-top: 34px;
  margin-bottom: 27px;
}
.row.footer .col-md-8 {
  border-top: 1px solid #cecece;
  width: calc(66.66666666666666% + 95px);
  width: -webkit-calc(66.66666666666666% + 95px);
}
.row.footer .left-side {
  width: auto;
  float: left;
  position: relative;
  margin-right: 60px;
}
.row.footer .menu {
  margin-left: 186px;
  margin-top: 44px;
}
.row.footer .menu ul {
  list-style: none;
  padding: 0;
  width: auto;
  float: left;
  margin-right: 35px;
}
.row.footer .menu ul li {
  display: block;
}
.row.footer .menu ul li.heading {
  color: #313131;
  margin-bottom: 22px;
}
.row.footer .menu ul li a {
  color: #8e8e8e;
  font-size: 13px;
}
.row.footer .contacts {
  margin-top: 41px;
}
.row.footer .contacts a {
  font-size: 14px;
  color: #048bd5;
  display: block;
  margin-bottom: 32px;
}
.row.footer .contacts a:hover {
  border: none;
}
.row.footer .contacts a:first-of-type {
  font-weight: 900;
  font-size: 18px;
  color: #5d5d5d;
  display: block;
  margin-top: 22px;
  margin-bottom: 12px;
}
.row.footer .contacts a:first-of-type span {
  color: #048bd5;
}
.row.footer .contacts a:first-of-type span:before {
  content: ' ';
}
.row.footer .social {
  /* Generated by http://css.spritegen.com CSS Sprite Generator */
}
.row.footer .social .socialfacebook,
.row.footer .social .socialtwitter,
.row.footer .social .socialvkontakte {
  display: inline-block;
  background: url('../images/icons/social.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  margin: 2px;
}
.row.footer .social .socialfacebook {
  background-position: -10px 0px;
  width: 25px;
  height: 25px;
}
.row.footer .social .socialtwitter {
  background-position: -10px -35px;
  width: 25px;
  height: 25px;
}
.row.footer .social .socialvkontakte {
  background-position: -10px -70px;
  width: 25px;
  height: 25px;
}
.row.breadcrumb-block .container {
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
}
.row.breadcrumb-block .breadcrumb {
  background: none;
  margin: 0;
}
.row.breadcrumb-block .breadcrumb > li + li:before {
  content: '';
  background: url("../images/icons/bread.jpg") no-repeat 50% 75%;
  padding: 0 10px;
}
.row.breadcrumb-block .breadcrumb > li a {
  font-size: 12.5px;
  color: #7c7c7c;
}
.row.breadcrumb-block .breadcrumb > .activ {
  color: #863d97;
}
.bottom-block {
  background: -moz-linear-gradient(top, #3e9edd 0%, rgba(41, 138, 200, 0.98) 15%, rgba(36, 132, 195, 0.97) 27%, rgba(36, 132, 195, 0.95) 43%, rgba(36, 132, 195, 0.95) 44%, #3999d7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e9edd), color-stop(15%, rgba(41, 138, 200, 0.98)), color-stop(27%, rgba(36, 132, 195, 0.97)), color-stop(43%, rgba(36, 132, 195, 0.95)), color-stop(44%, rgba(36, 132, 195, 0.95)), color-stop(100%, #3999d7));
  background: -webkit-linear-gradient(top, #3e9edd 0%, rgba(41, 138, 200, 0.98) 15%, rgba(36, 132, 195, 0.97) 27%, rgba(36, 132, 195, 0.95) 43%, rgba(36, 132, 195, 0.95) 44%, #3999d7 100%);
  background: -o-linear-gradient(top, #3e9edd 0%, rgba(41, 138, 200, 0.98) 15%, rgba(36, 132, 195, 0.97) 27%, rgba(36, 132, 195, 0.95) 43%, rgba(36, 132, 195, 0.95) 44%, #3999d7 100%);
  background: -ms-linear-gradient(top, #3e9edd 0%, rgba(41, 138, 200, 0.98) 15%, rgba(36, 132, 195, 0.97) 27%, rgba(36, 132, 195, 0.95) 43%, rgba(36, 132, 195, 0.95) 44%, #3999d7 100%);
  background: linear-gradient(to bottom, #3e9edd 0%, rgba(41, 138, 200, 0.98) 15%, rgba(36, 132, 195, 0.97) 27%, rgba(36, 132, 195, 0.95) 43%, rgba(36, 132, 195, 0.95) 44%, #3999d7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e9edd', endColorstr='#3999d7', GradientType=0);
  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 100%;
  height: 40px;
}
.bottom-block .left-side {
  width: 220px;
  height: 40px;
  float: left;
  background: lightsteelblue;
  position: relative;
  margin-right: 155px;
}
.bottom-block .left-side .to-top {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 2.5px;
  background: url("../images/icons/to-top.png") no-repeat center;
}
.bottom-block .left-side a {
  font-size: 13px;
  color: white;
  font-weight: 300;
  background: url("../images/icons/mail-ico.png") no-repeat left center;
  padding-left: 29px;
  margin-left: 71px;
  margin-top: 12px;
  display: block;
  line-height: 15px;
}
.bottom-block .widgets {
  margin-left: 220px;
  background: lightgoldenrodyellow;
}
.bottom-block .widgets div {
  width: 155px;
  height: 40px;
  float: left;
  font-size: 13px;
  color: white;
  font-weight: 300;
  position: relative;
}
.bottom-block .widgets div.compare {
  background: #f08080 url("../images/icons/compare-ico.png") no-repeat left center;
  border-right: 1px solid #1d6696;
}
.bottom-block .widgets div.compare p {
  position: absolute;
  left: 33px;
  top: 14px;
}
.bottom-block .widgets div.compare span {
  position: absolute;
  right: 14px;
  top: 10px;
}
.bottom-block .widgets div.bookmarks {
  background: #778899 url("../images/icons/star-ico.png") no-repeat 13px 50%;
  border-left: 1px solid #7ab5dc;
  border-right: 1px solid #1d6696;
}
.bottom-block .widgets div.bookmarks p {
  position: absolute;
  left: 45px;
  top: 14px;
}
.bottom-block .widgets div.bookmarks span {
  position: absolute;
  right: 14px;
  top: 10px;
}
.bottom-block .widgets div.cart {
  background: #d3d3d3 url("../images/icons/cart-footer-ico.png") no-repeat 13px 50%;
  border-left: 1px solid #7ab5dc;
  min-width: 155px;
  width: 100%;
  max-width: 305px;
}
.bottom-block .widgets div.cart p {
  position: absolute;
  left: 45px;
  top: 14px;
}
.bottom-block .widgets div.cart i {
  font-style: normal;
  font-size: 14px;
  font-weight: 900;
  position: absolute;
  left: 136px;
  top: 15px;
}
.bottom-block .widgets div.cart a {
  position: absolute;
  right: 0;
  top: 6px;
  border: 1px solid white;
  background: transparent;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 13px;
  line-height: 14px;
}
.bottom-block .widgets div.cart span {
  position: absolute;
  left: 106px;
  top: 10px;
}
.bottom-block .badge {
  border: 1px solid #63abda;
  font-size: 13px;
  font-weight: 900;
  color: #80bde5;
  background: transparent;
}
