body {
  color: inherit;
}
.top-block:after,
.info-block:after,
search-block:after {
  content: '';
  clear: both;
  display: block;
}
.container {
  width: 1065px;
  box-shadow: inset 0 0 5px black;
}
.left-column {
  width: calc(33.33333333333333% - 100px);
  width: -webkit-calc(33.33333333333333% - 100px);
  padding-right: 10px;
  background: lightgoldenrodyellow;
}
.right-column {
  width: calc(66.66666666666666% + 95px);
  width: -webkit-calc(66.66666666666666% + 95px);
  padding-left: 10px;
  background: lightcyan;
}
