.left-column {
  background: #f6f6f6;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
}
.left-column form legend {
  border: none;
}
.left-column form .brand label {
  display: block;
}
.left-column form a {
  display: block;
}
.right-column .filter-constructor {
  border-top: 1px solid #bababa;
  background: #f1f6fa;
}
.right-column .filter-constructor .controls {
  background: #f6f6f6;
  border-top: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
}
.custom-grid {
  width: 100%;
}
.custom-grid .item {
  width: calc(25% - 19.999999px);
  width: -webkit-calc(25% - 19.999999px);
  min-height: 285px;
  float: left;
  display: inline;
  position: relative;
  margin: 0 19.999999px 40px 0 !important;
}
.custom-grid .item .inner {
  transition: all 0.2s ease;
  position: absolute;
  width: 175px;
  background: #ffffff;
  margin: 10px auto 10px auto;
  z-index: 1;
}
.custom-grid .item .specs-extend,
.custom-grid .item .price-extend {
  display: none;
  opacity: 0;
}
.custom-grid .item:hover {
  transition: all 0.5s ease;
}
.custom-grid .item:hover .specs-extend,
.custom-grid .item:hover .price-extend {
  display: block;
  opacity: 1;
}
.custom-grid .item:hover .inner {
  width: 205px !important;
  margin-left: -15px;
  z-index: 2;
}
