.rating {
  display: inline-block;
}
.yandex-share {
  background: #ff0000;
  display: inline-block;
  width: 90%;
  text-align: right;
}
.yandex-share .b-share__handle {
  padding-top: 0 !important;
}
.item-card h1 {
  font-size: 21px;
  color: #333333;
  font-weight: 400;
}
.item-card .articul {
  font-size: 15px;
  color: #8c8c8c;
  font-weight: 100;
}
.item-panel {
  border-top: 1px solid #d4d2d3;
  border-bottom: 1px solid #d4d2d3;
  background: #ececec;
}
.item-panel .nav-pills li[role="to-catalog"] {
  float: right;
}
.item-panel .nav-pills li[role="to-catalog"] a {
  text-decoration: none;
}
.item-panel .nav-pills li[role="overview"] a {
  font-size: 12.5px;
  color: #505050;
  font-weight: 900;
  text-decoration: none;
}
.item-panel .nav-pills li a {
  font-size: 12.5px;
  color: #505050;
  font-weight: 100;
  text-decoration: underline;
}
.item-panel .nav-pills li a:hover {
  text-decoration: none;
}
