/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
    font-family: 'PT Serif Caption', serif;
}

ol, ul {
  list-style: none;
}

#wrap {
    font-size: 0;


}
.items {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: calc(25% - 1px);
    width: -webkit-calc(25% - 2px);
    text-align: center;
    /*background: rgba(0, 0, 0, 0.2);*/
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    border-right: none;
}
.items:nth-child(4n) {
    border-right: inherit;
}
.items:last-of-type {
    border-right: inherit;
}
.items a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    /*text-align: left;*/
}
.items img {
    /*width: 100% !important;*/
    /*height: auto !important;*/
    /*position: absolute;*/
    padding-top: 35px;
}
.items.my img,
.items.partner img,
.items.kassa img {
    /*width: 100% !important;*/
    /*height: auto !important;*/
}
.items h2 {
    font-size: 24px;
    font-style: italic;
}

.items.leform {}
.items.thermo {}
.items.ecopit {}
.items.partner {}
.items.my {}
.items.kassa {}
.items.teletrade {}
.items.invest-trading {}
.items.belfin {}
.items.art-profile {}

.items.leform {
    background: url("../images/logos/leform.svg") no-repeat center;
}
.items.thermo {background: url("../images/logos/thermo.png") no-repeat center;}
.items.ecopit {background: url("../images/logos/ecopit.png") no-repeat center;}
.items.partner {background: url("../images/logos/partner.png") no-repeat center;}
.items.my {background: url("../images/logos/my_robokassa.png") no-repeat center;}
.items.kassa {background: url("../images/logos/robokassa.jpeg") no-repeat center;}
.items.teletrade {background: url("../images/logos/teletrade.gif") no-repeat center;}
.items.invest-trading {background: url("../images/logos/invest.png") no-repeat center;}
.items.belfin {background: url("../images/logos/belfin.png") no-repeat center;}
.items.art-profile {}

#top-panel {
    background: black;
    height: 32px;
    width: 100%;
    color: white;
}
#top-panel ul {
    display: inline-block;
}
#top-panel li {
    display: inline;
    text-decoration: underline;
}
