@import "../css/fonts.css";
html:before {
  content: '';
  background: url("../images/flower-top.png") top left fixed no-repeat;
  display: block;
  width: 431px;
  height: 388px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
html:after {
  content: '';
  background: url("../images/flower-middle.png") top right fixed no-repeat;
  display: block;
  width: 431px;
  height: 552px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.container {
  min-width: 780px;
  max-width: 1150px;
  background: white;
}
.container.top {
  padding-top: 30px;
  padding-bottom: 12px;
  min-height: 138px;
  padding-left: 0;
  padding-right: 0;
}
.container.top .col-md-4 {
  padding: 0;
}
.footer .container,
.footer .left,
.footer .right {
  padding: 0;
}
.footer .rest {
  clear: both;
}
.footer .rest img {
  float: left;
  margin-right: 14.3%;
  margin-top: 10px;
}
.footer .rest ul {
  margin-top: 13px;
  display: inline-block;
  clear: both;
  float: none;
  width: auto;
}
.footer .rest ul:nth-child(2) {
  padding-left: 0;
  background: transparent;
}
.footer .rest ul li {
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}
.footer .rest ul li:first-of-type {
  font-size: 12px;
  margin-right: 6px;
  margin-top: 9px;
}
.footer ul {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  float: left;
  width: 25%;
}
.footer ul:nth-child(1) {
  background: lightgoldenrodyellow;
}
.footer ul:nth-child(2) {
  background: greenyellow;
  padding-left: 2px;
}
.footer ul:nth-child(3) {
  background: yellowgreen;
  padding-left: 30px;
}
.footer ul:nth-child(4) {
  background: yellow;
  padding-left: 8.5%;
}
.footer ul li {
  list-style: none;
}
.footer ul li a {
  color: #013dff;
  font-size: 12px;
  text-decoration: underline;
}
.footer .right {
  font-size: 11px;
  color: black;
  padding-top: 20px;
  padding-left: 8%;
}
.footer .right > div {
  margin-bottom: 11px;
  margin-top: 11px;
}
.footer .right img {
  float: left;
}
.footer .right .first p {
  margin: 0;
}
.footer .right .first div {
  margin-left: 34px;
}
.footer .right .second p {
  margin: 0;
}
.footer .right .second div {
  margin-left: 34px;
}
.footer .right .third p {
  margin: 0;
}
.footer .right .third div {
  margin-left: 34px;
}
.row.header .top .phones a {
  margin-left: 47px !important;
}
.row.header .top .phones a,
.row.header .top .phones span {
  margin-left: 99px;
}
.row.header .top .phones a {
  margin-bottom: 8px;
  font-size: 33px;
  color: #36140a;
  display: block;
  line-height: 25px;
}
.row.header .top .phones span {
  display: block;
  padding: 6px 1px 6px 35px;
}
.row.header .top .phones span.callback {
  background: url("../images/callback-ico.png") left center no-repeat;
}
.row.header .top .phones span.mail {
  background: url("../images/mail-ico.png") left center no-repeat;
}
.row.header .top .phones span a {
  margin: 0 !important;
  text-decoration: underline;
  font-family: Arial;
  font-style: italic;
  color: #013dff;
  font-size: 14px;
}
.row.header .top .times .left {
  float: left;
  width: 50%;
  background: lightcoral;
}
.row.header .top .times .right {
  display: inline-block;
  width: 50%;
  background: khaki;
  padding-left: 33px;
  padding-top: 24px;
}
.row.header .top .times .right img {
  float: left;
}
.row.header .top .times .right div span {
  color: #36140a;
  font-size: 22px;
}
.row.header .top .times .right div span:first-of-type {
  font-family: 'franklin_gothic_mediumitalic';
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  display: block;
}
.row.header .top .times ul {
  margin: 0;
  padding: 0;
  margin-left: 78px;
}
.row.header .top .times ul li {
  color: #36140a;
  font-size: 14px;
  list-style: none;
}
.row.header .top .times ul li:last-of-type {
  color: #eb2b2f;
}
.row.header .menu {
  padding: 0;
  border-bottom: 1px solid #38160c;
}
.row.header .menu ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: table;
}
.row.header .menu ul li {
  display: table-cell;
  white-space: pre;
  text-align: center;
}
.row.header .menu ul li.first {
  text-align: left;
}
.row.header .menu ul li.last {
  text-align: right;
}
.row.header .menu ul li.active a {
  color: #eb2b2f;
}
.row.header .menu ul li a {
  color: #36140a;
  font-size: 18px;
  display: block;
}
.row.header .menu ul li a:hover {
  color: #eb2b2f;
}
.row.filter {
  padding-top: 40px;
}
.row.filter .container {
  padding: 0;
}
.row.filter .left {
  background: midnightblue;
  width: 70%;
  float: left;
}
.row.filter .left ul {
  padding: 0;
  margin: 0;
}
.row.filter .left ul li {
  background: hotpink;
  text-align: center;
  list-style: none;
  float: left;
  width: 23.3%;
}
.row.filter .left ul li span {
  display: block;
  line-height: 13px;
  padding-bottom: 12px;
  text-indent: -4%;
}
.row.filter .left ul li img {
  display: block;
  box-shadow: 4px 2px 0px #c2c2c2;
  border-radius: 0 0 10px 10px;
  border: 1px solid #38160c;
}
.row.filter .left ul li img:hover {
  border: 1px solid #eb2b2f;
}
.row.filter .left p {
  clear: both;
  padding-top: 21px;
  background: goldenrod;
  font-size: 12px;
  color: #010000;
}
.row.filter .right {
  display: inline-block;
  width: 30%;
  background: olive;
}
.row.filter .right .controls {
  width: 302px;
  margin: 0 0 0 auto;
}
.row.filter .right .controls > span {
  margin-top: -4px;
  display: block;
}
.row.filter .right .controls > div {
  margin: 12px 0;
  background: white;
  border: 1px solid #38160c;
  border-radius: 5px;
  min-height: 30px;
}
.row.filter .right .controls > div:first-of-type {
  margin-top: 8px;
}
.row.filter .right .controls > div div {
  text-indent: 16px;
  border-radius: 5px 0 0 5px;
  background: #feedcf;
  width: 114px;
  font-size: 14px;
  color: #38160c;
  min-height: 30px;
  line-height: 30px;
  box-shadow: 2px 4px 0 rgba(178, 178, 178, 0.5);
}
.row.options {
  height: 37px;
}
.row.options .container {
  padding: 0;
}
.row.options .left {
  width: 70%;
  float: left;
}
.row.options .left ul {
  border-top: 1px solid #38160c;
  padding: 0;
  margin: 0;
  /*margin-top: 10px;*/
  padding-top: 10px;
}
.row.options .left ul li {
  font-size: 12px;
  color: #38160c;
  list-style: none;
  background: url("../images/close.png") no-repeat center right;
  float: left;
  padding: 0 17px;
}
.row.options .left ul li:first-of-type {
  padding-left: 0;
}
.row.options .right {
  width: 30%;
  float: right;
}
.row.options .right ul {
  padding: 0;
  margin: 0;
  float: right;
}
.row.options .right ul li {
  list-style: none;
  width: 88px;
  height: 36px;
  float: left;
  margin: 0 19px 0 0;
  background: url("../images/opt-sprite.png") no-repeat;
}
.row.options .right ul li:last-of-type {
  margin: 0;
}
.row.options .right ul li#min {
  background-position: 0 -37px;
}
.row.options .right ul li#min:hover {
  background-position: 0 0;
}
.row.options .right ul li#middle {
  background-position: -107px -37px;
}
.row.options .right ul li#middle:hover {
  background-position: -107px 0;
}
.row.options .right ul li#max {
  background-position: -213px -37px;
}
.row.options .right ul li#max:hover {
  background-position: -213px 0;
}
.row.news .container {
  padding: 0;
  border-top: 1px solid #38160c;
}
.row.news .container h2 {
  font-size: 24px;
  color: #36140a;
}
.row.news .left {
  float: left;
  width: 40%;
}
.row.news .left .rolls {
  padding: 29px;
  width: 367px;
  height: 378px;
  overflow-y: scroll;
  background: #fef8ee;
  box-shadow: inset 3px 3px 0 #c2c2c2;
  border: 1px solid #c2bdbd;
}
.row.news .left .rolls p {
  font-size: 12px;
  color: #010000;
}
.row.news .right {
  display: inline-block;
  width: 60%;
}
.row.news .right p {
  font-size: 12px;
  color: #36140a;
}
.row.grid .container {
  padding: 0;
}
.row.grid .five .img-wrap {
  height: 200px !important;
}
.row.grid .five li {
  width: 230px;
}
.row.grid .four li {
  width: 287px;
}
.row.grid .three li {
  width: 383px;
}
.row.grid ul {
  padding: 0;
  margin: 0;
}
.row.grid ul li {
  padding: 12px;
  list-style: none;
  float: left;
}
.row.grid ul li img {
  display: block;
  margin: 0 auto;
}
.row.grid ul li div:not(.img-wrap) {
  width: 206px;
  margin: 0 auto;
}
.row.grid ul li span {
  display: block;
  text-align: center;
}
.row.grid ul li span.item-name {
  font-size: 16px;
  color: #939da4;
}
.row.grid ul li span.item-name b {
  color: #36140a;
  font-weight: normal;
}
.row.grid ul li span.old-price {
  font-size: 16px;
  color: #939da4;
  text-decoration: line-through;
}
.row.grid ul li span.actual-price {
  font-size: 22px;
  color: #36140a;
}
.row.grid ul li a {
  display: block;
  text-align: center;
  font-size: 24px;
  color: #38160c;
  border: 1px solid #38160c;
  background: #fef8ee;
  border-radius: 5px;
}
.row.grid ul li a:hover {
  text-decoration: none;
}
