.row.sub-menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 0 1em;
    padding: 0;
    margin-bottom: 0;
}
.row.sub-menu li {
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*height: 56px;*/
    /*padding: 0 12px 0 12px;*/
    text-align: center;

    /*//min-width: 135px;*/

    text-decoration: none;
}
.row.sub-menu li a {
    display: block;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    align-self: center;
}