.content-inner-auth form.forms .btn.btn-custom {
  vertical-align: baseline;
}
.content-inner-auth form.forms .btn.btn-custom i:before {
  width: 14px;
  height: 15px;
  background: url('../img/lock.png');
}
.content-inner-auth form.forms a {
  color: #202020;
  font-size: 13px;
  margin-left: 70px;
}
form.forms fieldset {
  padding: 30px;
  border-radius: 0;
  background: #efefef;
  border-top: 2px solid #eb1c24;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
form.forms fieldset label {
  display: inline-block;
  min-width: 150px;
  max-width: 150px;
}
form.forms fieldset span.error {
  position: relative;
  margin-left: 20px;
  font-size: 13px;
  color: #505050;
  background: #ffffff;
  padding: 0.5em 0.7em;
}
form.forms fieldset span.error:before {
  width: 0;
  height: 0;
  border: 1.2em solid #fc1049;
  border-color: transparent #ffffff transparent transparent;
  content: '';
  position: absolute;
  left: -30px;
}
form.forms fieldset input[type="text"],
form.forms fieldset input[type="password"] {
  display: inline-block;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  width: 292px;
  height: 31px;
}
form.forms fieldset .btn.btn-custom {
  height: 2.2em;
  margin: 15px 0 0 0;
  font-size: 15px;
  color: #ffffff;
  background: #eb1c24;
  border-radius: 0;
  position: relative;
}
form.forms fieldset .btn.btn-custom i {
  background: none repeat scroll 0% 0% #E1161E;
  position: absolute;
  right: -33px;
  top: 0px;
  height: 2.2em;
  width: 33px;
}
form.forms fieldset .btn.btn-custom i:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  background: url('../img/key.png');
  width: 14px;
  height: 14px;
}
