extends tpls/layout

block content
    ul
        li
            a(href="/") index
        li
            a(href="/reports") reports
        li
            a(href="/create") create

    div(class="left")
        form(action="/create", method="post", enctype="")
            div
                input(tabindex="1", id="graph", name="graph", type="text", maxlength="6", placeholder="graph")
            div
                input(type="text", id="_date", name="_date", value="")
            div
                textarea(tabindex="7", id="lku", name="lku" placeholder="lku")
                textarea(tabindex="8", id="lkf", name="lkf", placeholder="lkf")
                textarea(tabindex="9", id="rb", name="rb", placeholder="rb")
                textarea(tabindex="9", id="sc", name="sc", placeholder="showcase")
                textarea(tabindex="9", id="pp", name="pp", placeholder="pp")
                textarea(tabindex="10", id="rest", name="rest", placeholder="rest")
                textarea(tabindex="11", id="taskRow", name="taskRow", placeholder="taskRow")
            div
                input(type="submit", value="submit")

        form(method="post", action="/two", enctype="")
            input(type="text", name="tabasov", id="tabasov", placeholder="tabasov")
            input(type="text", name="korshakovcki", id="korshakovcki", placeholder="korshakovcki")
            input(type="text", name="petrov", id="petrov", placeholder="petrov")
            input(type="submit", value="ok")