extends tpls/layout
block content
    ul
        li
            a(href="/") index
        li
            a(href="/reports") reports
        li
            a(href="/create") create

    #{data}
include tpls/footer