include tpls/header

ul
    li
        a(href="/") index
    li
        a(href="/reports") reports
    li
        a(href="/create") create

form(method="get", action="reports")
    select(name="reportPicker")
        each _data in data
            option(value=_data.id) #{_data._date}
    input(type="submit", value="ok")

// data

table
    each item, i in data2
        p #{item}
//#{data2.graph}