title MFR
meta(charset="utf8")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

link(rel="stylesheet", type="text/css", href="/css/style.css")
link(href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&subset=cyrillic-ext,latin', rel='stylesheet', type='text/css')
link(rel="stylesheet", href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css")
link(rel="stylesheet", href="http://use.typekit.net/c/98bb27/1w;brandon-grotesque,2,Y2m:R:i4,Y2r:R:i7,Y2g:R:n1,Y2j:R:n3,Y2l:R:n4,Y2q:R:n7/d?3bb2a6e53c9684ffdc9a9bf11f5b2a623a5a2311fd229ac483f9f645f3aedaca4fc75073402fa14c8c16f8ddecfcb9221b39dff6e9c8022a19fb2c3859657e91206afefdb38984025bd97ba3a1d6a05ecad85393b48fc8daa288279c75248f94ffec9ed52c6d2d8c5003eb90a271dc74d0b986f69ecf402fd2732fe54c7b7fe425625baddff968849f2939b3dfdcc8cbdf736699dcb796eb8c3dd1accf9e8b80ab97059f6369d6a3ee2d93624cc624", media="all")
link(href="http://fonts.googleapis.com/css?family=EB+Garamond&subset=latin,cyrillic", rel="stylesheet", type="text/css")
link(href='http://fonts.googleapis.com/css?family=Six+Caps', rel='stylesheet', type='text/css')



script(type="text/javascript", src="https://code.jquery.com/jquery-2.1.1.min.js")
script(type="text/javascript", src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js")

script(type="text/javascript", src="../js/script.js")