html {
	body {
		color: inherit;

		h2 {
			font-family: "RobotoBlack";
			background: #EB0028;
			padding: 18px 20px;
			color: white;
			white-space: nowrap;
			font-size: 28px;
			position: relative;
			left: -4px;
		}
		.first h2 {float: left;}

		.h3-wrap {
			position: relative;
			clear: both;
			.h3-wrap-wrap {
				position: absolute;
				left: 0;
				top: 0;
				min-width: 540px;
			}
		}
		h3 {
			display: inline;
			font-family: "RobotoLight";
			outline: #0070CD solid 4px;
			background: #0070CD;
			font-size: 16px;
			color: white;
		}
		a {
			cursor: pointer;
			font-family: "RobotoLight";
		}
	}
}

.btn-slide {
//	display: block;
//	width: 86px;
//	height: 86px;
	cursor: pointer;
	&.next-slide {
		img {
			width: 45px;
		}
	}
	&.prev-slide {
		img {
			width: 30px;
		}
	}
	&.to-top {
		img {
			display: inline-block;
			width: 45px;
		}
		span {
			font-size: 16px;
			color: #0070CD;
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.magazines {
	a {
		color: white;
		display: block;
		&:hover {
			text-decoration: none;
		}
	}
	img {
		display: inline-block;
		width: 70px;
	}
	span {
		padding-left: 10px;
		display: inline-block;
		vertical-align: middle;
	}
}

// menu
.container-fluid.menu {
	padding: 0;
}
.navbar-default {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	box-shadow: none;
	border-radius: 0;
	border: none;
	background-image: none;
	background-color: rgba(58, 60, 63, 0.8);
	.navbar-nav {
		float: right;
		li {
			border-left: 1px solid rgba(255, 255, 255, 0.25);
			img {
				display: inline-block;

			}
			a {
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				background-repeat: none;
				background-color: inherit;
				color: white;
				text-shadow: none;
				span {
					display: block;
				}
				&:hover {
					background: none;
					color: white;
				}
			}
			&.active {
				& > a {
					background-color: inherit;
					background-image: none;
					color: white;
					text-shadow: none;
					box-shadow: none;
					&:hover {
						background: none;
						color: white;
					}
				}
			}
		}
	}

}

.row {
	&.first {
		background: url("../img/top-bg-orig.png") no-repeat;
		background-position: top;
		.container {
			margin-top: 80px;
		}
	}
	&.second {
		background: #3196DB url("../img/middle-rep.png") repeat;
	}
	&.last {
		background: url("../img/bottombg_orig_mini.jpg") no-repeat;
	}
} // backgrounds

// some objects


@media all and (min-width: 320px) and (max-width : 568px) {
	.navbar-brand {
		width: 70%;
		display: block;
		padding: 12px 0 12px 12px;
		img {
			display: block;
			width: 100%;
		}
	}

	.first .left {
		img {
			width: 100%;
		}
		h2 {
			float: none;
			padding: 5px 5px;
			position: static;
			white-space: normal;
			font-size: 13px;
			text-align: center;
		}
		.h3-wrap {
			position: static;
			.h3-wrap-wrap {
				position: static;
				min-width: ~"calc(100% - 4px)";
				min-width: ~"-webkit-calc(100% - 4px)";
				margin-left: 4px;
				h3 {

				}
			}
		}
	}
	.right {
		a {
			font-size: 16px;
			&:first-of-type {

			}
		}
	}
	.row {
		&.first {
			min-height: 568px;
			background-size: 450%;
			background-position-x: 35%;

			.magazines {
				span {
					font-size: 14px;
				}
				img {
					width: 55px;
				}
			}
			.next-slide {
				img {
//					width: auto;
				}
			}
		}
		&.second {
			background-size: 15%;
			h2 {
				float: none;
				padding: 5px 5px;
				position: static;
				white-space: normal;
				font-size: 13px;
				text-align: center;
			}
			.prev-slide {
				background-size: 30%;
			}
			.h3-wrap {
				position: static;
				.h3-wrap-wrap {
					position: static;
					min-width: ~"calc(100% - 4px)";
					min-width: ~"-webkit-calc(100% - 4px)";
					margin-left: 4px;
					h3 {

					}
				}
			}
			.col-md-6 {
				img:not(.b) {
					width: 100%;
				}
			}
			.next-slide {

			}
		}
		&.last {
			background-size: 15%;
			h2 {
				float: none;
				padding: 5px 5px;
				position: static;
				white-space: normal;
				font-size: 13px;
				text-align: center;
			}
			.prev-slide {
				background-size: 30%;
			}
			.h3-wrap {
				position: static;
				.h3-wrap-wrap {
					position: static;
					min-width: ~"calc(100% - 4px)";
					min-width: ~"-webkit-calc(100% - 4px)";
					margin-left: 4px;
					h3 {

					}
				}
			}
			.col-md-6 {
				img.logo {
					width: 100%;
				}

			}
			.to-top {
				background-size: 40%;
			}
		}
	}
    .next-slide {
        img {
            width: 45px;
        }
    }
    .prev-slide {
        img {
            width: 35px;
        }
    }
} // iphone