body {
    font-family: 'PT Serif', serif;
}

body ul:first-of-type {
    padding-left: 0;
}
ul:first-of-type li {
    background: #000;
    display: inline-block;
    margin: 0 2.5px;
    padding: 5px;
}
ul:first-of-type li a {
    color: white;
    font-weight: 900;
}

ul.rep {
    transition: 1s all ease;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.rep strong {
    display: block;
    background-color: #19426f;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.notclosed {
    background: #F4C63D;
    padding: 0 5px;
    color: white;
}
.fixed {
    background: #D70206;
    padding: 0 5px;
    color: white;
}
.closed {
    background: #F05B4F;
    padding: 0 5px;
    color: white;
}

table {
    width: 100%;
}

.article-wrap {
    transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 600ms;
    margin: 0px auto;
    position: relative;
    z-index: 100;
    margin-bottom: 130px;
    transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 600ms;
}
.piece:nth-child(2n+1) {
    text-align: left;
}
.piece {
    background: #efebe2;
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: right;
    height: 500px;
}

.piece:nth-child(2n+1) .piece-visuel {
    right: 0;
}
.piece > * {
    position: absolute;
    width: 55%;
    height: 100%;
}

.piece:nth-child(2n+1) .piece-description {
    left: 0;
}
.piece .piece-description {
    position: relative;
    width: 45%;
    right: 0;
    display: inline-block;
}

.vcenter {
    width: 100%;
    height: 100%;
    display: table;
}

.piece .piece-description .inner {
    padding: 12%;
    text-align: center;
}
.vcenter > * {
    display: table-cell;
    vertical-align: middle;
}

header {
    display: block;
}

.piece h1 {
    margin-bottom: 0px;
    font-size: 20px;
    font-size: 2rem;
}

@media screen and (max-width: 1440px) {
    .piece .piece-by {
        font-size: 10px;
        font-size: 1rem;
    }
}

.piece .piece-by {
    text-transform: uppercase;
    font-size: 11px;
    font-size: 1.1rem;
    margin-top: 5px;
    display: block;
}

@media screen and (max-width: 1440px) {
    .piece p {
        font-size: 14px;
        font-size: 1.4rem;
    }
}

.piece p {
    font-size: 16px;
    font-size: 1.6rem;
    font-family: brandon-grotesque;
}