@import "../css/fonts.css";

@brown: #36140a;
@brown_dark: #38160c;
@red: #eb2b2f;
@blue: #013dff;

html {
	&:before {
		content: '';
		background: url("../images/flower-top.png") top left fixed no-repeat;
		display: block;
		width: 431px;
		height: 388px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	&:after {
		content: '';
		background: url("../images/flower-middle.png") top right fixed no-repeat;
		display: block;
		width: 431px;
		height: 552px;
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
	}
}

.container {
	min-width: 780px;
	max-width: 1150px;

	background: white;

	&.top {
		padding-top: 30px;
		padding-bottom: 12px;
		min-height: 138px;
		padding-left: 0;
		padding-right: 0;
		.col-md-4 {
			padding: 0;
		}
	}
}

.footer {
	.rest {
		clear: both;
		img {
			float: left;
			margin-right: 8%;
		}
		ul {
			float: none;
			width: auto;
			li {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
	ul {
		margin: 0;
		margin-top: 30px;
		padding: 0;
		float: left;
		width: 25%;
		li {
			list-style: none;
			a {
				color: @blue;
				font-size: 12px;
				text-decoration: underline;
			}
		}
	}
	.right {
		font-size: 11px;
		color: black;
		padding-top: 20px;
		div {
			&:first-of-type {
//				margin-top: 30px;
			}
		}
		& > div {
			margin-bottom: 18px;
		}
		img {
			float: left;
		}
		.first {
			p {
				margin: 0;
			}
			div {
				margin-left: 34px;
			}
		}
		.second {
			p {
				margin: 0;
			}
			div {
				margin-left: 34px;
			}
		}
		.third {
			p {
				margin: 0;
			}
			div {
				margin-left: 34px;
			}
		}
	}
}

.row {
	&.header {
		.top {
			.logotype {

			}

			.phones {
				a {
					margin-left: 47px !important;
				}
				a, span {
					margin-left: 99px;
				}
				a {
					margin-bottom: 8px;
					font-size: 33px;
					color: @brown;
					display: block;
					line-height: 25px;
				}
				span {
					display: block;
					padding: 6px 1px 6px 35px;
					&.callback {
						background: url("../images/callback-ico.png") left center no-repeat;
					}
					&.mail {
						background: url("../images/mail-ico.png") left center no-repeat;
					}
					a {
						margin: 0 !important;
						text-decoration: underline;
//						font-family: 'franklin_gothic_bookitalic';
						font-family: Arial;
						font-style: italic;
						color: @blue;
						font-size: 14px;

//						font: normal italic 14px/25px Arial, sans-serif;

					}
				}
			}
			.times {
				.left {
					float: left;
					width: 50%;
					background: lightcoral;
				}
				.right {
					display: inline-block;
					width: 50%;
					background: khaki;

					padding-left: 33px;
					padding-top: 24px;
					img {
						float: left;
					}
					div {
						span {
							color: @brown;
							font-size: 22px;
							&:first-of-type {
								font-family: 'franklin_gothic_mediumitalic';
								font-size: 14px;
								line-height: 14px;
								text-align: center;
								display: block;
							}
						}
					}
				}
				ul {
					margin: 0;
					padding: 0;
					margin-left: 78px;
					li {
						color: @brown;
						font-size: 14px;
						list-style: none;
						&:last-of-type {
							color: @red;
						}
					}
				}
			}
		}
		.menu {
			padding: 0;
//			display: table;
			border-bottom: 1px solid @brown_dark;
			ul {
				width: 100%;
				margin: 0;
				padding: 0;
				display: table;
				li {
					display: table-cell;
//					width: 20%;
					white-space: pre;
					text-align: center;
					&.first, &.last, &.tight {
//						width: 1%;
					}
					&.first {
						text-align: left;
					}
					&.last {
						text-align: right;
					}
					&.active {
						a {
							color: @red;
						}
					}
					a {
						color: @brown;
						font-size: 18px;
						display: block;
						&:hover {
							color: @red;
						}
					}
				}
			}
		}
	}
}