.custom-grid {
    .item {
        position: relative;
//        min-width: ~"calc(175px + 19.999999px /2)";
//        min-width: ~"-webkit-calc(175px + 19.999999px /2)";
        .inner {
//            position: absolute;
//            top: 0;
//            left: 0;
//            width: 100%;
            &:hover {
                width: ~"calc(175px + 19.999999px)";
                width: ~"-webkit-calc(175px + 19.999999px)";
            }
        }
        &:hover {
            .inner {
//                display: none;
//                width: ~"calc(175px + 19.999999px)";
//                width: ~"-webkit-calc(175px + 19.999999px)";
                padding: 0 19.999999%;
            }
        }
    }
}