.left-column {
    background: #f6f6f6;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    form {
        fieldset {
            border-bottom: 1px solid #dfdfdf;
            &:first-of-type {
                legend {
                    padding-top: 9px;
                }
            }
            &:last-of-type {
                border-bottom: none;
            }
            legend {
                padding-top: 23px;
            }
        }
        legend {
            font-size: 14px;
            font-weight: 700;
            color: #313131;
            text-transform: uppercase;
            border: none;
        }
        .brand {
            label {
                display: block;
                font-size: 13px;
                color: #313131;
                font-weight: 400;
                text-transform: uppercase;
                position: relative;
                .hint {
                    position: absolute;
                    left: 78px;
                    min-height: 30px;
                    //padding: 1px;
                    text-transform: none;
                    border: 1px solid #636363;
                    border-left: none;
                    box-shadow: 0 0 9px #AFAFAF;
                    white-space: nowrap;
                    z-index: 3;
                    background: white;
                    padding-left: 22px;
                    &:before {
                        content: '';
                        width: 24px;
                        height: 30px;
                        background: url("../images/icons/hint-arrow.png") no-repeat;
                        float: left;
                        position: absolute;
                        top: 0;
                        left: -23px;
                    }
                    span {
                        font-size: 14px;
                        color: #5a5a5a;

                        display: inline;
                        line-height: 30px;
                        padding: 8px 17px 0 0;
                    }
                    a {
                        position: relative;
                        left: 1px;
                        font-size: 14px;
                        color: white;
                        text-decoration: none;
                        background: #00aedc;
                        background: -moz-linear-gradient(top,  #00aedc 0%, #0080c7 100%);
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00aedc), color-stop(100%,#0080c7));
                        background: -webkit-linear-gradient(top,  #00aedc 0%,#0080c7 100%);
                        background: -o-linear-gradient(top,  #00aedc 0%,#0080c7 100%);
                        background: -ms-linear-gradient(top,  #00aedc 0%,#0080c7 100%);
                        background: linear-gradient(to bottom,  #00aedc 0%,#0080c7 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aedc', endColorstr='#0080c7',GradientType=0 );
                        border-left: 1px solid #636363;
                        display: inline;
                        line-height: 30px;
                        padding: 8px 20px !important;
                    }
                }
                &.checked {

                }
                input {
                    margin-right: 13px;
                    border: 1px solid #919191;
                }
            }
        }
        .controls {
            padding: 23px 0;
            &.main {
                a {
                    &.btn {
                        font-size: 13px;
                        line-height: 13px;
                        font-weight: 400;
                        text-transform: none;
                        text-shadow: none;
                        display: inline;
                    }
                }
            }
            a {
                font-size: 13px;
                display: inline-block;
                &:first-of-type {text-decoration: none}
                &:last-of-type {
                    float: right;
                    color: #707070;
                    span {
                        border-bottom: 1px dashed #707070;
                    }
                }
            }
            &.lonely {
                a {
                    color: #a3479b;
                    float: none;
                }
            }
        }
    }
}

.right-column {
    .filter-constructor {
        border-top: 1px solid #bababa;
        background: #f1f6fa;
        .controls {
            background: #f6f6f6;
            border-top: 1px solid #bababa;
            border-bottom: 1px solid #bababa;
        }
    }
}

.custom-grid {
    width: 100%;



    .item {
        width: ~"calc(25% - 19.999999px)";
        width: ~"-webkit-calc(25% - 19.999999px)";
        min-height: 285px;
        float: left;
        display: inline;
        position: relative;
        margin: 0 19.999999px 40px 0 !important;
//        &:first-of-type {background: yellow}
//        &:nth-of-type(2) {background: lime}
//        &:nth-of-type(3) {background: cyan}
//        &:last-of-type {background: orange}
        .inner {
            transition: all 0.2s ease;
            position: absolute;
            width: 175px;
            background: #ffffff;
            margin: 10px auto 10px auto;
//            min-height: 150px;
//            height: 100%;
            z-index: 1;
        }
        .specs-extend, .price-extend {display: none; opacity: 0}
        &:hover {
            transition: all 0.5s ease;
            .specs-extend, .price-extend {display: block; opacity: 1}
            .inner {

                width: 205px !important;
                margin-left: -15px;
                z-index: 2;

//                transition: all 1s ease;
//                width: 220px !important;
//                z-index: 2;
//                -webkit-transform: translate(-20px,0);
//                -webkit-box-shadow: 1px 1px 1px #888;
            }
        }
    }
}

#amount {
    span {
        font-size: 13px;
        color: #313131;
        padding-bottom: 9px;
    }
    .left {
        vertical-align: top;
        display: inline-block;
        width: 49.5%;
    }
    .right {
        text-align: right;
        vertical-align: top;
        display: inline-block;
        width: 49.5%;
    }
}
.price-range {
    margin-top: 42px;
    a {
        display: block;
        font-size: 13px;
        line-height: 19px;
        color: #313131;
        text-decoration: none;
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
        }
        span {
            border-bottom: 1px dashed #313131;
        }
        i {
            font-style: normal;
            color: #989898;
        }
    }
}
#slider {
    border: none;
    background: #d8d8d8;
    height: 4px;
    .ui-widget-header {
        background: #9232b5;
    }
    .ui-state-default {
        background: transparent url("../images/icons/slider-arrow.png") no-repeat center top;
        border: none;
        outline: none;
        top: 11px;
    }
}