.custom-grid {
    width: 100%;

    .test-item {
        width: 25%;
        min-height: 285px;
        float: left;
        display: inline;
        position: relative;
        margin: 0 19.999999px 19px 0;
        &:hover {
            .test-item-inner {
                width: 200px;
                z-index: 2;
            }
        }
        &:first-of-type {background: yellow}
        &:nth-of-type(2) {background: lime}
        &:nth-of-type(3) {background: cyan}
        &:last-of-type {background: orange; margin-right: 0}
        .test-item-inner {
            position: absolute;
            width: 175px;
            height: 100%;
            background: #ffffff;
            margin: 10px auto 10px auto;
            min-height: 150px;
            z-index: 1;
        }
    }

    .item {
        width: ~"calc(25% - 19.999999px)";
        width: ~"-webkit-calc(25% - 19.999999px)";
        min-height: 285px;
        float: left;
        display: inline;
        position: relative;
        margin: 0 19.999999px 40px 0 !important;
//        &:first-of-type {background: yellow}
//        &:nth-of-type(2) {background: lime}
//        &:nth-of-type(3) {background: cyan}
//        &:last-of-type {background: orange}
        .inner {
            transition: all 0.2s ease;
            position: absolute;
            width: 175px;
            background: #ffffff;
            margin: 10px auto 10px auto;
//            min-height: 150px;
//            height: 100%;
            z-index: 1;
        }
        .specs-extend, .price-extend {display: none; opacity: 0}
        &:hover {
            transition: all 0.5s ease;
            .specs-extend, .price-extend {display: block; opacity: 1}
            .inner {

                width: 205px !important;
                margin-left: -15px;
                z-index: 2;

//                transition: all 1s ease;
//                width: 220px !important;
//                z-index: 2;
//                -webkit-transform: translate(-20px,0);
//                -webkit-box-shadow: 1px 1px 1px #888;
            }
        }
    }
}