@starColour: #16a085;
@starHoverColour: #1abc9c;

.rating {
    display: inline-block;
}
.yandex-share {
    background: rgb(255, 0, 0);
    display: inline-block;
    width: 90%;
    text-align: right;
    .b-share__handle {
        padding-top: 0 !important;
    }
}


.item-card {
    h1 {
        font-size: 21px;
        color: #333333;
        font-weight: 400;
    }
    .articul {
        font-size: 15px;
        color: #8c8c8c;
        font-weight: 100;
    }
}

.item-panel {
    border-top: 1px solid #d4d2d3;
    border-bottom: 1px solid #d4d2d3;
    background: #ececec;
    .nav-pills {
        li {
            &[role="to-catalog"] {
                float: right;
                a {
                    text-decoration: none;
                }
            }
            &[role="overview"] {
                a {
                    font-size: 12.5px;
                    color: #505050;
                    font-weight: 900;
                    text-decoration: none;
                }

            }
            a {
                font-size: 12.5px;
                color: #505050;
                font-weight: 100;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}