body {
  color: inherit;
  margin: 0;
}
.wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.wrap .left,
.wrap .right {
  float: left;
}
.admin-panel {
  width: 250px;
  position: absolute;
  left: 0;
  top: 0;
}
.admin-panel form {
  padding: 10px;
}
.left {
  background: #c1c1c1;
}
.left input {
  width: 2em;
  padding: 0.5em;
  display: inline-block;
}
.left textarea {
  width: 100%;
  min-height: 60px;
}
.right {
  width: 700px;
  margin-left: 300px;
}
