.pretty {
	background: red url('http://oskol.raiffeisen.ru/common/f/media/global/button.png') no-repeat -400px 0px;
	display: inline-block;
	overflow: hidden;
	position: relative;
	outline: 0;
	border: 0;
	border-radius: 3px;
	font-size: 16px;

	text-align: center;
	padding: 0 25px 1px;
	/*background: rgb(254, 209, 0);*/
	white-space: nowrap;
	line-height: 31px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
