@import "compass/reset";
@import "compass";
@import "susy";

@import "compass/css3/border-radius";

//@import "hireman/fonts";
@import "hireman/icons";

/* Old styles files
 *
 */

@import "hireman/main";
@import "hireman/ik-select";
@import "hireman/jquery.scrollpane";
//@import "video-js";

/* New styles files
 *
 */

@import "hireman/wizard";

@import "hireman/navigation";
@import "hireman/header";
@import "hireman/footer";
@import "hireman/accordion";
@import "hireman/tabs";

@import "hireman/buttons";
@import "hireman/colors";
@import "hireman/forms";
@import "hireman/modal";


/* Page 11
 *
 */

@font-face {
  font-family: 'NeoSansPro-Light';
  src: url('../fonts/NeoSansPro-Light.eot');
  src: url('../fonts/NeoSansPro-Light.eot') format('embedded-opentype'),
  url('../fonts/NeoSansPro-Light.woff2') format('woff2'),
  url('../fonts/NeoSansPro-Light.woff') format('woff'),
  url('../fonts/NeoSansPro-Light.ttf') format('truetype'),
  url('../fonts/NeoSansPro-Light.svg') format('svg');
}

@font-face {
  font-family: 'NeoSansPro-Regular';
  src: url('../fonts/NeoSansPro-Regular.eot');
  src: url('../fonts/NeoSansPro-Regular.eot') format('embedded-opentype'),
  url('../fonts/NeoSansPro-Regular.woff2') format('woff2'),
  url('../fonts/NeoSansPro-Regular.woff') format('woff'),
  url('../fonts/NeoSansPro-Regular.ttf') format('truetype'),
  url('../fonts/NeoSansPro-Regular.svg') format('svg');
}


//$tabasov
.hiw {
  h3 {
    font-family: 'NeoSansPro-Light';
  }
}

.todo11-screen-wrapper {
  width: 100%;
  min-height: 300px;
  background-color: #fff;
}

.todo11-info-container1 {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  padding: 100px 0;
  background: image-url('arrow-big-ico.png') 50% 50% no-repeat;
  &:before {
    content: '';
    position: absolute;
    width: 165px;
    height: 176px;
    margin-top: -80px;
    top: 50%;
    background: image-url('man-big-ico.png') 0 0 no-repeat;
  }
  &:after {
    content: '';
    position: absolute;
    width: 138px;
    height: 176px;
    top: 50%;
    right: 0;
    margin-top: -80px;
    background: image-url('webcam-big-ico.png') 0 0 no-repeat;
  }
  p {
    width: 45%;
    margin: 0 auto;
    padding: 30px 0;
    color: #231F20;
    font-size: 35px;
    font-family: 'NeoSansPro-Light', sans-serif;
    line-height: 39px;
    text-align: center;
  }
}


.todo11-info-container2 {
  background-color: #b2c5c9
}

.todo11-info-block2 {
  width: 1160px;
  margin: 0 auto;
  padding: 180px 0 60px 0;
  background: image-url('star-big-icon.png') 0 120px no-repeat;
  text-align: center;
  p {
    padding: 0 50px 140px 440px;
    color: #231F20;
    font-size: 35px;
    font-family: 'NeoSansPro-Light', sans-serif;
    line-height: 39px;
    text-align: left;
  }
}

.label-green {
  @include border-radius(4px);
  margin: 0 3px;
  padding: 4px 3px 1px 3px;
  color: #fff;
  background-color: #8cc540;
  font-size: 16px;
}


/* Page 10
 *
 */

.personal-page-wrap {
  position: relative;
  min-height: 500px;
  background-color: #fff;
}

.personal-page-container {
  @include clearfix();
  width: 1160px;
  margin: 0 auto;
  padding: 10px 0 100px 0;
}

.empty-list {
  margin-top: 20%;
  text-align: center;
  p {
    margin: 15px 0;
    color: #6d6e71;
  }
}

.personal-title-block {
  padding: 40px 0;
}

.personal-title-content {
  color: #284A51;
  font-size: 24px;
  font-family: 'NeoSansPro-Light', sans-serif;
  line-height: 28px;
  font-weight: bold;
  .label-green {
    margin-left: 5px;
  }
  a {
    color: #284A51;
    &:hover {
      text-decoration: underline;
    }
  }
}

.personal-title-position {
  display: block;
  margin-top: 10px;
  color: #393938;
  font-size: 16px;
  font-family: 'NeoSansPro-Light', sans-serif;
  line-height: 28px;
  font-style: italic;
}

.personal-doc-block {
  margin-top: 45px;
  float: right;
  a {
    margin-left: 25px;
  }
  span {
    margin: 0 10px 0 0;
  }
}

.question-list {
  color: #393938;
  font-family: 'NeoSansPro-Light', sans-serif;
  line-height: 24px;
  list-style: decimal;
  li {
    padding-bottom: 5px;
    list-style: decimal;
    a {
      border-bottom: dashed #393938 1px;
      color: #393938;
      font-size: 18px;
      font-family: 'NeoSansPro-Light', sans-serif;
      line-height: 24px;
      &:hover {
        border-bottom: dashed #F05454 1px;
        color: #F05454;
      }
    }
  }
}

.personal-comment-container {
  @include clearfix();
  margin-bottom: 75px;
}

.personal-comment-left, .personal-comment-right {
  width: 48%;
}

.personal-comment-left {
  float: left;
}

.personal-comment-right {
  float: right;
  .personal-comment-title {
    color: #f05454;
  }
  .personal-comment-area {
    border: solid #f7abad 1px;
    &:before {
      background: image-url('../images/sprite.png') -642px -112px no-repeat;
    }
    textarea {
      color: #f05454;
    }
  }
}

.personal-comment-title {
  padding-bottom: 25px;
  color: #9f9f9f;
  font-size: 24px;
  line-height: 26px;
  font-family: 'NeoSansPro-Light', sans-serif;
}

.personal-comment-area {
  @include border-radius(15px);
  position: relative;
  min-height: 70px;
  padding: 15px 25px 10px 25px;
  border: solid #9f9f9f 1px;
  &:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 18px;
    top: -18px;
    left: 25px;
    background: image-url('../images/sprite.png') -599px -112px no-repeat;
  }

  textarea {
    width: 100%;
    height: 70px;
    border: none;
    color: #9f9f9f;
    font-size: 22px;
    line-height: 26px;
    font-family: 'NeoSansPro-Light', sans-serif;
    &:focus {
      outline: none;
    }
  }
}

.personal-button-container {
  margin-bottom: 100px;
  text-align: center;
  .btn {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.personal-button-container-title {
  padding-bottom: 40px;
  color: #393938;
  font-size: 33px;
  line-height: 36px;
  font-family: 'NeoSansPro-Light', sans-serif;
}

.user-sort-list {
  float: left;
  margin-top: 10px;
}

.user-filters-list {
  float: left;
  margin-top: 10px;
  margin-left: 30px
}

.user-sort-item {
  @include border-radius(5px);
  float: left;
  margin: 0 10px 0 0;
  border: solid #9a9693 1px;
  span {
    margin-top: 10px;
  }
  a {

    display: block;
    width: 50px;
    height: 50px;
    color: #9a9693;
    text-align: center;
    vertical-align: middle;
    &:hover {
      background-color: #9a9693;
      color: #fff;
      .calendar-icon {
        background: image-url('../images/sprite.png') -164px -382px no-repeat;
      }
      .heard-icon {
        background: image-url('../images/sprite.png') -252px -375px no-repeat;
      }
      .star-icon {
        background: image-url('../images/sprite.png') -222px -382px no-repeat;
      }
      .cam-icon {
        background: image-url('../images/sprite.png') -196px -381px no-repeat;
      }
    }
    &.active {
      background-color: #9a9693;
      color: #fff;
      .calendar-icon {
        background: image-url('../images/sprite.png') -164px -382px no-repeat;
      }
      .heard-icon {
        background: image-url('../images/sprite.png') -252px -375px no-repeat;
      }
      .star-icon {
        background: image-url('../images/sprite.png') -222px -382px no-repeat;
      }
      .cam-icon {
        background: image-url('../images/sprite.png') -196px -381px no-repeat;
      }
    }

    &.new-label {
      padding-top: 16px;
      font-size: 16px;
      line-height: 18px;
      font-family: 'NeoSansPro', sans-serif;
    }
    &.az-label {
      padding-top: 16px;
      font-size: 24px;
      line-height: 18px;
      font-family: 'NeoSansPro', sans-serif;
    }
  }
}

.user-catalog-container {
  clear: both;
  padding-top: 40px;
}

.user-catalog-item {
  float: left;
  width: 46%;
  margin: 0 2% 0 2%;
  border-bottom: dashed 1px #284a51;
  padding-top:40px;
}

.user-catalog-info {
  margin: 15px 10px 10px 210px;
}

.user-beige-list {
  padding-top: 10px;
  font-size: 16px;
  line-height: 18px;
  font-family: 'NeoSansPro-Light', sans-serif;
  color: #719ea1;
  li {
    margin: 15px 0 15px 45px;
    span {
      float: left;
      margin: -3px 0 0 -35px;
    }
  }
}

.perasonal-beige-block {
  clear: both;
  padding: 5px 0;
  text-align: center;
  .add_to_favorite {
    float: left;
    .add_to_favorite_button {
      background: none;
      border:none;
      margin:0;
      padding: 0;
    }
  }
  .zoom-ico-white {
    float: right;
  }
}

span.add_to_favorite_label {
  margin: 0;
}

.edit-buttons-container {
  float: right;
  vertical-align: top;
  color: #393938;
  li {
    float: left;
    margin: 60px 5px 0 5px;
    text-align: center;
  }
  a {
    @include border-radius(5px);
    display: block;
    width: 45px;
    padding: 7px 0 0 0;
    border: solid #f05454 1px;
  }
}


/* Page 07
 *
 */

.create-vac-wrap-red {
  position: relative;
  background-color: #f05454;
  padding: 40px 0 40px 0;
  color: #fac8bd;
}

.create-vac-wrap {
  position: relative;
  background-color: #fff;
  padding: 40px 0 40px 0;
}

.create-vac-container {
  @include clearfix();
  width: 1160px;
  margin: 0 auto;
}

/* modals
 *
 */

.modals-container {
  background-color: #264950;
}

.modal-button-block {
  padding-top: 200px;
  text-align: center;
}

.modal-button {
  @include border-radius(15px);
  margin: 20px;
  padding: 20px;
  border: solid #71a0a1 1px;
  &:hover {
    border: solid #D1D9DA 1px;
  }
}

// Other

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

// Static pages
.static-page-container {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  padding: 100px 0;

  h1 {
    color: #231F20;
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 40px;
    text-align: center;
  }
  h2 {
    color: #231F20;
    margin: 30px 0 20px;
  }
  p {
    margin-bottom: 15px;
  }
  li {
    margin-bottom: 10px;
    ul {
      margin: 15px 0 15px 25px;

      li {
        &:before {
          content: '-';
          margin-right: 10px;
        }
      }
    }
  }
  p, li {
    color: #231F20;
    font-size: 20px;
    font-family: 'NeoSansPro-Light', sans-serif;
    line-height: 25px;
  }
}

.rating-stars {
  margin: 0 !important;
}

.text-center {
  text-align: center;
}

.user-type {
  margin-bottom: 10px;
}

.create-employer-account {
  margin-top: 20px;

  button {
    margin: 0;
  }
}
